<style>
	/*full banner*/
	#banner_newiPhone.hero_expander {
    	background-image: url('/cms/fido/images/en/iphone/iphone_home_launches_en_xs.png');
	}
	.hero_expander {
		background-position:center bottom;
		background-size:100% auto;
		background-repeat:no-repeat;
		box-sizing:padding-box;
		margin-top:0;
		position:relative;
	}
	@media (max-width: 767px) {
		.hero_expander {
			background-size:cover;
			min-height: 340px;
		}
	}

	@media (min-width: 768px){
		#banner_newiPhone.hero_expander{ 
		    background-image: url('/cms/fido/images/en/iphone/iphone_home_launches_en.png');
		}
		.hero_expander {
			background-position:center bottom;
			background-size:cover;
		}
		.hero_expander {
			min-height: 96px;
    		bottom: -4px;
		}
	}
	@media (min-width: 992px){
		.hero_expander {
		    background-size: auto;
		    min-height:134px;
		    bottom: -2px;
		}
	}
	@media (min-width: 1200px){
		.hero_expander{
    		min-height:131px;
    		bottom: 0;
		}
	}

	/* bouton */
	#banner_newiPhone button {
	    font-size: 1.05em;
	    border: 1px solid #999;
	    color: #999;
	    border-radius: 5px;
	    background-color: transparent;
	    padding: 0.2em 0.6em;
	    display: inline-block;
	    margin: 0.2em;
	}
	@media (max-width: 767px) {
		#iphone-river .top button {
    		font-size: 1.5em;
		}
	}

	@media (min-width: 768px){
		#banner_newiPhone button {
		    font-size: 1.2em;
		}
	}	


</style>