.modal-content {
	box-shadow: none;
	border: none;
	border-radius: 15px;
	border-top-right-radius: 0;
}

.modal-header {
	border-bottom: 0;
}

.modal-header .close {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background-color: #9fa1a3;
	margin-top: 0;
	opacity: 1.0;
	color: #fff;
	font-size: 40px;
	text-shadow: none;
}

.modal-header h4 {
	color: #da291c;
	padding: 15px 15px 0 15px;
}

.modal-body {
	padding: 15px 30px 30px 30px;
}


@media screen and (max-width: 767px) {
	#modal-typeahead .modal-dialog  {
		position: fixed !important; 
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		
	}

	#modal-typeahead .modal-content {
		position: fixed !important; 
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		border-radius: 0;
		background-color: rgba(255,255,255,0.9);	
	}

	#modal-typeahead input {
		background-color: transparent;
	}

	#modal-typeahead .rui-typeahead {
		background-color: transparent !important;	
	}
}