/*Fonts*/

@font-face {
    font-family: aafeshomeLinkFont;
    src: url('https://www.shopmyexchange.com/assets/fonts/FreeSans.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
    font-family: befit-FreeSans;
    src: url('https://www.shopmyexchange.com/assets/fonts/FreeSans.ttf') format('truetype');
}

@font-face {
    font-family: befitThirstyScript;
    src: url('https://www.shopmyexchange.com/assets/fonts/ThirstyScriptRegular_0.otf');
	font-weight: normal;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}


/********************aafeshome start********************/

/*Text Head Links*/

.aafeshome-head-banner-text a{
	text-decoration: none;
}

.aafeshome-head-banner-textlink-01{
	float: left;
	text-align: center;
	width: 653px;
	height: 58px;
	line-height: 58px;
	font-family: FreeSans;
	font-size: 13.5pt;
	font-weight: bold;
	color: #555;
}
.aafeshome-head-banner-textlink-02{
	float: left;
	text-align: center;
	width: 324px;
	height: 58px;
	line-height: 58px;
	font-family: FreeSans;
	font-size: 13.5pt;
	font-weight: bold;
	color: #555;
}

.aafeshome-head-banner-textlink-01:hover,
.aafeshome-head-banner-textlink-02:hover{
	background-color: #eee;
	cursor: pointer;
}

.aafeshome-head-banner-textlink-01 span.aafeshome-bold,
.aafeshome-head-banner-textlink-02 span.aafeshome-bold{
	color: red;
	font-size: 14.5pt;	
	font-weight: bolder;
}

.aafeshome-head-banner-textlink-01 span.aafeshome-bolder,
.aafeshome-head-banner-textlink-02 span.aafeshome-bolder{
	color: darkred;
	font-size: 14.5pt;	
	font-weight: bolder;
}

.aafeshome-head-banner-textlink-01 img{
	position: relative;
	top: 2px
}



/*Rows*/

.aafeshome-head-banner-text{
	width: 978px;
	height: 58px;
	margin-top: 14px;
	border-top: 1px solid #a4a4a2;
	font-family: FreeSans;
	border-bottom: 1px solid #a4a4a2;
}

.aafeshome-feature-row{
	width: 978px;
	height: 648px;
	margin-top: 12px;
}

.aafeshome-row-slot{
	width: 978px;
	height: 318px;
}

.aafeshome-row-bwl{
	width: 978px;
	height: 130px;
	margin-top: 12px;
}

.aafeshome-row-341px{
	width: 978px;
	height: 341px;
	margin-top: 12px;
}


.aafeshome-row-295px{
	width: 978px;
	height: 295px;
	margin-top: 12px;
}

.aafeshome-row-318px{
	width: 978px;
	height: 318px;
	margin-top: 12px;
}



/*Image Links*/
.aafeshome-spotlight-01, .aafeshome-boy-01, 
.aafeshome-sds, .aafeshome-1x3, .aafeshome-2x3, 
.aafeshome-slot, .aafeshome-holidayspecial-01{
	float: left;
}

.aafeshome-spotlight-01:hover, .aafeshome-boy-01:hover, 
.aafeshome-sds:hover, .aafeshome-1x3:hover, .aafeshome-2x3:hover, 
.aafeshome-slot:hover, .aafeshome-holidayspecial-01:hover,
.aafeshome-bwl-brand:hover{
	opacity: .8;
}


/*Brands We Like Carousel*/
.aafeshome-bwl{
	border-top: 1px solid #a4a4a2;
	border-bottom: 1px solid #a4a4a2;
	height: 130px;
}

.aafeshome-bwl-title{
	float: left;
	margin: 30px 0px 20px 0px;
}

.aafeshome-bwl-carousal{
	height: 130px;
	width: 828px;
	float: left;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
}

#aafeshome-carousel-ul{
position:relative;  
list-style-type: none;
margin: 0px;  
padding: 0px;  
width:9999px; /* important */  
}

#aafeshome-carousel-ul li{
	float: left;
	width: 159px;/* Fixed width is required*/
	margin: 30px 0px 20px 4px;
}


/*Spacing & Margins*/
/*Row Modifiers*/
.aafeshome-row-slot.aafeshome-margin-top,
.aafeshome-row-295px.aafeshome-margin-top{
	margin-top: 12px;
}

.aafeshome-margin-right-11px{
	margin-right: 11px;
}
.aafeshome-margin-right-12px{
	margin-right: 12px;
}

.aafeshome-margin-right-23px{
	margin-right: 23px;
}

.aafeshome-margin-right-24px{
	margin-right: 24px;
}

.aafeshome-line-horizontal{
	width: 978px;
	height: 1px;
	background-color: #a4a4a2;
	margin-top: 12px;
	margin-bottom: 12px;
	position: relative;
}

.aafeshome-head-banner-text-line-vertical{
	width: 1px;
	height: 38px;
	background-color: #a4a4a2;
	margin: 10px 0px 10px 0px;
	position: relative;
	float: left;
	/* z-index: 100;	*/
}

.aafeshome-line-vertical-318px{
	width: 1px;
	height: 318px;
	background-color: #a4a4a2;
	margin: 0;
	position: relative;
	left: -6px;
	float: left;
	/* z-index: 100;	*/
}

.aafeshome-line-vertical-130px{
	width: 1px;
	height: 90px;
	background-color: #a4a4a2;
	margin: 20px 0px 20px 0px;
	position: relative;
	float: left;
	/* z-index: 100; */	
}


/********************aafeshome end**********************/










/********************befit start************************/

/*Fonts*/

@font-face {
    font-family: befit-FreeSans;
    src: url('/assets/fonts/FreeSans.ttf') format('truetype');
}

@font-face {
    font-family: befit-ThirstyScript;
    src: url('/assets/fonts/ThirstyScriptRegular_0.otf');
	font-weight: normal;
}

/********************aafeshome start********************/

/* BeFit Primary - Navigation */

.static-content-title {
height: 1px;
background-color: #003A6A;
}/* Overwrite title blue bar */

.brand-content {
	margin: 0;
	height: 1px;
}/* Overwrite title blue bar */

.befit-navcontainer {
	background: url(/assets/img/befit/befit-nav-bg-off.gif) repeat-x;
	border-bottom:1px solid #ffffff;
	padding: 0;
	margin: 0;
	float: left;
	width: 737px;
	height: 29px;
}
.befit-navcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.befit-navcontainer ul li {
	display: block;
	float: left;
	text-align: center;
	padding: 0;
	border: 0;
	margin: 0;
}
.befit-navcontainer ul li a {
	width:170px;
	height: 29px;
	border-right:1px solid #ffffff;
	padding: 0;
	margin: 0;
	color: #ffffff;
	text-decoration: none;
	display: block;
	text-align: center;
	font: normal 14px/28px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: uppercase;
}
.befit-navcontainer ul li a:hover {
	color: #f26522;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.befit-active a:link, .befit-active a:hover  {
	background-color: #ffffff;
	width:170px;
	height: 29px;
	border-right:1px solid #ffffff;
	background-image: url(/assets/img/befit/befit-nav-bg-on.gif);
	color: #ffffff;
}
.befit-bibs a:link  {
	background-color: #ffffff;
	border:0;
	width:224px;
	height: 29px;
	background-image: url(/assets/img/befit/befit-nav-bg-bibs-off.gif);
	color: #ffffff;
	font-family: ThirstyScript;
	font: normal 20px "befit-ThirstyScript", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: none; line-height: 32px;
}

.befit-bibs.befit-active a:link  {
	background-color: #ffffff;
	border:0;
	width:224px;
	height: 29px;
	background-image: url(/assets/img/befit/befit-nav-bg-bibs-selected.gif);
	color: #ffffff;
	font-family: ThirstyScript;
	font: normal 20px "befit-ThirstyScript", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: none; line-height: 32px;
}

.befit-bibs a:hover  {
	background-color: #ffffff;
	width:224px;
	height: 29px;
	background-image: url(/assets/img/befit/befit-nav-bg-bibs-on.gif);
	color: #ffffff;
}

.befit-active a:link, befit-active a:visited, {
	border: border-right:1px solid #ffffff;;
	background-image: url(/assets/img/befit/befit-nav-bg-off.gif);
	color: #ffffff;
}

.befit-head-img{ display:block; padding:0; margin:0; float:left; }

/* BeFit - Home - Collumns */
.befit-hm-container { width: 737px; float:left; display:block; padding-bottom:30px; margin: 0; z-index:0; position:relative; }

.befit-hm-col-01 {
	float: left;
	width: 215px;
	padding: 10px 23px 0 0;
	margin: 0;
}
.befit-hm-col-02 {
	float: left;
	width: 215px;
	padding: 10px 23px 0 23px;
	margin: 0;
	background-image: url(/assets/img/befit/befit-bg-shadowt.png);
	background-repeat: repeat-x;
}
.befit-hm-col-03 {
	float: left;
	width: 215px;
	padding: 10px 0 0 23px;
	margin: 0;
}

.befit-hm-feat-content {
	float: left;
	width: 215px;
	padding: 0;
	margin: 0;
}
.befit-hm-feat-content h2 {
	float: left;
	width:215px;
	padding: 5px 0 5px 0;
	margin: 0 auto;
	color:#003a6a;
    font-family:arial;
    font-size:13.5pt;
	font-weight:bold;
}
.befit-hm-feat-content p {
	float: left;
	width:215px;
	padding: 0;
	margin: 0;
	color:#000000;
    font-family:arial;
    font-size:9pt;
	font-weight:regular;
}

/* BeFit Learn More - Button */

.befit-button-learnmore-hash-1 {
	background: url(/assets/img/befit/hash-horz-small.png) no-repeat;
	padding: 0;
	margin: 15px 0;
	float: left;
	width: 215px;
	height: 22px;
	z-index: 0;
	position: relative;
	background-position: center;
}
.befit-button-learnmore-1  {
	text-align: center;
}
.befit-button-learnmore-1  a {
	width:94px;
	height: 21px;
	padding:0;
	margin: 0 auto;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	background-color: #003a6a;
	border-style: solid;
	border-width: 1px;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; line-height: 21px;
}
.befit-button-learnmore-1  a:hover {
	width:94px;
	height: 21px;
	padding:0;
	margin: 0 auto;
	color: #ffffff;
	text-decoration: none;
	display: block;
	text-align: center;
	background-position: center;
	background-color: #f26522;
	background-color: solid;
	border-style: solid;
	border-width: 1px;
	z-index: 1;
	position:relative;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; line-height: 21px;
}

/* BeFit View Archives - Button */
.befit-viewarchives-1 {
	width:737px;
	height: 1px;
	background-color: #f26522;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	float: left;
	z-index: 0;
	position: relative;
	background-position: center;
}

.befit-button-viewarchives-1  {
	text-align: center;
	position: relative;
	top: -18px;
	padding:7px;
}

.befit-button-viewarchives-2  {
	text-transform: uppercase;
	text-align: center;
	position: relative;
	float: right;
	top: 8px;
	z-index: 100;
}

.befit-button-viewarchives-2 a{
	border: none !important;
	margin: 0px !important;
}

.befit-button-viewarchives-1  a,
.befit-button-viewarchives-2  a {
	width:109px;
	height: 23px;
	padding:5px 17px 5px 17px;
	margin: 0 auto;
	position: relative;
	top: 0px;
	color: #ffffff;
	display: inline;
	text-decoration: none;
	text-align: center;
	background-color: #f26522;
	border-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-width: 8px;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; line-height: 23px;
}
.befit-button-viewarchives-1  a:hover,
.befit-button-viewarchives-2  a:hover {
	width:109px;
	height: 23px;
	padding:5px 17px 5px 17px;
	margin: 0 auto;
	position: relative;
	color: #ffffff;
	display: inline;
	text-decoration: none;
	text-align: center;
	background-color: #9e3d0f;
	border-style: solid;
	border-width: 8px;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; line-height: 23px;
}

/* BeFit Home Footer Section */

.befit-hm-footer { 
	width: 737px;
	padding-bottom:30px; 
	margin: 0; 
	float:left; 
	display:block; 
	z-index:0; 
	position:relative; 
}

.befit-featuredproducts h2 {
	float: left;
	width:737px;
	text-align: center;
	padding: 0;
	margin: 10px auto;
	color:#003a6a;
	font-weight:bold;
	font: normal 26px "befit-ThirstyScript", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: none; line-height: 26px;
}

.befit-featuredproducts-01 {
	float: left;
	width: 215px;
	padding: 10px 23px 0 0;
	margin: 0;
	text-align: center;
}
.befit-featuredproducts-02 {
	float: left;
	width: 215px;
	padding: 10px 23px 0 23px;
	margin: 0;
	text-align: center;
}
.befit-featuredproducts-03 {
	float: left;
	width: 215px;
	padding: 10px 0 0 23px;
	margin: 0;
	text-align: center;
}
.befit-hm-feat-content {
	float: left;
	width: 215px;
	padding: 0;
	margin: 0;
}

.befit-featuredproducts-title h2 {
	float: left;
	width:215px;
	padding: 5px 0 5px 0;
	margin: 0 auto;
	color:#003a6a;
    font-family:arial;
    font-size:13.5pt;
	font-weight:bold;
	text-align: center;
}
.befit-featuredproducts p {
	float: left;
	width:215px;
	padding: 0;
	margin: 0;
	color:#000000;
    font-family:arial;
    font-size:9pt;
	font-weight:regular;
}

.befit-featuredproducts-content p {
	float: left;
	width:215px;
	padding: 0;
	margin: 0;
	color:#000000;
    font-family:arial;
    font-size:9pt;
	font-weight:regular;
}

/*Reusable Classes*/

.befit-floatleft{
	float: left;
}

.befit-floatright{
	float: right;
}

/*Replacement CSS*/

.befit-line01 {
	width:737px;
	height: 7px;
	background-color: #ecddd3;
	padding: 0;
	margin-bottom: 2px;
	float: left;
	z-index: 0;
	position: relative;
	background-position: center;
}

.befit-line02 {
	width:737px;
	height: 1px;
	background-color: #ecddd3;
	padding: 0;
	margin-bottom: 4px;
	float: left;
	z-index: 0;
	position: relative;
	background-position: center;
}

.befit-line03 {
	width:737px;
	height: 7px;
	background-color: #fde3d6;
	padding: 0;
	margin-bottom: 2px;
	float: left;
	z-index: 0;
	position: relative;
	background-position: center;
}

.befit-line04 {
	width: 475px;
	height: 1px;
	background-color: #f36523;
	padding: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	float: left;
	z-index: 0;
	position: relative;
	background-position: center;
}

.befit-line05 {
	width: 737px;
	height: 1px;
	background-color: #f36523;
	padding: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	float: left;
	z-index: 0;
	position: relative;
	background-position: center;
}


/*landingpage.html*/

img.befit-orangearrow{
	position: relative;
	left: 2px;
}

ul.befit-ul-guidelines{
	width: 707px;
	font-family: arial;
	font-size: 10pt;
	list-style-position: inside;
	list-style-type: disc;
	background-color: #e3e3e3;
	padding: 10px 10px 5px 20px;
	float: left;/*Firefox Bugfix*/
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

ul.befit-ul-guidelines li{
	padding: 5px;
}

h2.befit-fancyblue {
	float: left;
	width:737px;
	text-align: center;
	padding: 0;
	margin: 10px auto;
	color:#003a6a;
	font-weight:bold;
	font: normal 26px "befit-ThirstyScript", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: none; line-height: 26px;
}

h2.befit-fancyorange {
	float: left;
	width:737px;
	text-align: center;
	padding: 0;
	margin: 10px auto;
	color:#f36523;
	font-weight:bold;
	font: normal 26px "befit-ThirstyScript", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: none; line-height: 26px;
}

div.befit-column-475px{
	width: 475px;
}

div.befit-column-260px{
	width: 260px;
}

div.befit-column-367px{
	width: 367px;
}

img.befit-allfieldsrequired{
	float: right;
}

span.befit-service{
	float: left;
}

span.befit-service{
	line-height: 46px;
	color:#f36523;
	font-family: LinkFont;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 0px;
}

input[name=service].befit-form{
	display: none;
}

img.befit-radio-picture{
	margin: 0px 6px 0px 6px;
	float: left;
	opacity: 0.5;
}

img.befit-radio-picture:hover{
	cursor: pointer;
	opacity: 1;
}

img.befit-radio-picture.selected{
	opacity: 1;
}

div.befit-text-fields{
	padding: 5px;
}

div.befit-text-row{
	width: 100%;
	height: 30px;
	float: left;
	margin-bottom: 5px;
}

div.befit-text-row.befit-textarea{
	height: 75px;
}

span.befit-text-field{
	color: #003a68;
	font-family: FreeSans;
	font-size: 9pt;
	line-height: 40px;
	font-weight: bold;
	float: right;
}

span.befit-text-field.befit-floatleft{
	float: left;
}

input[type=text].befit-form,textarea[name=eventname].befit-form{
	background-color: #fce0d4;
	border: none;
	color: black;
	padding: 5px;
	margin: 5px;
	float: right;
}

textarea[name=eventname].befit-form{
	resize: none;
}

input[name=installation].befit-form{
	width: 360px;
}

input[name=dateofevent].befit-form, input[name=quantity].befit-form{
	width: 340px;
}

textarea[name=eventname].befit-form{
	width: 360px;
	height: 60px;
}

input[name=address].befit-form, input[name=phone].befit-form,
input[name=email].befit-form{
	width: 380px;
}

input[name=firstname].befit-form,input[name=lastname].befit-form{
	width: 140px;
}

input[name=city].befit-form{
	width: 200px;
}

input[name=startingnumber].befit-form, input[name=endingnumber].befit-form{
	width: 110px;
}

input[name=state].befit-form{
	width: 30px;
}

input[name=zip].befit-form{
	width: 60px;
}

div.befit-form-submit{
	float: left;
	width: 100%;
	margin-top: 10px;
}

div.befit-form-submit div.befit-line04{
	width: 350px;
}

div.befit-form-submit img.befit-orangearrow{
	position: relative;
	top: -3px;
	left: 4px;
}

div.befit-form-submit input[type=submit].befit-form{
	position: relative;
	top: -8px;
	float: right;
	margin-right: 10px;
	width: 94px;
	height: 29px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	background-color: #f26522;
	border-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-width: 1px;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; line-height: 23px;	
	
}

div.befit-form-submit input[type=submit].befit-form:hover{

	color: #ffffff;
	text-align: center;
	background-color: #9e3d0f;
	border-style: solid;
	border-width: 1px;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; line-height: 23px;
}

/*article.html*/

h2.befit-fancyblue.small {
	float: left;
	width: 260px;
	text-align: center;
	padding: 0px;
	margin: 24px 0px 4px 0px;
	color:#003a6a;
	font-weight:bold;
	font: normal 14px "befit-ThirstyScript", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: none; line-height: 14px;
}

div.befit-hash-260px{
	background: url(/assets/img/befit/hash-horz-small.png) no-repeat;
	background-position: center;
	float: left;
	width: 260px;
	height: 1px;
}

div.befit-featured-products-260px{
	width: 210px;
	height: 80px;
	float: left;
	padding: 20px 20px 20px 20px;
	margin: 0px;
}

div.befit-featured-products-260px img{
	margin: 10px 10px 10px 0px;
}

div.befit-featured-products-260px:hover{
	background-color: #eee;
}

div.befit-featured-products-260px div.befit-featured-products-260px-text{
	width: 120px;
	height: 60px;
	float: right;
	font-family: arial;
	font-weight: bolder;
	font-size: 9pt;
	color:#003a6a;
}

div.befit-article-content{
	font-family: arial;
	font-size: 10pt;
}

div.befit-article-content a{
	text-decoration: none;
	color:#f36523;
	font-weight: bold;
}

div.befit-article-content h1{
	font-size: 18pt;
	color:#f36523;
	background-color: black;
	width: 717px;
	padding: 5px 0px 5px 20px;
}

div.befit-article-content h2{
	font-size: 12pt;
	color:#f36523;
	text-transform: uppercase;
}

div.befit-row{
	width: 735px;
}

div.befit-column-367px h3{
	font-size: 18pt;
	color:#f36523;
	width: 367px;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #f36523;
	border-bottom: 1px solid #f36523;
	margin-top: 10px;
	
}

div.befit-column-367px p{
	padding-right: 25px;
}

div.befit-row h3.befit-partfull{
	font-size: 18pt;
	color:#f36523;
	width: 696px;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #f36523;
	border-bottom: 1px solid #f36523;
	margin-bottom: 2px;
}

div.befit-row p.befit-partfull{
	width: 696px;
} 

a.befit-archive-link{
	position: relative;
	top: -8px;
	float: right;
	margin-right: 10px;
	width: 94px;
	height: 29px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	background-color: #f26522;
	border-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-width: 1px;
	font: normal 10px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif; line-height: 23px;	
}

/*articlevideo.html*/

div.befit-video-banner{
	width: 737px;
	background-color: #f26522;
	margin: 0;
	padding: 0;
}

div.befit-video-banner h1{
	color: white;
	font-family: FreeSans;
	text-transform: uppercase;
	font-size: 16pt;
	line-height: 40px;
	margin: 0px 0px 0px 12px;
	padding: 0;
}

div.befit-video-banner img{
	float: right;
	padding-right: 5px;
}

/*archives.html*/

h3.befit-fancyblue.small {
	float: right;
	margin: 10px 5px 10px 0px;
	padding: 0px;
	color:#003a6a;
	font-weight:bold;
	font: normal 18px "befit-ThirstyScript", "Lucida Sans Unicode", verdana, lucida, sans-serif; text-transform: none; line-height: 14px;
}

.befit-line06 {
	width: 600px;
	height: 1px;
	background-color: #f36523;
	padding: 0;
	margin-top: 16px;
	float: left;
	background-position: center;
}

img.befit-orangearrow2{
	position: relative;
	top: 4px;
	left: 4px;
}

div.befit-archive{
	height: 206px;
}

div.befit-archive.befit-odd{
	background-image: url(/assets/img/befit/befit-bg-shadowt.png);
	background-repeat: repeat-x;
}

div.befit-archive div.befit-column-260px img{
	position: relative;
	top: 12px;
	left: 12px;
	float: left;
}

div.befit-archive div.befit-column-475px{
	padding-top: 15px;
}

div.befit-archive h2{
	margin: 15px 0px 0px 0px;
	padding: 0;
	font-family: arial;
	font-size: 14.5pt;
	color:#003a6a;
}

div.befit-archive p{
	margin: 4px 0px 0px 0px;
	padding: 0;
	font-size: 10.5pt;
	font-family: arial;
}

div.befit-archive div.befit-button-learnmore-1{
	margin: 4px 0px 0px 0px;
	float: left;
}

img.befit-arrow{
	float: left;
	position: relative;
	top: 6px;
	left: 8px;
}

img.befit-archive-hash{
	float: left;
	position: relative;
	left: -13px;
}

/*Minor Changes*/

div.befit-featuredproducts-name h2{
	float: left;
	width:215px;
	color:#003a6a;
   font-family:arial;
   font-size:13.5pt;
	font-weight:bold;
	margin: 0px 0px 10px 0px;
	padding: 0;
}

div.befit-featuredproducts-01 div.befit-featuredproducts-name h2{
   font-size:13pt;
}

div.befit-featuredproducts-content:hover{
	opacity: 0.8;
}

/********************befit end**************************/