   .loginAnchor, ul.filter-by a label {cursor: pointer;}
  /* ====== CUSTOMIZE OPTIONS ===== */

  /* --OPTION: Parent Container
  ---------------------------------- */
  .cartridge.set-nav {width:737px;}
  .cartridge.set-nonav {width:988px;}
  .cartridge.set-full {width:1024px;}
  .cartridge.show {overflow: visible;}
  .cartridge.cat-title {color: #FFFFFF; display: block; font: lighter 32px Calibri,Arial,sans-serif; left: 15px; letter-spacing: -0.05em; margin: 0; opacity: 0.9; padding: 0; position: absolute !important; text-transform: uppercase; top: 0; z-index: 1;}
  /* --OPTION: Container
    ---------------------------------- */
  .cartridge div.flt-right {float:right !important;}
  .cartridge .no-margin {margin:0 !important;}
  .cartridge .no-top-pad {padding-top:0 !important;}
  /* --OPTION: Text
  ---------------------------------- */
  .cartridge div > a > p > span {opacity: 0.6;}
  .cartridge div > a:hover > p > span {opacity: 1; text-decoration: underline;}
  .cartridge p.top {top:10px}
  .cartridge p.btm {bottom:10px}
  .cartridge p.left {left:10px; text-align: left;}
  .cartridge p.right{right:10px; text-align: right;}
  .cartridge p.light {color: #FFF !important}
  .cartridge p.backdrop {background-color: #FFF; margin:0 -10px !important; padding:5px 10px; }
  .cartridge p.backdrop_light {background-color: #fff; opacity: 0.7; box-shadow: -2px 2px 2px #333; margin:0 -10px !important; padding:5px 10px; }
  .cartridge p.backdrop_dark {background-color: #000; opacity: 0.7; box-shadow: -2px 2px 2px #333; margin:0 -10px !important; padding:5px 10px; }  
  .cartridge p.txtshadow { text-shadow: 0 0 4px #FFFFFF}
  .cartridge .cntr {text-align: center}
  /* --OPTION: Images
  ---------------------------------- */
  .cartridge .expand img{display:block; width:100%; height:auto; border:0;}
  .cartridge .border-img li a img{ border: 1px solid #DADADA;}
  .cartridge .border-a li a{position: absolute;top: 0;left: 0;right: 0;bottom: 0; border: 2px solid #AAA; overflow: hidden}
  .cartridge a.border {position: absolute;top: 0;left: 0;right: 0;bottom: 0; border: 2px solid #AAA; overflow: hidden}
  .cartridge a.borderB {position: absolute;top: 0;left: 0;right: 0;bottom: 0; border: 1px solid #DADADA; overflow: hidden}
  .cartridge a.borderC {position: absolute;top: 0;left: 0;right: 0;bottom: 0; border: 20px solid #FFF; overflow: hidden}
  .clear-float, .clear {clear:both !important; height: 0;}
    /* If you use the *a.border* class, the HEIGHT of the container must be defined and TEXT should not follow the image */

  /* ====== GLOBAL DEFAULT CARTRIDGE ===== */

 /* PARENT CONTAINER 
   ---------------------------------- */
  .cartridge {margin:0 auto; overflow: hidden; position: relative; display: block}
  .cartridge h1, .cartridge h3 {font-family: Calibri,Arial,san-serif; font-weight: 400; letter-spacing: -0.02em;  color:#000; font-size: 21px; text-transform: lowercase;}
  .cartridge .section{color: #1B4164;font: 300 21px Calibri,Arial,Helvetica;letter-spacing: -0.01em; position: relative; display: block;}
  .cartridge p {font: 100 16px/14px Calibri, Arial, Helvetica, sans-serif; color:#333; margin:0; display:block; position: absolute; z-index: 1; text-transform: uppercase;}
  .cartridge span {font: normal 11px/16px Arial, Helvetica, sans-serif; display:block; }
  .cartridge span:after {white-space: nowrap; content: "\0020\203A"; font-size: 1.2em; }
  .cartridge span.no-arrow:after {content: none;}
  /* DEFINED CONTAINER TYPE 
    ---------------------------------- */
  .cartridge .container-nav {width:753px; display:block; padding: 0; position:relative; left:-8px; top:-8px;}
  .cartridge .container-nonav {width:1004px; display:block; padding: 0; position:relative; left:-8px; top:-8px;}
  .cartridge .container-full {width:1024px; display:block;}
  .cartridge .container-nav a, .cartridge .container-nonav a, .cartridge .container-full a {text-decoration: none; color:#333;}
  .cartridge .container-nav a:hover, .cartridge .container-nonav a:hover, .cartridge .container-full a:hover {text-decoration: underline; color: #003a6a}
  /* MAIN-GRID 
    ---------------------------------- */
  .cartridge .container-nav div, .cartridge .container-nonav div { position: relative; float:left; display:block; margin: 8px; overflow:hidden;}
  .main-0x2 { width: 172px; height: 289px}
  .main-1x1 { width: 235px; height: 200px; text-align: left}
  .main-1x1 firearms01 { width: 235px; text-transform: uppercase; font-family: Calibri, Arial, san-serif; font-size: 18px; margin:10px 0; float:none; display: block; text-align: left; font-weight:normal;}
  .main-1x2 { width: 235px; height: 416px}
  .main-1x3 { width: 235px; height: 632px}
  .main-2x1 { width: 486px; height: 200px}
  .main-2x2 { width: 486px; height: 416px}
  .main-2x3 { width: 486px; height: 632px}  
  .main-3x1 { width: 737px; height: 200px}
  .main-3x2 { width: 737px; height: 416px}
  .main-4x1 { width: 988px; height: 200px}
  .main-2xC { width: 360px; min-height: 34px; height: auto;}
  .main-3xC { width: 737px; min-height: 34px; height: auto}
  .main-4xC { width: 988px; min-height: 34px; height: auto}
  .main-VxC { width: 737px; min-height: 34px; height: auto; margin:0px; z-index:1}
  .main-VxC-TXT { width: 169px; min-height: 34px; height: auto; margin:0px}
 /* SUB-GRID 
   ---------------------------------- */
  .sub-1, .sub-2, .sub-3, .sub-4, .sub-5, .sub-6 {margin:12px auto 0; display:block; clear:both;}
  .main-2xC .sub-1, .main-2xC .sub-2 {width: 360px; margin-left: 8px !important}
  .main-3xC .sub-1, .main-3xC .sub-2, .main-3xC .sub-3, .main-3xC .sub-4, .main-3xC .sub-5 { width: 723px;}
  .main-4xC .sub-1, .main-4xC .sub-2, .main-4xC .sub-3, .main-4xC .sub-4, .main-4xC .sub-5, .main-4xC .sub-6 {width: 988px;}
  /* SUB-GRID > LISTS 
    ---------------------------------- */
  .sub-1 li, .sub-2 li, .sub-3 li, .sub-4 li, .sub-5 li, .sub-6 li {float: left; margin: 8px; min-height:34px; display: block; position: relative; height: auto;}
  .main-4xC .sub-6 li {width:148px; }
  .main-4xC .sub-5 li {width:181px; }
  .main-4xC .sub-4 li {width:230px; }
  .main-4xC .sub-3 li {width:313px; }
  .main-4xC .sub-2 li {width:478px; }
  .main-4xC .sub-1 li {width:972px; }
  .main-3xC .sub-5 li {width:128px; }
  .main-3xC .sub-4 li {width:164px; }
  .main-3xC .sub-3 li {width:225px; height:225px }
  .main-3xC .sub-2 li {width:344px; height:344px }
  .main-3xC .sub-1 li {width:723px; height:723px }
  .main-2xC .sub-2 li {width:336px; height:276px }
  .main-2xC .sub-1 li {width:160px; height:130px }
  /* SUB-GRID > LISTS > ELEMENTS 
    ---------------------------------- */
  .main-4xC ul li span, .main-3xC ul li span {display: block; padding-top:10px; text-align: center;font-family:Arial; font: normal 12px/16px Arial, Helvetica, sans-serif !important;}
  /* SUPER DAILY SPECIAL
    -------------------------------------- */
 p.zSDS {margin: 0px 0px 10px; border: 1px solid rgb(231, 57, 57); border-radius: 3px 3px 3px 3px;} p.zSDS span {position: relative; font-family: calibri,Arial; color: rgb(255, 255, 255); display: block; padding: 10px 15px; font-size: 18px; font-weight: 100; background-color: rgb(231, 57, 57);} p.zSDS span i {position: absolute; color: rgb(255, 255, 255); font-size: 10px; text-transform: uppercase; right: 15px} p.zSDS b {position: relative; display: block; color: rgb(0, 0, 0); font-family: calibri,Arial; padding: 15px; font-size: 16px; font-weight: 100;}
  /* MEGA MENU FORMATTING
    -------------------------------------- */
 .megaMenuHeader, .navigationHeaderImg{display:inline;}
 .navigationMeagaSubCat {margin-left:2px; margin-top:4px;}
 .navigationMegaCellsBorder,.navigationHeaderImg {padding-top:7px;}
 .navigationSubCatLink a:hover, .megaMenuHeader a:hover {color:#C3102F !important;}
