/*====================
Reset css - Eric Meyer
======================
   v2.0 | 20110126
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

strong {
   font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*====================
end Reset Css
======================*/
.mainContent{
   width: 1024px;
   margin: 0 auto;
}

body{
   width: 100%;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
}

.bold{
  font-weight: bold;
}

.inline{
   display: inline-block;
}

.floatright{
   float: right;
}

.floatleft{
   float: left;
}

.strong {
   font-weight: bold;
}

.text-align-center {
   text-align: center;
}
.text-align-left {
   text-align: left  !important;
}
.text-align-right {
   text-align: right;
}

.inlineitem{
   display: inline-block;
   vertical-align: top;
}

/*=================
Forms
===================*/
label{
   font-size: 13px;
   color: #717171;
   font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="textarea"]{
   width: 275px;
   height: 28px;
   line-height: 25px;
   background-color: #fff;
   border: none;
   padding: 0 5px;
   color: #717171;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}


/* Error Message */

input.error, select.error, textarea.error {
   border: 1px solid #A71930 !important;
}

.error {
   color: #A71930;
}

.error-message{
   color: #A71930;
   line-height: 25px;
   margin-left: 20px;
}

textarea{
   border: none;
   padding: 0 5px;
   resize: none;
   font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"],
input[type="radio"]{
   position: relative;
   width: 18px;
   height: 18px;
   overflow: hidden;
   margin: 0px;
   padding: 0px;
   border: 0px;
   outline: 0px;
   opacity: 0;
   filter: alpha(opacity=0);
   line-height: 20px;
   vertical-align: middle;
   cursor:pointer;
}

input[type="checkbox"]+ a label::before,
input[type="checkbox"]+label::before,
input[type="checkbox"]+input[type="hidden"]+label::before,
input[type="radio"]+label::before,
input[type="radio"]+input[type="hidden"]+label::before{
   display: inline-block;
   width: 19px;
   height: 20px;
   margin: 0px 4px 0px -21px;
   background: url('/ux/themes/main/common/img/checkboxes.png') 0 center no-repeat;
   vertical-align: middle;
   content: "x";
   overflow:hidden;
   text-indent:-999px;
   text-align:left;
}

input[type="checkbox"]+label.checked::before,
input[type="checkbox"][checked="checked"]+ a label::before,
input[type="checkbox"]+input[type="hidden"]+label.checked::before,
input[type="radio"]+label.checked::before,
input[type="radio"]+input[type="hidden"]+label.checked::before{
   background-position:-19px center;
   content: "y";
}


input[type="checkbox"][disabled]+label.checked::before,
input[type="checkbox"][disabled][checked="checked"]+ a label::before,
input[type="checkbox"][disabled]+input[type="hidden"][disabled]+label.checked::before,
input[type="radio"][disabled]+label.checked::before,
input[type="radio"][disabled]+input[type="hidden"][disabled]+label.checked::before{
  background-position:-38px center;
  content: "xy";
}

input[type="checkbox"][disabled]+label::before,
input[type="checkbox"][disabled]+input[type="hidden"][disabled]+label::before,
input[type="radio"][disabled]+label::before,
input[type="radio"][disabled]+input[type="hidden"][disabled]+label::before{
  background-position:0 center;
  content: "xyz";
}

textarea{
   border: 1px solid #d9d9d9;
   padding: 10px;
}

select::-ms-expand{
   display: none;
}

select {
   height: 25px;
   font-family: Arial, Helvetica, sans-serif;
}

.form .row{
   position: relative;
}

/* Error Message */
input.error, select.error {
   border: 1px solid #A71930 !important;
}

.error {
   color: #A71930;
}

p.warning {
   border: 1px solid #A71930;
   color: #A71930;
   padding: 10px;
}
/*================
end Forms
==================*/

a{
   text-decoration: none;
}

a:hover{
   text-decoration: underline;
}

div.store-cont .location .floatleft a:hover{
    text-decoration: none;

}

/* Style guide primary colors */
.primary-color-1 {
   color: #A71930;
}

.primary-color-2 {
   color: #DA0F0F;
}

.primary-color-3 {
   color: #003A6A;
}

.primary-color-4 {
   color: #3370A1;
}

.primary-color-5 {
   color: #000;
}

.primary-color-6 {
   color: #717171;
}

.primary-color-7 {
   color: #DADADA;
}

.primary-color-8 {
   color: #EAF0F5;
}

.seconday-color-1 {
   color: #e8ac09;
}
/*fix*/
.secondary-color2{color:#197B30;}

/* Backgrounds */

.bg-1 {
   background-color: #A71930;
}

.bg-2 {
   background-color: #DA0F0F;
}

.bg-3 {
   background-color: #003A6A;
}

.bg-4 {
   background-color: #3370A1;
}

.bg-5 {
   background-color: #000;
}

.bg-6 {
   background-color: #717171;
}

.bg-7 {
   background-color: #DADADA;
}

.bg-8 {
   background-color: #EAF0F5;
}

/* Headers */
h1, h2, h3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   color: #000;
   text-transform: capitalize;
}

h2 {
   font-size: 20px;
}

h3 {
   font-size: 18px;
}

.alternate-subheader {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #000;
   text-transform: capitalize;
}

/* This is the clearfix intended to reset float elements  */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.clearfix {
   display: inline-block;
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
}

/* Buttons */

button.button {
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
   display: inline-block;
   padding: 0px 20px 0 30px;
   border-width: 0;
   border-style: solid;
   cursor: pointer;
   width: auto;
}

.button.primary-1,
.button.secondary-1 {
   font-size: 18px;
   color: #003A6A;
   background: url('/ux/themes/main/common/img/arrowbigblue.png') no-repeat 19px center #FFF;
   border: 1px solid #DADADA;
   padding: 0 19px 0 29px;
   line-height: 37px;
   height: 39px;
   display: inline-block;
}

.button.primary-2,
.button.secondary-2 {
   font-size: 18px;
   color: #FFF;
   background: url('/ux/themes/main/common/img/arrowbigwhite.png') no-repeat 20px center #003A6A;
   border: 1px solid #DADADA;
   line-height: 35px;
   height: 39px;
   display: inline-block;
}

.button.primary-1:hover,
.button.primary-2:hover {
   font-size: 18px;
   color: #FFF;
   background: url('/ux/themes/main/common/img/arrowbigwhite.png') no-repeat 20px center #3370A1;
   cursor:pointer;
}

input.button.primary-1,
input.button.primary-2 {
   padding-left:35px;
   padding-right:15px;
}

.button.secondary-1 {
   font-size: 12px;
   background-image: url('/ux/themes/main/common/img/arrowsmallblue.png');
   background-position: 9px center;
   padding: 0 10px 0 18px;
   line-height: 21px;
   height: 23px;
}

.button.secondary-2 {
   font-size: 12px;
   background-image: url('/ux/themes/main/common/img/arrowsmallwhite.png');
   background-position: 10px center;
   padding: 0 10px 0 18px;
   line-height: 21px;
   height: 23px;
}

.button.secondary-1:hover,
.button.secondary-2:hover {
   font-size: 12px;
   color: #FFF;
   background: url('/ux/themes/main/common/img/arrowsmallwhite.png') no-repeat 10px center #3370A1;
   padding: 0 10px 0 18px;
}

.button.show-more,
.button.general-1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #FFF;
   background: url('/ux/themes/main/common/img/arrowdownwhite.png') no-repeat 10px center #003A6A;
   padding: 0 10px 0 25px;
   -webkit-border-radius:  8px;
   -moz-border-radius:   8px;
   border-radius:      8px;
   line-height: 32px;
   height: 32px;
   display: inline-block;
}

.button.show-more:hover {
   background: url('/ux/themes/main/common/img/arrowdownblue.png') no-repeat 10px center #FFF;
   border: #DADADA 1px solid;
   padding: 0 9px 0 24px;
   line-height: 30px;
   height: 32px;
   color: #003A6A
}

.button.general-1 {
   background-image: none;
   background-color: #FFF;
   line-height: 30px;
   border: #DADADA 1px solid;
   padding: 0 19px;
   color: #003A6A
}

.button.submit-blue{
   border: 1px solid #DADADA;
   background-color: #3370A1;
   color: #FFF;
   padding: 0 10px;
}

.button.submit-blue:hover{
   opacity: 0.8;
}

.button.submit-blue-2{
   background-color: #003a6a;
   color: #FFF;
   padding: 6px 10px;
   line-height: 13px;
   text-transform: capitalize;
   font-weight: bold;
   background-image: url('/ux/themes/main/common/img/whitearrow.png');
   background-position: 15% center;
   background-repeat: no-repeat;
}

.button.submit-blue-2:hover{
   opacity: 0.8;
}

.button.submit-blue-2 span{
   line-height: 13px;
   margin-left: 15px;
   font-weight: normal;
   text-transform: none;
}

.button.shortcut{
   color: #003a6a;
   padding: 0 10px;
   margin-right: 10px;
   min-width: 100px;
   border: 1px solid #BEBEBE;
   font-size: 13px;
   text-transform: capitalize;
   font-weight: bold;
   background-color: #FFF;
}

.button.shortcut span{
   font-weight: normal;
}

.button.shortcut span:before{
   content: url('/ux/themes/main/common/img/arrowsmallblue.png');
   font-weight: bold;
   margin-right: 5px;
}

.button.quick-view{
   background-color: #FFFFFF;
   border: 1px solid #DADADA;
   border-radius: 8px;
   color: #003A6A;
   font-size: 12px;
   font-weight: bold;
   height: 32px;
   left: 70px;
   line-height: 15px;
   margin: 0;
   padding: 0 10px;
   position: absolute;
   text-transform: capitalize;
}

/* Links */

.standar-link,
.standar-link-carat{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #3370A1;
   text-decoration: none;
}

a:hover.standar-link,
a:hover.standar-link-carat{
   text-decoration: underline;
}

.standar-link-carat:after{
   content:" " url('/ux/themes/main/common/img/nextarrow.png');
}

/* Layouts */

.layout{
   margin-bottom: 60px;
}

.layout.full{
   max-width: 1024px;
}

.layout .separator{
   float: left;
   width: 28px;
}

.layout.two .left{
   float: left;
   width: 227px; /* sytle guide v2*/
/* --- style guide v3 --- */
/*   width: 189px;
   margin-left: 30px;
   margin-right: 16px;*/
}

.layout.two .right{
   float: left;
   width: 737px;
/* --- style guide v3 --- */
/*   margin-left: 16px;
   margin-right: 30px;*/
}

.layout.three .left{
   float: left;
   width: 722px;
   margin-left: 16px;
   margin-right: 15px;
}

.layout.three .right{
   float: left;
   width: 255px;

}

.layout.four .left{
   float: left;
   width: 189px;
   margin-left: 30px;
}

.layout.four .center{
   float: left;
   width: 460px;
   margin-left: 52px;
   margin-right: 28px;
}

.layout.four .right{
   float: left;
   width: 235px;
   margin-left: 30px;
}

.layout.five .layout-five-c1 {
  width: 722px;
  float: left;
}

.layout.five .layout-five-c2 {
  width: 255px;
  float: right;
}

.layout.six .layout-six-c1 {
  width: 567px;
  float: left;
}

.layout.six .layout-six-c2 {
  width: 397px;
  float:right;
}

/* Breadcrumb Section*/
.breadcrumb {
   color: #003A6A;
   font-size: 11px;
   line-height: 15px;
   margin: 20px 0 15px 30px;
   text-transform: capitalize;
}

.breadcrumb a, .breadcrumb div {
   color: #003A6A;
   float: left;
   text-decoration: none;
   font-size: 11px;
   line-height: 15px;
}

.breadcrumb a:hover {
   text-decoration: underline;
}

.breadcrumb-label,
.breadcrumb .breadcrumb-arrow,
.breadcrumb .breadcrumb-arrow-back{
   float: left;
   height: 15px;
   padding: 0 5px;
   color: #BEBEBE;
   font-size: 11px;
   line-height: 13px;
}

.breadcrumb-label,
.breadcrumb .breadcrumb-arrow-back {
   padding-left: 0;
   color: #003A6A;
}

.breadcrumb .breadcrumb-last{
   color: #3370A1;
}

.breadcrumb a.breadcrumb-last:hover{
   text-decoration: none;
}

/* ===================
Image positioning &
sizing
======================*/

img.center{
   vertical-align: middle;
}

.img{
   border: 1px solid #d9d9d9;
}

.img img{
   width: 734px;
}

.img.sz1{
   width: 100px;
   height: 100px;
}

.img.sz2{
   width: 100px;
   height: 100px;
}

.img.sz3{
   width: 100px;
   height: 100px;
}

.img.sz4{
   width: 100px;
   height: 100px;
}

.img.sz5{
   width: 100px;
   height: 100px;
}

.img.sz6{
   width: 100px;
   height: 100px;
}

/* Left Navigation */

.left-nav{
   width: 189px;
   float: left;
   /*border-left: 1px solid #dadada; AAFES-169590*/
   margin: 0 0 20px 30px;
   margin-top: 0px;
   list-style: none;
}

.left-nav label{
   font-weight: normal;
   font-size: 11px;
}

.left-nav /*input[type="checkbox"] + */label:checked{
   font-weight: bold;
   color: #3370A1;
}

.left-nav dl{
   margin: 0 0 15px 0;
}
.left-nav .nav-header{
   font-size: 13px;
   color: #3370a1;
   font-weight: bold;
   text-transform: capitalize;
   border-top: 1px solid #dadada;
   border-bottom: 1px solid #dadada;
   line-height: 20px;
   padding-left: 10px;
}

.left-nav .nav-link{
   font-size: 13px;
   margin-left: 10px;
   line-height: 20px;
   text-transform: capitalize;
}

.left-nav .nav-link:hover{
   text-decoration: underline;
}

.left-nav .nav-link a{
   color: #505050;
   font-size: 11px;
}
.left-nav .nav-link a h2{
   color: #505050;
   font-size: 11px;
   display: inline;
}

.left-nav .nav-link.active a{
   color:  #D10C2C !important;
}

.left-nav .nav-filter{
   margin-bottom: 15px;
}

.left-nav .nav-filter .filter-title{
   /*border-top: 1px solid #dadada; AAFES-169590*/
}

.left-nav .nav-filter .filter-title h3{
   float: left;
   padding-left: 10px;
   margin: 18px 0;
   font-weight: bold;
}

.left-nav .nav-filter .filter-title a{
   float: right;
   margin: 18px 0;
   line-height: 21px;
}

.left-nav .filter-by{
   max-height: 200px;
   overflow-y: auto;
   list-style: none;
   margin-top: 8px;
   padding: 0 0 0 15px;
}

.left-nav .filter-by li input{
   float: left;
}
.left-nav .filter .filter-header{
   border-top: 1px solid #dadada;
   border-bottom: 1px solid #dadada;
   padding-left: 10px;
   background-color: #EAF0F5;
   font-weight: bold;
   font-size: 14px;
   color: #003A6A;
   text-transform: capitalize;
   line-height: 18px;
}

.left-nav .filter.category .filter-by li a{
   color: #717171;
}

.left-nav .filter.category .filter-by li a:hover{
   text-decoration: underline;
}

.left-nav .filter.category .filter-by li:before{
   content: url('/ux/themes/main/common/img/arrow_right_blue.png') ' ';
}

.left-nav .filter.on .filter-by{
   visibility: visible;
}

.left-nav .filter.off .filter-by{
   visibility: hidden;
   height: 0;
   margin: 0;
}

.left-nav .filter .filter-header .arrow{
   width: 9px;
   height: 10px;
   float: right;
   line-height: 18px;
   margin: 4px 5px 0 0;
}

.left-nav .filter.on .filter-header .arrow{
   background: url('/ux/themes/main/common/img/arrow-up-blue.png') 0 0 no-repeat transparent;
}

.left-nav .filter.off .filter-header .arrow{
   background: url('/ux/themes/main/common/img/arrow-down-blue.png') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by{
   color: #717171;
   font-size: 11px;
}

.left-nav .filter .filter-by li{
   line-height: 20px;
   margin: 5px 0;
   text-transform: capitalize;
}

.left-nav .filter .filter-by li input{
   margin-right: 5px;
}

.left-nav .filter .filter-by li .stars{
   padding-left: 0;
}

.left-nav .filter.category .filter-by li a {
    color: #717171;
}
.left-nav .filter.category .filter-by li a:hover {
    text-decoration: underline;
}
.left-nav .filter.category .filter-by li:before {
    content: url("/ux/themes/main/common/img/arrow_right_blue.png") " ";
}

.left-nav .filter .filter-by .size-selector{
   width: 30px;
   height: 30px;
   float: left;
   border: 1px solid #BEBEBE;
   margin: 10px;
   line-height: 30px;
   text-align: center;
}

.left-nav .filter .filter-by .size-selector.active{
   background-color: #3370A1;
   color: #FFF;
   font-weight: bold;
}

.left-nav .filter .filter-by .color-swatch{
   margin: 2px 10px;
   float: left;
   text-transform: capitalize;
   text-align: center;
}
.left-nav .filter .filter-by .color-selector{
   width: 30px;
   height: 30px;
   border: 1px solid #BEBEBE;
}

.left-nav .filter .filter-by .color-name{
   font-size: 10px;
}

.left-nav .filter .filter-by.rating-stars{
   overflow: hidden;
}

.left-nav .filter .filter-by .color-selector.red{
   background: url('/ux/themes/main/common/img/icon_red.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.blue{
   background: url('/ux/themes/main/common/img/icon_blue.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.orange{
   background: url('/ux/themes/main/common/img/icon_orange.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.white{
   background: url('/ux/themes/main/common/img/icon_white.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.lime{
   background: url('/ux/themes/main/common/img/icon_lime.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.violet{
   background: url('/ux/themes/main/common/img/icon_violet.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.black{
   background: url('/ux/themes/main/common/img/icon_black.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.olive{
   background: url('/ux/themes/main/common/img/icon_olive.jpg') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.multi{
   background: url('/ux/themes/main/common/img/icon_multicolor.png') 0 0 no-repeat transparent;
}

.left-nav .filter .filter-by .color-selector.brown{
   background: url('/ux/themes/main/common/img/icon_brown.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.camouflage{
   background: url('/ux/themes/main/common/img/icon_camouflage.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.gold{
   background: url('/ux/themes/main/common/img/icon_gold.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.gray{
   background: url('/ux/themes/main/common/img/icon_gray.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.green{
   background: url('/ux/themes/main/common/img/icon_green.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.ivory{
   background: url('/ux/themes/main/common/img/icon_ivory.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.multicolor{
   background: url('/ux/themes/main/common/img/icon_multicolor.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.nocolor{
   background: url('/ux/themes/main/common/img/icon_nocolor.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.pink{
   background: url('/ux/themes/main/common/img/icon_pink.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.purple{
   background: url('/ux/themes/main/common/img/icon_purple.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.silver{
   background: url('/ux/themes/main/common/img/icon_silver.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.tan{
   background: url('/ux/themes/main/common/img/icon_tan.jpg') 0 0 no-repeat transparent;
}


.left-nav .filter .filter-by .color-selector.yellow{
   background: url('/ux/themes/main/common/img/icon_yellow.jpg') 0 0 no-repeat transparent;
}


.promo-left-nav {
   float: left;
   margin: 20px 0 0 30px;
}

.promo-left-nav img {
   max-width: 189px;
}

/* Site-wide banner */

.sw-banner{
   margin: 14px 30px 0 30px;
   text-align: center;
   background-color: #3370a1;
   opacity: 20%;
   line-height: 40px;
}
.sw-banner h1{
   color: #FFF;
}

/* Image positioning */

img.center{
   vertical-align: middle;
}

/*
  Print/Email/
  Details/Go back/
  Other Linnks
*/

a.action-small-link{
   font-size: 11px;
}

/* Rating Stars */

.rating .reviews{
   color: #BEBEBE;
   display: inline-block;
}

.stars {
   float: left;
   display: inline-block;
}

.left-nav .stars {
   float: none;
}

.stars.small{
   width: 80px;
   height: 13px;
   margin-top: 2px;
}

.stars.med{
   width: 95px;
   height: 15px;
   margin-top: 2px;
}

.stars.large{
   width: 105px;
   height: 17px;
   margin-top: 2px;
}

.stars .star {
   margin-right: 0px;
   border: 0px !important;
   float: left;
}

.stars.small .star{
   height: 12px;
   width: 11px;
   margin-right: 3px;
}

.stars.med .star{
   height: 15px;
   width: 16px;
   margin-right: 3px;
}

.stars.large .star{
   height: 19px;
   width: 20px;
   margin-right: 3px;
}

.stars .star.last {
   margin-right: 0px;
}

.stars.small .star.on{
   background: url('/ux/themes/main/common/img/staron-small.png') 0 0 no-repeat transparent;
}

.stars.small .star.off{
   background: url('/ux/themes/main/common/img/staroff-small.png') 0 0 no-repeat transparent;
}

.stars.med .star.on{
   background: url('/ux/themes/main/common/img/staron-medium.png') 0 0 no-repeat transparent;
}

.stars.med .star.off{
   background: url('/ux/themes/main/common/img/staroff-medium.png') 0 0 no-repeat transparent;
}

.stars.large .star.on{
   background: url('/ux/themes/main/common/img/staron-big.png') 0 0 no-repeat transparent;
}

.stars.large .star.off{
   background: url('/ux/themes/main/common/img/staroff-big.png') 0 0 no-repeat transparent;
}

/* Dropdowns */

.dropdown span{
   display: inline-block;
   text-transform: uppercase
}

.dropdown select{
   border:0 !important;
   background: url('/ux/themes/main/common/img/arrow_down_blue_small.png') no-repeat;
   background-position: 82px 7px; /* adjust accordingly*/
   width: 100px; /* adjust accordingly*/
   text-indent: 0.01px; /* styles for firefox*/
   text-overflow: ""; /* styles for firefox*/
   -moz-appearance: none; /* styles for firefox*/
   -webkit-appearance: none; /* styles for chrome and safari*/
   color: #3370a1;
   text-transform: capitalize;
}

.select{
   width: 40px;
   height: 23px;
   overflow: hidden;
   background: url("/ux/themes/main/common/img/graydownarrow.png") no-repeat right #fff;
   border: 1px solid #7d7e7e;
}

.select select.dropdown{
   background: transparent;
   width: 68px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   padding: 2px;
   border-radius: 0;
   height: 25px;
   -webkit-appearance: none; /* styles for chrome and safari*/
   text-indent: 0.01px; /* styles for firefox*/
   text-overflow: ""; /* styles for firefox*/
   -moz-appearance: none; /* styles for firefox*/
}

/* standard channel sections*/
/** general spacing to use on landing pages **/

.channel-banner{
   margin-bottom: 16px;
   min-height: 115px;
   position: relative;
}

.channel-banner .banner-title{
   background-color: transparent;
   position: absolute;
   bottom: 10px;
   left: 10px;
   display: inline-block;
   z-index: 100;
}

.channel-banner .banner-title h3{
   text-transform: uppercase;
   float: left;
   font-size: 24px;
   font-weight: bolder;
}

.channel-banner .banner-title .title-info{
   float: left;
   padding-left: 10px;
   text-transform: uppercase;
}

.channel-slots{
   display: inline-block;
}
.channel-slots .slot{
   position: relative;
   float: left;
   /*width: 361px;*/
   min-height: 225px;
   margin-bottom: 15px;
}

.channel-slots .slot.one{
   margin-right: 28px;
}

.channel-slots .slot.three{
   width: 100%;
   position: relative;
   display: inline-block;
}
.channel-slots .slot .slot-info{
   background-color: transparent;
   bottom: 10px;
   margin-left: 10px;
   min-height: 30px;
   position: absolute;
   z-index: 100;
}

.channel-banner .banner-title.light,
.channel-banner .banner-title.light h3,
.channel-slots .slot .slot-info.light span,
.channel-slots .slot .slot-info.light h3{
   color: #FFF;
}

.channel-slots .slot .slot-info h3{
   text-transform: uppercase;
}

.channel-slots .slot.three .slot-info{
   top:30px;
   left: 20px;
   font-size: 18px;
   text-transform: uppercase;
}

.channel-slots .slot.three .slot-info h3{
   font-size: 32px;
   font-weight: bolder;
}

.channel-slots .slot.three .shortcuts{
   position: absolute;
   bottom: 10px;
   left: 20px;
   display: inline-block;
   z-index: 100;
}

.channel-slots .slot.three .shortcuts img{
   display: inline-block !important;
   position: relative;
}

.channel-slots .slot.three .shortcuts .button{
   float: left;
   position: relative;
}

/* Modal full screen */
.modal-container{
   background: rgba(0,0,0,0.8);
   width: 100%;
   height: 2000px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   border: 1px solid #A71930 !important;
}

.modal-container .modal{
   position: relative;
   background-color: #fff;
   margin:0 auto;
}

@media screen and (max-height: 600px){
    .modal-container.simplemodal-data{
         position: relative !important;
    }
}

/* Mini-Cart */

#mini-cart{
   height:460px;
   width: 330px;
   background-color: #FFF;
   padding: 0;
   border: 1px solid #DADADA;
   position: absolute;
   top: 25px;
   right: -27px;
   box-shadow: 1px 1px .5px #DADADA;
   z-index: 999;
}

#mini-cart .mini-cart-wrapper{
   position: relative;
   margin-bottom: 20px;
}

#mini-cart .white-arrow{
   position: absolute;
   top: -8px;
   right: 27px;
}

#mini-cart .mini-cart-wrapper .mini-cart-list{
   border-bottom: 1px solid #DADADA;
   max-height: 350px;
}

#mini-cart .mini-cart-list .list-container{
   border-bottom: 1px solid #DADADA;
}

#mini-cart .list-container li.item {
   border-bottom: 1px solid #DADADA;
   margin: 19px 20px 0 20px;
}

#mini-cart .list-container li.item.last {
   border-bottom: 0;
}

#mini-cart .list-container .item .item-container{
   display: inline-block;
}
#mini-cart .list-container .item .product-img{
   width: 48px;
   height:48px;
   border-width:0px;
   margin-right: 27px;
   float: left;
}

#mini-cart .list-container .item .product-img img{
   width: 46px;
   height:46px;
   border: 1px solid #DADADA;
}

#mini-cart .list-container .item .product-info{
   width: 190px;
   float: left;
}
#mini-cart .list-container .item .product-info .name{
   color: #003a6a;
   text-transform: capitalize;
   line-height: 15px;
}

#mini-cart .list-container .item .price{
   color: #BEBEBE;
}

#mini-cart .list-container .item .price div{
   line-height: 13px;
   float: left;
   margin: 5px 5px 5px 0;
}

#mini-cart .list-container .item .price.save{
   color: #000;
   font-weight: bold;
}

#mini-cart .list-container .item .price.regular{
   text-decoration: line-through;
}

#mini-cart .item .product-info .attribute{
   font-weight: bold;
   text-transform: uppercase;
   color: #BEBEBE;
   line-height: 13px;
}

#mini-cart .item .product-info .attribute span{
   text-transform: capitalize;
}

#mini-cart .item .product-info .attribute span:before{
   font-weight: bold;
}

#mini-cart .item .product-info .attribute span{
   font-weight: normal;
}

#mini-cart .item .product-info .attribute.size span:before{
   content: 'SIZE: ';
}

#mini-cart .item .product-info .attribute.color span:before{
   content: 'COLOR: ';
}

#mini-cart .item .product-info .attribute.option span:before{
   content: 'OPTION: ';
}

#mini-cart .item .product-info .attribute.qty span:before{
   content: 'QTY: '
}

#mini-cart .item .edit-options{
   margin: 20px 0;
}

#mini-cart .summary .subtotal{
   /*margin: 20px 0 25px;*/
   margin: 21px 0 26px;
   text-align: center;
}

#mini-cart .summary .subtotal .amount{
   color: #DA0F0F;
   font-weight: bold;
   font-size: 15px;
}

#mini-cart .summary .CTA{
   margin-left: 20px;
}

#mini-cart .summary .CTA button{
   margin-left: 15px;
   width: 170px;
   height: 39px;
   font-size: 15px;
}

#mini-cart.empty{
   width: 240px;
}
#mini-cart.empty .mini-cart-wrapper .empty-msg{
   padding-top: 20px;
   text-align: center;
}

#mini-cart .scroll-pane {
   overflow: auto;
}

#mini-cart .scroll-pane .jspTrack{
   background-color: #EAF0F5;
}

#mini-cart .scroll-pane .jspDrag{
   background-color: #FFFFFF;
   width: 13px;
   margin: 1px 2px;
   border: 1px solid #DADADA;
}

/* Item Tags*/

.product-img .item-tag {
   width: 87px;
   height: 20px;
   color: #FFFFFF;
   font-weight: bold;
   position: absolute;
   top: 30px;
   left: -31px;
   text-align: center;
   padding-top: 6px;
   text-transform: uppercase;
   /* to rotate item tag*/
   transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);/* Safari-Chrome */
   -moz-transform: rotate(-90deg);/* Firefox */
   -ms-transform: rotate(-90deg);/* IE */
   -o-transform: rotate(-90deg);/* Opera */
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);/* Internet Explorer */
}

.product-img .item-tag.popular {
   background-color: #ED7115;
}

.product-img .item-tag.save {
   background-color: #EB2629;
}

.product-img .item-tag.new-item {
   background-color: #26A3EB;
}

.product-img .item-tag.our-pick {
   background-color: #2DA0A7;
}

/* AAFES-274231 Product compare fixes*/

.item-tag-n-Close .item-tag {
   width: 87px;
   height: 20px;
   color: #FFFFFF;
   font-weight: bold;
   position: absolute;
   top: 30px;
   left: -31px;
   text-align: center;
   padding-top: 6px;
   text-transform: uppercase;
   /* to rotate item tag*/
   transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);/* Safari-Chrome */
   -moz-transform: rotate(-90deg);/* Firefox */
   -ms-transform: rotate(-90deg);/* IE */
   -o-transform: rotate(-90deg);/* Opera */
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);/* Internet Explorer */
}

.item-tag-n-Close .item-tag.popular {
   background-color: #ED7115;
}

.item-tag-n-Close .item-tag.save {
   background-color: #EB2629;
}

.item-tag-n-Close .item-tag.new-item {
   background-color: #26A3EB;
}

.item-tag-n-Close .item-tag.our-pick {
   background-color: #2DA0A7;
}

select[disabled] + span{color:#999999!important;}

@-moz-document url-prefix() {
    select{
        background-image: none !important;
    }
}


/*     Ready to wear overlay  css fixes   */


.bluebutton {
    margin-left: 10px;
    cursor: pointer;
    background: none no-repeat scroll left center #003366;
    border: 1px solid #dadada;
    color: #fff;
    font-size: 18px;
    height: 37px;
    padding: 0 18px;
}
.rtw-modal-title{
    font-weight: bold;
    font-size: 22px;
    color:#000000;
    margin:20px 10px;
}
.rtw-modal-text{
    line-height: 16px;
    margin:10px;
    margin-right: 20px;
}

/* Product comparison page */
.pcpPricing .sale-price {
   font-weight: bold;
}

.left-nav-narrow-by{
   float: left;
   padding-left: 10px;
   margin: 18px 0;
   font-weight: bold;
   font-size: 18px;

}
.main-3xC .category-content-title{
    font-size: 24px;
    margin-left: 0px;
    float: none !important;

}

.filter-by > li h2 {
    display: inline-table;
    font-size: 11px;
}

/* Fix  */

.left-nav #custom-filter-size-container.nav-filter .filter-by li:nth-child(3n+1) {
    clear: both;
}
.left-nav #custom-filter-size-container.nav-filter .filter-by li:nth-child(3n+2) {
    margin: 0 5px 5px;
}
.left-nav #custom-filter-size-container.nav-filter .filter-by li:nth-child(3n) {
   /* float: right; */
}
.left-nav #custom-filter-size-container.nav-filter .filter-by {
    list-style: outside none none;
    margin-top: 8px;
    max-height: 200px;
    overflow-y: auto;
    padding: 0 5px 0 10px;
}

   .left-nav #custom-filter-size-container.nav-filter .filter-by li {
       border: 1px solid #ccc;
       box-sizing: border-box;
       display: block;
       float: left;
       height: 46px;
       line-height: 20px;
       margin: 0 0 5px;
       text-transform: capitalize;
       width: 49px;
   }

      .left-nav #custom-filter-size-container.nav-filter .filter-by li a {
          display: block;
      }

   .left-nav #custom-filter-size-container.nav-filter .filter-by label {
       position: relative;
       display: inherit;
       font-size: 11px;
       font-weight: normal;
       line-height: normal;
       width: 49px;
       height: 46px;
       cursor: pointer;
       vertical-align: middle;
       pointer-events: none;
}

   .left-nav #custom-filter-size-container.nav-filter .filter-by .size-selector {
       border: medium none;
       float: none;
       height: 46px;
       margin: 0;
       text-align: center;
       width: 49px;
   
       display: table-cell;
}
/*Fix */
.clear{clear: both;}
.overflow-hidden{overflow:hidden;}

/*==================
Padding and Margin
====================*/
.p0 { padding: 0 !important; }
.p5{ padding: 0.3125rem !important; }
.pt5{ padding-top: 0.3125rem !important; }
.pl5{ padding-left: 0.3125rem !important; }
.pb5{ padding-bottom: 0.3125rem !important; }
.pr5{ padding-right: 0.3125rem !important; }

.p10{ padding: 0.625rem !important; }
.pt10{ padding-top: 0.625rem !important; }
.pl10{ padding-left: 0.625rem !important; }
.pb10{ padding-bottom: 0.625rem !important; }
.pr10{ padding-right: 0.625rem !important; }

.m0 { margin: 0 !important; }

.m5{ margin: 0.3125rem !important; }
.mt5{ margin-top: 0.3125rem !important; }
.ml5{ margin-left: 0.3125rem !important; }
.mb5{ margin-bottom: 0.3125rem !important; }
.mr5{ margin-right: 0.3125rem !important; }

.m10{ margin: 0.625rem !important; }
.mt10{ margin-top: 0.625rem !important; }
.ml10{ margin-left: 0.625rem !important; }
.mb10{ margin-bottom: 0.625rem !important; }
.mr10{ margin-right: 0.625rem !important; }

/*Columns*/
.columns-0{width:4.16%;}
.columns-1{width:8.33%;}
.columns-15{width:9%;}
.columns-18{width:12.6%;}
.columns-2{width:16.6%;}
.columns-3{width:24.99%;}
.columns-4{width:33.32%;}
.columns-5{width: 41.65%;}
.columns-6{width:50%;}
.columns-7{width:58.31%;}
.columns-8{width:66.64%;}
.columns-9{width:74.97%;}
.columns-10{width: 83.33%;}
.columns-11{width:91.63%;}
.columns-12{width:100%;}

.center-aligned {margin:0 auto;}
.section-b label{font-size: 0.75rem !important;}
.inline-block{display: inline-block;}

/*Popup*/
#popup,#cancelpopup,#deliverypopup,#shipped-popup,#cancel-delivery {
   left: 50%;
   position: fixed;
   top: 50%;
   z-index: 1001;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
}

.content-popup {
   background-color:#FFFFFF;
   border-radius:4px;
   box-shadow: 0 2px 5px #666666;
   margin:0px auto;
   padding:2rem;
   position:relative;
   width:auto;
}

.content-popup h2 {
   color:#48484B;
   margin-top: 0;
   padding-bottom: 4px;
}
.hide{display: none;}
.content-popup .main-content{margin-top: 30px;}
.content-popup .user-data{
   padding: 1.25rem;
   background-color: #EBF3FB;
   margin:1.25rem 0}
.content-popup .user-data input{width:12.5rem;}
.content-popup .user-data select{margin-right: 0;width:13.1rem;}
.content-popup .button.primary-2{font-size: 0.87rem;}
.content-popup .cancel{
   border: 1px solid #003a6a;
   font-size: 0.87rem;
   margin-left: 10px;
   font-weight: bold;
   color:#003A6A;
   float: right;
   width:90px;
   height: 1.2rem;
   padding:12px 0px 6px 10px;
   text-align: center;
   background: #FFF url("/ux/themes/main/common/img/arrowbigblue.png") no-repeat scroll 20px center;
}
.content-popup .cancel:hover {
   font-weight: bold;
   /*color:#FFF;
   background: #003A6A url("/ux/themes/main/common/img/arrowbigwhite.png") no-repeat scroll 20px center; height: 1.25rem;*/
}

.content-popup .cancel a:hover{
   height: 1.25rem;
   color:#FFF;
   text-decoration: none;
}
.popup-overlay {
   background-color: #777;
   cursor: pointer;
   display: none;
   height: auto !important;
   left: 0px;
   min-height: 100%;
   opacity: 0.5;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 999;
}

.close img{
   position: absolute;
    right: 15px;
}

.continuity-spinner {
    background-color: rgba(51,51,51,0);
    opacity: 0.8;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("/ux-custom/themes/main/common/img/spinningred.gif");
    background-position: center;
    background-repeat: no-repeat;
}