body{
   width: 100%;
}

.stdText {
   color: #000000;
   text-align: left;
}

.mainbodyWrapper {
   width: 1024px;
   margin: 0 auto;
}

.headerNavigation {
   width: 1024px;
   background-color: #003A6A;
   font-size: 12px;
   height: 36px;
   margin: 0 auto;
   color: #FFF;
}

.footerSocial {
   display: inline-block;
}

.innerNavigationCell,
.innerNavigationCell h2 {
   display: inline-block;
   color: #003a6a;
   vertical-align: top;
   text-transform: capitalize;
   font-weight: bold;
   font-size: 12px;
   text-align: center;
   overflow: none;
}

.innerNavigationCell {
   height: 36px;
   position: relative;
   margin: 0px !important;
}
.headerNavigation.innerNavigationCell:hover {
   color:#DA0F0F;
}

.headerNavigation .innerNavigationCell a {
   color: #FFF;
   padding: 0 10px 0;   
   display: inline-block;
   max-width: 74px;
}

.headerNavigation .innerNavigationCell a:hover {
   /*color:#003a6a;
   background-color: #fff;*/
   text-decoration: none;
}

.headerNavigation [title~=Apparel], 
.headerNavigation [title~=Shoes], 
.headerNavigation [title~=Baby], 
.headerNavigation [title~=Electronics], 
.headerNavigation [title~=Military], 
.headerNavigation [title~=Sale], 
.headerNavigation [title~=More] {
    margin-top:12px !important;
}

.headerNavigation [title~=Handbags], 
.headerNavigation [title~=Jewelry], 
.headerNavigation [title~=Beauty], 
.headerNavigation [title~=Appliances], 
.headerNavigation [title~=Seasonal] {
    margin-top:6px !important;
}

.innerNavigationCellActive {
   background-color: #fff;
   color:#003a6a;
}

.innerNavigationCellActive a, div.innerNavigationCellActive a, h2.innerNavigationCellActive a{
   color:#003a6a !important;
}

.innerNavigationCellActive .navigation-arrow {
   position: absolute;
   bottom: -1px;
   /*background: url('/ux/themes/main/common/img/whitetriangle.png') center bottom no-repeat transparent;*/
   height: 9px;
   width: 100%;
   z-index: 2;
}

div:first-child.innerNavigationCellActive .navigation-arrow {
   right: 20%;
   width: 19px;
}

div:last-child.innerNavigationCellActive .navigation-arrow {
   left: 28%;
   width: 19px;
}

.whiteTrianglePos {
   position: absolute;
   top: -7px;
}

.headerNavigationBorders {
   border-right: 1px solid #003A6A;
   border-left: 1px solid #003A6A;
   display: inline-block;
   width: 0; 
   height: 36px;
}

.sale, .sale a {
   color: #F70808 !important;
}

.headerNavigationInfo {
   width: 998px; 
   visibility: hidden; 
   position: absolute; 
   top: 100%; 
   background-color: #fff;
}

.navigationMegaBox {
   position: absolute;
   background-color: #fff;
   box-shadow: 0 4px 4px 2px #606060;
   width: 981px;
   margin: 0 16px;
   display: none;
   padding: 1px 1px 10px 12px;
   z-index: 52;
   clear: both;
}

.navigationSubCatLink a {
   font-size: 12px;
   line-height: 15px;
   color: #003f72;
   text-decoration: none;
}

.navigationMegaCells {
   display:inline-table; 
   vertical-align:top; 
   width: 179px;
   min-height: 100px;
}

.navigationMegaCells:last {
   width: 190px;
}

.navigationMegaCellsBorder {
   /*border-right: 1px solid #bebebe; AAFES-169590*/
   margin-right: 7px;
}

.megaMenuHeader {
   margin: 5px 0;
   padding-bottom: 4px;
   text-transform: uppercase;
   color: #003a6a;
   /*border-bottom: 1px solid #bebebe; AAFES-169590*/
   width: 87%;
   font-size: 13px;
   font-weight:bold;
}

.noBorder {
   border: none;
   width: 100%;
}

.navigationHeaderImg {
   float: right;
   vertical-align:top;
   width: 214px; 
   margin: 0px;
   padding-right: 6px;
   border: none;
   text-align: right;
}

.navigationHeaderImg img {
   max-width: 214px;
}

.blueArrow {
   margin-left: 8px;
}

.footerContent {
   width: 1024px;
   margin: 0 auto;
}

.headerNavigationWrapper {
   width: 100%;
   background-color: #003A6A;
   margin-bottom: 1px;
}

.securityLogo {
   display: inline;
   position: relative;
   top: 3px;
}

.legalDisclose {
   display: inline;
   margin-left: 46px;
   vertical-align: top;
}

.copyright {
   display: inline;
   vertical-align: top;
}

.cartTxtContainer {
   float: right;
}

.cartTxt {
   color: #3370A1;
   text-decoration: none;
   margin-left: 5px;
   font-size: 11px;
}

.cartLink {
   color: #3370A1;
   text-decoration: none;
   min-height: 23px;
   line-height: 23px;
   display: inline-block;
   padding: 5px 3px 3px;
   text-transform: uppercase;
}

a.cartLink:hover {
   background-color: #3370A1;
   color: #FFF;
   text-decoration: none;
}

.cart-link-padding {
   padding: 5px 15px 3px;
}

.cartContainer {
   display: inline;
   vertical-align: top;
}

.sign-in-container {
   position: absolute;
   width: 250px;
   padding: 15px;
   background-color: #FFFFFF;
   border: 2px solid #000000;
  /* right: 563px;*/
   top: 30px;
   z-index: 1012;
}

.sign-in-container .title {
   text-align: center;
   font-size: 16px;
   margin-bottom: 5px;
}

.sign-in-container .label {
   text-align: center;
   width: 39%;
   padding-top: 5px;
   margin-right: 5px;
}

.sign-in-container input.input {
   width: 50%;
   margin: 5px 0px 10px 0px;
   border: 1px solid #000000;
}

.sign-in-container .bottom-links {
   text-align: center;
   line-height: 16px;
}

.sign-in-container .login-button {
   border-style:none;
   background-color: #003A6A;
   color: #FFFFFF;
   float: right;
   font-size: 16px;
   margin-top: 10px;
   padding: 10px;
   -webkit-appearance: none;
}

.sign-in-container .guest-login-button {
   border-style:none;
   background-color: #003A6A;
   color: #FFFFFF;
   float: left;
   font-size: 16px;
   margin-top: 40px;
   padding: 10px;
   -webkit-appearance: none;
}

.sign-in-container .sign-in-warning {
   color: #ed7115;
   font-weight: normal !important;
}

.sign-in-container .sign-in-error {
   color: #da0f0f;
}

.cartWrapper{
   float: right;
   clear: both;
   position: relative;
}

.upperheader {
   clear: both;
   width: 100%;
   vertical-align: top;
}

.lowerHeader {
   display: inline-block;
   padding: 20px 0px;
   vertical-align:top;
   border-top: 1px solid #c4d6e4;
   width: 100%;
  
}

.quicklinks {
   display: inline-block;
   vertical-align: top;
   padding: 10px 0 8px;
}

.upperNavigationTxt {
   text-transform: uppercase;
   margin-right: 16px;
   font-size: 11px;
   line-height: 13px;
   color: #505050
}

a:hover.upperNavigationTxt {
   color: #3370A1;
   text-decoration: none;
}

/*** Start: Military Start Menu ***/

.milStarInfo {
   float: right;
   width: 307px;
   color: #003f72;
   text-align: right;
   margin-right: 25px;
   position: relative;
}

.milStarInfo a {
   color: #003A6A;
   text-decoration: none;
   float: left;
   max-width: 230px;
   padding-top: 13px;
}

.milStarInfo a:hover {
   color: #003f72;
   text-decoration: underline;
}

.milStarInfo button.mil-star-button {
   width: 47px;
   height: 62px;
   padding: 0;
   border: 0;
   margin-left: 30px;
   cursor: pointer;
   background-color: #FFF;
   padding: 2px 5px 5px;
   box-shadow: inset 0 0 1px #BEBEBE;
   -moz-box-shadow: inset 0 0 1px #BEBEBE;
   -webkit-box-shadow: inset 0 0 1px #BEBEBE;
   zoom: 1;
}

.milStarInfo button.mil-star-button:hover,
.milStarInfo button.mil-star-hover-button {
   position: relative;
   z-index: 11;
   box-shadow: 1px -1px 1px #DADADA,
               -1px -1px 1px #DADADA;
}

.milStarInfo .mil-star-menu {
   position: absolute;
   top: 60px;
   right: 0;
   background-color: #FFF;
   z-index: 10;
   width: 127px;
   padding: 9px 14px;
   box-shadow: inset 0 0 2px #DADADA,
               1px 1px 1px #DADADA,
               -1px 1px 1px #DADADA;
}

.milStarInfo .mil-star-menu a {
   float: none;
   display: inline-block;
   text-align: left;
   padding: 7px 0 7px 17px;
   width: 110px;
   background: url('/ux/themes/main/common/img/bluearrow-3.png') 8px center no-repeat transparent;
}

.milStarInfo .mil-star-menu a:hover {
   text-decoration: none;
   box-shadow: inset 0 0 1px #BEBEBE,
               1px 1px 2px #BEBEBE,
               -1px 1px 2px #BEBEBE;
}
/*** End: Military Start Menu ***/

.blueSearch{ 
   background-color: #cccccc;
   padding:1px;
   background:url("/ux/themes/main/common/img/bluesearch.png");
   height: 28px;
   width: 32px;
   vertical-align: top;
   border-style:none;
}

input.headerInput[type="text"] {
   font-size: 17px;
   font-style: italic;
   height: 28px;
   line-height: 28px;
   width: 238px;
   background-color: #f6f6f6;
   color: #003a6a;
   padding-left: 9px;
   box-shadow: inset 0 0 2px #bebebe;
}

.headerSearch {
   display: inline-block;
   vertical-align: top;
   margin-left: 50px;
}

.bold {
   font-weight: bold;
}

.logo {
   display: inline;
   margin-left: 20px;
}

.logo h1 {
   display: inline-block;
}

.firstNav {
   margin-left: 20px;
}

/*** Start: Signed in Menu ***/

.cart-signed-in-link {
   text-transform: none;
   padding: 5px 15px 3px;
   background-color: #3370A1;
   color: #FFF;
}

.cart-signed-in-menu {
   position: absolute;
   top: 31px;
   left: 18px;
   padding: 13px 20px;
   z-index: 10;
   background-color: #FFF;
   box-shadow: 1px 1px 1px #DADADA,
               -1px 1px 1px #DADADA;
}

.cart-signed-in-menu .cart-signed-in-triangle {
   background: url("/ux/themes/main/common/img/whitetriangle.png") no-repeat center top transparent;
   width: 100%;
   position: absolute;
   left: 0;
   top: -7px;
}

.cart-signed-in-menu a {
   color: #003A6A;
   background: url("/ux/themes/main/common/img/bluearrow-3.png") no-repeat scroll left center transparent;
   display: inline-block;
   text-align: left;
   padding: 4px 0 5px 12px;
}

.cart-signed-in-menu .cart-sined-in-line {
   background-color: #DADADA;
   height: 1px;
   margin: 6px 0 6px 9px;
}
/*** End: Signed in Menu ***/

/***footer **/

.footerInfo .firstFooter {
   margin: 0 80px 0 17px;
}

.footerInfo {
   vertical-align: text-top;
   display: inline-block;
   margin-right: 28px;
   line-height: 150%;
}

.footerSocial {
   margin: 0;
   width: 203px;
}

.footerContent h5, .footer-section {
   color: #072F4F;
   text-transform: uppercase;
   font-size: 13px;
   line-height: 45px;
   font-weight: bold;
}

.footerContent {
   color: #072F4F;
   font-size: 12px;
}

.enterNow {
   border-style:none;
   background-color: #003a6a;
   width: 106px;
   height: 25px;
   color: #fff;
   text-transform: uppercase;
   font-size: 12px ;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   float: left;
   box-shadow: 0px 0px 8px 2px #ccc;
   margin: 15px 0;
   line-height: 199%;
}

.enterNowImg {
   float: left;
   padding-top: 5px;
}

.footerBottom {
   font-size: 11px;
   border-top: 1px solid #7f9cb4;
   margin-top: 12px;
   vertical-align: top;
}

.footerBottomWrapper {
   margin: 14px 0 36px 17px;
}

.shoppingcart {
   background: url("/ux/themes/main/common/img/cartempty.png") no-repeat scroll 0 0 transparent;
   display: inline-block;
   height: 18px;
   margin-right: 27px;
   position: relative;
   vertical-align: top;
   top: 6px;
   width: 25px;
}

.lowerLinks {
   color: #072f4f;
   font-size: 11px;
   text-decoration: none;
   vertical-align: top;
}

.lowerTxt {
   color: #575148;
   vertical-align: top;
}

.securityLogo {
   margin-left: 68px;
   display: inline;
   vertical-align: top;
   position: relative; 
   top: -5px;
}

.socialContainer a {
   display: inline-block;
   text-decoration: none;
   vertical-align:middle;
}

.socialIcon {
   margin: 0 0 26px 14px;
}

.footerlinks {
   line-height: 150%;
   color: #072F4F;
}

.footerlinks a {
   color: #072F4F;
}

.ghostTxt {
   color: #263f6a;
}

.captilize {
   text-transform: uppercase;
   font-size: 13px;
}

.doubleSpace {
   line-height: 200%;
}

.footerInput {
   margin:8px 0 0px;
   height: 28px;
   line-height: 28px;
   box-shadow: inset 0 0 2px #bebebe;
   width: 191px !important;
}

.firstIcon {
   margin-left:0px;
}

/*** 404 Error ***/

.four-o-four-error {
   width: 535px;
   height: 130px;
   margin: 50px auto 64px;
   display: block;
}

.four-o-four-error .four-o-four-container {
   float: left;
   width: 385px;
   padding: 14px 60px 13px 40px;
   background-color: #a71930;
}

.four-o-four-error .four-o-four-container h1,
.four-o-four-error .four-o-four-container h3 {
   color: #FFF;
}

.four-o-four-error .arrow-right {
   width: 0; 
   height: 0; 
   border-top: 65px solid transparent;
   border-bottom: 65px solid transparent;
   border-left: 40px solid #a71930;
   float: left;
}

.switchMobile{
    margin-left:30px;
}