.oec-toptwoColumn1 .oec-twoColumnMain {
	float: left;
}
.oec-toptwoColumn1 .oec-twoColumnSidebar {
	margin-top: 15px;
	float: right;
}

.oec-toptwoColumn2 .oec-twoColumnMain {
	float: left;
}
.oec-toptwoColumn2 .oec-twoColumnSidebar {
	float: right;
}

.oec-bnrBlock.oec-topBnrBlock li {
	margin-bottom: 10px;
}

/* keyvisual
-------------------------------------------------- */
.oec-keyvisual {
	margin: 15px auto 20px;
	position: relative;
}

.oec-keyvisualMain {
	margin-bottom: 7px;
}

.oec-keyvisualThumb ul {
	margin: 0;
}
.oec-keyvisualThumb ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
.oec-keyvisualThumb li {
	margin: 0 1px 0 0;
	list-style: none;
	float: left;
	position: relative;
	background: #000000;
}
.oec-keyvisualThumb li:last-child {
	margin-right: 0;
}
.oec-keyvisualThumb li a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}
.oec-keyvisualThumb .oec-keyvisualCurrent {
	position: absolute;
	left: 0;
	top: -17px;
	z-index: 50;
	background: none;
}
.oec-keyvisualThumb .oec-keyvisualCurrent a:hover img {
	opacity: 1.0;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
}

.oec-keyvisualController .oec-keyvisualControllerBtn {
	width: 46px;
	height: 46px;
	display: block;
	background-image: url(/contents/shared/images/top/ico_top_panel_1.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 119px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}
.oec-keyvisualController .oec-keyvisualControllerPrev {
	left: 1px;
	background-position: 0 0;
}
.oec-keyvisualController .oec-keyvisualControllerNext {
	right: 1px;
	background-position: -46px 0;
}

/* topAttention
-------------------------------------------------- */
.oec-topAttention {
	margin-bottom: 15px;
	line-height: 28px;
}
.oec-topAttention:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
.oec-topAttention dt {
	padding-left: 44px;
	color: #ffffff;
	background: #000 url(/contents/shared/images/top/ico_attention_1.png) no-repeat 19px 4px;
	width: 210px;
	position: relative;
	display: table-cell;
}
.oec-topAttention dt:after {
	margin-top: -5px;
	content: ' ';
	width: 6px;
	height: 10px;
	position: absolute;
	right: -6px;
	top: 50%;
	background: url(/contents/shared/images/top/ico_arrow_attention_1.png) top left repeat;
}
.oec-topAttention dd {
	padding: 0 0 0 22px;
	display: table-cell;
	border-left: 0;
	width: 648px;
}
.oec-topAttention ul {
	margin: 0;
}
.oec-topAttention ul li {
	margin: 0 15px 0 0;
	list-style: none;
	display: inline-block;
}

/* rankingSection
-------------------------------------------------- */
.oec-rankingSection h2 {
	margin-bottom: 15px;
	padding: 10px 0;
	border-top: 2px solid #b2a156;
	background: #f2f0dd;
	text-align: center;
	font-size: 22px;
}
.oec-rankingSection h2 span {
	display: inline-block;
	position: relative;
}
.oec-rankingSection h2 span:before {
	content: ' ';
	width: 43px;
	height: 29px;
	position: absolute;
	left: -63px;
	top: 0;
	background: url(/contents/shared/images/top/ico_ranking_1.png) top left repeat;
}
.oec-rankingSection h2 span:after {
	content: ' ';
	width: 43px;
	height: 29px;
	position: absolute;
	right: -63px;
	top: 0;
	background: url(/contents/shared/images/top/ico_ranking_2.png) top left repeat;
}
.oec-rankingSection p.oec-attention {
	margin: -4px 0 10px;
}

/* topNews
-------------------------------------------------- */
.oec-topNews {
	margin-bottom: 20px;
	border: 1px solid #d4e9ec;
}
.oec-topNews .oec-contentHeader {
	padding: 12px 15px;
	background: #d6f3f7;
	display: table;
	width: 100%;
}
.oec-topNews .oec-contentHeader .oec-link {
	margin: 0;
	text-align: right;
}
.oec-topNews .oec-contentHeader li {
	margin: 0;
}
.oec-topNews .oec-contentHeader li a {
	padding-left: 14px;
	background: url(/contents/shared/images/ico_link_arrow_1.png) left center no-repeat;
	text-decoration: none;
}
.oec-topNews .oec-contentHeader li a:hover {
	text-decoration: underline;
}
.oec-topNews h2 {
	display: table-cell;
	font-size: 18px;
}
.oec-topNews .oec-topNewsContent {
	padding: 15px;
}
.oec-topNews .oec-topNewsList {
	padding-right: 20px;
	width: 570px;
	display: table-cell;
	vertical-align: top;
}
.oec-topNews .oec-topNewsList dt {
	color: #666666;
}
.oec-topNews .oec-topNewsTxt {
	margin-bottom: 5px;
	padding: 0 0 5px 5px;
	border-bottom: 1px dotted #7f7f7f;
}
.oec-topNews .oec-topNewsTxt:last-child {
	margin-bottom: 0;
}
.oec-topNews .oec-topNewsBnr {
	display: table-cell;
	vertical-align: top;
}
.oec-topNews .oec-topNewsBnr .oec-topNewsBnrImg {
	margin-bottom: 7px;
	display: block;
	background: #000000;
}
.oec-topNews .oec-topNewsBnr a {
	display: block;
}
.oec-topNews .oec-topNewsBnr a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}
.oec-topNews .oec-topNewsBnr .oec-bnrCaption {
	font-size: 12px;
}

/* newLineupBlock
-------------------------------------------------- */
.oec-newLineupBlock {
	padding: 10px;
	background: #d6f3f7;
}
.oec-newLineupBlock:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}

.oec-itemNewLineupBox {
	padding: 0;
	margin-right: 10px;
	border: 1px solid #fff;
	background: #ffffff;
	width: 241px;
	position: relative;
	float: left;
}
.oec-itemNewLineupBox:first-child {
	width: 241px;
}
.oec-itemNewLineupBox:last-child {
	width: 241px;
	margin-right: 0;
	border-right: 1px solid #fff;
}
.oec-itemNewLineupBox:hover {
	border-color: #000;
}
.oec-itemNewLineupBox a {
	display: block;
	text-decoration: none;
}
.oec-itemNewLineupBox .oec-itemTxtBlock {
	padding: 11px 15px;
}
.oec-itemNewLineupBox .oec-itemAddcomment {
	font-weight: bold;
	color: #000000;
}
.oec-itemNewLineupBox .oec-itemName {
	font-size: 12px;
	text-decoration: underline;
}
.oec-itemNewLineupBox .oec-itemPrice {
	font-size: 12px;
}
.oec-itemNewLineupBox .oec-itemBoxHoverTxt {
	padding-top: 108px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 239px;
	height: 239px;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	z-index: 50;
}

/* recommendSection
-------------------------------------------------- */
.oec-recommendCombi .oec-column {
	padding-bottom: 5px;
	background: url(/contents/shared/images/bg_blue_2.png) repeat left top;
}

/* recommendCombi */
.oec-recommendCombiBox {
	margin: 0 5px;
	padding: 14px 8px 7px;
	background: #ffffff;
}
.oec-recommendCombiBox .oec-recommendItemBlock {
	margin-bottom: 10px;
	background: url(/contents/shared/images/top/bg_recommend_1.png) no-repeat center 68px;
}
.oec-recommendCombiBox .oec-recommendItemBlock:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
.oec-recommendCombiBox .oec-recommendItemBox {
	width: 218px;
	text-align: center;
}
.oec-recommendCombiBox .oec-recommendItemBox .oec-recommendItemImg {
	margin-bottom: 10px;
}
.oec-recommendCombiBox .oec-recommendCommentBlock {
	padding: 8px;
	background: #ccf0f5;
	border-radius: 4px;
	text-align: center;
	color: #333333;
	position: relative;
}
.oec-recommendCombiBox .oec-recommendCommentBlock:before {
	content: ' ';
	width: 16px;
	height: 12px;
	margin-left: -6px;
	position: absolute;
	left: 50%;
	top: -12px;
	background: url(/contents/shared/images/top/bg_recommend_2.png) top left repeat;
}

/* communitySiteBlock
-------------------------------------------------- */
.oec-communitySiteBlock {
	background: url(/contents/shared/images/top/bg_kikulabo.png) top left repeat;
}
.oec-communitySiteBlock .oec-twoColumn1 {
	float: left;
}
.oec-communitySiteBlock .oec-twoColumn2 {
	float: right;
}

/* kikulaboBlock
-------------------------------------------------- */
.oec-kikulaboBlock {
	padding-bottom: 10px;
}
.oec-kikulaboBlock .oec-kikulaboTxt {
	margin: 0 10px;
	padding: 0;
}

.oec-kikulaboNews {
	padding: 15px 15px 10px;
}

.oec-kikulaboNewsBox {
	padding: 15px 10px 10px;
	color: #333333;
	border-bottom: 1px dotted #7f7f7f;
}
.oec-kikulaboNewsBox:last-child {
	border-bottom: 0;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsImg {
	padding: 0 23px 0 0;
	display: table-cell;
	vertical-align: top;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsTxt {
	display: table-cell;
	vertical-align: top;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsCategory {
	margin-bottom: 6px;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsIcoCategory {
	padding-right: 12px;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsIcoCategory img {
	vertical-align: top;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsUpdate {
	font-size: 12px;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsTitle {
	margin-bottom: 2px;
	font-size: 16px;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsDescription {
	font-size: 12px;
}
.oec-kikulaboNewsBox .oec-kikulaboNewsDescription a {
	color: #666;
}

.oec-kikulaboQuestionBlock {
	padding: 10px;
	background: #f9e7ec;
}

.oec-kikulaboQuestionBox {
	padding: 7px 10px 10px;
	border: 2px solid #edb2c0;
	border-radius: 4px;
	background: #ffffff;
}
.oec-kikulaboQuestionBox .oec-kikulaboQuestionTitle {
	margin-bottom: 10px;
	background: url(/contents/shared/images/top/bg_line_dot_1.png) repeat-x left bottom;
}
.oec-kikulaboQuestionBox .oec-kikulaboQuestionTitle span {
	padding: 9px 0 9px 38px;
	display: block;
	background: url(/contents/shared/images/top/bg_kikulabo_titile_1.png) no-repeat left 2px;
}
.oec-kikulaboQuestionBox .oec-kikulaboQuestionList {
	margin: 0;
}
.oec-kikulaboQuestionBox .oec-kikulaboQuestionList li {
	list-style: none;
	display: inline-block;
	width: 49%;
}
.oec-kikulaboQuestionBox .oec-kikulaboBtn li {
	margin-bottom: 0;
	width: 225px;
}

/* oec-kuchikomiArea
-------------------------------------------------- */
.oec-kuchikomiBlock {
	padding-bottom: 33px;
	position: relative;
	z-index: 1;
}
.oec-kuchikomiBlock #kuchikomiCarouselPanelPrev,

.oec-kuchikomiBlock #kuchikomiCarouselPanelNext {
	width: 100%;
	height: 12px;
	position: absolute;
	left: 0;
	cursor: pointer;
	z-index: 2;
}
.oec-kuchikomiBlock #kuchikomiCarouselPanelPrev {
	top: 61px;
	background: url(/contents/shared/images/top/ico_arrow_kuchikomi_1.png) top center no-repeat;
}
.oec-kuchikomiBlock #kuchikomiCarouselPanelNext {
	bottom: 4px;
	background: url(/contents/shared/images/top/ico_arrow_kuchikomi_2.png) top center no-repeat;
}

/* kuchikomiBlock
-------------------------------------------------- */
.oec-kuchikomiBlock h3 {
	display: table-cell;
	vertical-align: top;
}
.oec-kuchikomiBlock .oec-kuchikomiSearch {
	padding-top: 16px;
	padding-left: 20px;
	display: table-cell;
	vertical-align: top;
}
.oec-kuchikomiBlock .kuchikomi_kw {
	padding: 2px;
	position: relative;
	width: 216px;
	height: 30px;
	padding: 0 0 0 20px;
	background: url(/contents/shared/images/top/search_icon.png) no-repeat 0 0 white;
	border: 1px solid #cccccc;
	border-radius: 2px;
	vertical-align: top;
	outline: none;
}
.oec-kuchikomiBlock .oec-kuchikomiSearchInput {
	display: table-cell;
	vertical-align: top;
}
.oec-kuchikomiBlock .oec-kuchikomiSearchButton {
	padding-left: 9px;
	display: table-cell;
	vertical-align: top;
}
.oec-kuchikomiBlock .oec-kuchikomiSearchButton input[type="submit"] {
	border-width: 1px 1px 2px 1px;
	border-color: #af5328;
	border-style: solid;
	background: #e96f35;
	height: 30px;
	vertical-align: top;
	color: #ffffff;
}

.oec-kuchikomiBox {
	margin: 0 auto 7px;
	border: 1px solid #cccccc;
	background: #ffffff;
	color: #333333;
}
.oec-kuchikomiBox .oec-kuchikomiImgBlock {
	padding: 10px 15px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 139px;
}
.oec-kuchikomiBox .oec-kuchikomiImg {
	font-size: 12px;
}
.oec-kuchikomiBox .oec-kuchikomiImg a {
	display: block;
}
.oec-kuchikomiBox .oec-kuchikomiImg .oec-image {
	margin-bottom: 5px;
}
.oec-kuchikomiBox .oec-kuchikomiComment {
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #7f7d78;
}
.oec-kuchikomiBox .oec-kuchikomiCommentTit {
	margin-bottom: 5px;
	color: #f4763a;
	font-weight: bold;
}
.oec-kuchikomiBox .oec-kuchikomiCommentTxt {
	font-size: 12px;
}
.oec-kuchikomiBox .oec-kuchikomiCommentBlock {
	padding: 10px 15px 11px 16px;
	display: table-cell;
	vertical-align: top;
	background: #fffaf1 url(/contents/shared/images/top/bg_kuchikomi_1.png) no-repeat left center;
}
.oec-kuchikomiBox .oec-kuchikomiPerson {
	font-size: 12px;
}
.oec-kuchikomiBox .oec-kuchikomiPersonImg {
	padding-right: 14px;
	display: table-cell;
	vertical-align: top;
}
.oec-kuchikomiBox .oec-kuchikomiPersonData {
	display: table-cell;
	vertical-align: middle;
}

/* sideOnlyYouBlock
-------------------------------------------------- */
.oec-sideOnlyYouBlock {
	margin-bottom: 20px;
}
.oec-sideOnlyYouBlock .oec-sideOnlyYouTitle {
	margin-bottom: 5px;
	padding: 10px;
	background: #ccf0f5;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	position: relative;
}
.oec-sideOnlyYouBlock .oec-sideOnlyYouTitle:after {
	margin-left: -15px;
	content: " ";
	width: 29px;
	height: 8px;
	position: absolute;
	bottom: -8px;
	left: 50%;
	background: url(/contents/shared/images/bg_sideonlyyou_1.png) no-repeat left top;
}
.oec-sideOnlyYouBlock .oec-link {
	margin-top: 5px;
	font-size: 12px;
}
.oec-sideOnlyYouBlock .oec-link li a {
	padding-left: 14px;
	background: url(/contents/shared/images/ico_link_arrow_1.png) left center no-repeat;
	text-decoration: none;
}
.oec-sideOnlyYouBlock .oec-link li a:hover {
	text-decoration: underline;
}

.oec-sideOnlyYoubox {
	border-bottom: 1px dotted #000000;
}
.oec-sideOnlyYoubox:nth-child(4) {
	border-bottom: none;
}
.oec-sideOnlyYoubox a {
	padding: 10px 0;
	display: block;
	text-decoration: none;
}
.oec-sideOnlyYoubox .oec-itemImage {
	padding-right: 12px;
	display: table-cell;
	vertical-align: top;
}
.oec-sideOnlyYoubox .oec-itemTxt {
	display: table-cell;
	vertical-align: top;
}
.oec-sideOnlyYoubox .oec-itemIcoInfo:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
.oec-sideOnlyYoubox .oec-itemIcoBlock {
	display: table-cell;
}
.oec-sideOnlyYoubox .oec-itemIcoInfoTxt {
	display: table-cell;
	vertical-align: middle;
}
.oec-sideOnlyYoubox .oec-itemIcoPoint .oec-itemIco {
	background: #00b6ce;
}
.oec-sideOnlyYoubox .oec-itemIcoPoint .oec-itemIcoInfoTxt {
	color: #00b6ce;
}
.oec-sideOnlyYoubox .oec-itemIcoCamp .oec-itemIco {
	background: #dd5588;
	font-size: 11px;
}
.oec-sideOnlyYoubox .oec-itemIcoCamp .oec-itemIcoInfoTxt {
	color: #dd5588;
}
.oec-sideOnlyYoubox .oec-itemTxtBlock {
	padding-top: 5px;
	clear: both;
	font-size: 12px;
}
.oec-sideOnlyYoubox .oec-itemAddcomment {
	margin-bottom: 2px;
	font-weight: bold;
}
.oec-sideOnlyYoubox .oec-itemName {
	text-decoration: underline;
}

.oec-twoColumnSidebar .oec-rankingBlock {
	margin: 0 0 20px;
}
.oec-twoColumnSidebar .oec-rankingBlock .oec-title {
	padding: 6px 10px;
	background: url(/contents/shared/images/top/ranking_title_bg_1.gif) top left repeat;
}
.oec-twoColumnSidebar .oec-rankingBlock .oec-title span {
	padding: 1px 0 0 40px;
	font-size: 16px;
	line-height: 27px;
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
	background: url(/contents/shared/images/top/ranking_title_bg_2.png) 0 center no-repeat;
}
.oec-twoColumnSidebar .oec-rankingBlock ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li {
	padding: 0;
	margin: 0;
	position: relative;
	background: #ffffff url(/contents/shared/images/top/ranking_list_bg.gif) left bottom repeat-x;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li a {
	min-height: 103px;
	padding: 0 0 17px;
	text-decoration: none;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li a:hover .oec-itemName {
	color: #0088aa;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li a:hover .oec-image img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-table-img {
	width: 62px;
	padding: 11px 12px 0 0;
	vertical-align: top;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-table-img .oec-rankingIco {
	padding: 0 0 4px;
	display: block;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-table-img .oec-image {
	padding: 0;
	display: block;
	background: #000000;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-table-txt {
	width: 179px;
	padding: 11px 0 18px;
	vertical-align: top;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-table-txt .oec-itemAddcomment {
	font-size: 12px;
	line-height: 1.333;
	color: #000000;
	font-weight: bold;
	display: block;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-table-txt .oec-itemName {
	margin-bottom: 3px;
	font-size: 12px;
	line-height: 1.333;
	color: #000000;
	display: block;
	text-decoration: underline;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-table-txt .oec-itemPrice {
	font-size: 12px;
	line-height: 1.5;
	color: #333333;
	display: block;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-itemTxtBlock {
	width: 179px;
	font-size: 12px;
	line-height: 1.5;
	color: #333333;
	position: absolute;
	bottom: 17px;
	right: 0;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-itemTxtBlock .oec-itemReviewIco {
	vertical-align: baseline;
	line-height: 18px;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-itemTxtBlock .oec-itemReviewIco img {
	vertical-align: middle;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-itemTxtBlock a {
	text-decoration: underline;
}
.oec-twoColumnSidebar .oec-rankingBlock ul li .oec-itemTxtBlock a:hover {
	color: #0088aa;
}

.oec-pickup ul.oec-itemBlock {
	margin: 0;
	padding: 8px 3px 16px 20px;
	list-style: none;
	background: #d6f3f7;
}
.oec-pickup ul.oec-itemBlock li {
	width: 143px;
	margin: 0 5px 0 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.3571428;
	font-weight: bold;
	text-align: center;
	float: left;
}
.oec-pickup ul.oec-itemBlock li a {
	padding: 150px 12px 0 0;
	color: #000000;
	display: block;
	text-decoration: underline;
}
.oec-pickup ul.oec-itemBlock li a:hover {
	color: #0088aa;
}
.oec-pickup ul.oec-itemBlock li.oec-itemSkinCare a {
	background: url(/contents/shared/images/top/pickup_img_1.png) top center no-repeat;
}
.oec-pickup ul.oec-itemBlock li.oec-itemCosmetics a {
	background: url(/contents/shared/images/top/pickup_img_2.png) top center no-repeat;
}
.oec-pickup ul.oec-itemBlock li.oec-itemDiet a {
	background: url(/contents/shared/images/top/pickup_img_3.png) top center no-repeat;
}
.oec-pickup ul.oec-itemBlock li.oec-itemBeautySupplement a {
	background: url(/contents/shared/images/top/pickup_img_4.png) top center no-repeat;
}
.oec-pickup ul.oec-itemBlock li.oec-itemBodyWear a {
	background: url(/contents/shared/images/top/pickup_img_5.png) top center no-repeat;
}
