/* oec-localNavType3
-------------------------------------------------- */
.oec-localNavType3 {
	margin: 15px 0 25px;
}

.oec-localNavType3 .oec-contentArea {
	background: #eaf9fb;
}

.oec-localNavType3 ul {
	margin: 0;
	list-style: none;
}

.oec-localNavType3 ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	font-size: 0;
}

.oec-localNavType3 li {
	margin: 0;
	float: left;
}

.oec-localNavType3 li.oec-lnav1 {
	text-indent: -9999px;
	overflow: hidden;
}

.oec-localNavType3 li.oec-lnav1 a {
	width: 261px;
	height: 82px;
	display: block;
	background: url(/contents/images/top/f0/bg_lnav_3.png) 0 0 no-repeat;
}

.oec-localNavType3 li.oec-lnav2 {
	text-indent: -9999px;
	overflow: hidden;
}

.oec-localNavType3 li.oec-lnav2 a {
	width: 221px;
	height: 82px;
	display: block;
	background: url(/contents/images/top/f0/bg_lnav_3.png) -261px 0 no-repeat;
}

.oec-localNavType3 li.oec-lnav3 {
	text-indent: -9999px;
	overflow: hidden;
}

.oec-localNavType3 li.oec-lnav3 a {
	width: 221px;
	height: 82px;
	display: block;
	background: url(/contents/images/top/f0/bg_lnav_3.png) -482px 0 no-repeat;
}

.oec-localNavType3 li.oec-lnav4 {
	padding: 21px 15px 0;
}

.oec-localNavType3 li.oec-lnav4 li {
	width: 291px;
}

.oec-localNavType3 li.oec-lnav4 a {
	width: 100%;
	display: block;
}

/* oec-btnColorType7
-------------------------------------------------- */
.oec-btnBlock .oec-btnColorType7 {
	font-weight: bold;
}

.oec-btnBlock .oec-btnColorType7 a {
	padding: 4px 36px 4px 27px;
	border-style: solid;
	border-width: 1px 1px 3px;
	text-decoration: none;
	border-color: #00889a;
	background: #00b6ce url(/contents/images/top/f0/ico_arrow_btn_1.png) no-repeat right center;
	color: #ffffff;
}

.oec-btnBlock .oec-btnColorType7 a:hover {
	background: #07a8bd url(/contents/images/top/f0/ico_arrow_btn_1.png) no-repeat right center;
}

/* oec-shoppingRecommendedSection
-------------------------------------------------- */
.oec-shoppingRecommendedSection {
	margin: 0 0 30px;
}

.oec-shoppingRecommendedSection .oec-contentArea {
	padding: 10px;
	background: #f2f0dd;
	border-top: 2px solid #d9ca26;
}

.oec-shoppingRecommendedSection .oec-contentArea .oec-titStyle1 {
	margin-bottom: 11px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	background: none;
}

.oec-shoppingRecommendedSection .oec-contentArea .oec-titStyle1 span {
	padding: 0;
	background: none;
}

.oec-shoppingRecommendedSection .oec-contentArea ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}

.oec-shoppingRecommendedSection .oec-contentArea li {
	padding: 0;
	margin: 0;
	float: left;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

/* oec-attentionRankingsSection
-------------------------------------------------- */
.oec-attentionRankingsSection .oec-titStyle1 {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	background: #f2f0dd;
	border-top: 2px solid #b2a156;
}

.oec-attentionRankingsSection .oec-titStyle1 span {
	padding: 8px 34px 9px;
	display: inline-block;
	background: none;
	position: relative;
}

.oec-attentionRankingsSection .oec-titStyle1 span:before {
	content: ' ';
	width: 24px;
	height: 20px;
	margin-top: -12px;
	position: absolute;
	left: 0;
	top: 50%;
	background: url(/contents/images/top/f0/ico_ranking_4.png) top left repeat;
}

.oec-attentionRankingsSection .oec-titStyle1 span:after {
	content: ' ';
	width: 24px;
	height: 20px;
	margin-top: -12px;
	position: absolute;
	right: 0;
	top: 50%;
	background: url(/contents/images/top/f0/ico_ranking_4.png) top left repeat;
}

.oec-attentionRankingsSection .oec-skinCare {
	padding: 10px;
	margin: 40px 0 0;
	background: #d9f4f8;
}

.oec-attentionRankingsSection .oec-skinCare .oec-btnBlock .oec-btn li {
	width: 331px;
	margin: 0 0 10px;
}

.oec-attentionRankingsSection .oec-skinCare .oec-btnBlock .oec-btn li a {
	padding: 4px 36px 5px 27px;
}

.oec-attentionRankingsSection .oec-skinCare .oec-titStyle4 {
	padding: 3px 15px 9px;
	font-size: 22px;
	position: relative;
}

.oec-attentionRankingsSection .oec-skinCare .oec-titStyle4:after {
	content: ' ';
	border-top: 17px solid #d9f4f8;
	border-right: 16px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 16px solid transparent;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -16px;
}

.oec-attentionRankingsSection .oec-skinCare .oec-titStyle4 span {
	padding: 0 0 0 55px;
	background: url(/contents/images/top/f0/ico_check_1.png) no-repeat left 12px;
}

.oec-attentionRankingsSection .oec-skinCare .oec-titStyle4 small {
	font-size: 14px;
	font-weight: normal;
}

.oec-attentionRankingsSection .oec-skinCare .oec-image {
	padding: 0;
	margin: 0 0 10px;
	display: block;
	background: #000000;
}

a:hover .oec-attentionRankingsSection .oec-skinCare .oec-image img,
.oec-attentionRankingsSection .oec-skinCare .oec-image a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}

.oec-attentionRankingsSection .oec-skinCare .oec-bnrBlock {
	padding: 20px;
	margin: 0;
	list-style: none;
	background: #ffffff;
}

.oec-attentionRankingsSection .oec-skinCare .oec-bnrBlock li {
	width: 472px;
	margin: 0 20px 0 0;
	float: left;
	background: none;
}

.oec-attentionRankingsSection .oec-skinCare .oec-bnrBlock li:last-child {
	margin: 0;
}

.oec-attentionRankingsSection .oec-skinCare .oec-bnrBlock li a {
	color: #333333;
	text-decoration: none;
}

.oec-attentionRankingsSection .oec-skinCare .oec-bnrBlock li a:hover {
	color: #0088aa;
}

.oec-attentionRankingsSection .oec-skinCare .oec-bnrBlock li a .oec-strongType1 {
	color: #000000;
}

/* oec-f0Section
-------------------------------------------------- */
.oec-f0Section .oec-titStyle1 {
	margin-bottom: 15px;
}

.oec-f0Section .oec-titStyle1 span {
	padding: 4px 0 12px 40px;
	background-position: left 5px;
}

.oec-f0Section .oec-commentBox {
	padding: 7px 26px 8px;
	margin: 0 0 15px;
	text-align: center;
	border-radius: 4px;
	position: relative;
}

.oec-f0Section .oec-commentBox:after {
	content: ' ';
	width: 34px;
	height: 9px;
	margin-left: -17px;
	position: absolute;
	left: 50%;
	bottom: -9px;
}

.oec-f0Section .oec-commentBox p {
	font-size: 12px;
	line-height: 1.333;
}

.oec-f0Section .oec-itemBlock .oec-itemImageBlock {
	width: 180px;
	height: 180px;
	overflow: hidden;
	border: 1px solid #dddddd;
}

.oec-f0Section .oec-itemBlock .oec-itemImageBlock img {
	width: 180px;
	margin: -1px;
}

.oec-f0Section .oec-itemBlock .oec-itemBoxHoverTxt {
	height: 100%;
}

.oec-f0Section .oec-itemBlock .oec-itemImageBlock2 {
	height: auto;
}

.oec-f0Section .oec-itemBlock .oec-itemImageBlock2 .oec-itemImageBlock {
	height: auto;
	border: none;
}

.oec-f0Section .oec-itemBlock .oec-itemImageBlock2 .oec-itemImageBlock img {
	margin: 0;
}

.oec-f0Section .oec-pickUp {
	margin: 0 0 10px;
	padding: 2px 0 1px;
	font-size: 12px;
	line-height: 1.5;
	color: #f27000;
	text-align: center;
	border-radius: 11px/11px 11px 10px 10px;
	background: #ffffff;
	border: solid 2px #ff7a07;
	position: relative;
}

.oec-f0Section .oec-pickUp:before {
	content: ' ';
	border-top: 8px solid #ff7a07;
	border-right: 7px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 7px solid transparent;
	position: absolute;
	left: 50%;
	bottom: -16px;
	margin-left: -7px;
}

.oec-f0Section .oec-pickUp:after {
	content: ' ';
	border-top: 6px solid #ffffff;
	border-right: 5px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	left: 50%;
	bottom: -11px;
	margin-left: -5px;
}

.oec-f0Section .oec-pickUpCommentBox {
	font-size: 12px;
	line-height: 1.5;
}

.oec-f0Section .oec-pickUpCommentBox a {
	display: inline;
}

.oec-f0Section.oec-f0Section1 .oec-titStyle1 {
	background: url(/contents/images/top/f0/bg_title_dot_2.png) repeat-x left bottom;
}

.oec-f0Section.oec-f0Section1 .oec-titStyle1 span {
	background-image: url(/contents/images/top/f0/ico_title_2.png);
}

.oec-f0Section.oec-f0Section1 .oec-commentBox {
	background-color: #deeede;
}

.oec-f0Section.oec-f0Section1 .oec-commentBox:after {
	background: url(/contents/images/top/f0/bg_comment_1.png) top left no-repeat;
}

.oec-f0Section.oec-f0Section1 .oec-commentBox p {
	color: #58a658;
}

.oec-f0Section.oec-f0Section2 .oec-titStyle1 {
	background: url(/contents/images/top/f0/bg_title_dot_3.png) repeat-x left bottom;
}

.oec-f0Section.oec-f0Section2 .oec-titStyle1 span {
	background-image: url(/contents/images/top/f0/ico_title_3.png);
}

.oec-f0Section.oec-f0Section2 .oec-commentBox {
	background-color: #f7efdb;
}

.oec-f0Section.oec-f0Section2 .oec-commentBox:after {
	background: url(/contents/images/top/f0/bg_comment_2.png) top left no-repeat;
}

.oec-f0Section.oec-f0Section2 .oec-commentBox p {
	color: #c08c00;
}