@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 400;
	src:
		local('Droid Serif'),
		local('DroidSerif'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaGfQcKutQXcIrRfyR5jdjY8.eot */
		url('Droid_Serif_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff */
		url('Droid_Serif_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2 */
		url('Droid_Serif_400.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=0AKsP294HTD-nvJgucYTaHNsigHlcrQGNV8nkUSFQfc&skey=a46d7e8bf49adcd6#DroidSerif */
		url('Droid_Serif_400.svg#DroidSerif') format('svg'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaJ0EAVxt0G0biEntp43Qt6E.ttf */
		url('Droid_Serif_400.ttf') format('truetype');
}
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 700;
	src:
		local('Droid Serif Bold'),
		local('DroidSerif-Bold'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwbFt29aCHKT7otDW9l62Aag.eot */
		url('Droid_Serif_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff */
		url('Droid_Serif_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwYlIZu-HDpmDIZMigmsroc4.woff2 */
		url('Droid_Serif_700.woff2') format('woff2'),
		/* from http://fonts.gstatic.com/l/font?kit=QQt14e8dY39u-eYBZmppwXtNmQEE9wZ6UZlmiISB1pg&skey=e8de471aca8a4d53#DroidSerif */
		url('Droid_Serif_700.svg#DroidSerif') format('svg'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwZ_TkvowlIOtbR7ePgFOpF4.ttf */
		url('Droid_Serif_700.ttf') format('truetype');
}
