/* CSS Document   */
@import "packaged/css/screen.css";

/* search component */
div.search {
    padding:0 1px 0 0;
}

/*-FORMS-*/
.input input, .ta{
    height:18px;
    padding:2px 0 0 0;
    margin:0 0 0 0;
    border:none;
    background:#8EBFD3;
    color:#373737;
}
.ta {
    height:111px;
    overflow:auto;
    padding:5px 0 0 0;
    margin:0 0 20px 0;
}
.eq_height {height:31px;}

div.element {
    margin-bottom: 2px;
}

.form_1 {
    border-top:1px solid #D9D9D9;
    background:#F0F0F0;
    padding:17px 34px 16px 8px;
}
.form_1 .link_1 {
    background:url(images/bullet1.gif) 0 0 no-repeat;
    padding:0 0 0 10px;
    color:#14729E;
    font:normal 10px Tahoma;
}
.form_1 input {
    border:1px solid #A1A1A1;
    width:180px;
    height:17px;
    margin:0 0 13px 0;
}
form .form_field_text {
    margin-bottom: 4px;
    width: 334px;
}
.form_row {
    clear: both;
    width: 100%;
    line-height: normal;
    padding-top: 10px;
    text-align: left;
		display: block;
}

.form_leftcol {
    line-height: normal;
    text-align: left;
}

form .form_leftcollabel {
    float: left;
		font-weight: bold;
}
.form_leftcolmark {
    float: left;
    font-weight: bold;
    padding-left: 2px;
		color: #f00;
}

.form_rightcol {
    line-height: normal;
    text-align: left;
		clear: both;
}
form .form_row_description {
    clear: both;
    color: #666666;
    font-size: 11px;
    line-height: 12px;
}

form div.image .form_row_description {
	margin-left: 0;
}

.form_rightcol_left {
    float: left;
    width: 105px;
}

.form_rightcol_middle {
    float: left;
    width:23px;
}

.form_rightcol_right {
    float: left;
    width: 105px;
}

div.form_captchatimer {
    float: left;
    border: 1px solid #CCCCCC;
}

div.form_captchatimer_bar {
    float: left;
    background-color:#CCCCCC;
    height: 8px;
}

div.form_captcha_input {
    float: left;
    vertical-align: baseline;
    padding-top: 4px;
}

div.form_captcha_img {
    float: left;
    vertical-align: baseline;
    padding-left: 4px;
    padding-right: 4px;
}

div.form_captcha_refresh {
    float: left;
    padding-top: 4px;
}

/*-LINKS-*/
.link_1 {
    background:url(images/bullet2.gif) 0 0 no-repeat;
    font:normal 11px Tahoma;
    color:#FFF;
    padding:0 0 0 12px;
}

.link_2 {
    background:url(images/bullet5.gif) 0 0 no-repeat;
    font:normal 11px Tahoma;
    color:#4F960F;
    padding:0 0 0 12px;
}

div.tagcloud {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.fullcontent div.text div.text { margin:0 0 15px 0; line-height:1.5; }

/* textimage component */

div.image {
    float:left; 
    display:inline;
    padding: 0 0 20px 0;
}
div.image.right {
    float:right; 
    display:inline;
    padding: 0 0 20px 0;
}
.image_left {
    float: left;
}
.image_right {
    float: right !important;
}
div.textimage div.image_right {
    margin: 0 0 8px 8px;
}

/*div.cq-colctrl-thesource {}
div.cq-colctrl-thesource-c0 { width: 190px; padding-right: 25px; }
div.cq-colctrl-thesource-c1 { width: 435px; padding-right: 25px; }
div.cq-colctrl-thesource-c2 { width: 293px; }*/