BODY.vt2PopUp HR{color:#ccc;background-color:#ccc;height:1px;border:0;padding:0}
BODY.vt2PopUp .popUpBody{width:100%}
BODY.vt2PopUp P.standardHeader{margin-top:0}
#v2popup{padding:10px;margin:5px;text-align:center;border:solid 2px #c00}
#v2popup h1.car{color:#fff;font:normal bold 18px/29px Arial;padding-left:40px;margin:0 3px 0 0;background:#c00 url("/y/static/images/car-rentals/EPM037-popup-car-image.gif?ver=dffd40e7") no-repeat top left}
#v2popup h1.air{color:#fff;font:normal bold 18px/21px Arial;padding-left:40px;padding-top:3px;margin:0;background:#c00 url("/y/static/images/air/air-partners-icon.gif?ver=28506414") no-repeat top left}
#v2popup h1.hotel{color:#fff;font:normal bold 18px/29px Arial;padding-left:40px;margin:0;background:#c00 url("/y/static/images/hotel/hotel-partners-icon.gif?ver=7d9a077b") no-repeat top left}
#v2popup h1.package{color:#c00;font:normal bold 22px/22px Arial;margin:0;padding-bottom:10px;border-bottom:solid 1px #999}
#v2popup h1.deals{color:#c00;font:normal bold 23px Arial;padding-bottom:5px;margin:0;border-bottom:1px solid #999}
#v2popup h1{color:#c00;font:normal bold 23px Arial;padding-bottom:5px;margin:0;border-bottom:1px solid #999}
#v2popup .content{padding:10px 10px 10px 0}
#v2popup .disc{font-weight:normal;font-style:italic;color:#333}.FareFinderComp .content{min-height:438px}
* HTML .FareFinderComp .content{height:438px}
#emlRcap{width:386px;margin:0;padding:0 0 0 20px;border:0}
#emlRcap .con{width:341px;margin:0 0 0 25px;padding:0;border:0}
#emlRcap .con p{margin:0;padding:0 0 15px 0;border:0}
#emlRcap #eml{float:left;width:210px;margin:0;padding:0;border:0}
#emlRcap #eml input{width:200px;margin:3px 0 0 0}
#emlRcap #zip{float:left;width:75px;margin:0;padding:0;border:0}
#emlRcap #zip input{width:55px;margin:3px 0 0 0}
#emlSbmt{float:left;width:85px;margin:0;padding:12px 0 0 0}
#emlRcap a{text-decoration:none}
#emlRcap a:hover{text-decoration:underline}
#emlRcap .lftCol{float:left;display:inline;width:145px;margin:0 8px 0 25px;padding:0;border:0}
#emlRcap .rtCol{float:left;display:inline;width:145px;margin:0;padding:0;border:0}
#emlRcap .lftCol h3,#emlRcap .rtCol h3{margin:0;padding:0 0 5px 0}
#emlRcap .lftCol ul,#emlRcap .rtCol ul{margin:0;padding:0}
#emlRcap .lftCol li,#emlRcap .rtCol li{margin:0 0 0 16px;padding:0 0 5px 0}
.uhpPage .globalFooterWrapper.split{margin-top:0}
.uhpPage .OpinionLabComp .homePageTripAdvisorLogo{padding-bottom:10px}
.uhpPage .OpinionLabComp{margin:0}
.uhpPage .OpinionLabComp div.homePageOpinionLab{margin:7px}
.uhpPage .mesoBanner{padding:15px 15px 10px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0}