
	img{border:none;}
	pre{
		display:block;
		font:12px "Courier New", Courier, monospace;
		padding:10px;
		border:1px solid #bae2f0;
		background:#e3f4f9;	
		margin:.5em 0;
		width:674px;
		}	
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
	#container{	
		margin:0 auto;
		position:relative;
		text-align:center;
		width:960px;
		height: 364px;
		background:#fff;		
		margin-bottom:2em;
		}	
	#header{
		height:80px;
		line-height:80px;
		background:#5DC9E1;
		color:#fff;
		}				
	#content{
		position:relative;
		}			

/* Easy Slider */
	#slider {
		width:960px;
		height:364px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:960px;
		height:364px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		/*background:url(../images/btn_prev.gif) no-repeat 0 0;	*/
		}	
	#nextBtn a, #slider1next a{ 
		/*background:url(../images/btn_next.gif) no-repeat 0 0;	*/
		}	
		
	/* numeric controls */	

	ol#controls{
		padding:0px;
		margin-top: -40px;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		text-align: center;
		}
	ol#controls li{
		text-align: center;
		margin:0px 14px; 
		padding:0px;
		list-style:none;
		height:12px;
		width: 12px;
		position: relative;
		display: inline-block;
		zoom:1;
		*display:inline;
		}
	ol#controls li a{
		display: block;
		width: 12px;
		height:12px;
		text-indent: -9999px;
		text-decoration:none;
		background: url(../img/global/pip_off.png) no-repeat;
		}
	ol#controls li.current a{
		background: url(../img/global/pip_on.png) no-repeat;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */

