.most-viewed{background:#f3f3f3}
.most-viewed .content-inner{width:320px;margin:0 auto;padding-bottom:30px;padding-top:15px}
.most-viewed-tout-container .header-text{font-family:"PNC Sans Bold";font-size:25px;color:#484848;padding:10px 0;line-height:normal;text-align:center;border-bottom:1px solid #e3e3e3}
.most-viewed-tout-container .header-none{height:25px}
.most-viewed-teaser{position:relative;text-align:center;height:100%}
.most-viewed-teaser a{display:block;height:100%}
.most-viewed-teaser a:hover{cursor:pointer}
.most-viewed-teaser p,.most-viewed-teaser img{position:absolute}
.most-viewed-teaser p.heading{top:5px;left:0;z-index:10;width:141px;text-align:center;font-size:13px;color:#333;font-family:"PNC Sans Medium"}
.most-viewed-teaser p.link{top:86px;left:0;z-index:10;width:141px;text-align:center;font-family:arial;font-weight:bold;color:#484848;font-size:10px}
.most-viewed-teaser .link a{color:#484848;background:url(../img/icon_most_viewed_link.gif) no-repeat center right;padding-right:10px}
.most-viewed-teaser img{top:0;left:0;bottom:0;margin:auto;right:0;z-index:5}
#mv{margin:0 auto;width:282px}
#mvWrapper{position:absolute;width:100%}
#mv #mvTop{display:none}
#mv #mvBody{height:126px;overflow:hidden}
#mv #mvBody #ribbonBottom{display:none}
#mv #mvBody #arrowLeft,#mv #mvBody #arrowRight{display:none}
#mv .mv-dots{margin:10px auto;text-align:center;height:auto;width:auto}
#mv .mv-dots div{width:23px;height:12px;display:inline-block;text-indent:-99px;margin:0;background:url(../img/swipe_slider_marker.png) no-repeat center top;overflow:hidden}
#mv .mv-dots div.selected{background-position:center bottom}
#mv #mvBody #stage{height:126px;width:282px;overflow:hidden;float:left;position:relative}
#mv .most-viewed-tout{padding:0;padding-top:10px;margin:0;height:126px;width:141px;float:left;background:#fff}
#mv #mvBottom{display:none}
@media only screen and (min-width:600px){.most-viewed .content-inner{width:600px}
.most-viewed-tout-container .header-text{border:0;padding:0;padding-top:1em}
.most-viewed .content-inner h2{display:none}
.cq-wcm-edit .most-viewed .content-inner h2{display:block}
#mv{margin:20px auto;width:470px}
#mv #mvTop{display:block;height:5px;background:url(../img/mv_tablet_ribbonTop.gif) no-repeat}
#mv #mvBody #ribbonBottom{display:block;width:114px;height:126px;float:left;background:url(../img/mv_tablet_ribbonBottom.gif)}
#mv #mvBody #arrowLeft,#mv #mvBody #arrowRight{display:block;height:126px;float:left;cursor:pointer}
#mv #mvBody #arrowLeft{width:21px;background:url(../img/mv_tablet_arrowLeft.gif)}
#mv #mvBody #arrowRight{width:22px;background:url(../img/mv_tablet_arrowRight.gif)}
#mv #mvBody #stage{width:423px}
#mv .mv-dots{display:none}
#mv #mvBottom{display:block;height:8px;width:470px;background:url(../img/mv_tablet_dropDownShadow.gif)}
}
@media only screen and (min-width:980px){.most-viewed .content-inner{width:940px}
.most-viewed-teaser p.heading,.most-viewed-teaser p.link{width:150px}
#mv{margin:20px auto;width:940px}
#mv #mvBody #arrowLeft,#mv #mvBody #arrowRight{display:none;background:0}
#mv #mvBody{background-color:#fff}
#mv #mvBody #stage{width:900px;margin-left:15px}
#mv .most-viewed-tout{width:150px}
#mv .mv-dots{display:none}
#mv #mvBottom{display:block;height:7px;background:url(../img/mv_desktop_dropDownShadow.gif);width:100%}
}