.promo-parsys{background:#f1f1f1 url(../img/shadow_section_separator_up.png) no-repeat top center;padding-top:6px}
.promo-parsys .promo{background:#fff;padding:0 10px}
.promo-parsys .content-inner{padding:15px 5px;overflow:hidden}
.promo-parsys h2{font:normal 25px/23px "PNC Sans Bold",Arial;background:url(../img/shadow_promo_heading_desktop.png) no-repeat bottom;background-size:100% 5px;padding:20px 0 16px;margin:0 0 25px;color:#484848}
.promo-parsys .summary h3{font:bold 25px/1.1em "PNC Sans Bold",Arial,sans-serif;margin:0}
.promo-parsys .summary{text-align:center}
.promo-parsys .video{padding-bottom:10px}
.promo-parsys .summary .description{font-size:12px;color:#7b7b7b;line-height:18px;padding:5px 0 18px 0}
.promo-parsys .summary .description p{margin:0;padding:0}
.promo-parsys .video-promo,.promo-parsys .image-promo{height:200px;overflow:hidden}
.promo-parsys .video-promo img,.promo-parsys .image-promo img{height:100%;width:100%}
@media only screen and (min-width:600px){.promo-parsys .content-inner{padding-top:20px;padding-bottom:35px;width:600px;margin:0 auto}
.promo-parsys .video-promo,.promo-parsys .image-promo{width:280px;height:159px;float:left}
.promo-parsys .summary{float:right;width:310px}
}
@media only screen and (min-width:980px){.promo-parsys .content-inner{width:940px}
.promo-parsys .video-promo,.promo-parsys .image-promo{width:460px;height:261px}
.promo-parsys .summary{padding-top:50px;width:440px}
}