@font-face {
  font-family: 'Oswald';
  src: url("/Content/Styles/font/oswald/oswald-regular-webfont.eot");
  src: url("/Content/Styles/font/oswald/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/Styles/font/oswald/oswald-regular-webfont.woff2") format("woff2"), url("/Content/Styles/font/oswald/oswald-regular-webfont.woff") format("woff"), url("/Content/Styles/font/oswald/oswald-regular-webfont.ttf") format("truetype"), url("/Content/Styles/font/oswald/oswald-regular-webfont.svg#oswaldregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'droid_sans';
  src: url("/Content/Styles/font/droidsans/droidsans-bold-webfont.eot");
  src: url("/Content/Styles/font/droidsans/droidsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/Styles/font/droidsans/droidsans-bold-webfont.woff2") format("woff2"), url("/Content/Styles/font/droidsans/droidsans-bold-webfont.woff") format("woff"), url("/Content/Styles/font/droidsans/droidsans-bold-webfont.ttf") format("truetype"), url("/Content/Styles/font/droidsans/droidsans-bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'droid_sans';
  src: url("/Content/Styles/font/droidsans/droidsans-webfont.eot");
  src: url("/Content/Styles/font/droidsans/droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/Styles/font/droidsans/droidsans-webfont.woff2") format("woff2"), url("/Content/Styles/font/droidsans/droidsans-webfont.woff") format("woff"), url("/Content/Styles/font/droidsans/droidsans-webfont.ttf") format("truetype"), url("/Content/Styles/font/droidsans/droidsans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html.lt-ie9 #eclub-wrapper {
  width: 500px;
  max-width: 500px;
  right: -250px;
  margin-right: 50%; }
#eclub-wrapper .centered-wrapper {
  text-align: center; }
#eclub-wrapper #eclub-signup {
  display: inline-block;
  padding: 0px 2px;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  pointer-events: all; }
  #eclub-wrapper #eclub-signup img {
    height: 38px;
    width: auto;
    vertical-align: middle;
    padding-top: 0; }
  #eclub-wrapper #eclub-signup input {
    height: 32px;
    margin-right: 0;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 3px;
    line-height: 20px;
    font-style: italic;
    margin: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: white;
    color: black; }
  #eclub-wrapper #eclub-signup button {
    font-size: 16px;
    height: 32px;
    vertical-align: middle;
    max-width: none;
    min-width: 0;
    padding: 0px 24px 0 10px;
    margin: 2px; }

@media (max-width: 768px) {
  #widget-ribbon {
    display: none; }

  #eclub-wrapper {
    position: relative;
    top: 0; } }
@media (max-width: 414px) {
  #eclub-signup input {
    display: none; } }

/*# sourceMappingURL=eclubwidget.css.map */
