@font-face{font-family:'HPSimplifiedLight';
	src:url(http://www.www8-hp.com/us/en/images/fonts/hps/latin-e-light-eot.eot);
	src:url(http://www.www8-hp.com/us/en/images/fonts/hps/latin-e-light-eot.eot?#iefix) format('embedded-opentype'),
	    url('http://www.www8-hp.com/us/en/images/fonts/hps/latin-e-light-woff.woff') format('woff'),
	    url('http://www.www8-hp.com/us/en/images/fonts/hps/latin-e-light-ttf.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

.font-light { font-family: "HPSimplifiedLight", arial; }