/*
	----------------------------
	Modal Styles
	----------------------------
	
	*Requires
		<script data-minify="js" src="../../scripts/ads/all-notrid/modal-window.js"></script>

	Video Example HTML (from proj: laserjet-mfp - overview):
	
		<!-- Video Modals -->
		<div id="video-innovations" class="modal video">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

				<div class="modal-video-container">

					<object id="myExperience2295369078001" class="BrightcoveExperience"> 
						<param name="htmlFallback" value="true" />
						<param name="bgcolor" value="#FFFFFF" /> 
						<param name="width" value="760" /> 
						<param name="height" value="425" /> 
						<param name="playerID" value="2295369078001" /> 
						<param name="playerKey" value="AQ~~,AAABAeI3VIE~,N0OfmZCPaxgw7KPyLb8C3mi9vmynNr7i" /> 
						<param name="isVid" value="true" /> 
						<param name="isUI" value="true" /> 
						<param name="dynamicStreaming" value="true" /> 
						<param name="autoStart" value="true" /> 
						<param name="@videoPlayer" value="ref:702D5324-5F45-4C84-9B90-35FF96399317" /> 
					</object>
				</div>
			</div>
		</div>

*/

#modal-canvas {
	background: url(../../images/i/modal-window/modal_bg.png) !important;
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-family: "HPSimplified", arial;
	font-size: 13px;
}

div.modal,
div.modal input,
div.modal textarea {
	font-size: 16px;
}

div.modal {
	background: #fff;
	/*border-top: 5px solid #0096d6; border-bottom: 5px solid #0096d6;*/
	
	display: none;
	margin: 75px auto 0 auto;
	z-index: 999;
	width: 640px;
}

div.modal.no-padding .modal-body {
	padding: 0;
}

div.modal.no-padding button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	line-height: 36px;
	text-align: center;
	width: 36px;
	opacity: 1;
	filter: alpha(opacity=100);
	background: #fff;
	color: #222;
	border: none;
	outline: none;
}

div.modal.no-padding button:hover {
	background: #0096d6;
	color: #fff;
}

.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: black;
	text-shadow: 0 1px 0 white;
	opacity: .2;
	filter: alpha(opacity=20);
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.modal-header {
	padding: 15px 20px;
	border-bottom: 1px solid #eee;
}

.modal-header h3 {
	font-size: 30px;
	line-height: 1;
	margin: 0;
}

.modal-body {
	padding: 20px;
	position: relative;
}

.modal-body.no-pad {
	padding-top: 0;
}

div.modal label {
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
}

.modal button {
	border: 0;
	cursor: pointer;
}

.modal input,
.modal textarea {
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.modal input[type=file] {
	padding: 0;
}

.modal input[type=checkbox] {
	margin: 0;
}
/* message content */

div.modal .message {
	position: relative;
	margin-top: 40px;
	padding: 0 80px;
	height: 235px;
	font-size: 14px;
	line-height: 18px;
}

div.modal .message h3 {
	font-size: 20px;
}

div.modal a.next,
div.modal a.prev {
	position: absolute;
	top: 30%;
	color: #222;
	font-size: 60px;
	display: block;
	width: 23px;
	height: 37px;
	background: url(../../../images/i/modal-window/review-nav.png) no-repeat;
}

div.modal a.prev {
	left: 15px;
}

div.modal a.next {
	right: 15px;
	background-position: -23px 0;
}

div.modal .message ul {
	margin-top: 20px;
}

div.modal .bubbles {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	font-size: 50px;
	line-height: 20px;
	height: 20px;
	text-align: center;
}

div.modal .bubbles a {
	color: #ccc;
	text-decoration: none;
	vertical-align: middle;
}

div.modal .bubbles a:hover,
div.modal .bubbles a.active {
	color: #0096D6;
}

div.modal-video-container {
	margin: 18px auto 0;
}