.GF_NAV_Footer {background-color:#fff;}
h1.MC_LYT_BE_element {color:#003c77;font-size:28px;}
h2.MC_LYT_BE_element {color:#003c77;font-family:Arial,Verdana, Helvetica, sans-serif; font-weight:bold; font-size:14px; text-transform:none;}
h3.MC_LYT_imgtxt_title {color:#003c77; font-family:Arial,Verdana, Helvetica, sans-serif; font-size:14px; text-transform:none;}
.MC_LYT_Container a:link {color:#006699;}
hr.MC_LYT_BE_element {display:none;}
#LYT_PageContainer p {padding-bottom:8px;}
.GF_NAV_Footer {position:relative;  background: url(/shop/Images/BE_footer_background.gif) 42px 0px no-repeat; }

/* nave header override */
.SN_LYT_brandnav h3 {display:block;}

/* box theme */
.MC_LYT_VideoPlayer.abox .BE_HO, .MC_LYT_imgtxt_container.abox .BE_HO {border:1px solid #ccc; border-top: none; border-bottom:none;}
.MC_LYT_cartridge.ITTB.abox {padding-bottom:0px; margin-bottom:21px; overflow:hidden;}
.abox .MC_LYT_imgtxt_textcontainer {padding:0px 10px 10px 10px;}
.ILTR .MC_LYT_imgtxt_textcontainer {padding-left:10px;}
.MC_LYT_cartridge.IRTL.abox, .MC_LYT_cartridge.ILTR.abox, .MC_LYT_cartridge.IFRTL.abox, .MC_LYT_cartridge.IFLTR.abox {padding-bottom:0px; margin-bottom:21px; overflow:hidden;}
.abox h2 {padding-left:10px; padding-right:10px;}
.VB.abox .MC_LYT_imgtxt_title, .IFRTL.abox .MC_LYT_imgtxt_title, .IFLTR.abox .MC_LYT_imgtxt_title, .IRTL.abox .MC_LYT_imgtxt_title, .ILTR.abox .MC_LYT_imgtxt_title, .IBTT.abox .MC_LYT_imgtxt_title {padding-top:12px; }
.ILTR.abox img {padding-right:0px;} 
.MC_LYT_imgtxt_sub {color:#003C77;}

/* CLASS TO ADD RULE AROUND CARTRIDGES WHEN OPT'd ON */
.BE_MC_fullwidth .abox {background: url(/shop/Images/BE_AA_toprule_795.jpg) 0 0 no-repeat;padding-top:7px;}
.BE_MC_twothirds .abox {background: url(/shop/Images/BE_AA_toprule_525.jpg) 0 0 no-repeat;padding-top:7px;}
.BE_MC_halfwidth .abox {background: url(/shop/Images/BE_AA_toprule_390.jpg) 0 0 no-repeat;padding-top:7px;}
.BE_MC_onethird .abox {background: url(/shop/Images/BE_AA_toprule_255.jpg) 0 0 no-repeat;padding-top:7px;}
/* ALIGNMENT OVERRIDES */
.MC_LYT_VideoPlayer.abox, .MC_LYT_imgtxt_container.abox {background:none;padding-top:0px;}
.BE_MC_fullwidth .abox .MC_LYT_plume_top {background: url(/shop/Images/BE_AA_toprule_795.jpg) 0 0 no-repeat;height:7px;}
.BE_MC_twothirds._alignbox .MC_LYT_plume_top, .BE_MC_twothirds .abox .MC_LYT_plume_top {background: url(/shop/Images/BE_AA_toprule_525.jpg) 0 0 no-repeat;height:7px;}
.BE_MC_halfwidth._alignbox .MC_LYT_plume_top, .BE_MC_halfwidth .abox .MC_LYT_plume_top {background: url(/shop/Images/BE_AA_toprule_390.jpg) 0 0 no-repeat;height:7px;}
.BE_MC_onethird._alignbox .MC_LYT_plume_top, .BE_MC_onethird .abox .MC_LYT_plume_top {background: url(/shop/Images/BE_AA_toprule_255.jpg) 0 0 no-repeat;height:7px;}
/* SHADOW ON IMAGE EXCEPTION 
.BE_MC_fullwidth .ITTB.abox .MC_LYT_imgtxt_image {background: url(/shop/Images/BE_aboutamway_bottomrule_795.png) left bottom no-repeat; padding-bottom:10px !important;}
.BE_MC_twothirds .ITTB.abox .MC_LYT_imgtxt_image {background: url(/shop/Images/BE_aboutamway_bottomrule_525.png) left bottom no-repeat; padding-bottom:10px !important;}
.BE_MC_onethird .ITTB.abox .MC_LYT_imgtxt_image {background: url(/shop/Images/BE_aboutamway_bottomrule_255.png) left bottom no-repeat; padding-bottom:10px !important;}
.BE_MC_halfwidth .ITTB.abox .MC_LYT_imgtxt_image {background: url(/shop/Images/BE_aboutamway_bottomrule_390.png) left bottom no-repeat; padding-bottom:10px !important;}
*/
/* SHADOW ON IMAGE EXCEPTION */
td._alignbox.HK_LYT_bottom, td._alignbox.HK_LYT_top { border-top:none;border-bottom:none; }
.BE_MC_Slice.BE_MC_fullwidth._alignbox .MC_LYT_mustache_bottom, .BE_MC_fullwidth .ITTB.abox .MC_LYT_imgtxt_image, .BE_MC_fullwidth .abox .MC_LYT_mustache_bottom, .BE_MC_fullwidth .MC_LYT_BE_TabNavTopHoriz .MC_LYT_mustache_bottom, .MC_LYT_tabbedimagelink_container .MC_LYT_mustache_bottom, .MC_LYT_tabControl_Container .MC_LYT_mustache_bottom {background: url(/shop/Images/BE_espring_bottomrule_795.png) center top no-repeat; padding-bottom:16px !important;}
.BE_MC_Slice.BE_MC_twothirds._alignbox .MC_LYT_mustache_bottom, .BE_MC_twothirds .ITTB.abox .MC_LYT_imgtxt_image, .BE_MC_twothirds .abox .MC_LYT_mustache_bottom, .BE_MC_twothirds .MC_LYT_BE_TabNavTopHoriz .MC_LYT_mustache_bottom  {background: url(/shop/Images/BE_espring_bottomrule_525.png) center top no-repeat; padding-bottom:16px !important;}
.BE_MC_Slice.BE_MC_onethird._alignbox .MC_LYT_mustache_bottom, .BE_MC_onethird .ITTB.abox .MC_LYT_imgtxt_image, .BE_MC_onethird .abox .MC_LYT_mustache_bottom, .BE_MC_onethird .MC_LYT_BE_TabNavTopHoriz .MC_LYT_mustache_bottom  {background: url(/shop/Images/BE_espring_bottomrule_255.png) center top no-repeat; padding-bottom:16px !important;}
.BE_MC_Slice.BE_MC_halfwidth._alignbox .MC_LYT_mustache_bottom, .BE_MC_halfwidth .ITTB.abox .MC_LYT_imgtxt_image, .BE_MC_halfwidth .abox .MC_LYT_mustache_bottom, .BE_MC_halfwidth .MC_LYT_BE_TabNavTopHoriz .MC_LYT_mustache_bottom  {background: url(/shop/Images/BE_espring_bottomrule_390.png) center top no-repeat; padding-bottom:16px !important;}
.HomeLandingPage .MC_LYT_tabControl_Container .MC_LYT_mustache_bottom {background: url(/shop/Images/BE_espring_bottomrule_960.png) center top no-repeat; padding-bottom:16px !important;}
.nobox .MC_LYT_tabbedimagelink_container .MC_LYT_mustache_bottom {background:none;}

.abox .MC_LYT_mustache_bottom, .MC_LYT_BE_TabNavTopHoriz .MC_LYT_mustache_bottom {display:block; }
.MC_LYT_tabbedimagelink_container .MC_LYT_mustache_bottom  {display:block; position:relative; top:16px;}
.IRTL.abox .MC_LYT_mustache_bottom, .ILTR.abox .MC_LYT_mustache_bottom, .IFRTL.abox .MC_LYT_mustache_bottom, .IFLTR.abox .MC_LYT_mustache_bottom, .IBTT.abox .MC_LYT_mustache_bottom, .ITTB.abox .MC_LYT_mustache_bottom  {top:0px; border-left:1px solid #fff; border-right:1px solid #fff;}

.MC_LYT_mustache_bottom {height:0px;}
.MC_LYT_tabControl_Container .MC_LYT_mustache_bottom {display:block; position:relative; top:0px;}
.tabbedlink_content_container .MC_LYT_mustache_bottom {display:none;}
.MC_LYT_timeline_entry_container .MC_LYT_mustache_bottom { background-position: center 1px;}


/* TOP NAV TAB CONTROL - topnavtabcontrol - 1/17/2011 */
body .MC_LYT_tabControl_Container .MC_LYT_tabControl_sliderArrow { background-color:#BB2330; }
body .MC_LYT_tabControl_heroTiles .MC_LYT_tabControl_heroTiles_container {background: url(/Shop/Images/BE_aboutamway_toprule_255.png) 0 0 no-repeat; }
body .MC_LYT_tabControl_heroTiles .MC_LYT_tabControl_heroTiles_container_content {background: url(../../Images/BE_about_bottomrule_hero_255.png) no-repeat center bottom; } 

body .BE_MC_fullwidth .MC_LYT_BE_TabNavTopHoriz  {background: url(/shop/Images/BE_AA_toprule_795.jpg) 0 0 no-repeat;padding-top:10px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .BE_MC_twothirds .MC_LYT_BE_TabNavTopHoriz {background: url(/shop/Images/BE_AA_toprule_525.jpg) 0 0 no-repeat;padding-top:10px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .BE_MC_onethird .MC_LYT_BE_TabNavTopHoriz {background: url(/shop/Images/BE_AA_toprule_255.jpg) 0 0 no-repeat;padding-top:10px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .BE_MC_halfwidth .MC_LYT_BE_TabNavTopHoriz {background: url(/shop/Images/BE_AA_toprule_390.jpg) 0 0 no-repeat;padding-top:10px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .MC_LYT_BE_TabNavTopHoriz h2 {padding-left: 10px;}

body .TabNavTopHoriz_alltabs { border-bottom:1px solid #C5BFB3; }
body .TabNavTopHoriz_tab { border-top:1px solid #CCCCCC; background-color:#EEEEEE; }
body .TabNavTopHoriz_tab.selected { border-top:1px solid #C5BFB3; background-color:#FFF; }
body .TabNavTopHoriz_tab.selected .TabNavTopHoriz_LeftCorner { border-left:1px solid #C5BFB3; }
body .TabNavTopHoriz_tab.selected .TabNavTopHoriz_RightCorner { border-right:1px solid #C5BFB3; }
body .TabNavTopHoriz_LeftCorner { border-left:1px solid #CCCCCC; }
body .TabNavTopHoriz_RightCorner { border-right:1px solid #CCCCCC; }

/* imagetexttabcontrol - das 1/17/2011 */

body .BE_MC_fullwidth .MC_LYT_tabbedimagelink_container  {margin-bottom:51px; background: url(/shop/Images/BE_AA_toprule_795.jpg) 0 0 no-repeat;padding-top:7px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .BE_MC_twothirds .MC_LYT_tabbedimagelink_container  {margin-bottom:51px; background: url(/shop/Images/BE_AA_toprule_525.jpg) 0 0 no-repeat;padding-top:7px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .BE_MC_onethird .MC_LYT_tabbedimagelink_container  {margin-bottom:51px; background: url(/shop/Images/BE_AA_toprule_255.jpg) 0 0 no-repeat;padding-top:7px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .BE_MC_halfwidth .MC_LYT_tabbedimagelink_container  {margin-bottom:51px; background: url(/shop/Images/BE_AA_toprule_390.jpg) 0 0 no-repeat;padding-top:7px; border:solid 1px #CCCCCC; border-top:none 1px transparent;}
body .nobox .MC_LYT_tabbedimagelink_container {background:none;border:none 1px transparent;}
body .MC_LYT_tabbedimagelink_container h2 {padding-left: 10px;}
body .tabbedlink_text div:hover {color:#006699; background: url(/shop/images/BE_verticaltab_tabbackground.jpg) 0px 0px repeat-y;}
body .tabbedlink_text .selected div {color:#006699; background: url(/shop/images/BE_verticaltab_tabbackground.jpg) 0px 0px repeat-y;}
body .tabbedimagelink_main {background: url(/shop/images/BE_verticaltab_shadow.jpg) 0 0 no-repeat;}
/*body .BE_tabbedlinks_arrow {background-color:#BEAC88; }*/


/* BE TIMELINE CONTROL */
body .MC_LYT_timeline_container {background: url(/shop/Images/BE_AA_toprule_795.jpg) 0 0 no-repeat; padding-top:15px; border-top:none 1px transparent;}
body .MC_LYT_timeline_entry_container{background: url(/shop/Images/BE_aboutamway_bottomrule_795.png) left top no-repeat; padding-top:10px !important;}
body .timeline_next { background: url(/shop/images/BE_timeline-arrows-sprite_2.png) -63px 30px no-repeat; }
body .timeline_previous { background: url(/shop/images/BE_timeline-arrows-sprite_2.png) 0px 30px no-repeat; }
body .timeline_next { background: url(/shop/images/BE_timeline-arrows-sprite_2.png) -63px 30px no-repeat; }
body .timeline_previous { background: url(/shop/images/BE_timeline-arrows-sprite_2.png) 0px 30px no-repeat; }
body .timeline_tickmark { background: url(/shop/images/timeline_major_tick.png) no-repeat center center;}
body .timeline_minor_tickmark { background: url(/shop/images/timeline_minor_tick.png) no-repeat center center;}
body .timeline_urhere_arrow{ background:url(/shop/images/BE_timeline_urhere.png) no-repeat; }
body .timeline_intro .timeline_entry_title {color:#014F73; }
body .timeline_entry_event {width:795px;}
body .timeline_entry_event_border {border:1px solid #ccc; border-top:none;}
body .timeline_intro .timeline_entry_event_border {border:none;}
body .timeline_entry_bodyContent {padding:0px 10px;}
.timeline_intro .timeline_entry_bodyContent {padding-top:0px;}
body .timeline_entry_bodycopy {padding:0px;}
body .timeline_entry_image_right {padding:0px;}

body .timeline_intro.abox { padding-right:10px; padding-left:10px; background-image:none;}

/* BE TEXTRULE CONTROL */
body .BE_MC_fullwidth .MC_LYT_TextRuleSeperator .MC_LYT_BE_hr {background:url(/shop/Images/BE_aboutamway_bottomrule_795.png) center top no-repeat;padding-top:7px;clear:both;}
body .BE_MC_twothirds .MC_LYT_TextRuleSeperator .MC_LYT_BE_hr {background:url(/shop/Images/BE_aboutamway_bottomrule_525.png) center top no-repeat;padding-top:7px;clear:both;}
body .BE_MC_onethird .MC_LYT_TextRuleSeperator .MC_LYT_BE_hr {background:url(/shop/Images/BE_aboutamway_bottomrule_255.png) center top no-repeat;padding-top:7px;clear:both;}
body .BE_MC_halfwidth .MC_LYT_TextRuleSeperator .MC_LYT_BE_hr {background:url(/shop/Images/BE_aboutamway_bottomrule_360.png) center top no-repeat;padding-top:7px;clear:both;}

/* BE JOB SNIPPET */
body .BE_MC_fullwidth .MC_LYT_BE_hr {background: url(/shop/Images/BE_AA_toprule_795.jpg) 0 0 no-repeat;padding-top:7px;clear:both;}
body .BE_MC_twothirds .MC_LYT_BE_hr {background: url(/shop/Images/BE_AA_toprule_525.jpg) 0 0 no-repeat;padding-top:7px;clear:both;}
body .BE_MC_onethird .MC_LYT_BE_hr {background: url(/shop/Images/BE_AA_toprule_255.jpg) 0 0 no-repeat;padding-top:7px;clear:both;}
body .BE_MC_halfwidth .MC_LYT_BE_hr {background: url(/shop/Images/BE_AA_toprule_390.jpg) 0 0 no-repeat;padding-top:7px;clear:both;}
body .MC_LYT_allsnippets h2.MC_LYT_BE_element { font-family:Arial; } 
body .MC_LYT_allsnippets .MC_LYT_snippet_content { font-family:Arial; } 
body .MC_LYT_allsnippets .MC_LYT_snippet_content a {   } 

/* BE IMAGE TEXT BUTTON */
/* common overrides for all brands */
.MC_LYT_listmenu_toprow, .MC_LYT_listmenu_bottomrow { background-image:none !important; background-color:#fff !important; height:1px;}
.MC_LYT_listmenu_toprow div, .MC_LYT_listmenu_bottomrow div {display:none;}
.MC_LYT_listmenu_container .MC_LYT_listmenu_item {background-color: #fff !important;}
.MC_LYT_listmenu_item td {border-left: none;border-right:none; border-top:1px dotted #ccc; padding:4px 0px 4px 0px;}
.MC_LYT_listmenu_container .MC_LYT_listmenu_text {padding-left: 10px;}
.MC_LYT_listmenu_toprow {border-bottom:1px dotted #ccc;}
.MC_LYT_listmenu_bottomrow {border-top:1px dotted #ccc;}
.listmenu_arrow_left  td.MC_LYT_listmenu_image { background-image: none; width:7px}
/* brand specific */
.listmenu_arrow_left .MC_LYT_listmenu_item:hover  td.MC_LYT_listmenu_image {background-color: #BD2635;}
.listmenu_arrow_left .MC_LYT_listmenu_item:hover  td.MC_LYT_listmenu_text:hover {color:#006699; background:url(/shop/images/BE_tabbedlinks_hover_bg.jpg) 80px 0px repeat-y;}
.listmenu_arrow_left .MC_LYT_listmenu_item.selected  td.MC_LYT_listmenu_image {background-color: #BD2635;}
.listmenu_arrow_left .MC_LYT_listmenu_item.selected  td.MC_LYT_listmenu_text {color:#006699; background:url(/shop/images/BE_tabbedlinks_hover_bg.jpg) 80px 0px repeat-y;}

/* IMAGE TEXT CONTAINER */
.BE_MC_onethird .MC_LYT_imgtxt_container.ITTB .MC_LYT_imgtxt_image {text-align:left; padding-bottom:0px;}
.BE_MC_onethird .MC_LYT_imgtxt_container.ITTB img {margin:0px;}
.BE_MC_onethird .MC_LYT_imgtxt_container.ITTB .MC_LYT_imgtxt_text {padding-top:0px;}
/*td._alignbox.HK_LYT_bottom { border-top:solid 1px #ccc; }*/

/* CAMPAIGNS AND SPONSORSHIP */
.MC_LYT_tabControl_heroTiles .copy h3 {color:#003C77;}

/* IMAGE VIEWER */
.BE_MC_fullwidth .MC_LYT_BE_ImageViewer.abox {background: url("/shop/Images/BE_AA_toprule_795.jpg") no-repeat scroll 0 0 transparent;padding-top: 7px;}
.BE_MC_twothirds .MC_LYT_BE_ImageViewer.abox {background: url("/shop/Images/BE_AA_toprule_525.jpg") no-repeat scroll 0 0 transparent;padding-top: 7px;}
.BE_MC_halfwidth .MC_LYT_BE_ImageViewer.abox {background: url("/shop/Images/BE_AA_toprule_390.jpg") no-repeat scroll 0 0 transparent;padding-top: 7px;}
.BE_MC_fullLandingWidth .MC_LYT_BE_ImageViewer.abox {background: url("/shop/Images/BE_AA_toprule_960.jpg") no-repeat scroll 0 0 transparent;padding-top: 7px;}
.BE_MC_fullLandingWidth .BE_MC_halfwidth .MC_LYT_BE_ImageViewer.abox {background: url("/shop/Images/BE_AA_toprule_472.jpg") no-repeat scroll 0 0 transparent;padding-top: 7px;}
.ImageViewerThumbsBack {background: url("/shop/images/BE_imageviewer-arrows-sprite.gif") no-repeat scroll 0px 10px transparent;position:absolute;top:0px;left:10px;}
.ImageViewerThumbsNext {background: url("/shop/images/BE_imageviewer-arrows-sprite.gif") no-repeat scroll -24px 10px transparent;position:absolute; top:0px;right:10px;}
.ImageViewerThumb.active, .ImageViewerThumb:hover {border-top: 7px solid #BD2635;}

/* STYLES FOR 5 tab banner */
.HomeLandingPage .cont_heroNavState .cont_heroNavStateBkg {background-color:#bb2330;}
.HomeLandingPage .cont_heroTiles h3 {color:#bb2330;font-weight:bold;}
.HomeLandingPage .cont_heroTiles h3.active {color:#fff;}
.HomeLandingPage .cont_heroNavBackground { display:none; }

/*Video PLayer */
.HomeLandingPage .MC_LYT_VideoPlayer.abox .BE_HO {border:none;}
.HomeLandingPage .MC_LYT_VideoPlayer.abox .MC_LYT_imgtxt_textcontainer {padding:0px 0px 10px 0px;}
.HomeLandingPage .BE_MC_fullLandingWidth .MC_LYT_VideoPlayer .MC_LYT_plume_top {display:none;} 
.HomeLandingPage .MC_LYT_VideoPlayer .MC_LYT_mustache_bottom {display:none !important;} 

/* HIDE UNSUPPORTED CARTRIDGES 
Until they can be properly styled and supported for all brands */
.MC_LYT_MosaicLayout {display:none;}
.MC_LYT_IWHO {display:none;}
.MC_LYT_HAB {display: none;}
.MC_LYT_TMB {display: none;}
