/*Internet Browser out of date notification*/
.MC_LYT_BrowserNotification_CloseButton { background-image: url(../Images/common/btn_popup_close.png) !important;background-repeat:no-repeat;width:16px !important;height:16px !important;}
.MC_LYT_BrowserNotification_CloseButton:hover { background-image: url(../Images/common/btn_popup_close_hover.png) !important;background-repeat:no-repeat;width:16px !important;height:16px !important;}
.MC_LYT_BrowserNotification_radwindow_AmwayWindow {width: 40%!important; top:0px;}
.MC_LYT_BrowserNotification_MainContent { display:none; padding-top:3px;padding-left:9px;padding-right:9px;}
.MC_LYT_BrowserNotification_MainContent div span { height:20px;display:inline-block}
.MC_LYT_BrowserNotification_radwindow_AmwayWindow {width: 1000px !important;}
.MC_LYT_BrowserNotification_InnerContent {background-color:rgb(245,247,218);border:solid 2px rgb(250,218,131);}
.MC_LYT_BrowserNotification_InternetExplorerImage { background:url(../Images/BrowserNotification/InternetExplorerBrowser.ico);width:24px;height:24px;display:inline-block;background-repeat:no-repeat}
.MC_LYT_BrowserNotification_ChromeImage { background:url(../Images/BrowserNotification/ChromeBrowser.ico);width:24px;height:24px;display:inline-block;background-repeat:no-repeat}
.MC_LYT_BrowserNotification_FirefoxImage { background:url(../Images/BrowserNotification/FirefoxBrowser.png);position:relative;top:-1px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat}
.MC_LYT_BrowserNotification_SafariImage { background:url(../Images/BrowserNotification/SafariBrowser.ico);width:24px;height:24px;display:inline-block;background-repeat:no-repeat}
.MC_LYT_BrowserNotification_DownloadMsg { display:inline-block;position:relative; top:-9px;height:0px;}
.ui-widget-overlay,.MC_LYT_BrowserNotification_radwindow_AmwayWindow {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
