<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8" name="charset" content="" />
<meta name="" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:title" name="og:title" content="VICE | Canada | The Definitive Guide to Enlightening Information" />
<meta name="twitter:title" content="VICE | Canada | The Definitive Guide to Enlightening Information" />
<meta name="keywords" content="vice, vice.com, journalism online" />
<meta name="description" content="VICE.com is an ever-expanding galaxy of immersive, investigative, uncomfortable, and occasionally uncouth journalism." />
<meta property="og:description" name="og:description" content="VICE.com is an ever-expanding galaxy of immersive, investigative, uncomfortable, and occasionally uncouth journalism." />
<meta name="twitter:description" content="VICE.com is an ever-expanding galaxy of immersive, investigative, uncomfortable, and occasionally uncouth journalism." />
<meta property="og:url" name="og:url" content="http://www.vice.com/en_ca/" />
<meta name="twitter:url" content="http://www.vice.com/en_ca/" />
<meta property="og:type" name="og:type" content="website" />
<meta property="og:site_name" name="og:site_name" content="VICE" />
<meta name="twitter:site" content="@vice" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" name="og:image" content="http://www.vice.com/assets/images/vice/og/og-image.jpg" />
<meta property="og:image:type" name="og:image:type" content="image/jpeg" />
<meta name="twitter:image" content="http://www.vice.com/assets/images/vice/og/og-image.jpg" />
<meta property="og:locale" name="og:locale" content="en_ca" />
<meta property="fb:app_id" name="fb:app_id" content="203796769683945" />
<meta name="thumbnail" content="/assets/images/vice/og/og-image.jpg" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-square70x70logo" content="/assets/images/vice/favicons/mstile-70x70.png" />
<meta name="msapplication-TileImage" content="/assets/images/vice/favicons/mstile-144x144.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/vice/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/vice/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/vice/favicons/mstile-310x310.png" />
<link hreflang="de-at" rel="alternate" href="http://www.vice.com/alps" />
<link hreflang="en-be" rel="alternate" href="http://www.vice.com/be" />
<link hreflang="cs" rel="alternate" href="http://www.vice.com/cs" />
<link hreflang="en-nz" rel="alternate" href="http://www.vice.com/en_au" />
<link hreflang="en-ca" rel="alternate" href="http://www.vice.com/en_ca" />
<link hreflang="es-co" rel="alternate" href="http://www.vice.com/es_co" />
<link hreflang="en-dk" rel="alternate" href="http://www.vice.com/en_dk" />
<link hreflang="el-gr" rel="alternate" href="http://www.vice.com/gr" />
<link hreflang="en-us" rel="alternate" href="http://www.vice.com/" />
<link hreflang="en-gb" rel="alternate" href="http://www.vice.com/en_uk" />
<link hreflang="en-se" rel="alternate" href="http://www.vice.com/en_se" />
<link hreflang="de" rel="alternate" href="http://www.vice.com/de" />
<link hreflang="es" rel="alternate" href="http://www.vice.com/es" />
<link hreflang="es-mx" rel="alternate" href="http://www.vice.com/es_mx" />
<link hreflang="fr" rel="alternate" href="http://www.vice.com/fr" />
<link hreflang="jp" rel="alternate" href="http://www.vice.com/jp" />
<link hreflang="nl" rel="alternate" href="http://www.vice.com/nl" />
<link hreflang="pl" rel="alternate" href="http://www.vice.com/pl" />
<link hreflang="pt" rel="alternate" href="http://www.vice.com/pt" />
<link hreflang="pt-br" rel="alternate" href="http://www.vice.com/pt_br" />
<link hreflang="it" rel="alternate" href="http://www.vice.com/it" />
<link hreflang="ro" rel="alternate" href="http://www.vice.com/ro" />
<link hreflang="sr" rel="alternate" href="http://www.vice.com/rs" />
<link hreflang="ru" rel="alternate" href="http://www.vice.com/ru" />
<link hreflang="x-default" rel="alternate" href="http://www.vice.com/" />
<link rel="alternate" type="application/rss+xml" href="http://www.vice.com/en_ca/rss" />
<link rel="canonical" href="http://www.vice.com/en_ca/" />
<link rel="stylesheet" href="/assets/css/vice/style.css?v20160225200032" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" />
<link sizes="57x57" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-57x57.png" />
<link sizes="60x60" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-60x60.png" />
<link sizes="72x72" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-72x72.png" />
<link sizes="76x76" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-76x76.png" />
<link sizes="114x114" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-114x114.png" />
<link sizes="120x120" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-120x120.png" />
<link sizes="144x144" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-144x144.png" />
<link sizes="152x152" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-152x152.png" />
<link sizes="16x16" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-16x16.png" />
<link sizes="32x32" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-32x32.png" />
<link sizes="96x96" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-96x96.png" />
<link sizes="196x196" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-196x196.png" />
<link sizes="128x128" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-128.png" />
<script type="text/javascript" src="/assets/js/vmp/lib/modernizr-2.5.3.min.js" async="async"></script>
<script type="text/javascript" src="//advice-ads-cdn.vice.com/DE/viceIVW-CS.js" async="async"></script>
<script type="text/javascript">
/*<![CDATA[*/
//Begin Analytics Code
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-599058-49', 'auto', {'name' : 'tracker_1'});


ga('tracker_1.require', 'displayfeatures');

ga('tracker_1.send', 'pageview', {"page":"\/en_ca\/"});


/*]]>*/
</script>
<title>VICE | Canada | The Definitive Guide to Enlightening Information</title>
</head>
<body class="site-page index-page  en_ca">
	<section class="site-wrapper">
		<div id="viceHomeAd" data-src="v-vice"></div>
	<div class="vmp-ad ad-overlay" data-ref="overlay"></div>	<div class="ad-masthead">
		<div class="ad-masthead-inner">
			<div class="vmp-ad ad-masthead" data-ref="header"></div>		</div>
	</div>
<nav class="site-menu">
	<div class="search-container">
		<div class="site-icon search"></div>

		<form action="/search" method="GET" name="search">
			<input type="text" name="query" placeholder="Search..." />
		</form>
	</div>

	<ul class="parent-list">
		
<section class="items-container" id=""><li class="parent-item no-children" id="main-nav-heading-1">
	<a href="/en_ca/videos">		Watch	</a></li>
	<ul class="child-list watch">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-2">
			Sections	</li>
	<ul class="child-list sections">
		<li><a href="/en_ca/news">News</a></li><li><a href="/en_ca/music">Music</a></li><li><a href="/en_ca/fashion">Fashion</a></li><li><a href="/en_ca/travel">Travel</a></li><li><a href="/en_ca/sports">Sports</a></li><li><a href="/en_ca/tech">Tech</a></li><li><a href="/en_ca/food">Food</a></li><li><a href="/en_ca/gaming">Gaming</a></li><li><a href="/en_ca/nsfw">Nsfw</a></li><li><a href="/en_ca/dnd">Dos & Don'ts</a></li>	</ul>
<li class="parent-item no-children" id="main-nav-heading-3">
	<a href="/en_ca/photos">		Photos	</a></li>
	<ul class="child-list photos">
			</ul>
<li class="parent-item no-children" id="main-nav-heading-4">
	<a href="/en_ca/magazine">		Magazine	</a></li>
	<ul class="child-list magazine">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-5">
			Topics	</li>
	<ul class="child-list topics">
		<li><a href="/en_ca/tag/politics">Politics</a></li><li><a href="/en_ca/tag/canada">Canada</a></li><li><a href="/en_ca/read/dailyvice">DAILY VICE</a></li><li><a href="/en_ca/series/the-vice-guide-to-mental-health">Mental Health</a></li><li><a href="/en_ca/tag/culture">Culture</a></li><li><a href="/en_ca/tag/lgbt">LGBT</a></li>	</ul>
</section>

					<li class="parent-item">
				<a href="/en_ca/pages/about" class="about-link">
					About				</a>
			</li>
				<ul class="child-list about">
		<li><a href="/en_ca/pages/jobs">Careers</a></li><li><a href="/en_ca/pages/about">Contact</a></li><li><a href="/en_ca/pages/about">Advertising</a></li><li><a href="/en_ca/pages/about">Press Kit</a></li><li><a href="/en_ca/pages/privacy-and-terms">Privacy & Terms</a></li>				</ul>
	</ul>
</nav><section class="vice-network-bar">
	<section class="links">
		<div class="link-trigger">
			<a href="/en_ca/pages/about">
				About			</a>
		</div>

		<ul>
			<li><a href="/en_ca/pages/about">About us</a></li><li><a href="/en_ca/pages/jobs">Careers</a></li><li><a href="/en_ca/pages/about">Contact</a></li><li><a href="/en_ca/pages/about">Advertising</a></li><li><a href="/en_ca/pages/about">Press Kit</a></li><li><a href="/en_ca/pages/privacy-and-terms">Privacy & Terms</a></li>		</ul>
	</section>

	<span class="copyright">&copy;2016 VICE Media LLC</span>

	<p class="version"></p>

	<section class="locales">
		<div class="current-locale"></div>

		<ul></ul>
	</section>

	<section class="family">
		<h2 class="family-trigger">The <span class="icon-sprite">VICE</span> Channels</h2>

		<ul></ul>
	</section>
</section>

<header class="site-header main-header">
	<div class="site-header-inner">
		<button class="site-icon hamburger menu-non-rounded"></button>

		<div class="logo">
			<a href="/en_ca/" title="VICE">
				<span></span>
			</a>
		</div>

		<div class="navigation-items-container">
			<nav class="navigation-items main-nav">
				
<ul class="items-container" id=""><li class="trigger main-nav-trigger watch" data-navigation-item-key="watch">
	<a href="/en_ca/videos">		Watch	</a></li><!----><li class="trigger main-nav-trigger sections no-link" data-navigation-item-key="sections">
			Sections	</li><!----><li class="trigger main-nav-trigger photos" data-navigation-item-key="photos">
	<a href="/en_ca/photos">		Photos	</a></li><!----><li class="trigger main-nav-trigger magazine no-dropdown" data-navigation-item-key="magazine">
	<a href="/en_ca/magazine">		Magazine	</a></li></ul>
			</nav>

			<nav class="navigation-items more small-viewport">
									<ul class="items-container">
						<li class="trigger no-link" data-navigation-item-key="more/topics">
							<span class="small-viewport">
								Topics							</span>
							<span class="large-viewport">
								More							</span>
						</li>
					</ul>
							</nav>

			<nav class="navigation-items inline">
				
<ul class="items-container" id=""><li class="nav-title no-link">
	Topics:
</li><!--
--><li class="trigger inline-trigger politics" data-navigation-item-key="topics/politics">
	<a href="/en_ca/tag/politics">		Politics	</a></li><!----><li class="trigger inline-trigger canada" data-navigation-item-key="topics/canada">
	<a href="/en_ca/tag/canada">		Canada	</a></li><!----><li class="trigger inline-trigger DAILY+VICE" data-navigation-item-key="topics/DAILY+VICE">
	<a href="/en_ca/read/dailyvice">		DAILY VICE	</a></li><!----><li class="trigger inline-trigger the+vice+guide+to+mental+health" data-navigation-item-key="topics/the+vice+guide+to+mental+health">
	<a href="/en_ca/series/the-vice-guide-to-mental-health">		Mental Health	</a></li><!----><li class="trigger inline-trigger culture" data-navigation-item-key="topics/culture">
	<a href="/en_ca/tag/culture">		Culture	</a></li><!----><li class="trigger inline-trigger lgbt" data-navigation-item-key="topics/lgbt">
	<a href="/en_ca/tag/lgbt">		LGBT	</a></li>
</ul>
			</nav>
		</div>

		<div class="social-icons">
			<ul>
				<li class="google-plus">
					<a class="site-icon google-plus-logo" href="https://plus.google.com/104936961502301697224/" target="_blank"></a>
				</li><!--
				--><li class="facebook">
					<a class="site-icon facebook-logo" href="https://www.facebook.com/Vice" target="_blank"></a>
				</li><!--
				--><li>
					<a class="site-icon twitter-logo" href="https://twitter.com/vicecanada" target="_blank"></a>
				</li><!--
				--><li class="tumblr">
					<a class="site-icon tumblr-logo" href="http://vicecanada.tumblr.com/" target="_blank"></a>
				</li><!--
				--><li class="subscribe">
					<a class="site-icon email-envelope" href="http://eepurl.com/s96Qb" target="_blank"></a>
				</li><!--
				--><li class="rss">
					<a class="site-icon rss-logo" href="/en_ca/rss"></a>
				</li><!--
				--><li class="youtube">
					<a class="site-icon youtube-play" href="https://www.youtube.com/user/vice" target="_blank"></a>
				</li>
			</ul>
		</div>

		<div class="search-container">
			<button class="site-icon search" type="button"></button>
			<button class="site-icon cancel" type="button"></button>

			<div class="searchbox-container">
				<div class="gcse-searchbox-only" data-resultsUrl="/en_ca/search" data-queryParameterName="query"></div>
			</div>
		</div>

		<nav class="navigation-items more large-viewport">
							<ul class="items-container">
					<li class="trigger no-link" data-navigation-item-key="more/topics">
						<span class="small-viewport">
							Topics						</span>
						<span class="large-viewport">
							More						</span>
					</li>
				</ul>
					</nav>
	</div>

	<div class="site-header-drop-downs">
		<div class="navigation-groups-container">
			<div class="navigation-group inline-group watch" data-navigation-item-key="watch">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="sections">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="sections/news">
	<a href="/en_ca/news">		News	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/music">
	<a href="/en_ca/music">		Music	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/fashion">
	<a href="/en_ca/fashion">		Fashion	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/travel">
	<a href="/en_ca/travel">		Travel	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/sports">
	<a href="/en_ca/sports">		Sports	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/tech">
	<a href="/en_ca/tech">		Tech	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/food">
	<a href="/en_ca/food">		Food	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/gaming">
	<a href="/en_ca/gaming">		Gaming	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/nsfw">
	<a href="/en_ca/nsfw">		Nsfw	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/dos-and-donts">
	<a href="/en_ca/dnd">		Dos & Don'ts	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group news" data-sub-navigation-item-key="sections/news">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group music" data-sub-navigation-item-key="sections/music">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group fashion" data-sub-navigation-item-key="sections/fashion">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group travel" data-sub-navigation-item-key="sections/travel">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group sports" data-sub-navigation-item-key="sections/sports">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group tech" data-sub-navigation-item-key="sections/tech">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group food" data-sub-navigation-item-key="sections/food">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group gaming" data-sub-navigation-item-key="sections/gaming">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group nsfw" data-sub-navigation-item-key="sections/nsfw">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group dos-and-donts" data-sub-navigation-item-key="sections/dos-and-donts">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><div class="navigation-group inline-group photos" data-navigation-item-key="photos">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group politics" data-navigation-item-key="topics/politics">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group canada" data-navigation-item-key="topics/canada">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group DAILY+VICE" data-navigation-item-key="topics/DAILY+VICE">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group the+vice+guide+to+mental+health" data-navigation-item-key="topics/the+vice+guide+to+mental+health">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group culture" data-navigation-item-key="topics/culture">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group lgbt" data-navigation-item-key="topics/lgbt">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="more/topics">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="more/topics/politics">
	<a href="/en_ca/tag/politics">		Politics	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/canada">
	<a href="/en_ca/tag/canada">		Canada	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/DAILY+VICE">
	<a href="/en_ca/read/dailyvice">		DAILY VICE	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/the+vice+guide+to+mental+health">
	<a href="/en_ca/series/the-vice-guide-to-mental-health">		Mental Health	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/culture">
	<a href="/en_ca/tag/culture">		Culture	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/lgbt">
	<a href="/en_ca/tag/lgbt">		LGBT	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group politics" data-sub-navigation-item-key="more/topics/politics">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group canada" data-sub-navigation-item-key="more/topics/canada">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group DAILY+VICE" data-sub-navigation-item-key="more/topics/DAILY+VICE">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group the+vice+guide+to+mental+health" data-sub-navigation-item-key="more/topics/the+vice+guide+to+mental+health">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group culture" data-sub-navigation-item-key="more/topics/culture">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group lgbt" data-sub-navigation-item-key="more/topics/lgbt">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><script type="text/template" id="nav-item-template">
	<% if(thumb_html) { %>
		<div class="image-container">
			<a href="<%= url %>">
				<% if(is_link_out){ %>
					<div class="link-out-container <%= link_out_class %>">
						<div class="site-logo"></div>
					</div>
				<% } %>

				<%= thumb_html %>

				<% if(media_type_id == 1 && video_duration_visual != false){ %>
					<div class="video-duration">
						<p><%= video_duration_visual %></p>
					</div>
				<% } %>
			</a>
		</div>
	<% } %>

	<div class="title-wrapper">
		<h2 class="item-title">
			<a href="<%= url %>">
				<%= text %>
			</a>
		</h2>
	</div>
</script>		</div>

		<div class="social-buttons-wrapper">
			<div class="social-buttons-container">
				<ul>
					<li class="google-plus">
						 <div class="g-follow" data-height="20" data-annotation="bubble" data-href="https://plus.google.com/104936961502301697224/"></div>
					</li><!--
					--><li class="facebook">
						<div id="fb-root"></div>
						<div class="fb-like" data-href="https://www.facebook.com/Vice" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</li><!--
					--><li class="twitter">
						<a href="https://twitter.com/vicecanada" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @vice</a>
					</li><!--
					--><li class="tumblr">
						<iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="114" src="//platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=vice&color_scheme=dark"></iframe>
					</li><!--
					--><li class="subscribe">
						 <a href="http://eepurl.com/s96Qb" target="_blank">
						 <span class="site-icon email-envelope">Subscribe</a>
					</li><!--
					--><li class="youtube">
						<div class="g-ytsubscribe" data-channel="vice" data-layout="default" data-count="default"></div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</header>
		<div class="site-content">
			<div class="page-container homepage-container">
			<section class="lede homepage-lede parallax-enabled accent-strip">
			<div class="lede-images image-container">
				<a href="http://www.vice.com/en_ca/read/heres-how-to-grow-weed-in-your-apartment-in-just-10-steps">
					<img class="lede-image mobile" src="https://vice-images.vice.com/images/features/crops/2016/03/01/general-1456861019-crop_mobile.jpg?resize=*:*&output-quality=75" alt="10 Steps for Growing Your Own Medical Weed" />
					<img class="lede-image desktop" src="https://vice-images.vice.com/images/features/crops/2016/03/01/general-1456861019-crop_desktop.jpg?resize=*:*&output-quality=75" alt="10 Steps for Growing Your Own Medical Weed" />
					<img class="lede-image lede" src="https://vice-images.vice.com/images/features/crops/2016/03/01/general-1456861019-crop_lede.jpg?resize=*:*&output-quality=75" alt="10 Steps for Growing Your Own Medical Weed" />

									</a>
			</div>

			<div class="image-placeholder"></div>

			<div class="lede-information-wrapper information-wrapper">
				<a href="http://www.vice.com/en_ca/read/heres-how-to-grow-weed-in-your-apartment-in-just-10-steps">
					<div class="lede-information information">
						<div class="information-inner">
							<div class="information-title">
								<h2>
									<span>10 Steps for Growing Your Own Medical Weed</span>
								</h2>

																	<p> Thanks to Canada's Court System, This Is Now a Possbility</p>
															</div>

							<p class="cta ">Read now</p>
						</div>
					</div>
				</a>
			</div>
		</section>
	
	<div class="page-inner-content homepage-inner-content">
		<div class="page-inner-wrapped-content homepage-inner-wrapped-content">
							<div class="list-widget homepage-todays-stories  grid-view" data-total-items="79" data-items-per-page="6" data-thread='vicetoday'>
	
<script type="text/template" id="grid-list-view-template">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="<%= publish_date %>">
			<%= display_date %>
		</span>

		<% if(is_link_out){ %>
			<a class="link-out-link" href="<%= url %>">
				<div class="link-out-container <%= link_out_class %>">
					<div class="site-logo"></div>
				</div>
			</a>
		<% }else if(model_series_is_branded){ %>
			<span class="item-category">
				Sponsored			</span>
		<% }else if(category){ %>
			<a href="<%= category.url %>" class="item-category <%= category.class %>">
				<%= category.title %>
			</a>
		<% } %>
	</div>

	<% if(thumb_html){ %>
		<div class="image-container">
			<a href="<%= url %>">
				<%= thumb_html %>

				<% if(media_type_id == 1 && video_duration_visual != false){ %>
					<div class="video-duration">
						<p><%= video_duration_visual %></p>
					</div>
				<% }else if(media_type_id == "0" && !is_photo_category){ %>
					<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
				<% } %>
			</a>
		</div>
	<% } %>

	<% if(is_photo_category){ %>
		<header class="item-header-wrapper">
			<div class="item-header-container">
				<div class="item-header">
					<div class="item-meta-information grid">
						<% if(contributor){ %>
							<span class="author">
								<%= contributor.byline %>
							</span>
						<% } %>
					</div>

					<h2 class="item-title">
						<a href="<%= url %>">
							<%= info.title %>
						</a>
					</h2>

					<div class="cta">
						<span class="site-icon icon-photo"></span>
					</div>
				</div>
			</div>
		</header>
	<% }else{ %>
		<div class="item-meta-information grid">
			<% if(contributor){ %>
				<span class="author">
					<%= contributor.byline %>
				</span>
			<% } %>
		</div>

		<h2 class="item-title">
			<a href="<%= url %>">
				<%= info.title %>
			</a>
		</h2>
	<% } %>

	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="<%= publish_date %>">
			<%= display_date %>
		</span>

		<% if(contributor){ %>
			<span class="author">
				<%= contributor.byline %>
			</span>
		<% } %>
	</div>

	<p class="item-description">
		<a href="<%= url %>">
			<%= excerpt %>
		</a>
	</p>
</script>
<section class="items-container" id=""><article class="item" data-model-id="203087">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a href="/en_ca/news" class="item-category category-news">
				News			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/marissa-shephard-the-20-year-old-fugitive-wanted-for-murder-has-been-caught-in-new-brunswick">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/03/01/marissa-shephard-the-20-year-old-fugitive-wanted-for-murder-has-been-caught-in-new-brunswick-1456854721-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Marissa Shephard, the 20-Year-Old Fugitive Wanted For Murder, Has Been Caught in New Brunswick" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_ca/author/manisha-krishnan">Manisha Krishnan</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/marissa-shephard-the-20-year-old-fugitive-wanted-for-murder-has-been-caught-in-new-brunswick">
				Marissa Shephard, the 20-Year-Old Fugitive Wanted For Murder, Has Been Caught in New Brunswick			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				<a href="/en_ca/author/manisha-krishnan">Manisha Krishnan</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/marissa-shephard-the-20-year-old-fugitive-wanted-for-murder-has-been-caught-in-new-brunswick">
			Shephard was on the run for 10 weeks following the death of Baylee Wylie.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203079">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a href="/en_ca/column" class="item-category category-column">
				Column			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/i-got-married-to-keep-my-girlfriend-in-canada">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/03/01/i-got-married-to-keep-my-girlfriend-in-canada-1456852603-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="​I Got Married to Keep My Girlfriend in Canada" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Anonymous				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/i-got-married-to-keep-my-girlfriend-in-canada">
				​I Got Married to Keep My Girlfriend in Canada			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				Anonymous			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/i-got-married-to-keep-my-girlfriend-in-canada">
			If you are dating an immigrant whose legal status is threatened, marriage can be the easiest way to save them from deportation.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203080">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a href="/en_ca/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/heres-how-to-grow-weed-in-your-apartment-in-just-10-steps">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/03/01/heres-how-to-grow-weed-in-your-apartment-in-just-10-steps-1456854362-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Here’s How To Grow &#039;Medical&#039; Weed in Your Apartment in Just 10 Steps " />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_ca/author/manisha-krishnan">Manisha Krishnan</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/heres-how-to-grow-weed-in-your-apartment-in-just-10-steps">
				Here’s How To Grow 'Medical' Weed in Your Apartment in Just 10 Steps 			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				<a href="/en_ca/author/manisha-krishnan">Manisha Krishnan</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/heres-how-to-grow-weed-in-your-apartment-in-just-10-steps">
			Thanks to Canada's court system, medical pot users will soon be able to grow their own medicine.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203046">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a href="/en_ca/stuff" class="item-category category-stuff">
				Stuff			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/heres-a-picture-of-ontario-premier-kathleen-wynne-smiling-near-a-pink-dick-volcano">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/03/01/heres-a-picture-of-ontario-premier-kathleen-wynne-smiling-near-a-pink-dick-volcano-1456847850-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Here’s a Picture of Ontario Premier Kathleen Wynne Smiling Near a Pink Dick Volcano" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_ca/author/manisha-krishnan">Manisha Krishnan</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/heres-a-picture-of-ontario-premier-kathleen-wynne-smiling-near-a-pink-dick-volcano">
				Here’s a Picture of Ontario Premier Kathleen Wynne Smiling Near a Pink Dick Volcano			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				<a href="/en_ca/author/manisha-krishnan">Manisha Krishnan</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/heres-a-picture-of-ontario-premier-kathleen-wynne-smiling-near-a-pink-dick-volcano">
			Some stories just write themselves.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="202878">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-02-29">
			Feb 29, 2016		</span>

					<a href="/en_ca/news" class="item-category category-news">
				News			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/montreal-has-issued-110000-worth-of-fines-to-one-homeless-man">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/03/01/montreal-has-issued-110000-worth-of-fines-to-one-homeless-man-1456842433-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Montreal Has Issued $110,000 Worth of Fines to One Homeless Man" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Patrick Lejtenyi				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/montreal-has-issued-110000-worth-of-fines-to-one-homeless-man">
				Montreal Has Issued $110,000 Worth of Fines to One Homeless Man			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-02-29">
			Feb 29, 2016		</span>

					<span class="author">
				Patrick Lejtenyi			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/montreal-has-issued-110000-worth-of-fines-to-one-homeless-man">
			There's something ass-backwards about Montreal's homeless policy and how police make it tougher for those who live on the street.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203060">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a href="/en_ca/news" class="item-category category-news">
				News			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/making-beats-with-the-young-inmates-of-rikers-island">
				<img src="https://vice-images.vice.com/images/articles/crops/2016/03/01/making-beats-with-the-young-inmates-of-rikers-island-1456856128-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Hip-Hop in Rikers Island" />
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					<a href="/en_ca/author/john-surico">John Surico</a>				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/making-beats-with-the-young-inmates-of-rikers-island">
				Hip-Hop in Rikers Island			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				<a href="/en_ca/author/john-surico">John Surico</a>			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/making-beats-with-the-young-inmates-of-rikers-island">
			Hanging out with teenagers who love hip-hop on a Friday night at the notorious jail complex in New York City.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203105">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a class="link-out-link" href="http://motherboard.vice.com/read/if-we-want-to-find-aliens-we-should-search-for-the-ones-searching-for-us-exoplanet-transit-observation-earth?trk_source=homepage-lede">
				<div class="link-out-container motherboard">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://motherboard.vice.com/read/if-we-want-to-find-aliens-we-should-search-for-the-ones-searching-for-us-exoplanet-transit-observation-earth?trk_source=homepage-lede">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/03/01/if-we-want-to-find-aliens-we-should-search-for-the-ones-searching-for-us-201-1456857528-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="If We Want to Find Aliens, We Should Search for the Ones Searching for Us" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/03/01/if-we-want-to-find-aliens-we-should-search-for-the-ones-searching-for-us-201-1456857528-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="If We Want to Find Aliens, We Should Search for the Ones Searching for Us" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Kaleigh Rogers				</span>
					</div>

		<h2 class="item-title">
			<a href="http://motherboard.vice.com/read/if-we-want-to-find-aliens-we-should-search-for-the-ones-searching-for-us-exoplanet-transit-observation-earth?trk_source=homepage-lede">
				If We Want to Find Aliens, We Should Search for the Ones Searching for Us			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				Kaleigh Rogers			</span>
			</div>

	<p class="item-description">
		<a href="http://motherboard.vice.com/read/if-we-want-to-find-aliens-we-should-search-for-the-ones-searching-for-us-exoplanet-transit-observation-earth?trk_source=homepage-lede">
			A paper published today in Astrobiology details a new strategy for seeking out intelligent life.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203103">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a class="link-out-link" href="https://munchies.vice.com/en/articles/a-guide-to-north-korean-food-from-a-man-whos-been-eating-it-for-14-years">
				<div class="link-out-container munchies">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="https://munchies.vice.com/en/articles/a-guide-to-north-korean-food-from-a-man-whos-been-eating-it-for-14-years">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/03/01/a-guide-to-north-korean-food-from-a-man-whos-been-eating-it-for-14-years-201-1456857370-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="A Guide to North Korean Food from a Man Who’s Been Eating It for 14 Years" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/03/01/a-guide-to-north-korean-food-from-a-man-whos-been-eating-it-for-14-years-201-1456857370-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="A Guide to North Korean Food from a Man Who’s Been Eating It for 14 Years" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Jamie Fullerton				</span>
					</div>

		<h2 class="item-title">
			<a href="https://munchies.vice.com/en/articles/a-guide-to-north-korean-food-from-a-man-whos-been-eating-it-for-14-years">
				A Guide to North Korean Food from a Man Who’s Been Eating It for 14 Years			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				Jamie Fullerton			</span>
			</div>

	<p class="item-description">
		<a href="https://munchies.vice.com/en/articles/a-guide-to-north-korean-food-from-a-man-whos-been-eating-it-for-14-years">
			Having visited North Korea nearly 150 times, Simon Cockerell is well-versed in the cuisine of the hermit kingdom. His advice: try the sushi, but avoid the clams cooked in gasoline.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="202839">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a href="/en_ca/news" class="item-category category-news">
				News			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/berline-ex-pats-brexit">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/02/29/berline-ex-pats-brexit-1456769652-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="We Asked British Expats in Berlin if They&amp;#39;re Worried About the UK Leaving the EU" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/02/29/berline-ex-pats-brexit-1456769652-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="We Asked British Expats in Berlin if They&amp;#39;re Worried About the UK Leaving the EU" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Mike Meehall Wood				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/berline-ex-pats-brexit">
				We Asked British Expats in Berlin if They're Worried About the UK Leaving the EU			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				Mike Meehall Wood			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/berline-ex-pats-brexit">
			Unsurprisingly, most of them want the UK to stay in the EU.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="202871">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a href="/en_ca/news" class="item-category category-news">
				News			</a>
			</div>

			<div class="image-container">
			<a href="/en_ca/read/why-america-is-still-obsessed-with-oj-simpson">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/03/01/why-america-is-still-obsessed-with-oj-simpson-1456791569-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Why America Is Still Obsessed with OJ Simpson" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/03/01/why-america-is-still-obsessed-with-oj-simpson-1456791569-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Why America Is Still Obsessed with OJ Simpson" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Hayley Fox				</span>
					</div>

		<h2 class="item-title">
			<a href="/en_ca/read/why-america-is-still-obsessed-with-oj-simpson">
				Why America Is Still Obsessed with OJ Simpson			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				Hayley Fox			</span>
			</div>

	<p class="item-description">
		<a href="/en_ca/read/why-america-is-still-obsessed-with-oj-simpson">
			His 1995 murder trial was all about race, sex, and policing—issues that haven't exactly disappeared from the national radar.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203076">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a class="link-out-link" href="http://thecreatorsproject.vice.com/blog/roger-ballen-photography-art-advice">
				<div class="link-out-container creators-project">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://thecreatorsproject.vice.com/blog/roger-ballen-photography-art-advice">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/03/01/die-antwoord-photographer-roger-ballens-best-art-advice-201-1456851820-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Die Antwoord Photographer Roger Ballen&amp;#39;s Best Art Advice" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/03/01/die-antwoord-photographer-roger-ballens-best-art-advice-201-1456851820-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Die Antwoord Photographer Roger Ballen&amp;#39;s Best Art Advice" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Beckett Mufson 				</span>
					</div>

		<h2 class="item-title">
			<a href="http://thecreatorsproject.vice.com/blog/roger-ballen-photography-art-advice">
				Die Antwoord Photographer Roger Ballen's Best Art Advice			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				Beckett Mufson 			</span>
			</div>

	<p class="item-description">
		<a href="http://thecreatorsproject.vice.com/blog/roger-ballen-photography-art-advice">
			Roger Ballen unveils the thought process behind his gritty brand of photography, and what makes it art.		</a>
	</p>
</article><!-- --><article class="item" data-model-id="203066">
	<div class="item-category-info">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<a class="link-out-link" href="http://broadly.vice.com/en_us/article/restricting-abortion-access-is-a-terrible-way-to-fix-your-population-crisis">
				<div class="link-out-container broadly">
					<div class="site-logo"></div>
				</div>
			</a>
			</div>

			<div class="image-container">
			<a href="http://broadly.vice.com/en_us/article/restricting-abortion-access-is-a-terrible-way-to-fix-your-population-crisis">
				<img class="srcN fade-in lazy" data-sources="https://vice-images.vice.com/images/articles/crops/2016/03/01/restricting-abortion-access-is-a-terrible-way-to-fix-your-population-crisis-912-1456850236-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75 400px" data-breakpoints="100% 400px" src="/assets/images/vice/blank-transarent.png" alt="Restricting Abortion Access Is a Terrible Way to Fix Your Population Crisis" /><noscript><img class="srcN fade-in lazy" src="https://vice-images.vice.com/images/articles/crops/2016/03/01/restricting-abortion-access-is-a-terrible-way-to-fix-your-population-crisis-912-1456850236-crop_mobile_400.jpg?resize=*:*&amp;output-quality=75" alt="Restricting Abortion Access Is a Terrible Way to Fix Your Population Crisis" /></noscript>
									<div class="read-icon">
						<span class="site-icon read-cta"></span>
					</div>
							</a>
		</div>
	
			<div class="item-meta-information grid">
							<span class="author">
					Beulah Devaney				</span>
					</div>

		<h2 class="item-title">
			<a href="http://broadly.vice.com/en_us/article/restricting-abortion-access-is-a-terrible-way-to-fix-your-population-crisis">
				Restricting Abortion Access Is a Terrible Way to Fix Your Population Crisis			</a>
		</h2>
	
	<div class="item-meta-information list">
		<span class="publish-time" data-publish-date="2016-03-01">
			Mar 1, 2016		</span>

					<span class="author">
				Beulah Devaney			</span>
			</div>

	<p class="item-description">
		<a href="http://broadly.vice.com/en_us/article/restricting-abortion-access-is-a-terrible-way-to-fix-your-population-crisis">
			Hungary is trying to grow its population, but instead of supporting women's right to choose, the government has been making it harder and harder to access legal—for now—terminations.		</a>
	</p>
</article><!-- --></section>

	<div class="more-button">
		<p>
			<a href="/en_ca/articles">
				More			</a>
		</p>
	</div>
</div>

	<script type="text/template" id="todays-stories-ad-template">
		<div class="vmp-ad ad-articles-list" data-ref="large_in_content"></div>	</script>

	<script type="text/template" id="todays-stories-billboard-ad-template">
		<div class="vmp-ad ad-articles-list" data-ref="homepage_super_billboard"></div>	</script>

					</div>
	</div>
</div>
		</div>

		<footer class="site-footer">
	<ul>
		<li>&copy;2016 VICE Media LLC </li>
	</ul>
</footer>	</section>

	<script type="text/javascript">
/*<![CDATA[*/
window.vmp_ad_config = {
 ad_slots : {},
 ad_targetting_sizes : {},
 config : {
  adunit : "vice.com/homepage",
  targeting : {
   aid : "homepage",
   atype : "homepage",
   country : "en_ca"
  }
 }
};
/*]]>*/
</script><script type="application/ld+json">

{ "@context" : "http://schema.org",

  "@type" : "Organization",

  "name" : "Vice",

  "url" : "http://www.vice.com",

  "sameAs" : [ "https://www.facebook.com/VICE",

  "https://www.youtube.com/user/vice",

  "https://www.instagram.com/vice/",

  "https://www.pinterest.com/vicemag/",

  "https://twitter.com/vice",

  "https://plus.google.com/b/106872472930730227853/+VICE"] 

}

</script>
<script type="text/javascript">
/*<![CDATA[*/
var SYSTEM_PREFIX = 'vmp', SITE_PREFIX = 'vice', SITE_LOCALE ='en_ca';
//Socials
var SITE_SOCIALS = {'social_google_plus' : 'https://plus.google.com/104936961502301697224/',
'social_facebook' : 'Vice',
'social_tumblr' : 'http://vicecanada.tumblr.com/',
'social_youtube' : 'vice',
'social_twitter' : 'vicecanada',
'social_instagram' : 'vice'};

//Total analytics accounts
var TOTAL_ANALYTICS_ACCOUNTS = 1;

//Begin Chartbeat Code
var _sf_async_config={};
//CONFIGURATION START
_sf_async_config['uid'] = 8233;
_sf_async_config['domain'] = 'vice.com';
_sf_async_config['videoType'] = 'ooyala';
_sf_async_config['sections'] = 'en_ca';
_sf_async_config['type'] = 'index';

//CONFIGURATION END
(function(){
function loadChartbeat(){
window._sf_endpt=(new Date()).getTime();
var e = document.createElement('script');
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat_pub.js');
document.body.appendChild(e);
e = document.createElement('script'); 
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', '//static.chartbeat.com/js/chartbeat_video.js');
document.body.appendChild(e);
}
var oldonload = window.onload;
window.onload = (typeof window.onload != 'function') ? loadChartbeat : function(){ oldonload(); loadChartbeat(); };
})();

</script><!-- Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-6EzWtvBV9sFU3"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-6EzWtvBV9sFU3.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->

<!-- BEGIN Krux Control Tag for "Vice.com" -->

<!-- Source: /snippet/controltag?confid=JLmLD3_1&site=VICE.com&edit=1 -->
<script class="kxct" data-id="JLmLD3_1" data-timing="async" data-version="1.9" type="text/javascript">
  window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
  (function(){
    var k=document.createElement('script');k.type='text/javascript';k.async=true;
    var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
    k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" :
      (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=JLmLD3_1"
  ;
    var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
  }());
  
</script>
<script>
	window.Krux||((Krux=function(){Krux.q.push(arguments);}).q=[]);
	(function(){
	 function retrieve(n){
	var m, k='kx'+n;
	if(window.localStorage){
	   return window.localStorage[k] || "";
	}else if(navigator.cookieEnabled){
	   m = document.cookie.match(k+'=([^;]*)');
	   return (m && unescape(m[1])) || "";
	}else{
	   return '';
	}
	}
	 Krux.user = retrieve('user');
	 Krux.segments = retrieve('segs') && retrieve('segs').split(',') || [];
	})();
</script>
<!-- END Krux Controltag -->

<!-- Start Comscore -->
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<script>
		var _comscore = _comscore || [];
		_comscore.push({ c1: "2", c2: "8568956" });
		(function() {
		var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
		s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
				el.parentNode.insertBefore(s, el);
		})();
	</script>
	<noscript>
		<img src="http://b.scorecardresearch.com/p?c1=2&c2=8568956&cv=2.0&cj=1" />
	</noscript>
<!-- End Comscore -->

<!-- Start Alexa Certify Javascript -->
	<script type="text/javascript">
	_atrk_opts = { atrk_acct:"x5HVh1aUXR00Gi", domain:"vice.com",dynamic: true};
	(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
	</script>
	<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=x5HVh1aUXR00Gi" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<!-- Start Compete XL -->
	<script type="text/javascript">
	    __compete_code = 'c79a03b00361f17867f62f423817279a';
	    /* Set control variables below this line. */
	</script>
	<script type="text/javascript" src="//c.compete.com/bootstrap/s/c79a03b00361f17867f62f423817279a/vice-com/bootstrap.js"></script>
	<noscript>
	   <img width="1" height="1" src="https://ssl-vice-com-c79a03.c-col.com"/>
	</noscript>
<!-- End Compete XL -->

<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5FBQQG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5FBQQG');</script>
<!-- End Google Tag Manager -->

<!-- START Nielsen Online SiteCensus V6.0 -->
<!-- COPYRIGHT 2012 Nielsen Online -->
<script type="text/javascript" src="//secure-au.imrworldwide.com/v60.js">
</script>
<script type="text/javascript">
 var pvar = { cid: "au-vice", content: "0", server: "secure-au" };
 var trac = nol_t(pvar);
 trac.record().post();
</script>
<noscript>
 <div>
 <img src="//secure-au.imrworldwide.com/cgi-bin/m?ci=au-vice&cg=0&cc=1&ts=noscript"
 width="1" height="1" alt="" />
 </div>
</noscript>
<!-- END Nielsen Online SiteCensus V6.0 -->

<!--Austrian OEWA Tracker-->
<script type="text/javascript" src="https://vice-ads-cdn.vice.com/AT_CH/OEWA/oewa_pixel.js" async="async"></script>
<!--End Austrian OEWA Tracker--><script>
//Google Custom Search Engine
var GOOGLE_CUSTOM_SEARCH_ENGINE_ID = '014486740869999609936:byy0orna93i';

//Available locales
var AVAILABLE_LOCALES = [
{"link":"\/en_au","label":"Australia \/ NZ"},
{"link":"\/be","label":"Belgium"},
{"link":"\/pt_br","label":"Brasil"},
{"link":"\/en_ca","label":"Canada"},
{"link":"\/cs","label":"\u010cesko\/Slovensko"},
{"link":"http:\/\/www.vice.cn","label":"\u4e2d\u56fd"},
{"link":"\/es_co","label":"Colombia"},
{"link":"\/en_dk","label":"Denmark"},
{"link":"\/de","label":"Deutschland"},
{"link":"\/es","label":"Espa\u00f1a"},
{"link":"\/fr","label":"France"},
{"link":"\/gr","label":"Greece"},
{"link":"\/it","label":"Italia"},
{"link":"http:\/\/jp.vice.com","label":"Japan"},
{"link":"\/es_mx","label":"M\u00e9xico"},
{"link":"\/nl","label":"Nederland"},
{"link":"\/en_se","label":"Sweden"},
{"link":"\/alps","label":"\u00d6sterreich\/Schweiz"},
{"link":"\/pl","label":"Polska"},
{"link":"\/pt","label":"Portugal"},
{"link":"\/ro","label":"Romania"},
{"link":"\/ru","label":"\u0420\u043e\u0441\u0441\u0438\u044f"},
{"link":"\/rs","label":"Srbija"},
{"link":"\/en_uk","label":"United Kingdom"},
{"link":"\/en_us","label":"United States"}
];
var CURRENT_LOCALE = 'en_ca';
var MOMENT_LOCALE = 'en-ca';
var CURRENT_LANGUAGE = 'en';

/*]]>*/
</script>
<script type="text/javascript" src="/assets/js/vmp/lib/require.min.js?v20160225200032" id="vmp-require-js" data-main="/assets/js/vmp/system/require.config.js?v20160225200032" data-config-extension="/assets/js/vice/configs/vice.config.js?v20160225200032" data-main-script="/assets/js/vice/site/index.js" data-asset-version="v20160225200032" async="async"></script>
</body>
</html>