 .sttb {	
    BACKGROUND-IMAGE: none;	
    BORDER-TOP-STYLE: none;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;
    PADDING-TOP: 2px;	} 
    
    .sttr {	
    BACKGROUND-IMAGE: none;	
    BORDER-TOP-STYLE: none;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;} 
    
    .sttd {	
    BACKGROUND-IMAGE: none;	
    BORDER-TOP-STYLE: none;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;
    WIDTH: 35px;} 
   /* 
    element.style {
	overflow-x:hidden;
	overflow-y:hidden;
	width:100%;
	}
    */
    .stdv {	
    PADDING-RIGHT: 3px;	
    PADDING-LEFT: 8px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 2px;	
    BORDER-RIGHT-STYLE: solid;	
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #FFFFFF;
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;
    white-space: nowrap;} 

    .stdv a:link, .stdv a:visited, .stdv a:active{
    color: #0066CC;
    text-decoration: underline;}
    
    .stdv a:hover
    {
    color: #0066CC;
    text-decoration: none;}    
    
    .sta:link {	
    PADDING-RIGHT: 0px;	
    DISPLAY: block;	
    PADDING-LEFT: 0px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 0px;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;} 
    
    /*
    .sta:hover {	
    PADDING-RIGHT: 0px;	
    DISPLAY: block;	
    PADDING-LEFT: 0px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 0px;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none} 
    
    .sta:active {	
    PADDING-RIGHT: 0px;	
    DISPLAY: block;	
    PADDING-LEFT: 0px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 0px;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none} 
    
    .sta:visited {	
    PADDING-RIGHT: 0px;	
    DISPLAY: block;	
    PADDING-LEFT: 0px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 0px;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none} 
    */
    .sthd {	DISPLAY: none} 
    
    .stsp {	
    PADDING-RIGHT: 0px;	
    PADDING-LEFT: 0px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 0px;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;} 
    
    #stUI1 {
    float:right;
    }
    
    #stUI1_display {
    WIDTH:300px;
    PADDING-RIGHT: 2px;	
    PADDING-LEFT: 2px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 8px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 2px;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;}
      
   #stUI1_arr0img, #stUI1_arr1img
    {
    BORDER-STYLE: none;
	}

    #stUI1_arr1, #stUI1_arr0 
    { 
    PADDING-TOP: 4px;}
  
    #stUI1_sc {	
    PADDING-RIGHT: 1px;	
    PADDING-LEFT: 1px;	
    BACKGROUND-IMAGE: none;	
    PADDING-BOTTOM: 0px;	
    MARGIN: 0px;	
    BORDER-TOP-STYLE: none;	
    PADDING-TOP: 0px;	
    BORDER-RIGHT-STYLE: none;	
    BORDER-RIGHT-COLOR: #FFFFFF;
    BORDER-LEFT-STYLE: none;	
    BACKGROUND-COLOR: transparent;	
    BORDER-BOTTOM-STYLE: none;} 
 

    #TickerGDLeft {
	color:#0066CC;
	float:left;
    height:40px;
    margin: 0px;
    padding: 0;
	vertical-align: middle;	
	width:30px;} 
    
    #TickerGDLeft p 
    {
     margin:0px;
     font-size: 12px;
     font-weight:bold;
     padding-top: 5px;
     padding-left: 12px;
    }
    
    #TickerControl {
    padding: 0px;
	BACKGROUND-IMAGE: url('../Images/ticker_gradient_bg.png');
    BACKGROUND-REPEAT: repeat-x;		
    MARGIN: 0px;	
    WIDTH: 460px;	
    HEIGHT: 40px;}   
  