.ThriftyBlue { color: #0066cc; }

.ThriftyDarkBlue { color: #004C99 }

.ThriftySkyBlue { color: #cce6ff; }

.ThriftyEmphasisBlue { color: #99ccff; }

.ThriftyOrange { color: #ff6600; }

.ThriftyErrorRed { color: #cc0000; }

.ThriftyTextBlack { color: #333333; }

.ThriftyOffBlack { color: #666666; }

.ThriftyLightGrey { color: #cccccc; }

.ThriftyOffWhite { color: #e6e6e6; }

.ThriftyWhite { color: #ffffff; }

.FinePrint { font-family: Arial; font-size: 10px; }

#bodyText p.SquintPrint { font-family: Arial; font-size: 9px; }