#sony-main {
  background: #262629;
}

#grid {}

  #grid .panel {
    position: relative;
  }
  #grid .sub-panel {
    position: relative;
  }
  #grid .tile-frame {
    float: left;
    position: relative;
    width: 100%;
    max-width: 480px;
    background-image: url(/static/img/preloader-small.gif);
    background-repeat: no-repeat;
    background-position: center center;
  }

  #grid ._1col-split {
    width: 50%;
  }

  #grid .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 4px;
    z-index: 2;
  }

  #grid .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px #000;
    box-shadow: 0 1px 2px #000;
    overflow: hidden;
    z-index: 1;
  }
    #grid .bg img {
      position: absolute;
      top: 0;
      height: 100%;
      opacity: 1;
      border-radius: 2px;
      z-index: 2;
    }

    #grid .bg-img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      z-index: 2;
    }

    #grid .bg .hover {
      display: none;
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      border-radius: 2px;
      background-color: #d7dce0;
    }

  #grid ._2x1 .bg img {
    margin-left: -50%;
  }
  #grid ._3x2 .bg img {
    margin-left: -25%;
  }
  #grid ._5x2 .bg img {
    margin-left: -75%;
  }
  #grid ._5x3 .bg img {
    margin-left: -100%;
  }

  #grid .sizer {
    position: relative;
  }
    #grid .sizer:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

  @media screen and (min-width: 450px) {
    #grid .panel:before,
    #grid .panel:after,
    #grid .sub-panel:before,
    #grid .sub-panel:after {
      content: " ";
      display: table;
    }
    #grid .panel:after,
    #grid .sub-panel:after {
      clear: both;
    }
    #grid .panel,
    #grid .sub-panel {
      *zoom: 1;
    }

    #grid .tile-frame {
      max-width: none;
    }

    #grid ._1x1 .sizer:before {
      padding-top: 100%;
    }
    #grid ._2x2 .sizer:before {
      padding-top: 100%;
    }
    #grid ._1x2 .sizer:before {
      padding-top: 200%;
    }
    #grid ._2x1 .sizer:before {
      padding-top: 50%;
    }
    #grid ._3x2 .sizer:before {
      padding-top: 66.666%;
    }
    #grid ._5x2 .sizer:before {
      padding-top: 66.666%;
    }
    #grid ._5x3 .sizer:before {
      padding-top: 100%;
    }

    #grid ._2x1 .bg img,
    #grid ._3x2 .bg img {
      margin-left: 0;
    }
    #grid ._5x2 .bg img {
      margin-left: -33.333%;
    }
    #grid ._5x3 .bg img {
      margin-left: -66.666%;
    }
  }
  @media screen and (min-width: 450px) and (max-width: 642px) {
    #grid ._1x1,
    #grid ._1x2 {
      width: 50%;
    }
    #grid ._2x1,
    #grid ._2x2 {
      width: 100%;
    }
    #grid ._3x2 {
      width: 100%;
    }
    #grid ._5x2 {
      width: 100%;
    }
    #grid ._5x3 {
      width: 100%;
    }
    #grid ._2x1._2col-1x1 {
      width: 50%;
    }
      #grid ._2x1._2col-1x1 .bg img {
        margin-left: -50%;
      }
      #grid ._2x1._2col-1x1 .sizer:before {
        padding-top: 100%;
      }
  }
  @media screen and (min-width: 643px) {
    #grid .bg img {
      width: 100%;
      height: auto;
    }
    #grid ._5x2 .bg img {
      width: auto;
      height: 100%;
    }
  }
  @media screen and (min-width: 643px) and (max-width: 999px) {
    #grid ._1x1,
    #grid ._1x2 {
      width: 33.33%;
    }
    #grid ._2x1,
    #grid ._2x2 {
      width: 66.66%;
    }
    #grid ._3x2 {
      width: 100%;
    }
    #grid ._5x2 {
      width: 100%;
    }
    #grid ._5x3 {
      width: 100%;
    }

    #grid .sub-sub-panel._3col-1 {
      float: left;
      width: 33.333%;
    }
      #grid .sub-sub-panel._3col-1 ._1x1,
      #grid .sub-sub-panel._3col-1 ._1x2 {
        width: 100%;
      }
    #grid .sub-sub-panel._3col-2 {
      float: left;
      width: 66.66%;
    }
      #grid .sub-sub-panel._3col-2 ._1x1,
      #grid .sub-sub-panel._3col-2 ._1x2 {
        width: 50%;
      }
      #grid .sub-sub-panel._3col-2 ._2x1,
      #grid .sub-sub-panel._3col-2 ._2x2 {
        width: 100%;
      }
  }
  @media screen and (min-width: 1000px) {
    #grid ._1x1,
    #grid ._1x2 {
      width: 20%;
    }
    #grid ._2x1,
    #grid ._2x2 {
      width: 40%;
    }
    #grid ._3x2 {
      width: 60%;
    }
    #grid ._5x2 {
      width: 100%;
    }
      #grid ._5x2 .bg img {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
      #grid ._5x2 .sizer:before {
        padding-top: 40%;
      }
    #grid ._5x3  {
      width: 100%;
    }
      #grid ._5x3 .bg img {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
      #grid ._5x3 .sizer:before {
        padding-top: 60%;
      }

    #grid ._5col-3 {
      float: left;
      width: 60%;
    }
      #grid ._5col-3 ._1x1,
      #grid ._5col-3 ._1x2 {
        width: 33.333%;
      }
      #grid ._5col-3 ._2x1,
      #grid ._5col-3 ._2x2 {
        width: 66.666%;
      }
      #grid ._5col-3 ._3x2 {
        width: 100%;
      }

    #grid ._5col-2 {
      float: left;
      width: 40%;
    }
      #grid ._5col-2 ._1x1,
      #grid ._5col-2 ._1x2 {
        width: 50%;
      }
      #grid ._5col-2 ._2x1,
      #grid ._5col-2 ._2x2 {
        width: 100%;
      }
      #grid ._5col-2 ._3x2 {
        width: 100%;
      }
  }

.tile {}

  .tile.extended .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .tile .copy {
    position: absolute;
    bottom: 20px;
    margin-right: 25px;
    z-index: 4;
  }
    .tile .copy .title {
      float: left;
      clear: both;
      margin: 0;
      font-size: 15px;
    }
      .tile .copy .title a {
        display: block;
        float: left;
        padding: 9px 14px 12px 13px;
        text-decoration: none;
        color: #fff;
        background-color: #c0c0c0;
        background-color: rgba(192, 192, 192, 0.9);
      }
      .tile .copy .title a:empty {
        display: none;
      }
    .tile .copy .more {
      float: left;
      clear: both;
      max-height: 0;
      margin: 0 0 0 0;
      padding: 0 0 0 13px;
      font-size: 12px;
      line-height: 17px;
      color: #fff;
      overflow: hidden;
    }
    .tile .copy .cta {
      float: left;
      clear: both;
      margin: 0;
      overflow: hidden;
      font-size: 11px;
      font-family: "SST W01 Bold", "SST W01", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
    }
      .tile .copy .cta a {
        display: block;
        float: left;
        padding: 9px 14px 12px 13px;
        text-decoration: none;
        color: #222222;
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.9);
      }
        .tile .copy .cta a:empty {
          display: none;
        }
        .tile .copy .cta a span {
          text-transform: none;
        }

    .tile.show-more-touch .hotspot {
      display: none;
    }
    .tile.show-more-touch.show-more .controls {
      display: none;
    }

  .tile.blue .copy .title a {
    background-color: #145aaa;
    background-color: rgba(20, 90, 170, 0.85);
  }
  .tile.light-blue .copy .title a {
    background-color: #1bb3df;
    background-color: rgba(40, 180, 220, 0.85);
  }
  .tile.red .copy .title a {
    background-color: #dc2828;
    background-color: rgba(220, 40, 40, 0.85);
  }
  .tile.orange .copy .title a {
    background-color: #f77700;
    background-color: rgba(245, 120, 30, 0.85);
  }
  .tile.green .copy .title a {
    background-color: #8fcf00;
    background-color: rgba(145, 205, 40, 0.85);
  }
  .tile.purple .copy .title a {
    background-color: #af1ed2;
    background-color: rgba(175, 30, 210, 0.85);
  }
  .tile.holiday-red .copy .title a {
    background-color: #DC3255;
    background-color: rgba(220, 50, 85, 0.85);
  }

  @media screen and (min-width: 643px) {
    .tile.underlap .copy {
      bottom: 55px;
    }
  }

  @media screen and (min-width: 1500px) {
    .wide-true .tile .copy {
      bottom: 40px;
    }
      .wide-true .tile .copy .title a {
        font-size: 18px;
      }
      .wide-true .tile .copy .cta a {
        font-size: 14px;
      }
    .wide-true .tile.underlap .copy {
      bottom: 100px;
    }
  }

  .tile .source {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    z-index: 4;
  }
    .tile .source svg {
      fill: #fff;
    }

    @media screen and (min-width: 1500px) {
      .wide-true .tile .source {
        top: 10px;
        right: 10px;
      }
    }

  .tile .hotspot {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;

    /* override gwt */
    left: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-transition: none;
    transition: none;
   -webkit-backface-visibility: visible;
   -webkit-transformation: none;
  }

    .tile .hotspot:hover {
      /* override gwt */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 0;
      background-color: transparent;
      -webkit-transition: none;
      transition: none;
      z-index: 2;
    }
    .tile .hotspot a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-indent: -9999px;
      z-index: 1;
    }

  .tile .share-box {
    position: absolute;
    top: 7px;
    left: 7px;
    margin: 0;
    padding: 0;
    z-index: 4;
  }

    .tile .share-close {
      display: none;
    }

    .tile .share {
      float: left;
      margin: 0;
      padding: 0;
      width: 34px;
      height: 32px;
      border-radius: 2px;
      overflow: hidden;
    }
      .tile .share.open,
      .tile .share.visible {
        width: auto;
        height: auto;
      }

    .tile .share li {
      float: left;
      position: relative;
      list-style: none;
      opacity: 0;
    }
      .tile .share.open li,
      .tile .share.visible li {
        opacity: 1;
      }

      .tile .share li a {
        display: block;
        position: relative;
        width: 34px;
        height: 32px;
        vertical-align: middle;
        text-align: center;
        text-indent: -9999px;
        overflow: hidden;
        z-index: 2;
      }
      .tile .share li svg {
        position: absolute;
        z-index: 1;
        fill: #fff;
      }

      .tile .share li:nth-child(1) {
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
      }
      .tile .share li:nth-child(2) {
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }
      .tile .share li:nth-child(3) {
        -webkit-transition: opacity 0.3s 0.05s ease;
        transition: opacity 0.3s 0.05s ease;
      }
      .tile .share li:nth-child(4) {
        -webkit-transition: opacity 0.3s 0.1s ease;
        transition: opacity 0.3s 0.1s ease;
      }
      .tile .share li:nth-child(5) {
        -webkit-transition: opacity 0.3s 0.15s ease;
        transition: opacity 0.3s 0.15s ease;
      }

    .tile .share .btn {
      margin-left: 0;
      border-radius: 2px;
      background-color: #1f2024;
      background-color: rgba(31, 32, 36, 0.8);
      padding: 0;
    }
      .tile .share .btn svg {
        top: 8px;
        left: 10px;
        width: 17px;
        height: 13px;
      }
    .tile .share.open .btn,
    .tile .share.visible .btn {
      border-radius: 0;
      background-color: #1f2024;
    }
    .touch .tile .share .btn {
      display: block;
      opacity: 1;
    }

    .tile .share .facebook {
      background-color: #3b5998;
    }
      .tile .share .facebook svg {
        top: 8px;
        left: 13px;
        width: 7px;
        height: 15px;
      }
    .tile .share .twitter {
      background-color: #2ca9e1;
    }
      .tile .share .twitter svg {
        top: 10px;
        left: 10px;
        width: 16px;
        height: 12px;
      }
    .tile .share .tumblr {
      background-color: #2b4663;
    }
      .tile .share .tumblr svg {
        top: 7px;
        left: 12px;
        width: 10px;
        height: 16px;
      }
    .tile .share .link {
      background-color: #1f2024;
    }
      .tile .share .link svg {
        top: 8px;
        left: 9px;
        width: 16px;
        height: 16px;
      }

      .tile .share-link {
        position: absolute;
        top: 0;
        right: 34px;
        width: 0;
        height: 32px;
        background: #1a1a1a;
        overflow: hidden;
        z-index: 2;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        -webkit-transition: left, width 0.3s ease;
        transition: left, width 0.3s ease;
      }
        .tile .share.open + .share-link.open {
          width: 136px;
        }

      .tile .share-link-input {
        box-sizing: border-box;
        height: 32px;
        margin: 0;
        padding: 0.5em;
        border: 0;
        background: #1a1a1a;
        line-height: 32px;
        color: #fff;
      }

    @media screen and (min-width: 643px) {
      .tile .share a {
        height: 34px;
      }
    }
    @media screen and (min-width: 1500px) {
      .wide-true .tile .share-box {
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
      }
        .wide-true .tile .share.open,
        .wide-true .tile .share.visible {
          width: auto;
          height: auto;
        }
        .wide-true .tile .share a {
          width: 40px;
          height: 40px;
        }
        .wide-true .tile .share .btn svg {
          top: 11px;
          left: 13px;
        }
        .wide-true .tile .share .facebook svg {
          top: 11px;
          left: 16px;
        }
        .wide-true .tile .share .twitter svg {
          top: 13px;
          left: 13px;
        }
        .wide-true .tile .share .tumblr svg {
          top: 11px;
          left: 15px;
        }
        .wide-true .tile .share .link svg {
          top: 11px;
          left: 12px;
        }
    }

  .tile iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100.5%;
    border: none;
    overflow: hidden;
    z-index: 1;
  }
  .tile .play {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    background-color: #c0c0c0;
    background-color: rgba(192, 192, 192, 0.8);
    z-index: 4;
  }

    #grid .tile.blue .play {
      background-color: #145aaa;
      background-color: rgba(20, 90, 170, 0.8);
    }
    #grid .tile.light-blue .play {
      background-color: #1bb3df;
      background-color: rgba(40, 180, 220, 0.8);
    }
    #grid .tile.red .play {
      background-color: #dc2828;
      background-color: rgba(220, 40, 40, 0.8);
    }
    #grid .tile.orange .play {
      background-color: #f77700;
      background-color: rgba(245, 120, 30, 0.8);
    }
    #grid .tile.green .play {
      background-color: #8fcf00;
      background-color: rgba(145, 205, 40, 0.8);
    }
    #grid .tile.purple .play {
      background-color: #af1ed2;
      background-color: rgba(175, 30, 210, 0.8);
    }
    #grid .tile.holiday-red .play {
      background-color: #DC3255;
      background-color: rgba(220, 50, 85, 0.8);
    }

    .tile .play a {
      width: 100%;
      height: 100%;
      background-image: url(/static/img/arrow-play.svg);
      background-position: 22px center;
      -webkit-background-size: 12px 18px;
      background-size: 12px 18px;
    }
      .no-svg .tile .play a {
        background-image: url(/static/img/arrow-play-nosvg.png);
      }
    @media screen and (min-width: 643px) {
      .tile .play {
        width: 60px;
        height: 60px;
        margin-right: -30px;
        margin-left: -30px;
      }
        .tile .play a {
          background-position: 26px center;
          -webkit-background-size: 14px 22px;
          background-size: 14px 22px;
        }
    }
    @media screen and (min-width: 1500px) {
      .wide-true .tile .play {
        width: 75px;
        height: 75px;
        margin-right: -37px;
        margin-left: -37px;
      }
        .wide-true .tile .play a {
          background-position: 32px center;
          -webkit-background-size: 17px 27px;
          background-size: 17px 27px;
        }
    }
  .tile .play.loading a {
    background-image: url(/static/img/preloader-on-red.gif);
    background-position: center center;
    -webkit-background-size: auto auto;
    background-size: auto auto;
  }

#grid .tile.overlap {
  z-index: 10;
}
  #grid .tile.overlap .bg {
    background-color: #d7dce0;
  }
  #grid ._2x1 .tile.overlap .bg img {
    height: 90%;
    margin-left: -26%;
    margin-top: 20px;
  }
  /* @media screen and (min-width: 450px) and (max-width: 642px) {
    #grid ._2x1._2col-1x1 .tile.overlap {
      width: 50%;
    }
  } */
  @media screen and (min-width: 643px) {
    #grid .tile.overlap .bg {
      overflow: visible;
    }
      #grid .tile.overlap .bg-img {
        top: auto;
        bottom: 0;
        height: 120%;
      }
      #grid .tile.overlap .bg img {
        margin: -55px 0 0 0;
      }
    #grid ._2x1 .tile.overlap .bg img {
      width: 100%;
      height: auto;
      margin: -55px 0 0 0;
    }
  }

@media screen and (min-width: 1500px) {
  .wide-true #grid ._2x1 .tile.overlap .bg img {
    margin-top: -75px;
  }
}

#grid .tile.ctt-vine .source {
  display: none; /* vine embed displays a logo that conflicts */
}

#grid .tile.ctt-vine .source a svg {
  width: 14px;
  height: 16px;
}
#grid .tile.ctt-vine .play {
  display: none;
}
#grid .tile.ctt-vine .bg {
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#grid .tile.ctt-vine .hotspot {
  display: none; /* hide hotspot at mobile */
}

@media screen and (min-width: 1500px) {
  #grid .tile.ctt-vine .hotspot {
    display: block;
    top: 50px;
    bottom: 0;
    height: auto;
  }
}
  #grid .tile.ctt-vine .bg iframe {
    position: relative;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    width: 101%;
    height: 101%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
  }
  #grid .tile.ctt-vine .bg .disable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
.ipad #grid .tile.ctt-vine .copy, .android #grid .tile.ctt-vine .copy {
  margin-bottom: 30px;
}
@media screen and (min-width: 643px) {
  #grid .tile.ctt-vine .source a svg {
    width: 17px;
    height: 19px;
  }
}
@media screen and (min-width: 1500px) {
  .wide-true #grid .tile.ctt-vine .source a svg {
    width: 23px;
    height: 26px;
  }
}

#grid .tile.ctt-instagram .source svg {
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 643px) {
  #grid .tile.ctt-instagram .source svg {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 1500px) {
  .wide-true #grid .tile.ctt-instagram .source svg {
    width: 23px;
    height: 23px;
  }
}

#grid .tile.ctt-youtube {
  -webkit-transition: margin-top 0.3s ease;
  transition: margin-top 0.3s ease;
}
  #grid .tile.ctt-youtube .source a svg {
    width: 38px;
    height: 16px;
    fill: #fff;
  }
  #grid .tile.ctt-youtube .bg iframe {
    top: -9999px;
  }
  #grid .tile.ctt-youtube.pop-out {
    z-index: 901;
  }
    #grid .tile.ctt-youtube.pop-out .bg iframe {
      top: 0;
    }
    #grid .tile.ctt-youtube.pop-out .controls {
      position: absolute;
      top: -50px;
      right: 0;
      padding: 8px;
      background-color: #000;
      overflow: hidden;
      z-index: 2;
    }
      #grid .tile.ctt-youtube.pop-out .controls .share-close {
        display: block;
        float: right;
        margin: 3px 0 0 15px;
      }
        #grid .tile.ctt-youtube.pop-out .controls .share-close a {
          width: 28px;
          height: 28px;
          background-image: url(/static/img/close-lrg.svg);
        }
          .no-svg #grid .tile.ctt-youtube.pop-out .controls .share-close a {
            background-image: url(/static/img/close-lrg-nosvg.png);
          }
      #grid .tile.ctt-youtube.pop-out .controls .share-box {
        float: left;
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;
      }
        #grid .tile.ctt-youtube.pop-out .controls .share-link.open {
          width: 102px;
        }

        #grid .tile.ctt-youtube.pop-out .controls .share li {
          float: left;
        }
        #grid .tile.ctt-youtube.pop-out .controls .share .btn {
          display: none;
        }
    #grid .tile.ctt-youtube.pop-out .hotspot {
      display: none;
    }
  #grid .tile.ctt-youtube.top.pop-out {
    margin-top: 45px;
  }
  @media screen and (min-width: 643px) {
    #grid .tile.ctt-youtube .source a svg {
      width: 44px;
      height: 18px;
    }
  }
  @media screen and (min-width: 1000px) {
    #grid .tile.ctt-youtube.top.pop-out {
      margin-top: 0;
    }
      #grid .tile.ctt-youtube.top.pop-out .controls {
        top: 0;
        right: -50px;
        overflow: visible;
      }
        #grid .tile.ctt-youtube.top.pop-out .controls .share-close {
          float: none;
          margin: 3px 0 15px 3px;
        }
        #grid .tile.ctt-youtube.top.pop-out .controls .share-box {
          float: none;
        }
          #grid .tile.ctt-youtube.top.pop-out .controls .share li {
            float: none;
          }
        #grid .tile.ctt-youtube.top.pop-out .controls .share-2 a {
          padding: 0 8px;
        }
        #grid .tile.ctt-youtube.top.pop-out .controls .share-2 .text {
          display: none;
        }
    #grid .tile.ctt-youtube.top.right.pop-out .controls {
      right: auto;
      left: -50px;
    }
      #grid .tile.ctt-youtube.top.right.pop-out .controls .share-2 .text {
        display: none;
      }

    #grid .tile.ctt-youtube.pop-out .share {
      float: none;
    }
    #grid .tile.ctt-youtube.top.pop-out .share-link {
      top: auto;
      bottom: 0;
    }
    #grid .tile.ctt-youtube.right.pop-out .share-link {
      left: auto;
      right: 34px;
    }
      #grid ._5x2 .tile.ctt-youtube.pop-out .controls {
        right: 0 !important;
        left: auto !important;
      }
  }

.touch.ctt-youtubeEmbed-true #grid .tile.ctt-youtube .overlay .play {
  display: none;
}
.touch.ctt-youtubeEmbed-true #grid .tile.ctt-youtube .bg img,
.touch.ctt-youtubeEmbed-true #grid .tile.ctt-youtube .bg-img {
  display: none;
}

@media screen and (min-width: 1500px) {
  .wide-true #grid .tile.ctt-youtube .source a svg {
    width: 60px;
    height: 25px;
  }
}

#grid .tile.ctt-twitter .overlay {
  overflow: hidden;
}
#grid .tile.ctt-twitter .icon {
  margin: 18px 0 22px;
  text-align: center;
}
  #grid .tile.ctt-twitter .icon svg {
    width: 20px;
    height: 16px;
    fill: #fff;
  }
#grid .tile.ctt-twitter .tweet {
  margin: 0 5% 23px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
#grid .tile.ctt-twitter .date {
  display: block;
  margin-bottom: 14px;
  font-size: 11px;
  text-align: center;
  /* -webkit-transition: font 0.3s ease;
  transition: font 0.3s ease; */
  color: #fff;
}
#grid .tile.ctt-twitter .hotspot {
  display: block;
  z-index: 5;
}
#grid .tile.ctt-twitter.blue .bg {
  background-color: #145aaa;
}
#grid .tile.ctt-twitter.light-blue .bg {
  background-color: #1bb3df;
}
#grid .tile.ctt-twitter.red .bg {
  background-color: #dc2828;
}
#grid .tile.ctt-twitter.orange .bg {
  background-color: #f77700;
}
#grid .tile.ctt-twitter.green .bg {
  background-color: #8fcf00;
}
#grid .tile.ctt-twitter.purple .bg {
  background-color: #af1ed2;
}
#grid .tile.ctt-twitter.holiday-red .bg {
  background-color: #DC3255;
}
#grid .tile.ctt-twitter.blue:hover .bg {
  background-color: #2767af;
}
#grid .tile.ctt-twitter.light-blue:hover .bg {
  background-color: #39b8dc;
}
#grid .tile.ctt-twitter.red:hover .bg {
  background-color: #dc3a3a;
}
#grid .tile.ctt-twitter.orange:hover .bg {
  background-color: #f28231;
}
#grid .tile.ctt-twitter.green:hover .bg {
  background-color: #98ce3a;
}
#grid .tile.ctt-twitter.purple:hover .bg {
  background-color: #b331d3;
}
#grid .tile.ctt-twitter.holiday-red:hover .bg {
  background-color: #DC3255;
}


@media screen and (max-width: 449px) {
  #grid .tile.ctt-twitter .content {
    position: relative;
  }
  #grid .tile.ctt-twitter .overlay {
    position: relative;
    z-index: 2;
  }
  #grid .tile.ctt-twitter .sizer {
    display: none;
  }
}
@media screen and (min-width: 450px) {
  #grid .tile.ctt-twitter .overlay {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  #grid .tile.ctt-twitter .icon {
    position: absolute;
    top: 26px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
    #grid .tile.ctt-twitter .icon svg {
      width: 26px;
      height: 20px;
    }
  #grid .tile.ctt-twitter .tweet-outer {
    display: table;
    width: 100%;
    height: 100%;
  }
  #grid .tile.ctt-twitter .tweet-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  #grid .tile.ctt-twitter .tweet {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 19px;
  }
  #grid .tile.ctt-twitter .date {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 925px) and (max-width: 999px) {
  #grid .tile.ctt-twitter .tweet {
    font-size: 15px;
    line-height: 24px;
  }
  #grid .tile.ctt-twitter .date {
    font-size: 13px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1150px) {
  #grid .tile.ctt-twitter .icon {
    top: 17px;
  }
  #grid .tile.ctt-twitter .tweet {
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1500px) {
  .wide-true #grid .tile.ctt-twitter .icon {
    top: 30px;
  }
    .wide-true #grid .tile.ctt-twitter .icon svg {
      width: 30px;
      height: 27px;
    }
  .wide-true #grid .tile.ctt-twitter .tweet {
    font-size: 15px;
    line-height: 24px;
  }
  .wide-true #grid .tile.ctt-twitter .date {
    bottom: 40px;
    font-size: 13px;
  }
}

#grid .tile.ctt-facebook .source a svg {
  width: 9px;
  height: 17px;
}
@media screen and (min-width: 643px) {
  #grid .tile.ctt-facebook .source a svg {
    width: 10px;
    height: 20px;
  }
}
@media screen and (min-width: 1500px) {
  .wide-true #grid .tile.ctt-facebook .source a svg {
    width: 13px;
    height: 29px;
  }
}

#grid .tile {
  position: absolute;
  top: 99999px;
}
  #grid .tile.loaded {
    position: relative;
    top: auto;
  }

#grid .tile {
  opacity: 0;
}

.no-js .touch #grid .tile,
.no-cssanimations #grid .tile,
.touch #grid .tile {
  opacity: 1;
}

.load-more {
  display: block;
  text-align: center;
  height: 46px;
}
  .load-more a {
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 15px 25px;
    font-family: "SST W01 Bold", "SST W01", Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    background: #3c3b42;
    -webkit-transition: background-color 0.2s ease, -webkit-box-shadow 0.2s ease, opacity 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
  }
  .load-more.loading {
    background: transparent url(/static/img/loader-arrow.gif) center center no-repeat;
  }
    .load-more.loading a {
      opacity: 0;
    }

.no-touch .load-more a:hover {
  background-color: #494950;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.no-touch #grid .tile:hover .hover {
  display: block;
}

.no-touch #grid .tile .content .bg img,
.no-touch #grid .tile .content .bg-img {
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.15s;
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.15s;
}
/* .no-touch #grid .tile.ctt-twitter .tweet {
  -webkit-transition: font 0.3s ease, -webkit-transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  transition: font 0.3s ease, transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
} */

.no-touch #grid .tile:hover .content .bg img,
.no-touch #grid .tile:hover .content .bg-img {
  opacity: 0.9;
}

.no-touch #grid .tile .copy .title a,
.no-touch #grid .tile .copy .more,
.no-touch #grid .tile .copy .cta a {
  /* -webkit-transition: font 0.3s ease, background-color 0.1s ease;
  transition: font 0.3s ease, background-color 0.1s ease; */
  -webkit-transition: background-color 0.1s ease;
  transition: background-color 0.1s ease;
  -webkit-box-shadow: 0 1px 3px transparent;
  box-shadow: 0 1px 3px transparent;
}
.no-touch #grid .tile .copy .title:hover ~ .cta a,
.no-touch #grid .tile .copy .cta:hover a {
  background-color: white;
}
.no-touch #grid .tile.blue .copy .title:hover a {
  background-color: #145aaa;
}
.no-touch #grid .tile.light-blue .copy .title:hover a {
  background-color: #1bb3df;
}
.no-touch #grid .tile.red .copy .title:hover a {
  background-color: #dc2828;
}
.no-touch #grid .tile.orange .copy .title:hover a {
  background-color: #f77700;
}
.no-touch #grid .tile.green .copy .title:hover a {
  background-color: #8fcf00;
}
.no-touch #grid .tile.purple .copy .title:hover a {
  background-color: #af1ed2;
}
.no-touch #grid .tile.holiday-red .copy .title:hover a  {
  background-color: #DC3255;
}


.no-touch #grid .tile .share .btn:hover {
  background-color: #2c2e35;
}
.no-touch #grid .tile .share .facebook:hover {
  background-color: #3f65b3;
}
.no-touch #grid .tile .share .twitter:hover {
  background-color: #30bdfc;
}
.no-touch #grid .tile .share .tumblr:hover {
  background-color: #2f5278;
}
.no-touch #grid .tile .share .link:hover {
  background-color: #2c2e35;
}
.no-touch #grid .tile:hover .share .btn {
  display: block;
  opacity: 1;
}

.no-touch #grid .tile .play {
  -webkit-transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.no-touch #grid .tile .play:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #c0c0c0;
  background-color: rgba(192, 192, 192, 0.99);
}

.no-touch #grid .tile.blue .play:hover {
  background-color: #2767af;
  background-color: rgba(20, 90, 170, 0.99);
}
.no-touch #grid .tile.light-blue .play:hover {
  background-color: #39b8dc;
  background-color: rgba(40, 180, 220, 0.99);
}
.no-touch #grid .tile.red .play:hover {
  background-color: #dc3a3a;
  background-color: rgba(220, 40, 40, 0.99);
}
.no-touch #grid .tile.orange .play:hover {
  background-color: #f28231;
  background-color: rgba(245, 120, 30, 0.99);
}
.no-touch #grid .tile.green .play:hover {
  background-color: #98ce3a;
  background-color: rgba(145, 205, 40, 0.99);
}
.no-touch #grid .tile.purple .play:hover {
  background-color: #b331d3;
  background-color: rgba(175, 30, 210, 0.99);
}
.no-touch #grid .tile.holiday-red .play:hover {
  background-color: #DC3255;
  background-color: rgba(220, 50, 85, 0.99);
}

#grid .tile.extended .overlay {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#grid .tile.extended .copy .more {
  -webkit-transition: max-height 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding-bottom 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: max-height 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding-bottom 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#grid .tile.extended.show-more.blue .overlay {
  background-color: #145aaa;
  background-color: rgba(20, 90, 170, 0.85);
}
#grid .tile.extended.show-more.light-blue .overlay {
  background-color: #1bb3df;
  background-color: rgba(40, 180, 220, 0.85);
}
#grid .tile.extended.show-more.red .overlay {
  background-color: #dc2828;
  background-color: rgba(220, 40, 40, 0.85);
}
#grid .tile.extended.show-more.orange .overlay {
  background-color: #f77700;
  background-color: rgba(245, 120, 30, 0.85);
}
#grid .tile.extended.show-more.green .overlay {
  background-color: #8fcf00;
  background-color: rgba(145, 205, 40, 0.85);
}
#grid .tile.extended.show-more.purple .overlay {
  background-color: #af1ed2;
  background-color: rgba(175, 30, 210, 0.85);
}
#grid .tile.extended.show-more.holiday-red .overlay {
  background-color: #DC3255;
  background-color: rgba(220, 50, 85, 0.85);
}
#grid .tile.extended.show-more .share {
  opacity: 0;
}
#grid .tile.extended.show-more .share-2 {
  opacity: 0;
}
#grid .tile.extended.show-more .title a {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#grid .tile.extended.show-more .more {
  max-height: 200px;
  padding-bottom: 12px;
}

.no-touch.cssanimations #grid .tile {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.no-touch.cssanimations #grid .tile.animate {
  -webkit-transform: translate3d(0, 0, 0) scale(0.9);
  -ms-transform: translate3d(0, 0, 0) scale(0.9);
  transform: translate3d(0, 0, 0) scale(0.9);
  -webkit-animation: scaleUp 0.3s ease-in-out forwards;
  animation: scaleUp 0.3s ease-in-out forwards;
}

/* chromium bug 388202 */
:-webkit-full-screen-ancestor:not(iframe) {
  animation: none !important;
}

@-webkit-keyframes scaleUp {
  to {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes scaleUp {
  to {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

#page-wrapper-outer { overflow: visible; }
#grid { overflow: hidden; }
.nav-mobile-nav-shadow {
  height: 100% !important; /* replaces gwt 5000px */
  bottom: 0; /* attempt to anchor shadow bottom */
}
