@font-face {
  font-family: "SST W01 Ultra Light";
  src: url("fonts/3240ecb4-2593-4c68-9c4e-d1b085d7f382.eot?#iefix");
  src: url("fonts/3240ecb4-2593-4c68-9c4e-d1b085d7f382.eot?#iefix") format("eot"), url("fonts/faa57799-d76d-4717-998a-9c4a047a7789.woff") format("woff"), url("fonts/3f16361a-1f5e-4c78-b655-33ab9b78cc83.ttf") format("truetype"), url("fonts/af63977b-d291-4aba-a2ad-ddc47dd696d6.svg#af63977b-d291-4aba-a2ad-ddc47dd696d6") format("svg");
}
@font-face {
  font-family: "SST W01 Light";
  src: url("fonts/78c7630a-e8c0-4c87-b979-85c4e48d3848.eot?#iefix");
  src: url("fonts/78c7630a-e8c0-4c87-b979-85c4e48d3848.eot?#iefix") format("eot"), url("fonts/7046acd2-1a7d-4092-9b55-9c3b0babe5a6.woff") format("woff"), url("fonts/277ea3f1-1f2f-41f9-80d4-b118c36814db.ttf") format("truetype"), url("fonts/766b32a6-2abc-4be8-9ec8-d48a0781122e.svg#766b32a6-2abc-4be8-9ec8-d48a0781122e") format("svg");
}
@font-face {
  font-family: "SST W01 Roman";
  src: url("fonts/580b2ea4-f6e0-4626-9ef8-3562f00da4b3.eot?#iefix");
  src: url("fonts/580b2ea4-f6e0-4626-9ef8-3562f00da4b3.eot?#iefix") format("eot"), url("fonts/5c14fe05-1e00-48ad-90a4-7fa0de36fb7b.woff") format("woff"), url("fonts/2ed52a6a-e86f-4b97-923e-5c9af2866617.ttf") format("truetype"), url("fonts/8f7596eb-da17-4318-8ca4-46c048c4e97a.svg#8f7596eb-da17-4318-8ca4-46c048c4e97a") format("svg");
}
@font-face {
  font-family: "SST W01 Medium";
  src: url("fonts/9f864997-7267-46fa-a7f1-2362457ef574.eot?#iefix");
  src: url("fonts/9f864997-7267-46fa-a7f1-2362457ef574.eot?#iefix") format("eot"), url("fonts/56cdf8fd-1b80-4a14-9521-5e0657b68580.woff") format("woff"), url("fonts/24b26d61-1835-43d2-bc7e-1fd71538a3d0.ttf") format("truetype"), url("fonts/9aa3dbe3-cd43-4003-95be-7121a3333e5e.svg#9aa3dbe3-cd43-4003-95be-7121a3333e5e") format("svg");
}
@font-face {
  font-family: "SST W01 Bold";
  src: url("fonts/52adf2b6-12bd-41e4-bfee-9ca637d6045d.eot?#iefix");
  src: url("fonts/52adf2b6-12bd-41e4-bfee-9ca637d6045d.eot?#iefix") format("eot"), url("fonts/21ee40af-ca04-4a40-a3cc-e0f6a8d68101.woff") format("woff"), url("fonts/7c0c7307-e38f-4784-a632-d49333cb65e8.ttf") format("truetype"), url("fonts/f3aa7336-d7d0-40dd-9177-d17f97a16f45.svg#f3aa7336-d7d0-40dd-9177-d17f97a16f45") format("svg");
}
@font-face {
  font-family: "SST W01 Heavy";
  src: url("fonts/7f2e7624-d986-4a13-9851-4369980e6262.eot?#iefix");
  src: url("fonts/7f2e7624-d986-4a13-9851-4369980e6262.eot?#iefix") format("eot"), url("fonts/81f7c124-d9ed-455d-9913-6f175a31d5f0.woff") format("woff"), url("fonts/3d8e748a-2503-4696-87bc-340e8671dfda.ttf") format("truetype"), url("fonts/98fc992a-420f-4dcf-8cee-665347888c34.svg#98fc992a-420f-4dcf-8cee-665347888c34") format("svg");
}
@font-face {
  font-family: "Sony-System-Icons";
  src: url("//fonts.sony.net/shf/icons/system/v17/Sony-System-Icons.woff2");
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,
html {
  height: 100%;
}

html {
  font-family: "SST W01 Roman", Helvetica, Arial, sans-serif;
}

body {
  font-size: 1em;
  font-family: "SST W01 Roman", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background: #262629;
}
/* Webkit bug #23364 */
.safari:not(.android):not(.ios) body {
  -webkit-font-smoothing: subpixel-antialiased;
}

svg {
  vertical-align: baseline;
}

a {
  color: #017ede;
}

b,
strong {
  font-weight: normal;
  font-family: "SST W01 Bold", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.sca #sony-header,
.sca #sony-footer {
  color: #fff;
}
.sca #sony-header a,
.sca #sony-footer a {
    text-decoration: none;
    color: #fff;
}
.sca #sony-header a:focus,
.sca #sony-header a:hover,
.sca #sony-footer a:focus,
.sca #sony-footer a:hover {
      text-decoration: none;
      color: #fff;
}

#sony-main {
  background: #fff;
}

#sony-main.basic-page {
  background: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}

.old-header #page-wrapper-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.old-header #page-wrapper-inner {
  width: 100%;
  padding-top: 48px;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
}
  .old-header .open #page-wrapper-inner {
    margin-left: 85.5%;
  }

#page-content {
  padding: 4px 4px 10px;
}

.main-container {
  position: relative;
  max-width: 1278px;
  margin: 0 auto;
}

.wide-true .main-container {
  max-width: 1920px;
}

#svgs {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
}

@media screen and (min-width: 768px) {
  .old-header #page-wrapper-outer.open {
    height: auto;
  }

  .old-header #page-wrapper-inner {
    width: 100%;
    padding-top: 60px;
    -webkit-transition: none;
    transition: none;
  }
    .old-header .open #page-wrapper-inner {
      margin-left: 0;
    }
}

#sony-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: #141414;
  z-index: 999998;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.43);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.43);
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}
  .touch #sony-header.search-open {
    position: absolute;
  }
  .open #sony-header {
    left: 85.5%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #sony-header .sony-logo {
    position: absolute;
    left: 50%;
    width: 70px;
    margin: 0 0 0 -35px;
    overflow: hidden;
  }
    #sony-header .sony-logo a {
      width: 70px;
      height: 12px;
      margin-top: 18px;
      background-image: url(/static/img/logo.svg);
    }
    .no-svg #sony-header .sony-logo a {
      background-image: url(/static/img/logo-nosvg.png);
    }

@media screen and (min-width: 768px) {
  #sony-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
  }
    #sony-header .sony-logo {
      float: left;
      position: static;
      width: auto;
      margin: 0 0 0 35px;
    }
      #sony-header .sony-logo a {
        width: 100px;
        height: 18px;
        margin-top: 22px;
      }
}

@media screen and (min-width: 1500px) {
  .wide-true #sony-header {
    height: 70px;
  }
    .wide-true #sony-header .sony-logo a {
      width: 118px;
      height: 22px;
      margin-top: 22px;
    }
}

  .sony-pages #sony-header {
    position: absolute;
  }

@media screen and (min-width: 768px) {
  .sony-pages #sony-header {
    position: absolute;
  }
}

#sony-header .btn-menu {
  display: table;
  float: left;
  width: 48px;
  height: 48px;
  margin: 0;
}
  #sony-header .btn-menu a {
    display: table-cell;
    border-right: 1px solid #2c2c2c;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
  }
    #sony-header .btn-menu a svg {
      width: 20px;
      height: 14px;
      -webkit-transition: fill 0.2s ease;
      transition: fill 0.2s ease;
      fill: #e0e0e0;
    }
    #sony-header .btn-menu a:hover {
      border-color: #141414;
      background-color: #5584f8;
    }
      #sony-header .btn-menu a:hover svg {
        fill: #fff;
      }
      .touch #sony-header .btn-menu a:hover {
        border-color: #2c2c2c;
        background-color: transparent;
      }
        .touch #sony-header .btn-menu a:hover svg,
        .touch #sony-header .btn-menu a:hover path {
          fill: #e0e0e0;
        }
      .open #sony-header .btn-menu a svg {
        fill: #5484f8;
      }
      .open #sony-header .btn-menu a:hover {
        background-color: #5584f8;
      }
      .open #sony-header .btn-menu a:hover svg {
        fill: #fff;
      }
        .touch .open #sony-header .btn-menu a svg {
          fill: #5484f8;
        }

#sony-header #nav-main-list {
  display: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  #sony-header .btn-menu {
    display: none;
  }
  #sony-header #nav-main-list {
    display: block;
    float: left;
    margin: 0 0 0 35px;
    padding: 0;
    overflow: hidden;
    /* -webkit-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out; */
  }
    #sony-header #nav-main-list li {
      list-style: none;
      float: left;
      margin: 0 11px 0 0;
      line-height: 1;
    }
    #sony-header #nav-main-list a {
      display: block;
      position: relative;
      height: 60px;
      padding: 0 5px;
      font-size: 15px;
      line-height: 60px;
      color: #e4e7eb;
      -webkit-transition: color 0.25s linear;
      transition: color 0.25s linear;
    }
    #sony-header #nav-main-list a .arrow {
      position: relative;
      top: -2px;
      width: 8px;
      height: 4px;
      margin: 0 0 0 8px;
      -webkit-transition: fill 0.25s linear;
      transition: fill 0.25s linear;
      fill: #74787d;
    }
    #sony-header #nav-main-list a .bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top-color: #5787f4;
      border-top-style: solid;
      border-top-width: 0px;
      -webkit-transition: border-width 0.25s linear 0s;
      transition: border-width 0.25s linear 0s;
    }
    #sony-header #nav-main-list li.active a {
      color: #fff;
    }
      #sony-header #nav-main-list li.active a .arrow {
        fill: #fff;
      }
      #sony-header #nav-main-list li.active a .bar {
        border-top-width: 4px;
      }
}

@media screen and (min-width: 1000px) {
  #sony-header #nav-main-list {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .wide-true #sony-header #nav-main-list li {
    margin-right: 15px;
  }
    .wide-true #sony-header #nav-main-list li a {
      height: 70px;
      padding: 0 8px;
      font-size: 17px;
      line-height: 70px;
    }
}

#sony-header #nav-list {
  float: left;
  margin: 0 0 0 35px;
  padding: 0;
  /* -webkit-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out; */
}
  #sony-header #nav-list > li {
    list-style: none;
    float: left;
    position: relative;
    min-width: 60px;
    max-width: 80px;
    height: 60px;
    margin: 0 11px 0 0;
    font-size: 12px;
    line-height: 1;
    text-align: center;
  }
    #sony-header #nav-list > li > a {
      display: table;
      width: 100%;
      height: 60px;
      line-height: 1.2;
    }
      #sony-header #nav-list > li > a:after,
      #sony-header #nav-list > li.open > a:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: #5484f8;
        -webkit-transition: height 0.3s ease-out;
        transition: height 0.3s ease-out;
      }
      #sony-header #nav-list > li:hover > a:after,
      #sony-header #nav-list > li.open > a:after {
        height: 4px;
      }

    #sony-header #nav-list > li > a span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    #sony-header #nav-list li ul {
      position: absolute;
      top: 60px;
      left: 0;
      margin: 0;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      z-index: 2;
      -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.43);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.43);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: max-height 1s linear;
      transition: max-height 1s linear;
    }
      .no-js #sony-header #nav-list li ul {
        display: none;
        max-height: none;
        overflow: visible;
      }
      .no-js #sony-header #nav-list li a:focus + ul,
      .no-js #sony-header #nav-list li a:hover + ul,
      .no-js #sony-header #nav-list li a:active + ul,
      .no-js #sony-header #nav-list li:hover ul {
        display: block;
      }

      #sony-header #nav-list li.open ul {
        max-height: 1050px;
      }

      #sony-header #nav-list li ul li {
        list-style: none;
        min-width: 210px;
        margin: 0;
        border-bottom: 1px solid #e3e3e3;
        line-height: 1;
        text-align: left;
      }
        #sony-header #nav-list li ul li:last-child {
          border-bottom: 0;
        }
      #sony-header #nav-list li ul li a {
        display: block;
        height: 42px;
        padding: 0 15px;
        background-color: #fff;
        line-height: 42px;
        color: #707080;
      }
      #sony-header #nav-list li ul li a:focus,
      #sony-header #nav-list li ul li a:hover {
        background-color: #5484f8;
        color: #fff;
      }

@media screen and (min-width: 1200px) {

  #sony-header #nav-list > li {
    min-width: 0;
    max-width: none;
    font-size: 14px;
  }

    #sony-header #nav-list > li > a {
      width: auto;
      padding: 0 15px 4px;
    }

}

#nav-trays a {
  text-decoration: none;
}

#nav-trays #nav-list {
  margin: 0;
  padding: 0;
}

  #nav-trays #nav-list > li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e3e3e3;
    background-color: #ffffff;
    font-size: 12px;
    line-height: 1;
    color: #83838f;
  }

  #nav-trays #nav-list > li > a {
    display: block;
    position: relative;
    height: 42px;
    padding: 0 15px;
    line-height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    color: #83838f;
    z-index: 1;
  }
    #nav-trays #nav-list > li > a:focus,
    #nav-trays #nav-list > li > a:hover,
    #nav-trays #nav-list > li > a:active,
    #nav-trays #nav-list > li:hover > a,
    #nav-trays #nav-list > li.open > a {
      color: #5484f8;
    }

    #nav-trays #nav-list > li:hover > a,
    #nav-trays #nav-list > li.open > a {
      -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    }

    #nav-trays #nav-list > li > a:after {
      content: "";
      position: absolute;
      top: 19px;
      right: 16px;
      width: 9px;
      height: 5px;
      background-image: url(/static/img/arrow-down-grey.svg);
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      fill: #83838f;
    }
      #nav-trays #nav-list > li.open > a:after {
        background-image: url(/static/img/arrow-down-blue.svg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        fill: #5484f8;
      }
      .no-svg #nav-trays #nav-list > li > a:after {
        background-image: url(/static/img/arrow-down-grey-nosvg.png);
      }
      .no-svg #nav-trays #nav-list > li.open > a:after {
        background-image: url(/static/img/arrow-down-blue-nosvg.png);
      }

  #nav-trays #nav-list li ul {
    margin: 0;
    padding: 0;
    background-color: #f0f4f9;
    max-height: 0;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
  }

    .no-js #nav-trays #nav-list li ul {
      display: none;
      max-height: none;
      overflow: visible;
    }
    .no-js #nav-trays #nav-list li a:focus + ul,
    .no-js #nav-trays #nav-list li a:hover + ul,
    .no-js #nav-trays #nav-list li a:active + ul,
    .no-js #nav-trays #nav-list li:hover ul {
      display: block;
    }

    #nav-trays #nav-list li ul li {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1;
      color: #4d4f53;
    }
      #nav-trays #nav-list li ul li:first-child a {
        padding-top: 8px;
      }
      #nav-trays #nav-list li ul li:last-child a {
        padding-bottom: 8px;
      }

      #nav-trays #nav-list li.open ul {
        max-height: 1050px;
      }

    #nav-trays #nav-list li ul li a {
      display: block;
      height: 34px;
      padding: 0 17px;
      line-height: 34px;
      text-decoration: none;
      color: #4d4f53;
    }
    #nav-trays #nav-list li ul li a:focus,
    #nav-trays #nav-list li ul li a:hover,
    #nav-trays #nav-list li ul li a:active {
      color: #5484f8;
    }

#nav-trays {
  position: fixed;
  top: 0;
  left: -85.5%;
  width: 85.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #fff;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}
  .open #nav-trays {
    left: 0;
  }

  #nav-trays .main {
    overflow: hidden;
  }

    #nav-trays .main .menu-toggle {
      position: relative;
      height: 43px;
      margin: 0;
      padding-left: 16px;
      border-bottom: 1px solid #e0e0e0;
      overflow: hidden;
      cursor: pointer;
      font-size: 12px;
      line-height: 43px;
      font-family: "SST W01 Bold", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      color: #83838f;
    }
      #nav-trays .main .menu-toggle .arrow {
        position: absolute;
        top: 19px;
        right: 16px;
        width: 9px;
        height: 5px;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: transform 0.2s ease;
        fill: #83838f;
      }
        #nav-trays .open .main .menu-toggle .arrow {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          fill: #5484f8;
        }

    #nav-trays .main nav {
      max-height: 0px;
      padding: 0;
      overflow: hidden;
      background: #f0f4f9;
      -webkit-transition: max-height 1s ease-in-out;
      transition: max-height 1s ease-in-out;
    }
      #nav-trays .open .main nav {
        max-height: 1050px;
        border-bottom: 1px solid #e0e0e0;
      }

      #nav-trays .main nav ul {
        margin: 0;
        padding: 0 0 28px 5.3%;
        overflow: visible;
      }
      #nav-trays .main nav li {
        list-style: none;
        float: left;
        width: 45%;
        margin: 5% 4.3% 0 0;
      }
        #nav-trays .main nav li:nth-child(odd) {
          clear: both;
        }
      #nav-trays .main nav a {
        display: block;
        text-align: center;
      }
      #nav-trays .main nav .nav-img {
        display: block;
        padding: 7% 0 15%;
        overflow: hidden;
        background: #fff;
        -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
      }
      #nav-trays .main nav img {
        width: 73%;
      }
      #nav-trays .main nav .nav-label {
        display: block;
        margin-top: 6px;
        font-size: 12px;
        line-height: 15px;
        color: #4d4f53;
      }

    #nav-trays .main .all {
      margin: 0;
      padding: 0 0 28px 0;
    }
      #nav-trays .main .all a {
        width: 145px;
        height: 17px;
        margin: 0 auto;
        overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        color: #4572EC;
      }
        #nav-trays .main .all a svg {
          float: left;
          width: 17px;
          height: 17px;
          padding: 0 8px 0 0;
          -webkit-transition: fill 0.25s linear;
          transition: fill 0.25s linear;
          fill: #bcbccc;
        }
        #nav-trays .main .all a .copy {
          float: left;
        }
        #nav-trays .main .all a:hover {
          color: #3c4c74;
        }
          #nav-trays .main .all a:hover svg {
            fill: #3c4c74;
          }

  #nav-trays .featured {
    display: none;
  }

@media screen and (min-width: 768px) {
  #nav-trays {
    position: static;
    width: 100%;
    height: 0;
  }
    .open #nav-trays {
      position: static;
    }

    #nav-trays .nav-tray {
      position: fixed;
      left: 0;
      top: -670px;
      width: 100%;
      overflow: hidden;
      background: #fff;
      z-index: 999997;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(39, 43, 55, 0.25);
      box-shadow: 0px 0px 10px 0px rgba(39, 43, 55, 0.25);
      -webkit-transition: top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.13s;
      transition: top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.13s;
    }
      #nav-trays .nav-tray:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 15%;
        height: 100%;
        background: #f1f5f9;
        z-index: 1;
      }
      #nav-trays .nav-tray.open {
        top: 60px;
        z-index: 999997;
      }

    #nav-trays .nav-tray-content {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      z-index: 2;
    }
      #nav-trays .nav-tray-content:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 100%;
        border-left: 1px solid #e8ecf0;
        background: #f1f5f9;
        z-index: 1;
      }

    #nav-trays .main {
      float: left;
      position: relative;
      width: 75%;
      padding: 5px 0 0 0;
      overflow: hidden;
      z-index: 2;
    }

      #nav-trays .main .menu-toggle {
        position: absolute;
        left: -9999px;
      }

      #nav-trays .main nav {
        max-height: none;
        margin: 0;
        background: transparent;
        -webkit-transition: none;
        transition: none;
      }
        #nav-trays .open .main nav {
          max-height: none;
          border-bottom: none;
        }

        #nav-trays .main nav ul {
          padding: 0 0 5px 0;
          margin: 0 7.0%;
        }
        #nav-trays .main nav li {
          width: 33.1%;
          margin: 0;
          padding: 0;
        }
          #nav-trays .main nav li:nth-child(odd) {
            clear: none;
          }
        #nav-trays .main nav a {
          display: block;
          height: 155px;
          margin: 5px 3% 0 0;
          padding: 0;
          text-align: center;
          -webkit-transition: background-color 0.25s linear;
          transition: background-color 0.25s linear;
        }
          #nav-trays .main nav a:hover {
            background-color: #f1f5f9;
          }
        #nav-trays .main nav .nav-img {
          padding: 0;
          padding-top: 35px;
          background: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        #nav-trays .main nav img {
          width: 83%;
          max-width: 100%;
          height: auto;
          vertical-align: middle;
        }
        #nav-trays .main nav .nav-label {
          margin-top: 6px;
          font-size: 13px;
          line-height: 15px;
          color: #404040;
        }

      #nav-trays .main .all {
        margin: 0 7%;
        padding: 27px 0;
        border-top: 1px solid #e4e7ec;
      }
      #nav-trays .main .all a {
        width: 175px;
        font-family: "SST W01 Bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
      }
        #nav-trays .main .all a:hover {
          background: none;
        }

    #nav-trays .featured {
      display: block;
      float: right;
      position: relative;
      width: 25%;
      padding-top: 40px;
      z-index: 2;
    }
      #nav-trays .featured .item {
        padding: 0 16%;
      }
        #nav-trays .featured .item:first-child {
          padding-bottom: 40px;
        }
        #nav-trays .featured .item:last-child {
          padding-bottom: 40px;
        }
      #nav-trays .featured .img {
        margin: 0 0 9px 0;
      }
        #nav-trays .featured .img img {
          width: 100%;
          height: auto;
        }
      #nav-trays .featured .promo-title {
        margin: 0 0 4px 0;
        font-size: 14px;
        color: #404040;
      }
      #nav-trays .featured p {
        margin: 0;
        font-size: 12px;
        color: #808080;
      }
        #nav-trays .featured p a {
          color: #5484f7;
        }
          #nav-trays .featured p a:hover {
            color: #3c4c74;
          }
}

@media screen and (min-width: 850px) {
  #nav-trays .main nav a {
    height: 170px;
  }
}

@media screen and (min-width: 900px) {
  #nav-trays .main nav a {
    height: 190px;
  }
}

@media screen and (min-width: 980px) {
  #nav-trays .main nav {
    padding-top: 20px;
  }
    #nav-trays .main nav li {
      width: 24.8%;
    }
    #nav-trays .main nav a {
      height: 155px;
    }
}

@media screen and (min-width: 1090px) {
  #nav-trays .main nav a {
    height: 185px;
  }
}

@media screen and (min-width: 1200px) {
  #nav-trays .main nav a {
    height: 195px;
  }
}

@media screen and (min-width: 1400px) {
  #nav-trays .main nav a {
    height: 210px;
  }
}

@media screen and (min-width: 1600px) {
  #nav-trays .main nav a {
    height: 230px;
  }
}

@media screen and (min-width: 1700px) {
  #nav-trays .main nav a {
    height: 250px;
  }
}

@media screen and (min-width: 1600px) {
  #nav-trays .nav-tray:after {
    width: 30%;
  }
}

@media screen and (min-width: 1500px) {
  .wide-true #nav-trays .nav-tray:after {
    width: 25%;
  }
}

#nav-trays #nav-tray-search {
  display: none;
}
.open #nav-trays #nav-tray-search {
  display: block;
}

#nav-tray-search {
  padding: 8px 16px;
  overflow: hidden;
  background: #f0f4f9;
}
#nav-tray-search .input {
  position: relative;

}
#nav-tray-search form {
  margin: 0;
  padding: 0;
}
#nav-tray-search input[type="text"],
#nav-tray-search input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  font-family: inherit;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  border: 0;
}
#nav-tray-search input[type="text"]:focus,
#nav-tray-search input[type="search"]:focus {
  color: #2f353d;
}

#nav-tray-search svg {
  position: absolute;
  top: 10px;
  left: 4px;
  fill: #bcbccc;
}
#nav-tray-search input[type="text"]:focus ~ svg,
#nav-tray-search input[type="search"]:focus ~ svg {
  fill: #2f353d;
  -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
   color: #bcbccc;
}

#sony-header .search {
  margin: 0;
}
#sony-header .search .navmenu-list  {
  list-style: none;
  margin: 0;
}
#sony-header .search .search-result-descript {
  display: block;
  font-size: 0.8125em;
  color: #83838f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sony-header .search .search-result-headline {
    display: block;
    font-size: 1.125em;
}
#sony-header .search .navmenu-list-results .search-result-line>a>.search-result {
    float: left;
    overflow: hidden;
    width: 93%;
}
#sony-header .search .navmenu-list-results .search-result-line>a img {
  margin-right: 6px;
  float: right;
}
#sony-header input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
#sony-header .search .navmenu-search-section-results .navmenu-search-results .btn-show-all-results {
    margin: 49px 0 8px 31px;
    font-size: 0.8125em;
    display: inline-block;
    border-radius: 1px;
    padding: 11px 24px 13px;
    margin-bottom: 0;
    line-height: inherit;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    background: #5887f5;
    border: none;
    -webkit-font-smoothing: subpixel-antialiased;
    width:204px;
}
.navmenu-list-results .search-result-line>a>i.fonticon-10-chevron {
    float: right;
    margin: 37px 10px 0 0;
}
.fonticon-10-chevron:before, .fonticon-10-chevron--after:after {
    content: "\e66f";
    font-family: "Sony-System-Icons";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    speak: none;
    font-weight: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}
#sony-header .search .input .btn-clear {
    width: 16px;
    height: 16px;
    top: 28px;
    right: 31px;
}
}
.no-touch a:not(.no-hover-transition), .no-touch .btn:not(.no-hover-transition) {
    -webkit-transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
    transition: background-color 0.25s linear,border-color 0.25s linear,opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
}
.navmenu-w-search .navmenu-list-results .search-result-line>a {
    display: block;
    overflow: hidden;
    box-sizing: content-box;
    padding: 5px 29px 5px;
    height: 88px;
}
.navmenu-w-search .navmenu-list-results .search-result-line>a:hover, .navmenu-w-search .navmenu-list-results .search-result-line>a:active, .navmenu-w-search .navmenu-list-results .search-result-line>a:focus {
    background-color: rgba(255,255,255,0.5);
}
#sony-header .search .navmenu-list-results hr {
    content: '';
    display: block;
    position: absolute;
    width: 406px;
    height: 0px;
    margin: 0 0 0 30px;
    border-top: solid 1px #d2d2db;
    border-bottom: none;
    position: relative;
    top: -1px;
}
#sony-header .search .search-result-line a {
  color: #4572EA;
}
#sony-header .search .navmenu-search-section-results {
    padding: 13px 0 24px;
    background: #e4e7eb;
}
#sony-header .search .navmenu-w-search.input {
  overflow: visible;
  width:467px;
}
#type-ahead-result-container {
  display: none;
  margin-top:60px;
}
#type-ahead-result-container.open {
  display: block;
  webkit-box-shadow: 0px 0px 30px 5px rgba(39,43,55,0.25);
  box-shadow: 0px 0px 30px 5px rgba(39,43,55,0.25);
}

#sony-header .search .btn-search {
  display: table;
  float: right;
  width: 48px;
  height: 48px;
  margin: 0;
}
  #sony-header .search .btn-search a {
    display: table-cell;
    border-left: 1px solid #2c2c2c;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
  }
    #sony-header .search .btn-search a svg {
      width: 16px;
      height: 16px;
      margin: 4px 0 0 -1px;
      fill: #b2b2b2;
    }
    #sony-header .search .btn-search a:hover {
      border-color: #141414;
      background-color: #5584f8;
    }
      #sony-header .search .btn-search a:hover svg {
        fill: #fff;
      }
      .touch #sony-header .search .btn-search a:hover {
        border-color: #2c2c2c;
        background-color: transparent;
      }
        .touch #sony-header .search .btn-search a:hover svg {
          fill: #b2b2b2;
        }
      .touch #sony-header .search.open .btn-search a,
      #sony-header .search.open .btn-search a {
        border-color: #141414;
        background-color: #5584f8;
      }
        .touch #sony-header .search.open .btn-search a svg,
        #sony-header .search.open .btn-search a svg {
          fill: #fff;
        }

#sony-header .search .input {
  position: absolute;
  top: -9999px;
  right: 0;
  width: 100%;
  height: 0;
  max-height: 0;
  overflow: hidden;
  border-radius: 0;
  background: #fff;
  opacity: 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.43);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.43);
  -webkit-transition: max-height 0.2s ease-in-out, opacity 0.1s linear, width 0.3s ease-out;
  transition: max-height 0.2s ease-in-out, opacity 0.1s linear, width 0.3s ease-out;
}
  .touch #sony-header .search .input {
    -webkit-transition: none;
    transition: none;
  }
  #sony-header .search.open .input {
    top: 48px;
    height: 48px;
    max-height: 48px;
    opacity: 1;
  }

  #sony-header .search .input input[type="search"],
  #sony-header .search .input input[type="text"] {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 50px 14px 15px;
    border: none;
    font-size: 19px;
    line-height: normal;
    font-family: inherit;
    color: #bcbccc;
    z-index: 1;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
    #sony-header .search .input.focused input[type="search"],
    #sony-header .search .input.focused input[type="text"]{
      color: #bcbccc;
    }


    #sony-header .search .input input[type="search"]:focus,
    #sony-header .search .input input[type="text"]:focus {
      color: #2f353d;
    }

  #sony-header .search .input .btn-clear {
    display: none;
    float: right;
    position: relative;
    z-index: 2;
    background-image: url(/static/img/close.svg);
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
  }
    .no-svg #sony-header .search .input .btn-clear {
      background-image: url(/static/img/close-nosvg.png);
    }
  #sony-header .search .input.value .btn-clear {
    display: block;
  }

  #sony-header .search .input svg {
    display: none;
  }

@media screen and (min-width: 768px) {
  #sony-header .search .btn-search {
    width: auto;
    height: auto;
    margin-top: 12px;
    margin-right: 35px;
  }
    #sony-header .search .btn-search a {
      height: 36px;
      padding-top: 0;
      padding-right: 14px;
      padding-bottom: 0;
      padding-left: 14px;
      margin: 0;
      border: none;
      border-radius: 1px;
      font-size: 11px;
      line-height: 16px;
      background-color: #504d56;
    }
      #sony-header .search .btn-search a .btn-search-label {
        position: static;
        clip: auto;
        width: auto;
        height: auto;
        margin: 0;
        padding-right: 9px;
        overflow: visible;
      }
      #sony-header .search .btn-search a svg {
        width: 14px;
        height: 14px;
        margin: -2px 0 0 0;
        vertical-align: inherit;
        fill: #fff;
      }

  #sony-header .search .input {
    top: -9999;
    right: 35px;
    width: 66.666%;
    height: 0;
    max-height: 0;
    z-index: 1;
  }
    #sony-header .search.open .input {
      top: 60px;
      height: 60px;
      max-height: 60px;
    }
    #sony-header .search .input input[type="search"],
    #sony-header .search .input input[type="text"] {
      padding: 10px 20px 12px 29px;
      font-size: 30px;
    }
      #sony-header .search .input.focused input[type="search"],
      #sony-header .search .input.focused input[type="text"] {
        padding-left: 15px;
      }

    #sony-header .search .input .btn-clear {
/*      width: 60px;
      height: 60px;*/
      -webkit-background-size: 20px 20px;
      background-size: 20px 20px;
    }

    #sony-header .search .input svg {
      display: block;
      position: absolute;
      top: 22px;
      left: 5px;
      z-index: 2;
      fill: #bcbccc;
    }
    #sony-header .search .input.focused svg {
      display: none;
    }
    #sony-header .search .input {
      max-height: 71px;
      height: 0px;
      width: 476px;
    }
    #sony-header .search.open .navmenu-w-search {
      max-height: 71px;
      height: 71px;
      width: 476px;
    }
    #sony-header .search.open .nav-indicator {
      width: 0;
      position: absolute;
      height: 14px;
      border-style: solid;
      border-width: 0 14px 12px 14px;
      border-color: transparent transparent #fff transparent;
      height: 1px;
      right: 67px;
      z-index: 8;
      bottom: -2px;
      -webkit-transition: opacity 0.25s linear,color 0.25s linear,fill 0.25s linear;
      transition: opacity 0.25s linear,color 0.25s linear,fill 0.25s linear
    }
}

@media screen and (min-width: 1500px) {
  .wide-true #sony-header .search .btn-search {
    width: 70px;
    height: 70px;
  }
    .wide-true #sony-header .search .btn-search a svg {
      width: 23px;
      height: 23px;
      margin: 3px 0 0 -1px;
    }
    .wide-true #sony-header .search.open .input {
      top: 70px;
    }
}


#sony-footer {
  padding: 25px 20px 0;
  background: #1f2024;
}

  #sony-footer .geofilter-link {
    margin: 0 0 20px 0;
  }

    #sony-footer .geofilter-link > span,
    #sony-footer .geofilter-link > a {
      display: block;
      float: left;
      width: 188px;
      height: 37px;
      padding: 0 12px;
      font-size: 12px;
      line-height: 34px;
    }

    #sony-footer .geofilter-link > span:before,
    #sony-footer .geofilter-link > a:before {
      content: url(/static/img/geofilter/flag-usa.gif);
      display: block;
      float: left;
      padding: 4px 10px 0 0;
    }

  #sony-footer .social {
    margin: 0 0 30px 0;
    padding: 0;
  }
    #sony-footer .social li {
      display: table;
      list-style: none;
      float: left;
      padding-right: 2px;
      line-height: 1;
    }
    #sony-footer .social a {
      display: table-cell;
      width: 36px;
      height: 32px;
      background-color: #3c3c42;
      background-position: center center;
      background-repeat: no-repeat;
      vertical-align: middle;
      text-align: center;
      -webkit-transition: background-color 0.2s ease, -webkit-box-shadow 0.2s ease;
      transition: background-color 0.2s ease, box-shadow 0.2s ease;
    }
      #sony-footer .social a:hover {
        background-color: #494950;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      }
      #sony-footer .social a svg {
        fill: #fff;
      }
        #sony-footer .social .twitter svg {
          width: 16px;
          height: 13px;
        }
        #sony-footer .social .facebook svg {
          width: 9px;
          height: 17px;
          margin-top: 3px;
        }
        #sony-footer .social .google svg {
          width: 15px;
          height: 15px;
          margin-top: 5px;
        }
        #sony-footer .social .youtube svg {
          width: 18px;
          height: 13px;
        }
        #sony-footer .social .vine svg {
          width: 14px;
          height: 17px;
          margin-top: 3px;
        }
        #sony-footer .social .instagram svg {
          width: 16px;
          height: 16px;
          margin-top: 4px;
        }
        #sony-footer .social .pinterest svg {
          width: 13px;
          height: 16px;
          margin-top: 4px;
        }
        #sony-footer .social .tumblr svg {
          width: 13px;
          height: 16px;
          margin-top: 4px;
        }

  #sony-footer .corp {
    margin: 0 0 23px 0;
    padding: 0;
    font-size: 13px;
  }
    #sony-footer .corp li {
      list-style: none;
      float: left;
      padding-right: 20px;
      font-size: 13px;
    }

    .sony-pages #sony-footer .corp a {
      float: left;
      line-height: 2.5;
      margin-right: 20px;
    }
    .sony-pages #sony-footer .corp a:last-child {
      margin-right: 0;
    }

    #sony-footer .corp .sony-corp-btn {
      padding: 8px 15px;
      border-radius: 2px;
      background-color: #5484f8;
      line-height: 1;
      text-decoration: none;
      color: #fff;
    }

  #sony-footer .copyright {
    margin: 0 0 3px 0;
    font-size: 10px;
    text-transform: uppercase;
    color: #ababab;
  }

  #sony-footer .legal {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 10px;
    text-transform: uppercase;
  }
    #sony-footer .legal li {
      list-style: none;
      padding-bottom: 1px;
      font-size: 10px;
    }

  #sony-footer hr {
    height: 1px;
    margin: 0 0 22px;
    border: none;
    background-color: #3c3c43;
  }

@media screen and (min-width: 600px) {
  #sony-footer {
    padding-top: 37px;
  }

    #sony-footer .geofilter-link {
      float: left;
      margin-bottom: 30px;
    }

    #sony-footer .social {
      float: right;
    }

    #sony-footer .corp {
      float: right;
      width: 26%;
      margin-top: 21px;
    }
      #sony-footer .corp li {
        float: none;
        padding: 0 0 5px;
        text-align: right;
      }

      .sony-pages #sony-footer .corp a {
        float: right;
        margin-left: 20px;
        margin-right: 0;
      }
      .sony-pages #sony-footer .corp a:last-child {
        margin-left: 0;
        margin-right: 20px;
      }

    #sony-footer .copyright {
      float: left;
      width: 74%;
      margin-top: 27px;
      margin-bottom: 10px;
    }

    #sony-footer .legal {
      float: left;
      width: 74%;
    }
      #sony-footer .legal li {
        float: left;
        padding: 0 8px;
        border-left: 1px solid #fff;
        line-height: 1;
      }
        #sony-footer .legal li:first-child {
          padding-left: 0;
          border-left: 0;
        }

    #sony-footer hr {
      clear: both;
      margin-bottom: 0;
    }
}

@media screen and (min-width: 1500px) {
  .wide-true #sony-footer .geofilter-link > span,
  .wide-true #sony-footer .geofilter-link > a {
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 37px;
  }
    .wide-true #sony-footer .geofilter-link > span:before,
    .wide-true #sony-footer .geofilter-link > a:before {
      margin-top: -2px;
    }

  .wide-true #sony-footer .social a {
    width: 40px;
    height: 41px;
  }
  .wide-true #sony-footer .social .twitter svg {
    width: 18px;
    height: 15px;
  }
  .wide-true #sony-footer .social .facebook svg {
    width: 9px;
    height: 19px;
  }
  .wide-true #sony-footer .social .google svg {
    width: 17px;
    height: 17px;
  }
  .wide-true #sony-footer .social .youtube svg {
    width: 20px;
    height: 15px;
  }
  .wide-true #sony-footer .social .vine svg {
    width: 16px;
    height: 19px;
  }
  .wide-true #sony-footer .social .instagram svg {
    width: 18px;
    height: 18px;
  }
  .wide-true #sony-footer .social .pinterest svg {
    width: 15px;
    height: 18px;
  }

  .wide-true #sony-footer .corp li {
    padding: 0 0 7px;
    font-size: 15px;
  }

  .wide-true #sony-footer .copyright {
    margin-bottom: 12px;
    font-size: 12px;
  }

  .wide-true #sony-footer .legal li {
    font-size: 12px;
  }
}

#screen {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
}

.open #screen {
  display: block;
  left: 85.5%;
  background: none;
}

.pop-out #screen {
  display: block;
}

/* GEOFILTER */

.geofilter {
  position: relative;
  color: #fff;
  background: #3d3f40;
  z-index: 999998;
}

.unav-open .geofilter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.geofilter .content {
  margin: 0 auto;
  padding: 40px 0;
}

.geofilter .content a.geo-close {
  display: block;
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
}

.geofilter .content .geo-warning-block {
  margin-bottom: 20px;
}

.geofilter .content .geo-warning.major {
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
}

.geofilter .content .geo-warning.minor {
  font-style: normal;
  font-weight: 400;
  margin-bottom: 5px;
}

.geofilter .content .geo-options {
  margin-top: 30px;
}

.geofilter .content .geo-options .continue-wrapper {
  float: left;
  width: 50%;
}

.geofilter .content .geo-options .continue-wrapper a.flag-link {
  float: left;
}

.geofilter .content .geo-options .continue-wrapper a.flag-link img {

}

.geofilter .content .geo-options .continue-wrapper .dest-options {
  float: left;
}

.geofilter .content .geo-options .continue-wrapper .dest-options a.dest-url {
  display: block;
  text-decoration: none;
  color: #00a6eb;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2px;
  padding-right: 13px;
  background: transparent url(../img/geofilter-continue-arrow.png) right 60% no-repeat;
}

.geofilter .content .geo-options .continue-wrapper .dest-options .dest-description {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
}

.geofilter .content .eu-cookie-notice-block {
  margin-top: 20px;
}

.geofilter .content .eu-cookie-notice-block a {
  text-decoration: none;
}

.geofilter .content .eu-cookie-notice-block .geo-warning.minor {
  font-size: 14px;
}

/* Right-aligned Languages */
.geofilter .content.right-align {
  text-align: right;
}
.geofilter .content.right-align .geo-options .continue-wrapper a.flag-link {
  float: right;
}
.geofilter .content.right-align .geo-options .continue-wrapper .dest-options {
  float: right;
}

/* Desktop */
@media only screen and (min-width: 960px) {
  .geofilter .content {
    width: 940px;
  }

  .geofilter .content a.geo-close {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: transparent url(../img/geofilter-close-button.png) 0 0 no-repeat;
  }

  .geofilter .content .geo-warning.major {
    font-size: 21px;
  }

  .geofilter .content .geo-warning.minor {
    font-size: 16px;
  }

  .geofilter .content .geo-options .continue-wrapper img {
    margin-right: 15px;
  }
}

/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 959px) {
  .geofilter .content {
    width: 740px;
  }

  .geofilter .content a.geo-close {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: transparent url(../img/geofilter-close-button.png) 0 0 no-repeat;
  }

  .geofilter .content .geo-warning.major {
    font-size: 20px;
  }

  .geofilter .content .geo-warning.minor {
    font-size: 15px;
  }

  .geofilter .content .geo-options .continue-wrapper img {
    width: 53px;
    margin-right: 15px;
  }
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 739px) {
  .geofilter .content {
    max-width: 440px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .geofilter .content a.geo-close {
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background: transparent url(../img/geofilter-close-button-small.png) 0 0 no-repeat;
  }

  .geofilter .content .geo-warning.major {
    font-size: 16px;
  }

  .geofilter .content .geo-warning.minor {
    font-size: 14px;
  }

  .geofilter .content .geo-options .continue-wrapper img {
    width: 34px;
    margin-right: 8px;
  }
}

/* CHOOSE LANGUAGE */

.geofilter-link {
  position: relative;
  background-color: #3c3b42;
}

.geofilter-link > a.usable {
  background: #3c3b42 url(../img/language-dropdown-arrow.png) 90% 50% no-repeat;
  -webkit-transition: background-color 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
  .geofilter-link > a.usable:hover {
    background-color: #494950;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

.geofilter-link #choose-language {
  display: none;
  position: absolute;
  left: 0;
  bottom: 52px;
  z-index: 99;
}
.geofilter-link #choose-language:after {
  content: "";
  position: absolute;
  right: 26px;
  bottom: -12px;
  border-top: 12px solid #212121;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.geofilter-link #choose-language ul {
  margin: 0;
  padding: 0;
  background: #212121;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .45);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, .45);
  box-shadow: 0 0 25px rgba(0, 0, 0, .45);
}
.geofilter-link #choose-language ul li {
  display: block;
  width: 186px;
  height: 24px;
  margin: 0;
  padding: 20px;
  border: none; /* remove inherited borders */
  border-bottom: 1px solid #000;
  list-style: none;
}
.geofilter-link #choose-language ul li:hover {
  background: #313131;
}
.geofilter-link #choose-language ul li:last-child {
  border-bottom: 0;
}
.geofilter-link #choose-language ul li a {
  text-decoration: none;
}
.geofilter-link #choose-language ul li a img {
  float: left;
  position: relative;
  top: 2px;
  max-width: 40px;
  height: 24px;
}
.geofilter-link #choose-language ul li.active a img {
  opacity: .45;
}
.geofilter-link #choose-language ul li a .domain {
  margin-left: 58px;
  font-size: 14px;
  color: #00a6eb;
}
.geofilter-link #choose-language ul li.active a .domain {
  opacity: .45;
  color: #cecbcb;
}
.geofilter-link #choose-language ul li a .description {
  margin-left: 58px;
  font-style: italic;
  font-size: 9px;
  color: #cecbcb;
}
.geofilter-link #choose-language ul li.active a .description {
  opacity: .45;
}

/* ALERTS */

#alert {
  background: #fff;
}
#alert .content {
  background: #fff url(http://www.sony.com/css/img/s/alert-bg.gif) repeat-x left bottom;
  padding: 13px 20px 10px;
}
#alert .wrapper {
  position: relative;
}
#alert h1 {
  margin: 0 0 10px 0;
  font-size: 17px;
  color: #03648c;
}
#alert .description {
  margin: 0 0 10px 0;
  font-size: 13px;
  color: #696969;
}
#alert .link {
  margin: 0;
}
#alert .link a {
  padding: 0 14px 0 0;
  background: url(http://www.sony.com/css/img/icon-arrow-red-sml.gif) no-repeat right center;
  font-size: 12px;
  color: #3e3e3e;
  text-transform: uppercase;
  text-decoration: none;
}
#alert .link a:hover {
  color: #057CAD;
}
#alert .close-btn {
  position: absolute;
  right: -20px;
  top: -13px;
  margin: 0;
}
#alert .close-btn a {
  display: block;
  width: 44px;
  height: 44px;
  background: url(http://www.sony.com/css/img/s/icon-x-sml.gif) no-repeat center center;
  text-indent: -9999px;
}
#alert .close-btn a:hover {
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

.ir {
  display: block;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
}

.svg {
  -webkit-background-size: contain;
  background-size: contain;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *  `contenteditable` attribute is included anywhere else in the document.
 *  Otherwise it causes space to appear at the top and bottom of elements
 *  that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *  `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
     (-o-min-device-pixel-ratio: 5/4),
     (-webkit-min-device-pixel-ratio: 1.25),
     (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


.ie9 body.page-wrap-outer { overflow: auto; }



/*** Promotion Overlay  **/
.promotion-overlay:before {
  content: '';
  display:block;
  opacity:    0.75;
  background: #000;
  z-index:    1000;
  width:      100%;
  height:     100%;
  text-align: center;
  top:        0;
  left:       0;
  position:   fixed;
}
.promotion-overlay {
  opacity 1;
  background-color:black;
  width:90%
  height:100%;
}
.promotion-overlay .sony-logo {
  top: 100px;
  left: 90px;
}
.promotion-content {
    opacity: 1;
    z-index:1001;
    background:transparent;
    position:absolute;
    top: 0px;
    left: 50%;
    padding: 20px;
    margin-left: -477px;
    padding-right:50px;
}
.spectre-overlay {
  background-image: url('/static/img/promotion/spectre_overlay.png');
}
.promotion-header {
    float: right;
    position: relative;
    left: 35px;
    top: 0;
}
.promotion-body {

    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
    height:100%;
    margin: 0 auto;
    text-align:left;
  }
.promotion-embed-container {
  position: absolute;
      bottom:10px;
      right:27px;
      background-color:black;
}

.promotion-embed-container iframe {
  width: 100%;
  height: 100%;
}

.promotion-overlay .share-close {
  width: 28px;
  height: 28px;
  background-image: url(/static/img/close-lrg.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.promotion-overlay .made-for-bond {
  font-family: 'SST W01 Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 31pt;
  color: #FFF;
  width: 100px;
  line-height: 25pt;
  right: 20px;
  top: 150px;
  position: absolute;
  text-align: right;
}
@media screen and (max-width: 450px) {
  .promotion-embed-container {
    bottom: 38px;
    height: 228px;
    width: 100%;
    right: 0;
    background: #000;
  }
  .promotion-header {
    position: absolute;
    right: 0px;
    top: -30px;
    z-index: 3;
    left: initial;


   }
  .promotion-body {
    width: 100%;
    height: 565px;
  }
  .promotion-content {
    height: 370px;
    margin:30px 0;
    width:100%;
    left: 0;
    padding: 0px;
  }
  .promotion-overlay .made-for-bond {
    font-size: 31pt;
    width: 100px;
    line-height: 25pt;
    right: 20px;
    top: 150px;
  }
}

@media screen and (min-width: 450px) and (max-width: 642px) {
  .promotion-embed-container {
    width: 64%;
    right: 3.5%;
    bottom: 115px;
    height: 160px;
  }
  .promotion-body {
    width: 400px;
  }
  .promotion-content {
    height: 500px;
    margin-left: 0;
    width: 500px;
    padding-right: 50px;
    left: 50%;
    margin-left: -250px;
  }
  .promotion-header {
    position: relative;
    left: initial;
    right: -25px;
  }
  .promotion-overlay .made-for-bond {
    font-size: 28pt;
    width: 100px;
    line-height: 25pt;
    right: 20px;
    top: 80px;
  }
}
@media screen and (min-width: 643px) and (max-width: 999px) {

  .promotion-embed-container {
    width: 64%;
    right: 3.5%;
    bottom: 16.6%;
    height: 35.5%;
   }
  .promotion-body {
    height: 602px;
    width: 584px;
  }
  .promotion-content {
    height: 542px;
    margin-left: 0;
    padding-right:50px;
    left: 50%;
    margin-left: -317px;
  }
  .promotion-overlay .made-for-bond {
    font-size: 31pt;
    width: 100px;
    line-height: 25pt;
    right: 25px;
    top: 160px;
  }
}

@media screen and (min-width: 1000px) {
  .promotion-embed-container {
      width:573px;
      height: 322px;
  }
  .promotion-body {
    width: 905px;

  }
  .promotion-content {
    height: 800px;
    margin-left: -452px;
  }
  .promotion-overlay .made-for-bond {
    font-size: 51pt;
    width: 200px;
    line-height: 41pt;
    right: 30px;
    top: 255px;
  }
}