/*
 * br-widget.css
 * This file contains the styling for the widgets sent from BloomReach for the category, product, and thematic pages
 * Created: May 04, 2012 - JSS
 * Revision HIstory:
 *
 *
 */
/* related searches */
.br-related-query
{
	color:#836E5A !important; /* JS: 02/27/2014 Added for new design */
	font-size:12px; /* JS: 02/27/2014 Changed form 11 to 12 for new design */
	text-align: left;
}
.br-related-heading
{
	color:#836E5A !important; /* JS: 02/27/2014 Added for new design */
	text-transform:uppercase; /* JS: 02/27/2014 Added for new design */
	line-height: 30px;
	font-size: 14px; /* JS: 02/27/2014 Changed form 16 to 14 for new design */
	font-weight: bold;
	height: 30px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: middle;
}
.br-related-query-link,#br-sr .br-related-query-link-last
{
	text-decoration: none;
}
.br-related-query-link:hover,#br-sr .br-related-query-link-last:hover
{
	text-decoration:underline;
}
.br-top-query
{
	font-size:12px; /* JS: 02/27/2014 Changed form 11 to 12 for new design */
}
.br-top-heading
{
	font-size:14px; /* JS: 02/27/2014 Changed form 16 to 14 for new design */
}
.br-top-queries
{
	float: left;
	width: 190px;
}
/* End of related searches */

/* related searches on product page */
/* 840px for new product page w/o left nav, 700px for old product page w/left nav */
#br-sr .br-related-searches-widget
{
	width: 840px;
	/*width: 700px;*/
}

#br-sr .br-related-heading
{
	color:#836E5A !important; /* JS: 02/27/2014 Added for new design */
	text-transform:uppercase; /* JS: 02/27/2014 Added for new design */
	background-color: #FFFFFF;
	text-align: left;
	padding-bottom: 5px;
}

#br-sr .br-related-query
{
	color:#836E5A !important; /* JS: 02/27/2014 Added for new design */
	font-size:12px; /* JS: 02/27/2014 Changed form 11 to 12 for new design */
	display: inline;
	list-style-type: none;
}

#br-sr .br-related-query-link:after
{
	content: ", ";
}

#br-sr .br-related-query-link-last:after
{
	content: "";
}

/* End of related searches on product page */

/* related products as displayed on category pages */
.br-found-heading
{
	color:#836E5A !important; /* JS: 02/27/2014 Added for new design */
	text-transform:uppercase; /* JS: 02/27/2014 Added for new design */
	line-height: 30px;
	font-size: 14px; /* JS: 02/27/2014 Changed form 16 to 14 for new design */
	font-weight: bold;
	height: 30px;
	text-indent: 5px;
	padding-bottom: 5px;
}
.br-sf-widget,.br-sf-widget-merchant-cont
{
	width: 130px;
   	display:inline;
    	float:left;
	padding:0 3px 0 3px;
	height: auto;
    	overflow:visible;
	font-weight: bold;
	text-decoration: none;
}
.br-sf-widget-merchant-img img
{
	border: none;
	max-width: 125px;
	max-height: 125px;
}
.br-sf-widget-merchant-img
{
	height: 125px;
	width: 125px;
	text-align: center;
	padding-bottom: 5px;
}
.br-sf-widget-merchant-title a:link
{
	color: #666666 !important;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	margin-bottom: 2px;
	text-decoration: none;
}
.br-sf-widget-merchant-title
{
	padding: 0 15px 0 0;
}
.br-sf-widget-merchant-title a:hover
{
	color: #666666 !important;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	margin-bottom: 2px;
	text-decoration: underline;
}
.br-sf-widget-merchant-title a:visited
{
	color: #666666 !important;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	margin-bottom: 2px;
	text-decoration: none;
}
.br-sf-widget-merchant-desc
{
	padding: 0 15px 0 0;
	font-weight: normal;
	display: block;
	color: #666666;
	font-size: 12px;
}
.br-sf-widget-merchant-qv
{
	padding: 0 0 0 0;
	overflow:visible;
	font-weight: bold;
	display: inline;
}
.br-sf-widget-merchant-qv a
{
	text-decoration:underline;
}
.br-sf-widget-merchant-qv a:link
{
	color: #007dc3;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
}
.br-sf-widget-merchant-qv a:visited
{
	color: #007dc3;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
}
.br-sf-widget-merchant-popup-maincont
{
	background: none repeat scroll 0 0 white;
	border: 1px solid #666666;
	height: auto;
	list-style: none outside none;
	margin-top: 0px;
	margin-left: 135px;
	padding: 5px 5px 5px 5px;
	position: absolute;
	width: 390px;
	z-index: 100;
}
.br-sf-widget-merchant-popup-cont
{
	position: relative;
	height: auto;
	padding: 5px 5px 5px 5px;
}
.br-sf-widget-merchant-popup-desc-heading
{
	font-weight: bold;
}
.br-sf-widget-merchant-popup-title
{
	font-weight: bold;
}
.br-sf-widget-merchant-popup-view
{
	padding-bottom: 1.5em;
}
.br-sf-widget-merchant-popup-close
{
	position: relative;
	text-align: right;
	font-weight: bold;
}
.br-sf-widget-merchant-popup-img
{
	display: block;
	float: left;
	padding: 5px 10px 5px 5px;
	width: 190px;
	text-align: center;
}
.br-sf-widget-merchant-popup-img img
{
	border: none;
	max-width: 190px;
	max-height: 190px;
}
/* End of related products as displayed on category pages */

/* related products as displayed on new product page w/o left nav */
#br-prod-mr .br-sf-widget, #br-prod-mr .br-sf-widget-merchant-cont
{
	width: 165px;
	overflow:visible;
	font-weight: bold;
	text-decoration: none;
	display: inline;
	float: left;
	padding: 0 3px 0 3px;
	height: auto;
}
#br-prod-mr .br-sf-widget-merchant-img
{
	height: 145px;
	width: 145px;
	text-align: center;
	padding-bottom: 5px;
}
#br-prod-mr .br-sf-widget-merchant-img img
{
	border: none;
	max-width: 145px;
	max-height: 145px;
}
#br-prod-mr .br-sf-widget-merchant-popup-img
{
	display: block;
	float: left;
	padding: 5px 10px 5px 5px;
	width: 190px;
	text-align: center;
}
#br-prod-mr .br-sf-widget-merchant-popup-img img
{
	border: none;
	max-width: 190px;
	max-height: 190px;
}
#br-prod-mr .br-sf-widget-merchant-popup-maincont
{
	background: none repeat scroll 0 0 white;
	border: 1px solid #666666;
	height: auto;
	list-style: none outside none;
	margin-top: 0px;
	margin-left: 220px;
	padding: 5px 5px 5px 5px;
	position: absolute;
	width: 390px;
	z-index: 100;
}
/* End of related products as displayed on new product page w/o left nav */

/* related categories and related searches in left nav on thematic page */
#nav a.e2
{
	color:#FFFFFF;
	font-weight:bold;
	text-align:left;
}
#nav a.e2.list_spacer
{
	text-align:left;
}
/* End of related categories and related searches in left nav on thematic page */