/* category styles */
.categoryWidget{
	margin-right:-15px;

}
.categoryContainer {
	float: left;
	width: 310px;
	height: 201px;
	padding-top: 5px;
	margin: 0 15px 20px 0;
	text-align:center;
	border: 1px solid #e7e7e7;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	border-radius: .75em;
	-moz-box-shadow: 1px 1px 0px #e7e7e7;
	-webkit-box-shadow: 1px 1px 0px #e7e7e7;
	box-shadow: 1px 1px 0px #e7e7e7;
}

.oldie .categoryContainer { margin-right: 2px; }

.oldie .categoryContainer {
	width: 320px;
	height: 207px;
	padding-top: 10px;
	border: 0;
	background: transparent url("/static/img/ui/category/category-rounded-corners-bg.png") no-repeat scroll left top ;
}

.categoryContainer a { text-decoration: none; }

.categoryContainer img {
	-webk-it-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;

}

.categoryContainer .categoryBg {
	background-color: #207D97; /* default */
	margin: -38px 5px 0 5px;
	padding: 10px 0;
	height: 38px;
	position: relative;
	-webkit-border-radius: 0 0 .5em .5em;
	-moz-border-radius: 0 0 .5em .5em;
	border-radius: 0 0 .5em .5em;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.oldie .categoryContainer .categoryBg {
	margin-left: 10px;
	margin-right: 10px;
}

.categoryContainer:hover .categoryBg {
	opacity: 1;
	filter:alpha(opacity=100);
	
}

.categoryLink {
	margin-top: -32px;
	position: relative;
}

.categoryLink a {
	font-family: webSlab,sans-serif;
	font-size: 20px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
/* variable font sizing */
.categoryLink .xxsmall {font-size:17px;}
.categoryLink .xsmall {font-size:18px;}
.categoryLink .small {font-size:19px;}
.categoryLink .large {font-size:22px;}
.categoryLink .xlarge {font-size:24px;}
.categoryLink .xlarge {font-size:26px;}


