/* 
 * Disneystore global.css
 * based on HTML5 Boilerplate
 * Detailed information about this CSS: h5bp.com/css
 * 
 * Modified for Disneystore.com purposes, most importantly in the use of border-box model
 *
 * ==|== normalize ==========================================================
 */

/* our custom webfonts */
/* we use one font-family name and specify dedicated font files for each individual weight */
/* weights: 400 = regular, 600 = semibold, 700 = bold */

@font-face {
    font-family: 'webSlab';
	src:url('/static/fonts/matterhornserif-regular.eot?#iefix') format("embedded-opentype"),
		url('/static/fonts/matterhornserif-regular.woff') format("woff"),
		url('/static/fonts/matterhornserif-regular.ttf') format("truetype"),
		url('/static/fonts/matterhornserif-regular.svg#MatterhornSerifRegular') format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'webSlab';
	src:url('/static/fonts/matterhornserif-bold.eot?#iefix') format("embedded-opentype"),
		url('/static/fonts/matterhornserif-bold.woff') format("woff"),
		url('/static/fonts/matterhornserif-bold.ttf') format("truetype"),
		url('/static/fonts/matterhornserif-bold.svg#MatterhornSerifBold') format("svg");
    font-weight: 700;
    font-style: normal;
}


@font-face {
	font-family:'webSans';
	src:url('/static/fonts/matterhorn-regular.eot?#iefix') format("embedded-opentype"),
		url('/static/fonts/matterhorn-regular.woff') format("woff"),
		url('/static/fonts/matterhorn-regular.ttf') format("truetype"),
		url('/static/fonts/matterhorn-regular.svg#MatterhornRegular') format("svg");
	/* normal */
	font-weight:400;
	font-style:normal
}

@font-face {
	font-family:'webSans';
	src:url('/static/fonts/matterhorn-semibold.eot?#iefix') format("embedded-opentype"),
		url('/static/fonts/matterhorn-semibold.woff') format("woff"),
		url('/static/fonts/matterhorn-semibold.ttf') format("truetype"),
		url('/static/fonts/matterhorn-semibold.svg#MatterhornSemiBold') format("svg");
	/* semibold */
	font-weight:600;
	font-style:normal
}

@font-face {
	font-family:'webSans';
	src:url('/static/fonts/matterhorn-bold.eot?#iefix') format("embedded-opentype"),
		url('/static/fonts/matterhorn-bold.woff') format("woff"),
		url('/static/fonts/matterhorn-bold.ttf') format("truetype"),
		url('/static/fonts/matterhorn-bold.svg#MatterhornBold') format("svg");
	/* bold */
	font-weight:700;
	font-style:normal
}



/* ======  HTML5 display definitions  =========== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =====   Base   ======= */

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	/*  *behavior: url(/static/js/libs/boxsizing.htc); DOESN'T WORK IN IE7  */
}

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: webSans,sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #c9e4ec; text-shadow: none; }
::selection { background: #c9e4ec; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a {color:#207d98; text-decoration:none;}
a:visited { color: #207d98; }
a:hover { color: #4fb3d2;}
a:focus { outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: 700; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
a img {border:none;}
/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

.formEntry {
	list-style:none;
	margin:0;
	padding:0;
}

#shareEmailForm .formEntry {
	margin-bottom:19px;
}

label {
	color:#757575;
	display:block;
	font-size:11px;
	margin-top:13px;
	margin-bottom:3px;
}
input[type=checkbox] + label, input[type=radio] + label {
	display:inline;
}


/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* rounded corners and borders on inputs */
input[type="email"], input[type="password"], input[type="text"], textarea {
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   border:1px #ddd solid;
   padding:6px 10px;
}


/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { 
	box-sizing: border-box;
}
	
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }




/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}
/* unfortunately, media queries don't work in ie7 or 8, our main trouble spots. so we apply a body class to reflect size. when the viewport is narrow, we remove margins and padding from elements on the page */
.wSmall #container {
	width:992px;
	overflow:hidden;
}

.wSmall .topBar, 
.wSmall #mainNav
{
	padding-left:16px;
	padding-right:16px;
}

.wSmall #main,
.wSmall #superFooter
{
	margin-left:16px;
	margin-right:16px;
}

.wSmall a#logo {
	left:16px;
}
.wSmall #ghFavorites {
	left:715px;
}
.wSmall #ghBag {
	right:16px;
}
.wSmall .carousel {
	margin-left:-16px;
	margin-right:-16px;
	padding:0 15px;
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/*============== end html5 boilerplate ======================*/


/* ======= begin Disneystore global styles ======= */

body {
	background-color:#efefef;
	color:#222;
}

h1, h2, h3, h4 {
	color:#207d98;
	font-family: webSlab, sans-serif;
	font-weight:400;
}

h1 {
	font-size:28px;
	margin-bottom:0;
}

h1 + .subHead {
	color:#757575;
	font-size:16px;
	margin-top:5px;
	margin-bottom:0;
	padding-bottom:20px;
}

#container {
	background-color:#fff;
	margin:0 auto 40px;
	padding:0 0 25px 0;
	width:1024px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;	
}

.xxtight {letter-spacing:-3px;}
.xtight {letter-spacing:-2px;}
.tight {letter-spacing:-1px;}
.wide {letter-spacing:1px;}
.xwide {letter-spacing:2px;}
.xxwide {letter-spacing:3px;}

/* ============ header ===========*/
#disneydotcom {
}

/* globalHeader */
#dsHeader {
	height:105px;
}

.globalHeader {
	font-size:11px;
	position:relative;
}
.globalHeader p {
	margin:0;
}

/* link and promotions bar */
.topBar {
	background-color:#c9e4ec;
	height:30px;
	padding:0 32px;
	position:relative;
}

.linksBar {
	display:inline-block;
	float:left;
	line-height:100%;
	margin:0;
	padding:0;
	width:450px;
}

.linksBar li {
	display:inline-block;
	float:left;
	margin:0;
	padding:10px 0 0 0;
}

.linksBar a {
	color:#222;
}
#ghAccount {
	float:left;
	padding-top:10px;
	text-align:right;
	width:510px;
}
.greetingName {
	color:#133875;
}
#ghAccount .accountLink {
	background:transparent url(/static/img/ui/ui-icons.png) 100% -157px no-repeat;
	color:#222;
	cursor:pointer;
	display:inline-block;
	margin-left:20px;
	padding-right:15px;
}
#searchContainer{
	width: 221px;
	display:none;
	padding: 10px;
	background: white;
	border-left: solid 1px #a5a5a5;
	border-right: solid 1px #a5a5a5;
	border-bottom: solid 1px #a5a5a5;
	position: absolute;
	margin: -5px 0 0 -1px;
	z-index:11;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;	
}
#searchContainer a{
	display:block;
	padding:5px;
	color:#666;
}
#searchContainer .selected{
	background-color:#3095b4;
	color:#fff;
	padding:5px 15px;
	margin: 0 -10px;
}
#myAccountFlyout ul, #guestServicesFlyout ul{
	list-style:none;
	margin:0;
	padding:0;
}
#myAccountFlyout li a, #guestServicesFlyout li a{
	color:#222;
}
#myAccountFlyout li.last{
	border-top: solid 1px #eaeaea;
	margin:10px -20px 0 -20px;
	padding:10px 20px 0 20px;
}
.hPromo {
/*	color:#004860; */
	font-size:10px;
	line-height:1.3;
}
.hPromo:hover{
	color:#004860;
}
.hpHd {
	font-family:webSlab,serif;
	font-size:14px;
	font-weight:bold;
}
.hpHighlight {
/*	color:#c10435; */
}
/* main part of header */
.headerBody {
	background:#fff url(/static/img/ui/header-bg.png) 0 0 no-repeat;
	position:relative;
	height: 75px;
}

a#logo {
	display:block;
/*	background:transparent;  // specified in country css */
	height:75px;
	width:223px;
	position:absolute;
	top:0;
	left:29px;
}

#ghSearch {
	background-color:#fff;
	border:1px #a5a5a5 solid;
	font-size:14px;
	height:34px;
	left:270px;
	position:absolute;
	top:22px;
	width:221px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
#ghSearch input {
	border:none;
}
input.searchTextBox {
	background:transparent;
	color:#666;
	padding:7px 0 7px 8px;
	width:192px;
}
/*placeholder needs specific styling; otherwise it's always very light gray*/
input.searchTextBox::-webkit-input-placeholder {
    color:#666;
}
input.searchTextBox:-moz-placeholder {
    color:#666;
}
input.searchTextBox:-ms-input-placeholder {
    color:#666;
}
.searchButton {
	background:transparent url(/static/img/ui/ui-icons.png) -12px -120px no-repeat;
	display:block;
	height:28px;
	position:absolute;
	right:0px;
	top:0px;
	text-indent:-1000px;
	width:28px;
}

#ghFavorites {
	background:transparent url(/static/img/ui/ui-icons.png) 0 0 no-repeat;
	font-family:webSlab,sans-serif;
	font-size:13px;
	height:32px;
	left:735px;
	position:absolute;
	top:22px;
	width:145px;
}
#ghBag {
	background:transparent url(/static/img/ui/ui-icons.png) 0 -64px no-repeat;
	font-family:webSlab,sans-serif;
	font-size:13px;	
	height:32px;
	position:absolute;
	right:32px;
	top:22px;
}
#miniBagHolder{
	display:none;
}
#ghFavorites a, #ghBag a {
	display:inline-block;
	padding:8px 0 0 32px;
}
.count {
	color:#222;
}
#favCount, #bagCount {font-weight:500;}

#headerPromo {
	cursor: pointer;
	display:block;
	height: 30px;
	overflow: hidden;
	position:absolute;
	right:290px;
	top:25px;
	width:220px;
}
#headerPromo .imageContainer{
	position:absolute;
	height: 30px;
	width:100%;
}
/* bag and checkout header */

.bag .headerBody, .checkout .headerBody, .receipt .headerBody, .acctReg .headerBody {
	background-position:480px 0;
	border-bottom:1px #e5e5e5 solid;
	height:90px;
}

#guestServices {
	color:#757575;
	left:265px;
	position:absolute;
	top:31px;
}
#guestServices a {
	color:#222;
	text-decoration:underline;
}
#gsPhone {
	color:#207d98;
}
#gsPhone .icon {
	background:transparent url(/static/img/ui/ui-icons.png) 0 -127px no-repeat;
	display:inline-block;
	height:11px;
	position:relative;
	top:1px;
	width:16px;
}
.bag .headerBody #chat, .checkout .headerBody #chat, .acctReg .headerBody #chat {
	position:absolute;
	left:735px;
	top:23px;
}
#checkoutHeaderButton {
	position:absolute;
	right:32px;
	top:27px;
}

#storeLocatorHeaderButton {
	position:absolute;
	right:32px;
	top:25px;
}

/* ====== TOP NAVIGATION ====== */
#mainNav {
	border-top:1px #e5e5e5 solid;
	border-bottom:1px #e5e5e5 solid;
	color:#666;
	height:40px;
	padding:0 25px;
	position:relative;
	z-index:10; /*z-index on relatively positioned element for ie7*/
}
#mainNav a:hover {
	text-decoration:none;
}
.topNav {
	display: table;
}
.navTab {
	display:table-cell;
	height:40px;
	vertical-align:middle;
}
.navTab > a {
	display:block;
	font-size:12px;
	font-weight:600;
	line-height:1.1;
	margin:0 15px;
	text-align:center;
	text-transform:uppercase;
}
.navTab > a:hover, .navTab.hover > a {
	color:#125f75;
}
.navTab.hover {
	background: #fafafa;
	background: -webkit-linear-gradient(top, #fdfdfd, #fafafa);
	background: -moz-linear-gradient(top, #fdfdfd, #fafafa);
	background: -ms-linear-gradient(top, #fdfdfd, #fafafa);
	background: -o-linear-gradient(top, #fdfdfd, #fafafa);
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .3);
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .3);   
}
.oldie .navTab {
	border-left:1px transparent solid;
	border-right:1px transparent solid;
}
.oldie .navTab.hover {
	border-left:1px #ccc solid;
	border-right:1px #ccc solid;
}


/* =====  FLYOUTS  ===== */
.flyout {
	background:#fff;
	border:1px #ccc solid;
	border-width:0 1px 1px 1px;
	display:block;
	font-size:12px;
	font-weight:normal;
	position:absolute;
	top:39px;
	visibility:hidden;
	z-index:10;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, .2);
	box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, .2);
}
.flyoutBackground{
	top: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    position: fixed;
}
.navTab.first-child .flyout {
	-webkit-border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	border-radius: 0px 4px 4px 4px;
}
.navTab.last-child .flyout {
	-webkit-border-radius: 4px 0px 4px 4px;
	-moz-border-radius: 4px 0px 4px 4px;
	border-radius: 4px 0px 4px 4px;
}
/* flyout x positions -- at some later date we can do this dynamically via JS if we want */
/* grid across is 24/25 • 105 • 185 • 265 • 345 • 425 • 505 • 585 • 665 • 745 and then right-aligned to 24/25 */

.flyout {left:24px;}
.oldie .flyout {left:25px;}


/* flyout picture links */
ul.flyoutPics {
	background-color:#fafafa;
	border-bottom:1px #ececec solid;
	height:120px;
	margin-bottom:20px;
	padding:0 10px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;	
}
.flyoutPics li {
	float:left;
	width:160px;
	height:120px;
	position:relative;
	padding:0;
}
.flyoutPics li a {
	position:absolute;
	height:120px;
	width:160px;
	padding:57px 10px 0 90px;
	top:0px;
	left:0px;
	display:block;
	font-size:13px;
	font-family:webSlab,sans-serif;
	line-height:14px;
}
/* variable font sizing */
.flyoutPics li a .xxsmall {font-size:10px;}
.flyoutPics li a .xsmall {font-size:11px;}
.flyoutPics li a .small {font-size:12px;}
.flyoutPics li a .large {font-size:14px;}
.flyoutPics li a .xlarge {font-size:15px;}
.flyoutPics li a .xxlarge {font-size:16px;}


/* Fix for IE9 and lower */
.flyoutPics li a {
	background:transparent url(/static/img/ui/ie-shim.gif) repeat;
}
/* flyout link columns */
.flyoutLinks {
	background:transparent url(/static/img/ui/flyout-column-borders.png) 10px 0 repeat-y;
	margin:0 10px 20px 10px;
}
.flyoutLinks:before, .flyoutLinks:after { content: ""; display: table; }
.flyoutLinks:after { clear: both; }
.flyoutLinks { zoom: 1; }

.flyout ul.autoColumns {
-moz-column-width: 140px;
-webkit-column-width: 140px;
-moz-column-gap: 20px;
-webkit-column-gap: 20px;
}
.flyHead {
	font-family:webSlab,sans-serif;
	font-size:14px;
	margin:0 0 5px 0;
}
/* variable font sizing */
.flyHead .xxsmall {font-size:11px;}
.flyHead .xsmall {font-size:12px;}
.flyHead .small {font-size:13px;}
.flyHead .large {font-size:15px;}
.flyHead .xlarge {font-size:16px;}
.flyHead .xxlarge {font-size:17px;}

.flyoutLinks a {
	color:#666;
}
.flyoutLinks a:hover {
	color:#0ea7da;
}
.flyoutLinks .flyHead a, .flyHead {
	color:#207d98;
}
.flyoutLinks .flyHead a:hover {
	color:#0ea7da;
}
ul.folColumn {
	float:left;
	margin:0 10px;
	padding:2px 0px;
	width:140px;
}
.folColumn li {
	margin-bottom:7px;
}
li + li.flyHead {
	margin-top:10px;
}





/* pageHeader */
.pageHeader {
	background-position:bottom left;
	background-repeat:no-repeat;
	position:relative;
}
.pageHeader h1 {
	margin-top:25px;
	padding-bottom:10px;
}

.wayfinder {
	background:transparent url(/static/img/ui/ui-icons.png) 0 -222px no-repeat;
	font-size:12px;
	margin:13px 0 0;
	padding-left:12px;
}
.wayfinder a {
	color:#757575;
}
.wayfinder a:hover {
	color:#207d98;
}
.subdimensionJump {
	bottom:10px;
	position:absolute;
	right:0;
}
#lpChatButton{
	float:right;
	margin-top:-15px;
}
/* ===================== main body styles ================ */

#ie6Alert{
background: #FFE url("/static/img/ui/ie6_alert.png") no-repeat 4px 2px;
display: none;
border-bottom: 1px solid black;
padding: 4px 4px 4px 24px;
width: 100%;
}
#main {
	margin:0 32px 40px 32px;
	position:relative;
}
.widgetContainer{
	margin-bottom:12px;
}
.widgetContainer h2{
	margin:20px 0 15px 0;
}

#chat {
	position:absolute;
	right:10px;
	top:10px;
	width:67px;
}


/*============== FOOTER ===============*/
#superFooter {
	margin:0 32px 25px 32px;
}

#sfPromos {
	background-color:#fcfcfc;
	border-width:2px 1px 0 1px;
	border-color:#e4e4e4;
	border-style:solid;
	padding:6px 0 18px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
.footerPr {
	border-left:1px #e4e4e4 solid;
	float:left;
	font-size:12px;
	min-height:90px;
	padding:0 10px 0 18px;
	position:relative;
	width:239px;
}
.footerPr:first-child {
	border-left:none;
}
.footerPr h4 {
	color:#757575;
	font-size:15px;
	margin:11px 0 0 0;
}
.socialLinks {
	float:left;
	font-size:11px;
	list-style:none;
	margin:20px 0 0 0;
	padding:0;
	width:90px;
}
.socialLinks + .socialLinks {
	margin-left:30px;
}
.socialLinks li {
	margin-bottom:5px;
}
.socialLinks a {
	color:#757575;
}
.socialLinks a:hover {
	color: #4fb3d2;
}
.socialLinks .icon {
	display:inline-block;
	height:20px;
	margin-right:10px;
	position:relative;
	top:6px;
	width:20px;
}

.facebook .icon { background: transparent url("/static/img/ui/ui-icons.png") 0 -591px no-repeat; }
.twitter .icon { background: transparent url("/static/img/ui/ui-icons.png") 0 -615px no-repeat; }
.pinterest .icon { background: transparent url("/static/img/ui/ui-icons.png") 0 -639px no-repeat; }
.ourblog .icon { background:transparent url(/static/img/ui/footer/social-icons.png) -20px -20px no-repeat; }

#socialImg {
	position:absolute;
	top:-30px;
	right:22px;
}
#emailImg {
	position:absolute;
	top:-15px;
	right:24px;
}
#cardImg {
	position:absolute;
	top:4px;
	right:11px;
}
#storeImg {
	position:absolute;
	top:-22px;
	right:13px;
}


#sfLinks {
	border:1px #e4e4e4 solid;
	padding:25px 20px 40px 20px;
	-webkit-border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;	
}
.footerLinks a {
	color:#757575;
}
.footerLinks a:hover {
	color: #4fb3d2;
}
.footerLinks .standout a {
	color:#207d98; 
	font-weight:600;
}
.footerLinks ul {
	float:left;
	list-style:none;
	margin:0 25px 0 0;
	padding:0;
	width:166px;
}
.footerLinks ul.last-child {
	margin-right:0;
	width:136px;
}
.footerLinks li {
	margin-bottom:7px;
}

.footerLinks .hd, .footerLinks .hd a {
	color:#207d98;
	font-size:14px;
	font-weight:600;
}
.footerLinks .gap {
	margin-top:26px;
}

/* legal footer styles */
#legalFooter {
	font-size: 11px;
	color: #808080;
	text-align: center;
	margin: 30px 40px;
}

#legalFooter a {
	color: #808080;
	text-decoration: none;
}

#legalFooter a:hover { text-decoration: underline; }

#legalFooter ul  {
	list-style: none;
	padding: 0;
	margin: 25px 0 5px;
}

#legalFooter li { display: inline; }
#legalFooter li span { padding: 0 5px; }

#legalFooter #entrustLogo {
	float: right;
	margin: -10px 20px 0 0;
}

/* ============= Product Tile ============*/
.tabbedCarousel .productTile .imageHolder{
	position:relative;
	left:-5px;
	height:159px;
	overflow:hidden;
	margin: 0 -7px;
	width:152px;
}

.tabbedCarousel .productTile .imageHolder  img { left: 9px; }
.productTile .imageHolder img:first-child{ z-index:2; }
.productTile .imageHolder img { position:absolute; }
.productTile .promo{ z-index:4; }

.productTile .promo, .productTile .quickLookButton{
	position:absolute;
	bottom:17px;
	left:0px;
	background:url(/static/img/ui/sprites.png) no-repeat 0px -22px;
	width:150px;
	height:24px;
	color:#143c7e;
	padding:7px;
	font-size:10px;

}
 .productTile div.quickLookButton{
	background-position:0px -46px;
	left:-158px;
	color:#fff;
	z-index:5;
 }
.productTile h3{
	color:#222;
	font-family:webSans;
	font-size:11px;
	max-height:40px;
	overflow:hidden;
	margin-top:8px;
}
.productTile .price{
	font-size:12px;
	color:#666;
	position:absolute;
	top:232px;
}
.productTile .salePrice {
	font-size:12px;
	color:#c10435;
	position:absolute;
	top:232px;
}
.productTile .origPrice {
	font-size:11px;
	color:#757575;
	position:absolute;
	top:247px;
}
body:not(.en-us) .productTile .origPrice,
body:not(.en-us) .listPage .sale + .price {
	text-decoration:line-through;
}
.rating{
	background:url(/static/img/ui/sprites.png) no-repeat 0px 0px;
	height:10px;
	width:65px;
}
.collectionNoRating, .euNoRating{
	height: 10px;
}
.noRating {
	background:url(/static/img/ui/sprites.png) no-repeat 0px 0px;
	height:10px;
	width:140px;
	padding:0px 0px 0px 67px;
	color:#757575;
	font-size:10px;
	font-style:italic;
}

.r0{background-position: -65px 0px;}
.r5{background-position: -52px 0px;}
.r10{background-position: -52px -11px;}
.r15{background-position: -39px 0px;}
.r20{background-position: -39px -11px;}
.r25{background-position: -26px 0px;}
.r30{background-position: -26px -11px;}
.r35{background-position: -12px 0px;}
.r40{background-position: -12px -11px;}
.r45{background-position: 0px 0px;}
.r50{background-position: 0px -11px;}


/* Favoriting */
.favoriter {
	text-align:right;
	width:160px;
}
.favoriter a {
	display:inline-block;
	color:#222;
}
.favoriter a:hover {
	color:#207d98;
}
.favoriter .icon {
	background:transparent url(/static/img/ui/ui-icons.png) 0 -32px no-repeat;
	display:inline-block;
	height:18px;
	position:relative;
	top:4px;
	width:18px;
}
.favoriter.inProgress .icon {
	/*NEED LOADING INDICATOR*/
}
.favoriter.favDone .icon {
	background-position:-14px -432px;
}


/* ============= Buttons =================*/
.button {
   border: 1px solid #d4d4d4;
   background: #f0f0f0;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
   background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
   background: -moz-linear-gradient(top, #ffffff, #f0f0f0);
   background: -ms-linear-gradient(top, #ffffff, #f0f0f0);
   background: -o-linear-gradient(top, #ffffff, #f0f0f0);
   color: #207d98;
   display:inline-block;
   font-size: 14px;
   font-family: webSlab,sans-serif;
   font-weight:700;
   padding: 8px 21px 7px;
   text-align:center;
   text-decoration: none;
   vertical-align: middle;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
/*   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,.5) 0 1px 0;
*/   
   text-shadow: rgba(255,255,255,.4) 0 1px 0;   
}

.button:hover {
	color:#004860;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d4d4d4));
	background: -webkit-linear-gradient(top, #ffffff, #d4d4d4);
	background: -moz-linear-gradient(top, #ffffff, #d4d4d4);
	background: -ms-linear-gradient(top, #ffffff, #d4d4d4);
	background: -o-linear-gradient(top, #ffffff, #d4d4d4);
}

.button.primary {
   border: 1px solid #2196be;
   background: #207d98;
   background: -webkit-gradient(linear, left top, left bottom, from(#3095b4), to(#207d98));
   background: -webkit-linear-gradient(top, #3095b4, #207d98);
   background: -moz-linear-gradient(top, #3095b4, #207d98);
   background: -ms-linear-gradient(top, #3095b4, #207d98);
   background: -o-linear-gradient(top, #3095b4, #207d98);
   color:#fff;
   text-shadow: rgba(0,1,1,.3) 0 1px 0;   
}

.button.primary:hover {
   background: #41b1d3;
   background: -webkit-gradient(linear, left top, left bottom, from(#41b1d3), to(#3095b4));
   background: -webkit-linear-gradient(top, #41b1d3, #3095b4);
   background: -moz-linear-gradient(top, #41b1d3, #3095b4);
   background: -ms-linear-gradient(top, #41b1d3, #3095b4);
   background: -o-linear-gradient(top, #41b1d3, #3095b4);
}

.button.small {
	padding:6px 12px;
}
.button.large {
	font-size:16px;
	padding:7px 21px 6px;
}

.button.plain {
	background:#757575;
	border:none;
   -webkit-box-shadow: rgba(0,0,0,0) 0 0 0;
   -moz-box-shadow: rgba(0,0,0,0) 0 0 0;
   box-shadow: rgba(0,0,0,0) 0 0 0;
	color:#fff;
	font-family:webSans,sans-serif;
	font-weight:400;
	text-shadow:rgba(0,0,0,0) 0 0 0;
}

.button.disabled {
	background:#fff;
	color:#dc2521;
	cursor:default;
}

.button.secure {
	padding-right:31px; /* add extra padding-right to buttons with icon on left */
}

.secure .buttonIcon {
	background: transparent url(/static/img/ui/ui-icons.png) 0 -352px no-repeat;
	display:inline-block;
	height:15px;
	margin-right:10px;
	position:relative;
	top:3px;
	width:13px;
}
.ie7 .secure .buttonIcon {
	top:0;
}



/* productSelector styles - used on product, multi-add, quicklook */
.productSelector .formEntry, .productSelector .formEntry label {
	color:#222;
}
.productSelector input, .productSelector select {
	width:220px;
}
.productSelector .quantity label {
	display:inline-block;
	width:180px;
}
.productSelector .quantity input {
	text-align:center;
	width:40px;
}
.productSelector .button {
	font-size:17px;
	font-weight:normal;
	padding: 8px 10px 7px;	
	width:100%;
}
.productSelector .fieldStatus {
	display:block;
}

.followLink {
	font-size:11px;
	padding:0;
	text-align:right;
}
.followLink .icon {
	background:transparent url(/static/img/ui/ui-icons.png) 100% -256px no-repeat;
	display:inline-block;
	height:9px;
	margin-left:5px;
	width:6px;
}





/* default form styles */
.fieldNote {
	color:#757575;
}


.error input[type="text"] {
	border:1px #dc2723 solid;
}
.error .customSelect, html:not(.oldie) .error .customSelect{
	border:1px #dc2723 solid;	
}
.error .fieldStatus {
	color:#dc2521;
}
.error .fieldStatus .icon {
	background: transparent url("/static/img/ui/ui-icons.png") 0px -434px no-repeat;
	display:inline-block;
	height:17px;
	margin-right:3px;
	vertical-align:middle;
	width:17px;
}


/* custom selects */

/* for ie7&8 */
.oldie select {
	border:1px #d5d5d5 solid;
	color:#222;
}
.oldie .customSelect {
	display:inline-block;
}
html:not(.oldie) .customSelect,
html:not(.oldie) .subdimensionJump
{
	background:#f0f0f0 url(/static/img/ui/select-bg.png) no-repeat center right;
	display:inline-block;
	height: 24px;
	border:1px solid #d5d5d5;
	overflow: hidden;
	width: 220px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	  
}
html:not(.oldie) .subdimensionJump {
	width:200px;
}

html:not(.oldie) .customSelect select,
html:not(.oldie) .subdimensionJump select
{
	background: transparent;
	border:none;
	color:#222;
	font-size: 12px;
	height: 24px;
	line-height:16px;
	padding:3px 5px 3px 10px;
	width: 290px;
	-webkit-appearance: none;
}
html:not(.oldie) .subdimensionJump select {
	width:270px;
}
html:not(.oldie) .customSelect select option,
html:not(.oldie) .subdimensionJump select option {
	padding:5px 5px 5px 10px;
}
/* other selects throughout the site -- the select always has to be wider than the containing .customSelect div in order to hide the browser's default drop-down arrow */
.personalization .formEntry  select {
	width:200px;
}
html:not(.oldie) .personalization .customSelect {
	width:200px;
}
html:not(.oldie) .personalization .customSelect select {
	width:270px;
}
/* special styles for the side-by-side date picking selects */
.oldie .dateSelect .customSelect {
	display: inline-block;
	float:left;
	margin-right:5px;
}
html:not(.oldie) .dateSelect .customSelect {
	background-position:98% 50%;
	width:70px;
}
html:not(.oldie) .dateSelect .customSelect select {
    padding-left:5px;
	width:90px;
}
html:not(.oldie) .dateSelect .customSelect.dsMonth {
	width:90px;
}
html:not(.oldie) .dateSelect .customSelect.dsMonth select {
	width:120px;
}
html:not(.oldie) .dateSelect .customSelect.dsDay, html:not(.oldie) .dateSelect .customSelect.dsYear {
	width:60px;
}
html:not(.oldie) .dateSelect .customSelect.dsDay select, html:not(.oldie) .dateSelect .customSelect.dsYear select {
	width:90px;
}

/* custom checkboxes & radio buttons */
.customInput {
	position:relative;
	zoom:1;
}
.customInput:before, .customInput:after { content: ""; display: table; }
.customInput:after { clear: both; }

input[type="checkbox"], input[type="radio"]
{
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
.oldie input[type="checkbox"], input[type="radio"] {
	border:none;
	margin:3px 0 0 8px;
}

input[type="checkbox"] + label, input[type="radio"] + label 
{
	display:block;
	float: left; 
	line-height: 16px;
	margin:0;
	padding: 2px 0 0 20px;
	-moz-transition: color 1s ease; 
	-o-transition: color 1s ease; 
	-webkit-transition: color 1s ease; 
	transition: color 1s ease; 
}


html:not(.oldie) input + label
{
	background: url(/static/img/ui/custom-inputs.png) 0 -1px no-repeat;
	height: 16px;
}
html:not(.oldie) input[type=radio] + label							{ background-position: 0 -161px; }

/* Checked styles */
html:not(.oldie) input[type=radio]:checked + label 					{ background-position: 0 -241px; }
html:not(.oldie) input[type=checkbox]:checked + label 				{ background-position: 0 -81px; }
html:not(.oldie) input[type=checkbox]:hover:checked + label,
html:not(.oldie) input[type=checkbox]:focus:checked + label,
html:not(.oldie) input[type=checkbox]:checked + label:hover,
html:not(.oldie) input[type=checkbox]:focus:checked + label 		{ background-position: 0 -101px; }
html:not(.oldie) input[type=radio]:hover:checked + label,
html:not(.oldie) input[type=radio]:focus:checked + label,
html:not(.oldie) input[type=radio]:checked + label:hover,
html:not(.oldie) input[type=radio]:focus:checked + label 			{ background-position: 0 -261px; }

/* Hover & Focus styles */
html:not(.oldie) input[type=checkbox]:hover + label,
html:not(.oldie) input[type=checkbox]:focus + label,
html:not(.oldie) input[type=checkbox] + label:hover 				{ background-position: 0 -21px; }
html:not(.oldie) input[type=radio]:hover + label,
html:not(.oldie) input[type=radio]:focus + label,
html:not(.oldie) input[type=radio] + label:hover					{ background-position: 0 -181px; }

/* Active styles */
html:not(.oldie) input[type=checkbox]:active + label,
html:not(.oldie) input[type=checkbox] + label:hover:active			{ background-position: 0 -41px; }
html:not(.oldie) input[type=radio]:active + label,
html:not(.oldie) input[type=radio] + label:hover:active				{ background-position: 0 -201px; }
html:not(.oldie) input[type=checkbox]:active:checked + label,
html:not(.oldie) input[type=checkbox]:checked + label:hover:active	{ background-position: 0 -121px; }
html:not(.oldie) input[type=radio]:active:checked + label,
html:not(.oldie) input[type=radio]:checked + label:hover:active		{ background-position: 0 -281px; }

/* Disabled styles */
html:not(.oldie) input[type=checkbox]:disabled + label,
html:not(.oldie) input[type=checkbox]:hover:disabled + label,
html:not(.oldie) input[type=checkbox]:focus:disabled + label,
html:not(.oldie) input[type=checkbox]:disabled + label:hover,
html:not(.oldie) input[type=checkbox]:disabled + label:hover:active	{ background-position: 0 -61px; }
html:not(.oldie) input[type=radio]:disabled + label,
html:not(.oldie) input[type=radio]:hover:disabled + label,
html:not(.oldie) input[type=radio]:focus:disabled + label,
html:not(.oldie) input[type=radio]:disabled + label:hover,
html:not(.oldie) input[type=radio]:disabled + label:hover:active	{ background-position: 0 -221px; }
html:not(.oldie) input[type=checkbox]:disabled:checked + label,
html:not(.oldie) input[type=checkbox]:hover:disabled:checked + label,
html:not(.oldie) input[type=checkbox]:focus:disabled:checked + label,
html:not(.oldie) input[type=checkbox]:disabled:checked + label:hover,
html:not(.oldie) input[type=checkbox]:disabled:checked + label:hover:active	{ background-position: 0 -141px; }
html:not(.oldie) input[type=radio]:disabled:checked + label,
html:not(.oldie) input[type=radio]:hover:disabled:checked + label,
html:not(.oldie) input[type=radio]:focus:disabled:checked + label,
html:not(.oldie) input[type=radio]:disabled:checked + label:hover,
html:not(.oldie) input[type=radio]:disabled:checked + label:hover:active	{ background-position: 0 -301px; }




/* "SEE MORE" functionality */
.expander {
	clear:both;
	display:block;
	font-size:12px;
	margin:0;
	text-align:right;
}
.expander a {
	display:inline-block;
	text-align:right;
}
.expander.closed .closeIt {
	display:none;
}
.expander.expanded .expandIt {
	display:none;
}
.expander .icon {
	background:transparent url(/static/img/ui/ui-icons.png) 0 -320px no-repeat;
	display:inline-block;
	height:11px;
	margin-left:5px;
	position:relative;
	top:1px;
	width:11px;
}
.expander.expanded .icon {
	background-position:0 -333px;
}




/* left-hand navigation and stuff for list pages*/
.leftNav {
border-bottom:1px #e9e9e9 solid;
padding:0px 0px 11px 0px;
}
.navList a {
color:#666666;
font-size:12px;
}
.navList a:hover {
color:#207d98;
}
.navList li {
margin:0px 0px 5px 0px;
}
.nlHd {
	color:#222;
	font-family:webSlab,sans-serif;
	font-size:14px;
}
.listPage .columnLeft {
	float:left;
	width:210px;
}

/* secondaryLanding */
.secondaryLanding .pageHeader {
border-bottom:1px #e9e9e9 solid;
margin-bottom:17px;
padding-bottom:12px;
}
.secondaryLanding .leftNav {
border-bottom:1px #e9e9e9 solid;
float:left;
padding:0px 0px 11px 0px;
width:210px;
}
.secondaryLanding .rightContent {
position:relative;
float:left;
left:40px;
width:710px;
}
.secondaryLanding .mainImage {
width:710px;
height:241px;
}

/* multi billboard */
#multi-billboard {
	background: url(/static/js/dojo-lib/ds/feature/resources/featuredBackground.png) no-repeat top left;
	position: relative;
	width: 966px;
	height: 370px;
	padding: 7px;
	margin-bottom: 4px;
}

#multi-billboard-container {
	position: absolute;
	top: 7px;
	right: 7px;
}

#multi-billboard-three {
	position: absolute;
	right: 0px;
}

/* ======= shared styles (for product detail, multi-add and quicklook) ======= */
.product {
	font-size:12px;
	color:#757575;
}

.product h1 {
	color:#004860;
	font-size:24px;
	font-weight:normal;
	margin-bottom:20px;
}

.product h3, #quicklookPopup h3 {
	font-size:14px;
	margin-bottom:0;
}

.product p, #quicklookPopup p {
	line-height:1.416;
	margin-top:0;
}

.productPromo {
	background: #f3f8fa;
	color: #207D98;
	display: block;
	margin-top: 25px;
	padding: 10px;
	overflow:hidden;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;	
}
.productBadges{
	clear:both;
}
.productPromo h3 {
	color: #207D98;
	margin:0;
}

.productPromo p { margin: 0; }

.productDescription .price {
	font-family:webSlab,sans-serif;
	font-size:18px;
	margin:0;
}

.productDescription .price.regular {
	color:#757575;
	font-size:13px;
}

.productRating .rating {
    display: inline-block;
    margin-right: 10px;
}

.productDescription ul, .productDescription ol {
	line-height:1.416;
	margin:0;
	padding:0;
}

.productDescription li {
	margin:0;
	padding:0;
}

.productAction {
    min-height: 100px;
     position: relative;
 }


.productPromoContainer {
	float: right;
	margin: 0px 0 10px 10px;
}
.productBadges{
	clear:both;
}
.productAdd {
	position: absolute;
	top: 0px;
	right: 0;
}

.callout {
	font-size: 14px;
	color: #207d98;
}

.callout.backordered. .callout.soldOut { color:#dc2521; }

.reviewLink {
    color: #333;
	text-decoration: underline;
}

.followLink {
	color: #222;
	font-size: 11px;
	text-align: right;
	float:right;
	cursor:pointer;
}

.followLink:hover, .productPromoLinks .followLink a:hover { color: #4fb3d2; }

.followLinkIcon {
	background:transparent url(/static/img/ui/ui-icons.png) -26px -256px no-repeat;
	width: 7px;
	height: 11px;
	display: inline-block;
	vertical-align: middle;
}

.productQuickDetails .price.sale { color: #C10435; }

/* tabs styles */
.productQuickDetails .tabs {
	width: 100%;
	border-top: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
	margin: 10px 0 20px;
}

.productQuickDetails .tabs ul  {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1.416;
}

.productQuickDetails .tabs li {
	list-style: none;
	float: left;
	padding: 0 20px;
	text-align: center;
	margin: 5px 0;
}

.productQuickDetails .tabs li:first-child { border-right: 1px solid #E4E4E4; }
.productQuickDetails .tabs li a { color: #757575; }
.productQuickDetails .tabs li a:hover, .tabs li.selected a { color: #207d98; }

.productQuickDetails .tabs li.selected {
	position: relative;
	background-color: #fff;
	z-index:2;
}

.productQuickDetails .tabs li.selected:before {
	border-color: #e4e4e4 transparent;
	border-style: solid;
	border-width: 12px 12px 0;
	bottom: -17px;
	content: "";
	display: block;
	left: 35%;
	position: absolute;
	width: 0;
}

.productQuickDetails .tabs li.selected:after {
	border-color: #fff transparent;
	border-style: solid;
	border-width: 11px 12px 0;
	bottom: -15px;
	content: "";
	display: block;
	left: 35%;
	position: absolute;
	width: 0;
}

/* quick look styles */
#quicklookPopup {
	font-size: 12px;
	background: #fff;
	filter: none;
	min-height:315px;
}
#quicklookPopup .productRating {
  height: 47px;
}
#quicklookPopup h1 {
	font-size: 24px;
	color: #004860;
	margin: 0 0 20px;
}

#quicklookPopup .productView {
	float: left;
	width: 240px;
	z-index:10; /*z-index on relatively positioned element for ie7*/
	width: 222px;
	margin-right: 20px;
	overflow: hidden;
}

#quicklookPopup .productView .productImage {
	position: relative;
	overflow: hidden;
}

#quicklookPopup .productView .productImage img {
	border: 1px solid #ccc;
	margin-bottom: 15px;
	float:left;
}

#quicklookPopup .productQuickDetails {
	float: left;
	width: 385px;
}
#quicklookPopup .productPromoContainer{ width: 108px; }


#quicklookPopup .productSelector .button {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 10px;
}
.de-de #quicklookPopup .productSelector .button {
	font-size:14px;
}
#quicklookPopup .favoriter { text-align: left; }

#quicklookPopup .arrowPrevious {
	background: #fff url("/static/img/ui/ui-icons.png") 7px -523px no-repeat;
	display: none;
	width: 25px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 85px;
	text-indent: -9999px;
	-webk-it-border-radius: 0 .5em .5em 0;
	-moz-border-radius: 0 .5em .5em 0;
	border-radius: 0 .5em .5em 0;
	opacity: 0.8;
	filter:alpha(opacity=60);
}

#quicklookPopup .arrowNext {
	background: #fff url("/static/img/ui/ui-icons.png") -12px -523px no-repeat;
	display: block;
	width: 25px;
	height: 42px;
	position: absolute;
	right: 0px;
	top: 85px;
	text-indent: -9999px;
	-webk-it-border-radius: .5em 0 0.5em;
	-moz-border-radius: .5em 0 0 .5em;
	border-radius: .5em 0 0 .5em;
	pacity: 0.8;
	filter:alpha(opacity=60);
}

#quicklookPopup .callout { width: 250px; }
#quicklookPopup .longDescription  { display:none; }
#quicklookPopup .longDescription h2 {margin:0 0 5px 0;}
#quicklookPopup .longDescription ul { margin-left: 15px; }
#quicklookPopup .productStatus{
	width:220px;
	text-align:center;
}

#quicklookPopup .esrbBlock div{
	font-size:10px;
	margin-top: 6px;
}

.quickLook .price.largePrice{
	font-size:18px;
	font-family: webSlab, sans-serif;
	font-weight: normal;
}

.quickLook .price.sale {
	display:none;
	margin-bottom:0;
	font-size:18px;
	font-family: webSlab, sans-serif;
}
.quickLook .variantSelector .addedAction{
	padding: 5px 0;
}

.quickLook .variantSelector .addedAction .button {
	margin-right:10px;
	margin-top:5px;
	width:100px;
}
.quickLook .variantSelector .addedAction .addedMsg {
	padding:12px 0  0 35px;
}
#quicklookPopup .thumbs img{ float:left; }

/* quicklook subscriptions */

#quicklookPopup .HazardWarning p {
	width:230px;
}
#quicklookPopup .HazardWarning {
	min-height:14px;
	clear:both;
	float:left;
}

#quicklookPopup .productAction .orderByMessage{
	color:#207d98;
	margin-top:10px;
	width:211px;
}
#quicklookPopup .productAction .autoRenewMessage{
  color: #777;
  background-color: #fcfbfb;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
 width:205px;
}
#quicklookPopup .productSelector .quantity label {
  display: inline-block;
  width: 157px;
}
div#subscriptionDetailsQuickLook {
  width: 224px;
}
#quicklookPopup div#subscriptionDetailsQuickLook {
  width: 200px;
}

li#subscriptionProductPageMsg1 h4, div#subscriptionMsg2 {
  font-family: 'webSans', sans-serif;
  font-size: 11px;
  color: #777;
}
 li#subscriptionQuickLookMsg2 h4 {
  color: #777;
  font-size: 11px;
  font-family: 'webSans', sans-serif;
  margin: -12px 0 20px 10px;
}

li#subscriptionQuickLookMsg2 h4 span, div#subscriptionMsg3 h4 {
  color: #207d98; 
  text-transform: 11px;
}

#cartItems .last span {
  font-size: 11px;
}

/*   subscriptions - product  */
div#subscriptionProductPageMsg {
  width: 230px;
}

div#subscriptionMessages {
  font-size: 11px;
  padding-left: 10px;
  color: #777;
  line-height: 15px;
}

div#subscriptionMsg3 h4, li#subscriptionQuickLookMsg3 h4 {
  font-size: 11px;
  font-family: 'webSans', sans-serif;
}

/* share links styles */
.shareLinks ul {
	float: right;
	margin-top: 15px;
}

.shareLinks li {
	list-style: none;
	float: left;
	padding-left: 3px;
}

.shareLinks .email a {
	display: block;
	background: transparent url("/static/img/ui/ui-icons.png") 0 -566px no-repeat;
	width: 22px;
	height: 20px;
	text-indent: -9999px;
}

/* hide share by email on US and EU sites */
.en-us .shareLinks .email,
.en-gb .shareLinks .email,
.fr-fr .shareLinks .email,
.de-de .shareLinks .email {display:none;}

.shareLinks .facebook a {
	display: block;
	background: transparent url("/static/img/ui/ui-icons.png") 0 -591px no-repeat;
	width: 21px;
	height: 20px;
	text-indent: -9999px;
}

.shareLinks .twitter a {
	display: block;
	background: transparent url("/static/img/ui/ui-icons.png") 0 -615px no-repeat;
	width: 21px;
	height: 20px;
	text-indent: -9999px;
}

.shareLinks .pinterest a {
	display: block;
	background: transparent url("/static/img/ui/ui-icons.png") 0 -639px no-repeat;
	width: 21px;
	height: 20px;
	text-indent: -9999px;
}
/* ======= end shared styles ======= */

/* icon styles */
.questionmarkIcon {
	background: transparent url("/static/img/ui/ui-icons.png") -17px -415px no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}

.checkmarkIcon {
	background: transparent url("/static/img/ui/ui-icons.png") -14px -430px no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
}

.checkmarkIconMed {
	background: transparent url("/static/img/ui/ui-icons.png") -11px -475px no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.infoIcon {
	background: transparent url("/static/img/ui/ui-icons.png") 0 -415px no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}

.exclamationIcon {
	background: transparent url("/static/img/ui/ui-icons.png") 0 -433px no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}

.exclamationIconLg {
	background: transparent url("/static/img/ui/ui-icons.png") 0 -453px no-repeat;
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}
.itemRemove a {
 float: right;
 padding-right: 17px;
 background: transparent url("/static/img/ui/ui-icons.png") right -662px no-repeat;
 text-decoration: none;
}

.nextArrowWhite {
	background: transparent url("/static/img/ui/ui-icons.png") -10px -389px no-repeat;
	width: 7px;
	height: 11px;
	display: inline-block;
	vertical-align: middle;
}

.prevArrowWhite {
	background: transparent url("/static/img/ui/ui-icons.png") 0 -389px no-repeat;
	width: 7px;
	height: 11px;
	display: inline-block;
	vertical-align: middle;
}

.prevArrowBlue {
	background: transparent url("/static/img/ui/ui-icons.png") 0 -288px no-repeat;
	width: 6px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
}

/* generic styles */
#errMsgArea, .errorMessage {
    background-color: #FCEEEE;
    /*border: 1px solid #DC2521; border is visible.  IBM must have this div visible on reciept page, could be other pages too */ 
    padding: 0 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}

#errMsgArea a {
	color: #222;
	text-decoration: underline;
}

.roundedCorners {
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.removeMarginTop { margin-top: 0; }
.removeMarginBottom { margin-bottom: 0; }
.bold { font-weight:bold; }
.formEntry label span { color: #757575; }

/* Loading styles */
#mickeyHead{
	z-index: 3;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -88px 0 0 -88px;
	width: 166px;
	height: 166px;
}
.mediumLoader{
	position:absolute;
	z-index:11;
	display:none;
	background:#fff;
	opacity:.6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";


}
.mediumLoader img{
	position:absolute;
	z-index: 12;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -50px;
	width: 100px;
	height: 100px;
}
.divider{
	border-top: solid 1px #ddd;
}
/* SEARCH RESULTS PAGES */
.searchResults .pageHeader h1 {
	border-bottom:1px #e9e9e9 solid;
	margin-top: 20px;
	padding-bottom:15px;
}
.srHd {
	color:#757575;
	font-size:18px;
}
.srHd strong {
	color:#222;
}
.srNothingFound {
	color:#757575;
	font-size:12px;
}
.srNothingFound h2 {
	color:#222;
	font-size:14px;
}
.srNothingFound > ul {
	padding-left:18px;
}
.srNothingFound .navList {
	border-right:1px #e9e9e9 solid;
	float:left;
	padding-right:40px;
}
.srNothingFound .navList + .navList {
	border-right:none;
	padding-left:40px;
}
.receipt #saveAddressForm{ 
     display:none; 
} 
.registrationMessageText {
	border:1px solid #dc2521;
	background-color:#fceeee;
	height:48px;
	width:960px;
	padding:16px 0px 0px 50px;
	margin-left:0px;
	margin-top:10px;
	margin-bottom:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font-size:13px;
	background-image:url("/static/img/ui/alert-icon.png");
	background-repeat:no-repeat;
	background-position:15px 12px;	
}
.registrationSuccessMessageText {
	border:1px solid #e5e5e5;
	height:48px;
	width:960px;
	padding:16px 0px 0px 50px;
	margin-left:32px;
	margin-top:10px;
	margin-bottom:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font-size:13px;
	background-image:url("/static/img/ui/confirmation-check.png");
	background-size: 25px;
	background-repeat:no-repeat;
	background-position:15px 12px;	
}
.registrationSuccessMessageTextMyAccount {
	border:1px solid #e5e5e5;
	height:48px;
	width:760px;
	padding:16px 0px 0px 50px;
	margin-left:0px;
	margin-top:10px;
	margin-bottom:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font-size:13px;
	background-image:url("/static/img/ui/confirmation-check.png");
	background-size: 25px;
	background-repeat:no-repeat;
	background-position:15px 12px;	
}
#superFooter a.mobileButton{
	display:block;
	clear:both;
	margin:0px auto -15px auto; 
	width: 240px;
	color: #207D98;
}
#disney-visa-disney-id {
	text-align: center;
	padding: 0 0 10px 0;
}
#disneyid-background.disneyid-background {
background: #fff !important;
background-color: #FFF !important;
background-image:none !important;
opacity: .6;
z-index: 2147483646;
}
#disneyid-lightbox {
	-moz-box-shadow: 0px 0px 5px #E4E4E4 !important;
	-webkit-box-shadow: 0px 0px 5px #E4E4E4 !important;
	box-shadow: 0px 0px 5px #E4E4E4 !important;
}/* en-us.css */

body {
	background: #fff url(/static/img/en-us/background.gif) top left repeat;
}

#logo {
	background:transparent url(/static/img/ui/header-logo.gif) 50% 0 no-repeat;
}	