/*******************
Stack-Brain Section
*******************/
.stack-brain-section{
	background-color: #24241c;
	height: 367px;
	clear: both;
	border: 5px solid #fff;
}

body.mobile .stack-brain-section{
	border: none;
	background: #fff;
	padding: 10px;
	height: auto;
}

.stack-brain-section .brain-wrapper {
	margin: auto;
	height: 367px;
	position: relative;
	max-width: 1600px;
	overflow: hidden;
}

body.mobile .stack-brain-section .brain-wrapper {
	background-position: 150px;
	min-height: 668px;
	position: relative;
	background-color: #24241c;
}

.stack-brain-section .brain-wrapper > div img {
	width: 100%;
}

.stack-brain-section .brain-wrapper .bmh-btn {
	background: #24241c;
}

body.mobile .stack-brain-section .bmh-btn {
	background: none;
	position: absolute;
	bottom: 75px;
	left: 50%;
	margin-left: -127px;	
}

.stack-brain-section .bmh-btn.mobile {
	display: none;
}

body.mobile .stack-brain-section .bmh-btn.mobile {
	display: inline-block;
}

.stack-brain-section .brain-wrapper .brain{
	float: left;
	display: block;
	text-align: center;
	width: 27%;
	opacity: 0;
	margin-top: 15px;
}

.stack-brain-section .brain-wrapper.animate .brain, .stack-brain-section .brain-wrapper.nojs .brain{
	margin-top: 0;
	opacity: 1;
	padding-top: 1%;
	-webkit-transition: margin 500ms ease-out, opacity 800ms ease-in;
	-moz-transition: margin 500ms ease-out, opacity 800ms ease-in;
	-o-transition: margin 500ms ease-out, opacity 800ms ease-in;
	transition: margin 500ms ease-out, opacity 800ms ease-in;
}

.stack-brain-section .brain-wrapper .brain img{
	max-width: 274px;
	display: block;
}

body.mobile .stack-brain-section .brain-wrapper .brain img{
	float: none;
	margin: auto;
}

body.mobile .stack-brain-section .brain-wrapper.animate .brain, body.mobile .stack-brain-section .brain-wrapper .brain{
	width: 100%;
	float: none;
	margin: 0;
	display: block;
	margin-top: -20px;
}

.stack-brain-section .brain-wrapper .your-body{	
	float: left;
	display: block;
	text-align: center;
	width: 60%;
	opacity: 0;
	margin-top: 15px;
}

.stack-brain-section .brain-wrapper.animate .your-body, .stack-brain-section .brain-wrapper.nojs .your-body{
	margin-top: 0;
	opacity: 1;
	-webkit-transition: margin 500ms ease-out, opacity 800ms ease-in;
	-moz-transition: margin 500ms ease-out, opacity 800ms ease-in;
	-o-transition: margin 500ms ease-out, opacity 800ms ease-in;
	transition: margin 500ms ease-out, opacity 800ms ease-in;
}

body.mobile .stack-brain-section .brain-wrapper .your-body {
	height: auto;
}

body.mobile .stack-brain-section .brain-wrapper.animate .your-body, body.mobile  .stack-brain-section .brain-wrapper .your-body{
	width: 100%;
	float: none;
}

body.mobile .stack-brain-section .brain-wrapper .your-body img,
body.mobile .stack-brain-section .brain-wrapper.brain img {
	display: block;
}

.stack-brain-section .brain-wrapper .your-body h1 {
	font-family: 'Q Stencil', 'Courier New', monospace;
	font-size: 53px;
	color: #fff;
	line-height: 60px;
	margin-top: 10%;
	font-weight: normal;
}

body.mobile .stack-brain-section .brain-wrapper .your-body h1 {
	margin: 40px 0 10px;
}

.stack-brain-section .brain-wrapper .your-body p {
	font-family: 'DINWebPro-CondMedium', Helvetica, sans-serif;
	font-size: 32px;
	color: #fff;
	line-height: 60px;
	margin-bottom: 40px;
}

body.mobile .stack-brain-section .brain-wrapper .your-body p {
	margin-bottom: 10px;
}

.stack-brain-section .brain-wrapper .reebok-logo {
	position: absolute;
	right: 50px;
	bottom: 0;
	z-index: 4;
	width: 200px;
}

body.mobile .stack-brain-section .brain-wrapper .reebok-logo{
	position: relative;
	width: 100%;
	margin: 0;
	left: 0;
	right: 0;
	float: none;
	display: block;
	height: auto;
	padding-bottom: 5%;
	background-color: #24241c;
	display: none;
}

.stack-brain-section .brain-wrapper .reebok-logo img{
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 100%;
	max-width: 164px;
}

body.mobile .reebok-logo img{
	position: relative;
	margin: auto;
	display: block;
	bottom: 0;
	left: 50%;
	margin-left: -85px;
}

body.mobile .stack-brain-section .brain-wrapper .your-body, 
body.mobile .stack-brain-section .brain-wrapper .brain, 
body.mobile .stack-brain-section .brain-wrapper.animate .brain, 
body.mobile  .stack-brain-section .brain-wrapper .reebok-logo {
	margin: 0;
	opacity: 1;
	float: none;
	text-align: center;
}

@media only screen and (min-width: 1100px) {
	.stack-brain-section .brain-wrapper {
		background-position: 90%;
	}
}

@media only screen and (min-width: 1300px) {
	.stack-brain-section .brain-wrapper {
		background-position: 70%;
	}

}

@media only screen and (min-width: 1450px) {
	.stack-brain-section .brain-wrapper {
		background-position: 65%;
	}

}
