/*****************
bmh-image
*****************/
.bmh-image {
	position: relative;
	clear: both;
	width: 100%;
	overflow: hidden;
}

body.mobile .bmh-image .sliding-text {
	opacity: 1;
	padding-top: 0;
}

.bmh-image.border-top {
	border-top: 5px solid #d8d8cf;
}

.bmh-image.border-bottom {
	border-bottom: 5px solid #d8d8cf;
}

body.mobile .bmh-image.border {
	border: none;
}

body.mobile .bmh-image .image {
	float: none;
	width: 100%;
	height: 400px;
	display: block;
	position: relative;
	line-height: 13px;
	overflow: hidden;
}

.bmh-image .image img {
	position: absolute;
	width: 100%;
}

body.mobile .bmh-image .image img {
	position: static;
	left: 0;
	margin-left: 0;
	max-width: 100%;
	position: relative;
}

body.mobile .bmh-image .image img.photo-adjust {
	margin-top: -5px;
}

body.mobile .bmh-image .image .mobile-adjust {
	right: 0;
	margin-right: 0;
	position: relative;
	max-width: 800px;
	width: 800px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
}

.bmh-image .image .over-text {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

body.mobile .bmh-image .image .over-text {
	position: absolute;
	top: 41%;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
}

.bmh-image:hover .bmh-btn {
	padding: 0;
	background: none;
}

.bmh-image:hover .bmh-btn .inner {
	background-color: #fff;
	color: #000;
	margin: 2px;
}

.bmh-image .bio {
	width: 50%;
	float: left;
	position: relative;
	height: 400px;
	overflow: hidden;
	background: #efefea;
	margin: 0;
	padding: 0;
	display: table;
}

body.mobile .bmh-image .bio {
	width: 100%;
}

.bmh-image .bio.war-1 {
	background: url('../img/warpaint1.jpg') no-repeat;
	background-size: cover;
}

.bmh-image .bio.war-2 {
	background: url('../img/warpaint2.jpg') no-repeat;
	background-size: cover;
}

.bmh-image .bio.war-3 {
	background: url('../img/warpaint3.jpg') no-repeat;
	background-size: cover;
}

body.mobile .bmh-image .bio {
	float: none;
	width: 100%;
	position: relative;
	line-height: 13px;
	height: 400px;
	overflow: hidden;
	display: table;
}

body.mobile .bmh-image .bio .sliding-text {
	display: table-cell;
	vertical-align: middle;
}

.bmh-image .bio img {
	position: absolute;
	width: 100%;
	height: 100%;
}

body.mobile .bmh-image .bio img {
	right: 0;
	margin-right: 0;
	max-width: 100%;
	position: relative;
	height: 100%;
}

.bmh-image .bio h3 {
	font-family: 'Q Stencil', 'Courier New', monospace;
	font-size: 84px;
	color: #000;
	line-height: 67px;
	font-weight: normal;
}

body.mobile .bmh-image .bio h3 {
	font-size: 84px;
	padding-top: 0;
	line-height: 84px;
	margin-bottom: 30px;
}

.bmh-image .bio h4 {
	font-family: 'Q Stencil', 'Courier New', monospace;
	font-size: 34px;
	color: #727269;
	margin-top: 20px;
	font-weight: normal;
	font-weight: 100;
}

body.mobile .bmh-image .bio h4 {
	font-size: 34px;
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: Capitalize;
}

.bmh-image .bio p {
	width: 71%;
	margin: auto;
	font-family: 'DINWebPro-CondMedium', Helvetica, sans-serif;
	font-size: 20px;
	color: #40403a;
	margin-top: 3%;
	line-height: 26px;
}

body.mobile .bmh-image .bio p {
	line-height: 26px;
	width: 80%;
	font-size: 24px;
	font-family: 'DINWebPro-CondMedium', Helvetica, sans-serif;
}

.bmh-image .sliding-text {
	text-align: center;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.bmh-image .sliding-text {
	padding-top: 3%;
	z-index: 2;
	opacity: 0;
}

.bmh-image .sliding-text.animate,
.bmh-image .sliding-text.nojs {
	padding-top: 0%;
	opacity: 1;
	-webkit-transition: padding 500ms ease-out, opacity 800ms ease-in;
	-moz-transition: padding 500ms ease-out, opacity 800ms ease-in;
	-o-transition: padding 500ms ease-out, opacity 800ms ease-in;
	transition: padding 500ms ease-out, opacity 800ms ease-in;
}

.bmh-image .image,
.bmh-image .bio {
	height: 400px;
}

@media only screen and (max-width: 1600px) {
	.bmh-image .bio h3 {
		font-size: 64.14px;
		line-height: 55px;
	}
	.bmh-image .bio h4 {
		font-size: 34px;
	}
	.bmh-image .section .sliding-text {
		padding-top: 25px;
	}
	.bmh-image .bio p {
		font-size: 18px;
	}
}

@media only screen and (max-width: 1500px) {
	.bmh-image .image,
	.bmh-image .bio {
		height: 360px;
	}
}

@media only screen and (max-width: 1350px) {
	.bmh-image .image,
	.bmh-image .bio {
		height: 300px;
	}
	.bmh-image .bio p {
		width: 85%;
	}
}

@media only screen and (max-width: 1200px) {
	.bmh-image .image,
	.bmh-image .bio {
		height: 260px;
	}

	.bmh-image .bio h3 {
		font-size: 50px;
		line-height: 30px;
	}
	.bmh-image .bio h4 {
		font-size: 27px;
		line-height: 20px;
		margin-top: 25px;
	}
	.bmh-image .bio p {
		font-size: 17px;
		width: 92%
	}
}

@media only screen and (min-width: 1600px) {
	.bmh-image .image img {
		width: 100%;
		left: 0;
		margin: 0;
	}
	.bmh-image .bio img {
		width: 100%;
		right: 0;
		margin: 0;
	}
}

/** Left and Right specific images **/
.bmh-image-left .image{
	position: relative;
	overflow: hidden;
	width: 50%;
	float: left;
	display: table;
}

.bmh-image-right .image{
	position: relative;
	overflow: hidden;
	width: 50%;
	float: right;
	display: table;
}
