/*HOME PAGE VIDEO PLAYER*/
.play-btn > a { font-size: 48px; color: #fff; margin-top: 10px; display: inline-block; }
.ngi-icon-play:before { content: "\e680"; }
.videoSimple > .modal-backdrop.fade.in { opacity: .1 }
.videoModal { display: block; text-align: center; }
.videoModal .videoLink { display: inline-block; }
.videoModal .videoLink .videoplay { display: inline-block; }
.videoModal .videoLink .videotext { display: block; font-size: 16px; font-weight: 700; color: #ffffff; padding: 5px 0; }

/* MARKETING IMAGE */

#page-homepage .main .hero .content { z-index: 1;}
#overlay_txt .banner { font-family: Futura, sans-serif; font-size: 18px; line-height: 1; font-weight: 500; float: left; margin-bottom: 7px; margin-top: 4px; padding: 0 8px; }
#overlay_txt .banner.subhead { border-bottom: 1px dotted; border-top: 1px dotted; font-size: 26px; padding: 5px 0 7px; }
#overlay_txt .banner p { line-height: 23px; margin-bottom: 0; }
#overlay_txt .learnmore a { padding: 10px 20px; }
#overlay_txt .lockup { display: none; }

/* MARKETING IMAGE COUNTDOWN */
#overlay_txt .countdown { float: left; width: 103px; height: 103px; margin-top: -12px; margin-left: 3px; font-family: Futura, sans-serif; }
#overlay_txt .countdown .ends_in { color: #fff; text-align: center; margin-top: 31px; font-size: 12px; height: 16px; }
#overlay_txt .countdown .days_left { text-align: center; margin-top: -5px; letter-spacing: -1px; }
#overlay_txt .countdown .number_of_days { font-size: 30px; margin-right: 4px; }
#overlay_txt .countdown .ends { font-size: 20px; display: block; line-height: 16px; margin: 8px 0 1px 0; }
#overlay_txt .countdown .tomorrow { font-size: 13px; display: block; line-height: 10px; margin: 0 0 8px 0; }
#overlay_txt .countdown .last_day { font-size: 20px; display: block; line-height: 16px; margin-top: 7px; margin-bottom: 5px; }
#overlay_txt .countdown .days { font-size: 18px; text-transform: uppercase; }
#overlay_txt .countdown .end_date { text-align: center; margin-top: -7px; font-size: 10px; text-transform: uppercase; }
#overlay_txt .countdown .expired { font-size: 15px; display: block; line-height: 15px; margin: 10px 0 8px 0; }
#overlay_txt .hangtag_brand_blue { background: transparent url('/resources/images/drupal/countdown-tag-brandblue.png') 0 0 no-repeat; }
#overlay_txt .hangtag_light_blue { background: transparent url('/resources/images/drupal/countdown-tag-lightblue.png') 0 0 no-repeat; }
#overlay_txt .hangtag_dark_blue { background: transparent url('/resources/images/drupal/countdown-tag-darkblue.png') 0 0 no-repeat; }
#overlay_txt .hangtag_light_teal { background: transparent url('/resources/images/drupal/countdown-tag-lightteal.png') 0 0 no-repeat; }
#overlay_txt .hangtag_dark_teal { background: transparent url('/resources/images/drupal/countdown-tag-darkteal.png') 0 0 no-repeat; }
#overlay_txt .hangtag_pink { background: transparent url('/resources/images/drupal/countdown-tag-pink.png') 0 0 no-repeat; }
#overlay_txt .hangtag_orange { background: transparent url('/resources/images/drupal/countdown-tag-orange.png') 0 0 no-repeat; }
#overlay_txt .hangtag_yellow { background: transparent url('/resources/images/drupal/countdown-tag-yellow.png') 0 0 no-repeat; }
#overlay_txt .overlay_headline { font-family: Futura, sans-serif; font-weight: normal !important; zoom: 1; font-size: 36px; }
#overlay_txt .overlay_headline p { text-transform: uppercase; line-height: 30px; margin-bottom: 0; letter-spacing: 0; }
#overlay_txt .overlay_subhead { font-family: Futura, sans-serif; font-weight: normal !important; zoom: 1; font-size: 18px; }
#overlay_txt .overlay_subhead p { text-transform: uppercase; line-height: 19px; margin-bottom: 0; margin-top: 3px; }
#overlay_txt .overlay_banner { font-family: Futura, sans-serif; font-weight: normal !important; zoom: 1; font-size: 18px; padding: 0 8px 0 24px; float: left; margin-bottom: 4px; margin-top: 6px; margin-left: -24px; }
#overlay_txt .overlay_banner p { line-height: 23px; margin-bottom: 0; }
#overlay_txt .overlay_learnmore { float: left; margin-top: 11px; }
#overlay_txt .overlay_learnmore a { background-position: 0 0; display: block; text-align: center; cursor: pointer; color: #fff; display: inline; float: left; margin-right: 10px; width: 70px; width: 95px; padding: 7px 15px 0 0; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; height: 21px; }
#overlay_txt .overlay_learnmore a:hover, #overlay_txt .overlay_learnmore a.orange_btn_hover, #overlay_txt .overlay_learnmore a.orange_btn-hover { background-position: 0 -28px; }
#overlay_txt .overlay_learnmore a { overflow-x: hidden }
#overlay_txt .overlay_learnmore a:hover { background-position: 0 -28px; display: block; text-align: center; cursor: pointer; color: #fff; display: inline; float: left; margin-right: 10px; width: 70px; width: 95px; padding: 7px 15px 0 0; font-size: 11px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; height: 21px; }
#overlay_txt .overlay_learnmore a, #overlay_txt .overlay_learnmore a:hover { background: url('/resources/images/drupal/flatbuttons-s2371593c5c.png') no-repeat; }

.sushitrey img { position: relative; max-width: 100%; z-index: 0; }

.promoSpot, .promo-spot { display: block; width: 100%; text-align: center; font-weight: normal; color: #000; padding: 10px; }
.promoSpot img, .promo-spot img { width: auto; height: 35px; margin-bottom: 10px; }
.promoSpot .title, .promo-spot .title { font-family: Georgia, serif; font-size: 17px; display: block; margin-bottom: 10px; color: #1c4865; }
.promoSpot .text, .promo-spot .text { font-family: Arial, Helvetica, sans-serif; font-size: 11px; display: block; margin-bottom: 10px; }
.promoSpot .btn-cta, .promo-spot .btn-cta { background: #245f85; color: #fff; line-height: 1; padding: 10px 20px; }
.promoSpot.gray, .promo-spot.gray { background: #f0f0f0; }


.text_brand_blue{color:#17869a}.text_light_blue{color:#00eaff}.text_dark_blue{color:#005a89}.text_light_teal{color:#00d9cc}.text_dark_teal{color:#006770}.text_pink{color:#f609e9}.text_orange{color:#f4931f}.text_yellow{color:#fff000}.text_white{color:#fff}.brand_blue{background:#17869a;color:#fff}.light_blue{background:#00eaff;color:#fff}.dark_blue{background:#005a89;color:#fff}.light_teal{background:#00d9cc;color:#fff}.dark_teal{background:#006770;color:#fff}.pink{background:#f609e9;color:#fff}.orange{background:#f4931f;color:#fff}.yellow{background:#fff000;color:#005a89}


/* DEFAULT CODE */
.text_brand_blue { color: #17869a; }
.text_light_blue { color: #00eaff; }
.text_dark_blue { color: #005a89; }
.text_light_teal { color: #00d9cc; }
.text_dark_teal { color: #006770; }
.text_pink { color: #f609e9; }
.text_orange { color: #f4931f; }
.text_yellow { color: #fff000; }
.text_white { color: #fff; }
.brand_blue { background: #17869a; color: #fff; }
.light_blue { background: #00eaff; color: #fff; }
.dark_blue { background: #005a89; color: #fff; }
.light_teal { background: #00d9cc; color: #fff; }
.dark_teal { background: #006770; color: #fff; }
.pink { background: #f609e9; color: #fff; }
.orange { background: #f4931f; color: #fff; }
.yellow { background: #fff000; color: #005a89; }

@media (max-width: 767px) {
	#overlay_txt .learnmore {display: block;}
}

/* CHANGE FROM DEFAULT/ORIGINAL DESIGN */
#page-homepage .main .hero .wrap { padding-top: 25px;}


/*#overlay_txt>* { display: block; }*/
#overlay_txt { text-align: center; color: #fff; }
	#overlay_txt > img.tilde, #overlay_txt > .txtwrap > img.tilde { width: 75px; margin: 10px 0 30px; display: inline-block; }
	#overlay_txt > img.feelfree, #overlay_txt > .txtwrap > img.feelfree { width: 150px; margin: 15px 0; display: inline-block; }

	#overlay_txt .headline { font-weight: 500; text-transform: uppercase; line-height: 1.2; }
	#overlay_txt .subhead { font-family: Georgia, serif; line-height: 1.2; font-style: italic; font-weight: 300; }
	#overlay_txt .subhead.list { display: inline-block; text-align: left; }
	#overlay_txt .subhead span { font-weight: 500; display: block; }
	#overlay_txt .subhead span > span { font-weight: 700; display: inline-block; }

	#overlay_txt > .learnmore, #overlay_txt > .txtwrap > .learnmore { float: none; display: inline-block; }

	#overlay_txt .subhead.banner { display: inline-block; float: none; font-family: Futura, sans-serif; font-style: normal; font-weight: 700; margin-top: 10px; padding: 10px 15px 5px; line-height: 1em; /*REMOVE margin-bottom*/ }

@media (max-width: 767px) {
	#overlay_txt > img.tilde, #overlay_txt > .txtwrap > img.tilde { width: 50px; margin: 0 0 15px; }
	#overlay_txt > img.feelfree, #overlay_txt > .txtwrap > img.feelfree { width: 125px; margin: 10px 0; }
	#overlay_txt .subhead { font-size: 18px; line-height: 1.5em; }
}

@media (min-width: 768px) {
	#overlay_txt .headline { font-size: 50px; }
	#overlay_txt .subhead { font-size: 22px; line-height: 2em; }
}

/* SUSHI TREYS */
	#page-homepage .buckets .sushi .promo { background-color: transparent; }
	#page-homepage .buckets .sushi .promo.dark-blue { border-left: 1px solid #284560; }
	#page-homepage .buckets .sushi .promo.blue { border-left: 1px solid #2c99ce; }
	#page-homepage .buckets .sushi .promo.light-blue { border-left: 1px solid #99eef9; }
	#page-homepage .buckets .sushi .promo.orange { border-left: 1px solid #ff8309; }
	#page-homepage .buckets .sushi .promo.pink { border-left: 1px solid #de1f75; }

	.promo > div { height: 100%; }

	.sushitrey .headline { font-weight: 500; }
	.sushitrey .subhead { text-transform: capitalize; }
	.sushitrey .headline, .sushitrey .subhead { color: #284560; text-align: center; background-color: transparent; }
	.sushitrey .headline.dark-blue, .sushitrey .subhead.dark-blue { color: #284560; }
	.sushitrey .headline.blue, .sushitrey .subhead.blue { color: #2c99ce; }
	.sushitrey .headline.light-blue, .sushitrey .subhead.light-blue { color: #99eef9; }
	.sushitrey .headline.orange, .sushitrey .subhead.orange { color: #ff8309; }
	.sushitrey .headline.pink, .sushitrey .subhead.pink { color: #de1f75; }

	.sushitrey .subhead.ribbon { font-size: 16px; position: absolute; bottom: 0; left: -15px; width: 110%; padding: 5px; margin: 0; text-align: center; }
	.sushitrey .subhead.ribbon:after { content: ""; position: absolute; top: -2px; width: 0; height: 0; border-style: solid; right: 0px; border-width: 17px 17px 17px 0; border-color: transparent #fff transparent transparent; }
	.sushitrey .subhead.ribbon.dark-blue { color: #fff; background-color: #284560; }
	.sushitrey .subhead.ribbon.blue { color: #fff; background-color: #2c99ce; }
	.sushitrey .subhead.ribbon.light-blue { color: #fff; background-color: #99eef9; }
	.sushitrey .subhead.ribbon.orange { color: #fff; background-color: #ff8309; }
	.sushitrey .subhead.ribbon.pink { color: #fff; background-color: #de1f75; }
	@media (max-width: 767px) {
		.sushitrey .subhead.ribbon { left: 0; width: 100%; }
		.sushitrey .wraplink { padding-bottom: 35px; }
		#page-homepage .buckets .sushi .promo { border-left: none !important; }
	}