@media screen and (min-width:650px) {
	

	
	#secondary > div > div.mobile-filter-scroller div.refinement:not(.color):not(.size):not(.category):not(.price) > ul li{
		float:none;
	}
	
	/*----- Here are the default stylings for the list items in the left nav filtering -----*/

	.refinement:not(.color):not(.size):not(.category):not(.price) ul li:not(.clear-all) a{
		border: 0 none;
		padding: 0 0 0 1.5em;
		font-size: 1.1em;
		color: #6c6a67;
	}
	

	.refinement:not(.color):not(.size):not(.category):not(.price) ul li:not(.clear-all) a:before{
		content: url('../../../images/svg/checkbox-filter-box.min.svg');
		width: 13px;
		height: 13px;
		padding-right: 0.5em;
		margin-left: -1.4em;
		font-weight: normal;
		vertical-align: middle;
	}
	
	
	.refinement:not(.color):not(.size):not(.category):not(.price) ul.toggle-content li:not(.clear-all) a:hover:before{
		content: url('../../../images/svg/checkbox-filter-black.min.svg');
	}
	
	.refinement:not(.color):not(.size):not(.category):not(.price) ul.toggle-content li.selected a:before{
		content: url('../../../images/svg/checkbox-filter-black.min.svg');
	}
	
	.refinement:not(.color):not(.size):not(.category):not(.price) ul.toggle-content li.selected:not(.clear-all) a:hover:before{
		content: url('../../../images/svg/checkbox-filter-white-x.min.svg');
	}
	
	.refinement.price .selected a {
		text-decoration: underline;
	}
	
	.refinement.price a {
		padding: 0;
	}
	
	.refinement.price a:hover {
		text-decoration: underline;
	}

}


@media screen and (min-width:767px) {

	#footer .footer-menu-links{
		display: block !important;
	}
	
	.footer-social-icon.pinterest:hover {
		background:url('../../../images/svg/CWC_PinCircle_invert.min.svg') no-repeat center center;
		background-size:46px;
	}

	.footer-social-icon.facebook:hover {
		background:url('../../../images/CWC_FBCircle_invert_v2.png') no-repeat center center;
		background-size:46px;
	}
	
	.pt_order ul.order-history-items .mobile-toggle-content {
		display: block !important;
	}
	
	
}