@media screen and (min-width:480px) and (max-width:767px){
	
	#header .account-links {
		text-align: left;
	}
	
	.account-links li:first-child {
		padding-left: 0;
	}
	
	.searchbutton {
		width: 10%;
	}
	
	.facebook-registration {
		left:0px;
	}
	.facebook-registration,
	.facebook-registration .fb_iframe_widget,
	.facebook-registration .fb_iframe_widget span,
	.facebook-registration .fb_iframe_widget span iframe {
		position:relative;width:100% !important;
	}
	
	ul.search-result-items .grid-tile:nth-child(2n),
	.product-listing-1x4 ul.search-result-items .grid-tile:nth-child(2n) {
		margin-right: 0;
	}
	
	ul.site-map li.site-items {
		width: 28%%;	
		}
	
	#header .account-links {
		width: auto;
	}
	
	.login-column {
		width: 100%;
	}
	
	div.newAccordion{display:block}
}

/*For extra-large phones/phablets */
@media screen and (min-width:650px) and (max-width:767px){
	#primary {
		float: right;
		width: 66%;
	}
	#secondary {
		float: left;
		width: 190px;
	}
	.openSecondary:not(.openMenu) .pageMask{
		display: none!important;
	}	
	
	/*-------------------CATEGORY---------------------
	=================================================*/
	.pt_product-search-result #secondary{
		display: block;
	}
	.selectricWrapper {
	    width: 100%;
	}
}