@media screen and (min-width:768px) and (max-width:959px) {
			
	.pagerWrapper.max-width-container {
		padding:0;
	}
	
	.simplesearch[type="text"] {
		width: 280px;
	}
	
	#primary {
		width: 70%;
	}
	
	#secondary {
		width: 25%;
		min-width: 190px;
	}
	
	#navigation {
		font-size: 0.9em;
	}
	
	#navigation ul.level-1 > li {
		margin-left: 3.5%;
	}
	
	ul.level-1 > li {
		margin-left: 2.6%;
	}
	
	#navigation ul.level-1,
	.pt_storefront #main .html-slot-container {
		padding: 0px 50px;
	}
	
	#logo-row{
		padding-left: 50px;
	}
	
	.pt_storefront #main .html-slot-container {
		padding: 0px 50px;
	}
	
	#header #top-row .max-width-container {
	    padding: 0px 90px 0px 50px;
	}
	
	div.level-2 .menu-wrapper {
		height: 172px;
	}
	.page-content .primary-content {
		width:574px;
	}
	
	.html-slot-container img,.bottom-banner-cell img {
		max-width:100%;
	}
	
	.ui-dialog {
		max-width:98%;
	}
	
	.ui-dialog .ui-dialog-content {
		height:auto!important;
		overflow:visible;
	}
	
	.scrollable {
		height:auto;
	}
	
	.mini-cart-total-label {
		display:none;
	}
	
	.menu-utility {
		clear:both;
	}
	
	label, .form-label-text {
		width: 30%
	}
	
	.form-row.coupon-code-row {
		width: 68%;
	}
	
	.form-row.coupon-apply-row {
		width: 12%;
	}
	
	.form-row.form-indent {
		margin-left: 0;
	}
	
	.form-row input, .form-row select{
		width: 50%;
	}
	
	.mini-cart-products {
		max-height:100%;
	}
	
	.pagination {
		margin-top: 1em;
		clear:right;
	}
	
	ul.search-result-items .new-row {
		clear:none;
	}
	
	
	ul.search-result-items .grid-tile,
	.product-listing-1x4 ul.search-result-items .grid-tile {
		width:49%;
	}
	
	.pt_product-search-noresult #primary ul.search-result-items .grid-tile,	
	#wishlist-table .wishlist-row {
		width: 48%;
	}
	
	.pt_product-search-noresult #primary ul.search-result-items .grid-tile,
	ul.search-result-items .grid-tile:nth-child(odd),
	#wishlist-table .wishlist-row:nth-child(odd) {
		margin:10px 1% 20px 0%;
	}
	
	.pt_product-search-noresult #primary ul.search-result-items .grid-tile:nth-child(even),
	ul.search-result-items .grid-tile:nth-child(even),
	#wishlist-table .wishlist-row:nth-child(even) {
		margin:10px 0 20px 1%;
	}
	
	.pdp-main .product-col-1 {
		width: 40%;
	}
	
	.pdp-main .product-col-2 {
		width: 54%;
	}
	
	#compare-table td .product-tile {
		width:79px;
	}
	
	.pt_gift-registry .add-gift-cert p {
		width:auto;
	}
	
	.cart-action-continue-shopping {
		width: 65%;
	}
	
	#cart-table .item-total .add-to-wishlist {
		font-size: 1em;
		padding: 0.4em 1em;
	}
	
	#cart-table .item-total .promo-adjustment {
		width:77px;
	}
	
	.checkout-progress-indicator.multishipprogress > div {
		display: inline-block;
		width: 48%;
		border: 1px solid #A7A7A7;
		margin: 0 1% 1% 0;
		background-color: #FFF;
	}
	
	.checkout-progress-indicator.multishipprogress > div.active {
		background-color: #EAEAEA;
	}

	#email-alert-signup {
		width:100%;
	}
	
	#email-alert-signup label {
		float:none;
		display:block;
		width:100%;
	}
	
	#email-alert-signup input[type=text] {
		width:73%;
	}
	
	.facebook-registration {
		left:0;
	}
	
	.facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {
		position:relative;
		width:100%!important;
	}
	.wide-tiles .product-tile .product-image {
		width: 33%;
	}
	.wide-tiles .product-tile .description {
		width: 50%;
	}
	
	
	.pt_checkout #primary form input[type="text"],
	.pt_checkout #primary .selectricWrapper,
	.pt_checkout #primary .selectric,
	.pt_wish-list #primary form input[type="text"],
	.wishlist-search .form-row, 
	#dwfrm_newsletter_email {
		display: block;
		width: 100%;
	}
	
	.pt_wish-list #primary form label {
		height: auto;	
		margin-bottom: 3px;
	}
	
	.pt_wish-list #primary .form-row label span {
		-webkit-transform: initial;
		-moz-transform: initial;
		-o-transform: initial;
		transform: initial;
	}
	
	.wishlist-search .form-row.form-row-button button {
		margin-top: 8px;
	}
	
	.pt_wish-list .selectricWrapper {
		width: 65%;
	}
	
	.pt_wish-list #primary .selectricWrapper .selectric {
		width: 100%;
	}
	
	.wishlist-search .form-row.form-row-button label {
		display: none;
	}
	
	.pt_checkout #primary .selectricItems{
		width: 100%;	
	}
	
	.pt_checkout form div.phone.form-field-tooltip {
		display: block;
	}
	
	.pt_cart #primary,
	.pt_checkout #primary {
		width: 57%;
		margin-right: 50px;
	}
	
	.pt_cart #secondary,
	.pt_checkout #secondary {
		width: 34%;
	}
	
	
	.pt_checkout form #shipping-method-list .form-row label > span {
		height: 38px;
	}
	
	.pt_checkout form fieldset .form-row.transform label > span,
	.pt_checkout #primary > form .form-row.transform span.form-label-text {
		position: initial;
		top: initial;
		transform: initial;
		width: 100%;
	}
	
	.pt_checkout #primary div.select-address label,
	.pt_checkout #primary div.state label {
		display: none;
	}
	
	div.form-row.label-above {
		max-width: initial;
		width: 100%;
	}
	
	div.form-row.label-above.couponCode {
		width: 73%;
		vertical-align: bottom;
	}
	
	.pt_checkout #primary div.form-row.label-above input {
		float: none;
		width: 75%;
		max-width: initial;
	}
	
	
	.pt_checkout #primary div.form-row.label-above.couponCode input {
		float: none;
		width: 100%;
		max-width: initial;
		display: inline-block;
		margin: auto auto 0 auto;
	}
	
	.checkout-progress-indicator {
		display: block;
		width: 100%;
		margin: 18px 0;
	}
	
	.pt_checkout #primary input[type="text"], 
	.pt_checkout div.selectric {
		width: 100%;
		min-height: 42px;
		height: auto;
	}
		
	
	button.apply.cancel {
		width: 25%;
		height: 42px;
		font-size: 1.2em;
		text-transform: uppercase;
		vertical-align: bottom;
	}
	
	.pt_account #primary > form .form-row label, 
	.pt_customer-service #primary .form-row label,
	.pt_checkout form label,
	.pt_checkout form .form-row.transform label {
		height: auto;
		margin-bottom: 3px;
	}
	
	div.form-row.label-above label {
		width: 100%;
		float: none;
	}

	.pt_wish-list #primary label,
	.pt_checkout #primary label, 
	.form-label-text {
		width: 90%;
	}	
	
	.login-column {
		margin-right: 2%;
		width: 47%;
	}
	
	ul.address-list > li,
	ul.payment-list li {
		width: 44%;
		margin-right: 5%;
	}
	
	
	.pt_account #primary div.form-row label,
	.pt_account #primary div.form-row input {
		width: 100%;
	}
	
	.pt_account #primary div.form-row .form-caption,
	.pt_account #primary div.form-row .form-field-tooltip {
		height: 30px;
		line-height: 30px;
	}
	
	.pt_account #primary form .form-row label > span, 
	.pt_account #primary > form span.form-label-text {
		top: initial;
		-webkit-transform: initial;
		-moz-transform: initial;
		-o-transform: initial;
		-ms-transform: initial;
		transform: initial;
		width: 100%;

	}
	
	.pt_account form .form-row label {
		height: auto;
	}

	#primary div.form-row.form-indent.label-inline > label {
		width: 90%;
	}
	
	#primary ul.site-map .site-items {
	display: inline-block;
	vertical-align: top;
	list-style: none outside none;
	width: 33%;
	text-align: left;
	margin: 20px 0px 0px 0px;
	background-color: #FFF;
	padding: 0px 10px 0px 0px;
	}
	
	div#zoom-image-container.mobile:before {
		visibility: visible;
		content: url(http://dev03-web-coldwatercreek.demandware.net/on/demandware.static/Sites-coldwater_us-Site/-/default/v1415023377053/lib/jquery/ui/images/modal-x.svg);
		position: fixed;
		right: 15px;
		top: 15px;
	}
	
	.pt_content #main {
		padding: 0 80px 0 50px;
	}
	
	.pt_content .newsletter-signup-col-1,  
	.pt_content .newsletter-signup-col-2 {
	    padding: 30px 20px;
	}
	
	.pt_content .newsletter-signup-col-2 form .form-row input,
	.pt_content .newsletter-signup-col-2 div.form-row.month div.selectric,
	.pt_content .newsletter-signup-col-2 .form-row.birthMonth .selectricWrapper,
	.pt_content .newsletter-signup-col-2 .form-row.day .selectricWrapper {
		width: 98%;
	}
	
	.pt_content .newsletter-signup-col-2 .form-row.birthMonth, 
	.pt_content .newsletter-signup-col-2 .form-row.day {
		width: 49%
	}
	
	.pt_content .newsletter-signup-col-2 .orange-button {
		max-width: 100%;
	}
	
	.pt_content .newsletter-signup-col-1 ul li, .pt_content .newsletter-signup-col-2 h1 {
		font-size:1.5em;
	}
	.pt_content .newsletter-thankyou {
	    padding: 30px 0px;
	}
	
	/*------------------Holiday Landing Content Page------------------*/
	
	.holiday-content .copy-beneath-banner,
	.holiday-content .bottom-holiday-landing-copy {
		text-align: center;
	}
	
	.holiday-content .copy-beneath-banner,
	.holiday-content.holiday-fullwidth-1,
	.holiday-content.holiday-fullwidth-2,
	.holiday-content.holiday-fullwidth-3 {
		padding: 0px 30px 30px;
	}
	
	.holiday-content .body-text,
	.holiday-content .copy-beneath-banner {
		font-size: 1.25em;
	}
	
	.holiday-content.holiday-fullwidth-1,
	.holiday-content.holiday-fullwidth-2,
	.holiday-content.holiday-fullwidth-3 {
		float: left;
		width: 100%;
	}
	
	.holiday-content.holiday-fullwidth-2 {
		margin-bottom: 0px;
	}
	
	.holiday-content.holiday-fullwidth-1 img, 
	.holiday-content.holiday-fullwidth-2 img {
		padding-bottom: 55px;
	}
	
	.holiday-content .black-text, .holiday-content .red-text {
	    font-size: 2em;
	}
	
	.holiday-content .black-text {
		color: #010101;
		font-style: italic;
	}
	
	.holiday-content .red-text {
		color: #c11525;
		text-transform: uppercase;
	}
	
	.holiday-content .body-text .orange-button {
		padding: 0.25em 1em;
		margin-top: 15px;
		text-transform: uppercase;
		width: 245px;
	}
	
	.holiday-horizontal-line {
		margin: 0px 50px 30px;
	}
	
	
	/*Certona Styling*/
	
	#product1_rr .owl-item.active, 
	#product1_rr .owl-stage-outer {
		width: 590px !important;
		margin: auto;
	}
	
	#product1_rr .owl-stage {
		width: 1200px;
	}
	
	#product1_rr .owl-stage-outer {
		min-width: 1px;
	}
	
	#cart1_rr .owl-carousel .owl-item {		
		margin-right: 5px !important;
	}
	
	#cart1_rr .owl-item .product-tile img {
		height: auto !important;
	}
	
}
@media screen and (min-width:768px) and (max-width:969px) {
	
	.request-catalog {
	    margin-top: 3em;
	}
	.catalog-left {
		margin-right: 0;
		width: 32%;
	}
	.catalog-right {
		width: 67%;
	}
	#request-catalog-form .input-text {
	    margin-left: 0.4em;
	}
}