.widget-theme { display:block }

.widget-dropdown {  display:block; outline:0 none }

.widget-dropdown b { background-image:none; display:block; padding:2px; cursor:default; }
.widget-default-color { color:#414141; }

.widget-dropdown b b {
  display:block;
  border:1px solid #ccc;
  zoom:1;
  background-color:#fff;  
  line-height:20px;
  font-size:12px;
  font-weight:normal;
  padding:0 27px 0 5px;
  white-space:nowrap;
  position: relative;
  overflow:hidden;
  text-overflow:ellipsis;
}

.widget-dropdown b b:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 7px;
  top: calc(50% - 3px);
  right: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #999;
  width: 0;
  height: 0;
  display: block;
  
  z-index: 3;
}
.sell-flow-list .widget-dropdown b b:after {
  content:none; }

.widget-dropdown .widget-active b:after {
  border-top-color: #009cde !important;
}

.widget-dropdown .widget-active b {
  border-color: #009cde;
}

.edp .widget .widget-dropdown b b {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    padding: 0 37px 0 10px;
    background-position:right -156px;
    overflow:hidden;
    text-overflow:ellipsis;
    /*IE*/
    *height:28px;
    *white-space:normal;
}

.edp .widget .widget-dropdown b b:after { 
  top: 10px;
  top: calc(50% - 4px);
  right: 8px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #999;
}

.widget-dropdown .widget-active b { background-position:right -20px }
.edp .widget .widget-dropdown .widget-active b { background-position:right -184px }

.edp .dropdown-options-form { position:absolute;  z-index:70; margin:-3px 0 0 2px; *margin-top:-2px; }

.widget-dropdown-list {
    margin:0;
    padding:0;
    list-style-type:none;
    overflow:auto;
    overflow-x:hidden;
}

.widget-dropdown-list,
.widget-dropdown-checklist {
    border:1px solid #ccc;
    background-color:#fff;
}
.widget-dropdown-list li {
    margin:0;
    height:auto;
    cursor:default;
    padding:5px;
    display:block;
    color:#414141;
    white-space:nowrap;
    font-size:12px;
    outline:0 none;
}

.edp .widget-dropdown-list li {
    border-bottom: 1px solid #e3e3e3;
    padding: 8px 10px;
}

.edp .resale-section .widget-dropdown-list li {
    border-bottom: none;
    padding: 5px;
}

.edp .widget-dropdown-list li:last-child {border:none;}

.edp .widget-dropdown-list .chkbox-section {float:left; margin-right:6px;}

.edp .widget-dropdown-list li .label{display:inline-block; width:124px; margin-right:6px;}
.edp .widget-dropdown-list li.selected > label {font-weight:bold;}
.edp .widget-dropdown-list li .descr{font-size:11px; color:#999;}
.edp .widget-dropdown-list li.selected .descr {visibility:hidden;}
.edp .widget-dropdown-list li.selected.price-default .descr {font-weight:normal; visibility:visible;}

.widget-dropdown-list .highlight-bg,
.edp .widget-dropdown-list li.highlight-bg label,
.edp .widget-dropdown-list li.highlight-bg label span{ color:#fff; }

.widget-dropdown-checklist { padding:0 5px; }
.widget-dropdown-checklist ul {
  list-style:none;
  padding:0;
  margin:0;
}

.widget-dropdown-checklist ul li {
  line-height:20px;
  padding:0;
  margin:0;
  color:#414141;
}

.widget-dropdown-checklist ul li.selected label { font-weight:bold; }
.widget-dropdown-checklist ul li.selected label .secondary-text { font-weight:normal; }

.widget-dropdown-checklist ul input.checkbox {
  margin-right:10px;
  padding:0;
  width:12px; /* IE FIX */
  overflow:hidden; /* IE FIX */
}

.widget-dropdown-checklist ul .check-disabled { color:#a0a0a0;}
.widget-dropdown-checklist ul .check-disabled .total-price { color:#a0a0a0; }
.widget-dropdown-checklist ul .check-disabled .secondary-text { color:#e0e0e0; }
.widget-dropdown-checklist ul .check-selected .total-price { font-weight:bold }

img.lock,
.check-disabled img.lock {
  background-image:url('img/sys/1000/icn_locked-sprites.gif');
  background-position:left top;
  background-repeat:no-repeat;
  width:11px;
  height:12px;
}
.check-disabled img.lock { background-position:right top;}
.secondary-text { color:#999999 ;}

.edp .search .filters > div > .widget {
  position:relative;
  margin:-2px;
}

/* new styles for edp */
.edp .widget-dropdown-list .option-standard { 
  background-position: 5px 4px;
}
.edp .widget-dropdown-list .option-hdr {
  background-color: #EFEFEF;
  background-repeat: no-repeat;
  color: #999999;  
  font-size: 11px;
  font-weight: bold;
  line-height: 1.4;
  padding-top:2px;
  padding-bottom:2px;
  text-transform: uppercase;
  background:transparent url("img/sys/common_new/resale/edp_li_grad.png") left top repeat-x;
}
.edp .widget-dropdown-list li .sub-items {display:none;}
.edp .widget-dropdown-list li .sub-items-list {list-style:none; padding:0 0 0 15px;}
.edp .widget-dropdown-list li .sub-items-list > li{border-bottom:none; display:block; padding:0; margin-top:6px;}
.edp .widget-dropdown-list li.selected .sub-items {display:block;}
.edp .widget-dropdown-list li a img.questionMark {margin:2px 0 0 10px;}

/* for the style h16 */

.h16 .widget-dropdown b b {
  line-height:16px;
  padding-right:23px;
}

.h16 .widget-dropdown b b:after {
  top: 5px;
  top: calc(50% - 3px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #999;
}


.h16 .widget-dropdown b.widget-active b {  background-position:right -76px;}

.h16 .widget-dropdown-list { top:19px; }

 /* for the style s18 */

.s18 .widget-dropdown b b {
  position: relative;
  background-color: #fff;
  font-size: 11px;
}

.s18 .widget-dropdown b b:after,
.s18-disabled .widget-dropdown b b:after {
  right: 7px;
  top: 7px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #999;
}

.s18 li,
.s18-disabled li { padding:3px 5px; font-size:11px; }

.s18-disabled .widget-dropdown b b {
   pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
}

.s18-disabled .widget-dropdown-list { display:none !important }

/* for big36 */
.big36 .widget-dropdown b b {
  line-height:36px;
  padding-left:15px;
  padding-right:25px;
  min-width:17px;
  font-size:22px;
}

.big36 .widget-dropdown b b:after {
  top: 14px;
  top: calc(50% - 4px);
  right: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #999;
}

.big36 .widget-dropdown-list { top:39px; min-width:85px; }

.big36 li { font-size:22px; line-height:42px;  padding:0 5px 0 15px;}

.widget-dropdown-list li b, .widget-value { display:none }

/* disabled state selectors */
.widget-disabled { zoom:1; background-color:#fff !important; opacity:0.5; filter:alpha(opacity=50); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.widget-disabled b { background-color:transparent !important; }
.widget-disabled .widget-dropdown-list {display:none !important}

/* brandable selectors */
.widget-active { background-color:#009cbe; }

/* accessibility selectors */
.off-screen { position:absolute; left:-3000em; display:block; height:1px; width:1px; overflow:hidden }

/* widget-wrapper for inline usage */
.widget-wrapper { display:inline-block; zoom:1; vertical-align:middle; }
.widget-wrapper + a > .questionMark { margin-left:2px; vertical-align:middle; }

/* added availability style */
.availability { line-height:0.8; font-style:italic; font-size:11px; display:block; margin-top: 2px; }
.availability-limited, .availability-none, .availability-none-resale, .availability-at-price, .availability-for-option { display: none; }
.dd-option-ntca, .dd-option-ntca span { color: #a0a0a0; }
.dd-option-ntca span .availability-none-resale { color: #414141; }

.big28 .widget-dropdown b b {
  line-height:28px;
  background:#fff url('img/sys/common_new/resale/widget_sprite_28.png') right -28px no-repeat;
  padding-left:9px;
  padding-right:39px;
  min-width:17px;
  font-size:16px;
  font-weight:bold;
  overflow: hidden;
  text-overflow: ellipsis;
    /*IE*/
    *height:28px;
    *white-space:normal;
}
.quantity-drop .big28 .widget-dropdown b b { width: 66px; }
.quantity-drop .big28 .widget-dropdown-list { position:absolute; top:31px; left:2px; min-width:78px; }
.section-drop .big28 .widget-dropdown-list { position:absolute; top:31px; left:2px; min-width:147px; }
.big28 li { font-size:16px; font-weight:bold; line-height:28px;  padding:0 5px 0 15px;}
.big28.widget-theme { position:absolute; }
.big28 .off-screen { position:absolute; left:-3000em }

.edp .special .widget-dropdown-list li {
    background-image: url("img/sys/common_new/resale/edp_widget_border.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    border: 0;
    padding: 0 10px;
}

.edp .special .widget-dropdown-list .widget-group li {
    padding: 4px 10px;
}

.edp .special .widget-dropdown-list li > div {
  border-top: 1px solid #ccc;
  padding: 8px 0;
}

.edp .special .widget-dropdown-list li .price-section-wrap{
    border: none;
    padding: 0;
}

.edp .special .widget-dropdown-list li:first-child {
    background-image: none;
}

.edp .special .widget-dropdown-list li:first-child > div { border: 0 }

.edp .special .widget-dropdown-list li.price-section-disclaimer {
    font-size: 11px;
    padding-bottom: 10px;
    margin: -6px 15px 0px 0px;
    color: #ccc;
}

.edp .pricesection label,
.edp .resale-section label { margin: 0 0 0 5px }

.edp .pricesection .widget-group li {
    list-style: none;
    opacity: 1;
}

.edp .pricesection .widget-group input {
    float: left;
    width: 15px;
    height: 15px;
}

.edp .pricesection .widget-group label {
    float: left;
    white-space: nowrap;
}

.edp .pricesection .group-section li {
    *width: 267px;
}

.edp .pricesection .group-section label {
    max-width: 247px;
    white-space: normal;
}

.edp .group-price {
    display: inline;
    min-width: 120px;
    margin-right: 26px;
}

.edp .group-price .fru, .dropdown_option_text .fru  {
    color: #ccc;
    font-size: 11px;
    margin: 0 0 0 5px;
}

.isc_price_levels_selector .total-price .fru {
    color: #acacac;
    font-size: 11px;
    margin: 0 0 0 5px;
    font-weight: normal;
}

.price-single .fru{
    color: #ccc;
    font-size: 11px;
    font-weight: normal;
}

.edp .group-section {
    display: inline;
    min-width: 220px;
}

.edp .widget-group {
    border: 0;
    padding: 0 0 4px;
    vertical-align: top;
}

.edp .widget-group legend {
    font-weight: bold;
    color: #414141;
    padding: 0 0 4px 0;
}

.edp .widget-group ul {
    padding: 0;
}

.edp .widget-group li {
    margin: 0 0 0 -10px;
    *margin: 0;
}

.edp .widget .notmany {
  padding: 0 16px 0 0;
  background: url("img/sys/common_new/resale/edp_notmany.png") no-repeat right center;
}

.edp .widget .legend {
  background: #efefef;
  background-image: none !important;
  text-transform: uppercase;
  color: #666 !important;
  padding: 5px 10px !important;
  border-top: 1px solid #ccc !important;
}

.edp .widget .legend .notmany {
  font-size: 9px !important;
  font-weight: bold;
  line-height: 12px;
  padding: 0 0 0 17px;
  background: url("img/sys/common_new/resale/edp_notmany.png") no-repeat left center;
  float: right;
}

.edp .resale-section .widget-wrapper { position: relative }

.edp .resale-section .widget-dropdown b b {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*IE*/
    *height:20px;
    *white-space:normal;
}

/* dropdown-options-form needs this so that it doesn't bleed out from the footer */
.dropdown-options-form {
  top: 0;
}
