/* ==========================================================================
   CSS Reset - Edited for Cafepress
   ========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust:none;
  overflow-x: hidden;
}

input {
  border-radius: 0;
}

input[type='text'], textarea { font-size: 16px; } /* Reset for iphone input animation */
input[type='submit'] {-webkit-appearance: none;}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
  color:#79A618;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.8em; }
h3 { font-size: 2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.4em; }


/* ==========================================================================
   Helper classes
   ========================================================================== */
.bb {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.green { color: #79A618; }
.red { color: #c61b1b; }
.dgray { color: #333; }
.gray { color: #999; }
.bold { font-weight: bold; }
.uc { text-transform: uppercase; }
.button { font-family: 'Roboto Condensed', sans-serif; padding: 2px 10px; margin: 0; background: #79a618; color: #FFF; cursor: pointer; line-height: 27px; border: none; text-align: center; transition: all .1s; -o-transition: all .1s; -moz-transition: all .1s; -webkit-transition: all .1s; -webkit-appearance: none; }
.button:hover {color:white; text-decoration: none; background: #8cbe21; filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cbe21', endColorstr='#79A618')"; background-image: -webkit-linear-gradient(top,#8cbe21,#79A618); background-image: -moz-linear-gradient(top,#8cbe21,#79A618); background-image: -ms-linear-gradient(top,#8cbe21,#79A618); background-image: -o-linear-gradient(top,#8cbe21,#79A618); background-image: linear-gradient(top,#8cbe21,#79A618); -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.3); -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.3); -o-box-shadow: 1px 1px 4px rgba(0,0,0,.3); box-shadow: 1px 1px 4px rgba(0,0,0,.3); }
.button a { color: #FFF; }
.button a:hover { text-decoration: none; }
.button:active, .button-white:active, .button-black:active, .button-gray:active { top: 1px; border: none; }
.button.unfollow, .button.unfollowTopic {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DDDDDD;color: #999999;width: 105px; }
.button.followTopic { border: 1px solid #79a618; line-height: 25px;}
.button.unfollowTopic { width: auto; border: 1px solid #fff; line-height: 25px; }
.button.unfollow:hover, .button.unfollowTopic:hover { color: #FFF; border: 1px solid #b42d09; background: #b42d09; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb3d17', endColorstr='#b42d09'); background-image: -webkit-linear-gradient(top,#cb3d17,#b42d09); background-image: -moz-linear-gradient(top,#cb3d17,#b42d09); background-image: -ms-linear-gradient(top,#cb3d17,#b42d09); background-image: -o-linear-gradient(top,#cb3d17,#b42d09); background-image: linear-gradient(top,#cb3d17,#b42d09);}
.button-center { display: block; margin: auto; }
.button-gray { background: #999; }
.button-gray:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#999');
  background-image: -webkit-linear-gradient(top,#ccc,#999);
  background-image: -moz-linear-gradient(top,#ccc,#999);
  background-image: -ms-linear-gradient(top,#ccc,#999);
  background-image: -o-linear-gradient(top,#ccc,#999);
  background-image: linear-gradient(top,#ccc,#999);
}
.button-black { background: #333; }
.button-black:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777', endColorstr='#333');
  background-image: -webkit-linear-gradient(top,#777,#333);
  background-image: -moz-linear-gradient(top,#777,#333);
  background-image: -ms-linear-gradient(top,#777,#333);
  background-image: -o-linear-gradient(top,#777,#333);
  background-image: linear-gradient(top,#777,#333);
}
.button-white { background: #fff; }
.button-white:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f9f9f9');
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9);
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9);
  background-image: -ms-linear-gradient(top,#fff,#f9f9f9);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9);
  background-image: linear-gradient(top,#fff,#f9f9f9);
}
.button-orange { background: #e76e32; }
.button-orange:hover { background: #fd9b01; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9b01', endColorstr='#e76e32'); background-image: -webkit-linear-gradient(top,#fd9b01,#e76e32); background-image: -moz-linear-gradient(top,#fd9b01,#e76e32); background-image: -ms-linear-gradient(top,#fd9b01,#e76e32); background-image: -o-linear-gradient(top,#fd9b01,#e76e32); background-image: linear-gradient(top,#fd9b01,#e76e32) }
.loadmore-spinner { display: none; margin-right: 5px; }
.light-gradient { background: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3'); background-image: -webkit-linear-gradient(top,#fff,#f3f3f3); background-image: -moz-linear-gradient(top,#fff,#f3f3f3); background-image: -ms-linear-gradient(top,#fff,#f3f3f3); background-image: -o-linear-gradient(top,#fff,#f3f3f3); background-image: linear-gradient(top,#fff,#f3f3f3) }
.orange { background: #e76e32 }
.orange-gradient { background: #fd9b01; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9b01', endColorstr='#e76e32'); background-image: -webkit-linear-gradient(top,#fd9b01,#e76e32); background-image: -moz-linear-gradient(top,#fd9b01,#e76e32); background-image: -ms-linear-gradient(top,#fd9b01,#e76e32); background-image: -o-linear-gradient(top,#fd9b01,#e76e32); background-image: linear-gradient(top,#fd9b01,#e76e32) }
.custom-dd { border: 1px solid #ddd; font-size: 1.4em; padding: .4em .8em; display: inline-block; cursor: pointer; }
/* ==========================================================================
   Large layout styles
   ========================================================================== */

/* ==
  Global & Layout Styles
 == */
.wrapper { margin: 0 auto; max-width: 1440px; }
.wrapper-1000 { width: 1000px; margin: auto; }
.breadcrumb { padding: 1.25em 0; color: #999; font-size: 12px; }
#scanalert { text-align: center; margin-top: 15px; float: none;}
#tippyTopContainer { min-height: 47px; } /* hide on INTL*/
#tippyTopContainer img { max-width: 1026px; width:100%; }

/* ==
  Header Styles
 == */
.header-outer { border: 1px solid #ddd; border-right: none; border-left: none; background: #fff; background-image: -webkit-linear-gradient(top,#fff,#f9f9f9); background-image: -moz-linear-gradient(top,#fff,#f9f9f9); background-image: -ms-linear-gradient(top,#fff,#f9f9f9); background-image: -o-linear-gradient(top,#fff,#f9f9f9); background-image: linear-gradient(top,#fff,#f9f9f9); }
.header-wrap { zoom: 1; margin: auto; max-width: 1240px; height: 60px; position: relative; padding-left: 466px; padding-right: 125px; }
.header-wrap .header-item { float: left; height: 100%; line-height: 60px; font-size: 18px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header-wrap .logo13-mobile { vertical-align: middle; color: #79a618; font-size: 32px; position: relative; margin-top: -4px; line-height: 1; display: inline-block; }
.header-left .header-logo { padding: 0 1em 0 0; height: 60px; }
.header-logo .icon-cp-logo { display: none; }
.header-nav { float: left; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.header-nav .icon-reorder { display: none; color: #999; }
.header-nav ul { padding-left: 0; list-style-type: none; }
.header-search { padding: 0 10px; margin-left: -1px; border-left: 1px solid #ddd; border-right:  1px solid #ddd; width: 100%; -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;}
.header-cart, .header-account { padding: 0 20px; border-right: 1px solid #ddd; }

.header-right, .header-left, .header-search { float: left; }
.header-left { margin-left: -466px; }
.header-right { margin-right: -125px; }

.header-wrap a { color: #999; }
.nav-tab { float: left; height: 100%; padding-right:1px; padding-left: 1px; }
.nav-tab:hover,
.nav-tab.active { border-right: 1px solid #ddd; border-left: 1px solid #ddd; padding-right: 0; padding-left: 0; background: #fff; }
.nav-tab:hover:after,
.nav-tab.active:after { content: ""; display: block; background: #fff; width: 100%; height: 1px; bottom: -1px; position: absolute; z-index: 26; }
.header-cart.active,
.header-account.active,
.header-cart:hover,
.header-account:hover { background: #fff; }

.header-cart.active:after,
.header-account.active:after,
.header-cart:hover:after,
.header-account:hover:after { content: ""; display: block; background: #fff; width: 100%; height: 6px; bottom: -1px; left: 0; position: absolute; z-index: 26; }
.sub-nav a,
.nav-tab a { padding:0 15px; letter-spacing: 1px; color: #333; font-size: 1em; font-family: 'Roboto Condensed', sans-serif; }
.nav-tab a:hover,
.nav-tab.active a { text-shadow: 3px 2px 3px #ddd; color:#79A618; text-decoration: none; }
#wrap-close-inlinecart { float: right; padding: 0 5px; cursor: pointer; display: none; }
#btn-close-inlinecart { width: 24px; text-align: center; font-size: 18px; }
.inlinecart-amazon-checkout {text-align: center;}

.cp-logo { display: block; background: url('//content.cafepress.com/mobile2.0/img/sprite-3-17-14v2.png') no-repeat 0 0; width: 62px; height: 40px; }
.header-account>a,
.header-logo>a,
.header-cart>a { text-decoration: none; }

/* Begin Static header */
.sticky-wrapper.is-sticky .header-outer{left:0;right:0;z-index:10;}
/* End Static header */

/*Upgrade Browser Alert for IE8 and below*/
.browser-upgrade-box {width:100%; padding:10px 0; position: fixed; top:0; text-align: center; border-bottom:2px solid #79a618; background: white; z-index: 10; font-size: 14px;}
.browser-upgrade-box a {color:#79a618;}
.browser-upgrade-box p {display: inline-block; line-height: 26px;}
.browser-upgrade-box .close-btn {width:16px; height:16px; background:#777777; text-align: center; line-height: 16px; float:right; padding:5px; color: white; margin-right:10px; cursor: pointer;}

/*search elements*/
#departmentSearchlbl { display: none; }
#searchBarForm { border: 1px solid #ddd; margin: 13px 0; height: 35px; position: relative; background: #fff; transition: all .3s; -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; }
.header-search:hover #searchBarForm { border-color: #8cbe21; }
.header-search:hover { background: #fff; }
#global-filter-drop { float: left; line-height: 33px; height: 33px; padding: 0 10px; font-size: 10px; color: #999; font-family: 'Roboto Condensed', sans-serif; cursor: pointer; transition: all .3s; -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s;}
#global-filter-drop:hover { background: #79a618; color: #fff }
#global-filter-drop:hover #filter-value { color: #fff}
#global-filter-drop #filter-value { overflow: hidden; max-width:79px; text-overflow: ellipsis;  white-space: nowrap; float: left; font-size: 1.4em; padding: 0; }
.filter-arrow { margin: 3px 0 0 5px; }
.filter-arrow sup { font-size: 8px; line-height: inherit; }
.filter-popup { position: absolute; top: 10px; left: 10px; z-index: 26; display: none; }
.filter-popup .selectReplacement { padding: 0 5px 10px; background: white; box-shadow: 1px 1px 6px #999; border: 1px solid #ccc; }
#searchBarForm input.global-searchbox { border: none; width: 70%; line-height: 32px; height: 32px; margin: 0; display: inline-block; vertical-align: top; font-size: 14px; color: #333; outline: none; font-family: 'Roboto Condensed', sans-serif; }
.selectReplacement li { color: #333; cursor: pointer; font-size: .75em; list-style: none; text-align: left; margin: 0; padding: 5px 5px 0; width: 155px; line-height: 16px; }
.selectReplacement li:hover { font-weight: bold; color: #363636; }
#global-searchbutton { font-size:16px; font-family: 'Roboto Condensed', sans-serif; background: #79a618; color: #fff; cursor: pointer; height: 33px; padding: 2px 10px; margin: 0; border: none; vertical-align: top; position: absolute; right: 0; top: 0; transition: all .3s; -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s;}
#global-searchbutton:hover { background-color: #8cbe21; }
.header-search .search-icon { text-align: center; display: none; }

/*cart elements*/
#sub-nav-cart-item { display: none; max-width: 320px; position:fixed; padding: 24px 24px 0; right: 0; z-index:999; right:20px; top:20px;}
#sub-nav-cart { min-width: 320px; right: -1px; }
#sub-nav-shop.scrollable.mobile-fittable, #sub-nav-cart.scrollable.mobile-fittable { max-height: 575px; overflow: auto; }
#cartItemCount { display: none; position: absolute; left: 35px; top: 15px; width: 25px; text-align: center; border-radius: 50%; background: #79a618; width: 16px; height: 15px; color: #fff; font-size: .7em; font-weight: normal; line-height: 15px; box-shadow: 1px 1px 1px rgba(0,0,0,.5); }
.cart-title, .cart-added-item-title { text-align: left; font-family: 'Roboto Condensed', sans-serif; font-size: 1.4em; font-weight: normal; line-height: 1; margin-bottom: 1em; }
.cart-message { display: none; background: none repeat scroll 0 0 #f9edbe; border: 1px solid #f0c36d; border-radius: 2px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); padding: 16px; position: absolute; right: 30px; top: 14%; width: 236px; z-index:999999; }
.cart-message:hover { cursor: pointer; text-decoration: none; color: black; }
#sub-nav-cart  .cart-item, #sub-nav-cart-item .cart-item { position: relative;  border-bottom: 1px solid #ddd; padding: 1em 0; }
#sub-nav-cart .cart-item:first-child, #sub-nav-cart-item .cart-item:first-child { border-top: 1px solid #ddd; }
.cart-item .cart-item-img { float: left; }
#sub-nav-cart ul, #sub-nav-cart-item ul { margin: 0 0 1em; width: 100%; }
#sub-nav-cart ul li, #sub-nav-cart-item ul li { text-transform: none; }
.cart-item .cart-item-desc { float: left; margin: 0 0 0 .75em; color: #333; text-align: left; max-width: 160px; }
.cart-item .cart-item-desc h6 { font-weight: bold; max-width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.cart-sbtl { float: left; font-size: 1.3em; line-height: 27px; margin-bottom: 0; color: #C61B1B }
.cart-btn { float: right; -moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px; padding:0 15px 0 15px;}
.sub-nav a.cart-btn-wrap { padding: 0px;}
.sub-nav a.cart-btn-wrap.top .cart-btn { margin-bottom: 5px; width: 100%; }
.sub-nav a.cart-btn-wrap.top:after { content:''; display:block; clear: both; }
#sub-nav-cart .cart-x { display:none; padding-right: 1px; position: absolute; right: 0; top: 5px; width: 22px; height: 22px; text-align: center; line-height: 20px; cursor: pointer; color: #666; border-radius: 50%; border: 1px solid rgba(0,0,0,.3); }
#sub-nav-cart .cart-item:hover .cart-x { display: block; }
#sub-nav-cart .icon-spin, #sub-nav-cart-item .icon-spin { color: #79a618; font-size: 2em; display: none; text-align: center; }
#sub-nav-cart .cart-empty { font-size: 1.5em; text-align: center; display: none; }
/*tabs*/
.sub-nav-wrapper { position: absolute; left: 0; width: 100%; }
div.sub-nav { position: absolute; width: 100%; border: 1px solid #ddd; border-top: none; top: 61px; background: #FFF; padding:2em; z-index: 25; box-shadow: 1px 2px 3px rgba(0,0,0,.3); font-size: 12px; font-family: arial; display: none; }
.sub-nav.active { display: block; }
#wrap-close-inlinecart{ display: none; }

/* login popup */
.signInPopupDialog { font-family: 'Roboto Condensed', sans-serif; height: 420px; }
.form-container #cafepress-login-container {	padding: 5%; padding-top: 0; margin: auto; font-size: 1.4em; text-align: center; font-size: 0.9em; }
.form-container #cafepress-login-container .textbox { width: 100%; margin: auto; padding: 5px; line-height: 1.2em; border: 1px solid rgb(221, 221, 221); margin: .5em 0; display: block; font-family: Arial, sans-serif; }
.form-container #cafepress-login-container .button { display: block; margin: 3em 0 0; padding: 1.5%; width: 100%; border-radius: 25px; font-size: 1em; }
.form-container #social-logins-container:after { content: ''; display:block; clear:both; }
.form-container #social-logins-container { margin: auto; min-height: 80px; text-align: center; }
.form-container .input-form-label { float: left; margin-top: 5px; }
.form-container #email, .form-container #password { float: left; width: 100%; }
.form-container #stay-signed-in, .form-container .stay-signed-in { float: left; }
.form-container #forgotten-password { float: right; }
.form-container #submit-login-form { border-radius: 25px; float: left; margin-top: 20px; text-transform: uppercase; width: 100%; }
.form-container .login-divider { width: 100%; }
.form-container #social-logins-container a#facebook-login-button { background: rgb(59, 89, 152); border-radius: 3px; color: rgb(255, 255, 255); font-size:0.9em; padding: 8px; }
.form-container #google-login-button { padding: 0; }
.form-container #social-logins-container a {display: inline-block; vertical-align: top; margin:5px; height: 30px;}
.login-popup-wrapper .form-container { width: auto; }

.sub-nav .green { font-weight: bold; color: #7ca500; }
.sub-nav .orange { color: #e29708; font-weight: bold; }
.sub-nav ul { list-style-type: none; padding-left: 0; }
.sub-nav li { line-height: 17px; text-transform: lowercase; font-family: Arial, sans-serif; }
.sub-nav li a { padding: 0; color: #777; font-size: 1.05em; line-height: 1.4em; letter-spacing: 0px; vertical-align: middle; font-family: Arial, sans-serif; }
.sub-nav-view-all {display: none;}
.sub-nav h3 a { font-size: .8em; font-family: 'Roboto Condensed', sans-serif; padding: 0; letter-spacing: 0; line-height: 24px }
.sub-nav h4 { font-size: 1.4em; line-height: 24px; text-transform: none; color: #333; margin-bottom: -2px; font-weight: normal; font-family: 'Roboto Condensed', sans-serif; }
.sub-nav h4 a { padding: 0; letter-spacing: 0; }
.sub-nav .column-main, .column-last, .sub-nav .column-sub, .column-sub ul { float: left; }
.sub-nav .column-main { }
.sub-nav .column-main ul { float: left; }
.sub-nav ul.sub-nav-two { padding-left: 20px; float: none; }

#sub-nav-shop .main-menu h4 a{ color:#333; font-size: 1em; width: 150px; }
#sub-nav-shop ul { margin-bottom: 15px; float: left; width: 20%; }
#sub-nav-shop .nav-col-wrapper {width: 20%; float:left; padding-left:1em;}
#sub-nav-shop .nav-col-wrapper ul {width: 100%;}
#sub-nav-shop,#sub-nav-create { padding: 1.2em 2em 0; }

#sub-nav-sell p { width: 305px; font-size: 1em; text-transform: none; line-height: 1.2em; padding-bottom: 10px; }
#sub-nav-sell img { margin: 0; position: relative; width: 100%; }
#sub-nav-sell blockquote { position: relative; top: 80px; font-size: 1.2em; text-transform: none; font-style: italic; }
#sub-nav-sell cite { float: right; position: relative; right: 30px; font-size: 1.1em; margin-top: 18px; }
.sub-nav-sell { overflow: hidden; }
.sell-heading { width: 40%; float: left; }
.sell-heading.sell-img { width: 60%; }
#learnmore { display: block; text-transform: uppercase; color: #fff; width: 50% }

#nav-gifts ul { width: 15%; margin: 0 .75% 1em; }
#nav-gifts ul h4, #nav-gifts ul h4 a { color: #c61b1b; white-space: nowrap; }
#nav-gifts ul h4 { text-overflow: ellipsis; overflow: hidden; }
#nav-gifts .column-main { margin: 0; width: 100%; }

.sub-nav-extra { clear: left; padding: 1em 2em 0; margin: 0 -2em; border-top: 1px solid #B91E2B; position: initial; }
.sub-nav-extra li { margin-left: 8px; }
/*.sub-nav-extra li:before { content: "|"; display:inline; margin-right: 1em; color: #ddd; }
.sub-nav-extra li:first-child:before { content: " "; display:inline; margin-right: 0; }*/
.sub-nav-extra h4 { text-transform: uppercase; font-size: 1.2em; color: #B91E2B; margin-bottom:0; line-height: 1.4em; }
.sub-nav-extra a.red { color: #c61b1b; text-shadow: none; }
#sub-nav-shop .sne-wide { width: 78%; overflow: hidden; height: 1.5em}
.sub-nav-extra li, .sub-nav-extra h4 { float: left; }

/* Sub Nav Extra LOGO look*/
.sub-nav-extra {padding:1em 0;}
.sub-nav-extra h4 {float:none; text-align: center;}
.sub-nav-extra h4 a {color: #c61b1b;}
#sub-nav-shop .sub-nav-extra ul {float:left; width:100%; text-align: center; margin-bottom:0px;}
.sub-nav-extra li {margin:0; float:none; display: inline-block; padding:0 1%;}
.sub-nav-extra li a {display:inline-block; font-size: 1em; text-transform: none; color: #333;}
  #greys-anatomy {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat  -610px -181px; width: 145px; height: 35px;}
  #peanuts {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -13px -242px; width: 98px; height: 35px;}
  #big-bang-theory {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -133px -222px; width: 41px; height: 54px;}
  #marvel {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -196px -240px; width: 69px; height: 28px;}
  #supernatural {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -288px -243px; width: 136px; height: 21px;}
  #television-city {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -448px -232px; width: 64px; height: 42px;}
  #star-trek {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -539px -244px; width: 88px; height: 19px;}
  #bobs-burgers {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat  -632px -243px; width: 136px; height: 21px;}


.sub-nav-dyo { width: 100%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom:5px;}
.sub-nav-photogifts {display: none;}
.sub-nav-dyo ul { float: left; width: 20%; height: 116px; overflow: hidden; padding-left:1em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.sub-nav .sub-nav-dyo h4 a { font-size: .8em; font-family: Arial, san-serif; font-weight: bold; color: #333; }
  .logo-sportswear {padding:1em 0; text-align: center; clear:left; margin:0 -2em; border-top: 1px solid #dddddd;}
  .logo-sportswear p, .sub-nav .logo-sportswear a {font-family: Arial, sans-serif;}
  .sub-nav .logo-sportswear a { padding:0 2px; letter-spacing: 0px; color:#79a618;}
  #logo-sports { background: white url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -779px -239px; width: 67px;; height:29px; display: inline-block; margin-left:10px; vertical-align: middle;}
.dyo-heading { position: relative; padding-left:1em;}
.dyo-heading h3 { font-family: 'Roboto Condensed', sans-serif; font-weight: normal; font-size: 1.8em; text-align: left; padding: 0; }
.dyo-heading p { margin-bottom: 1em; line-height: 1.2em; }
.nav-design-img {position: absolute; right: 0; z-index: -1;}
  /*.nav-design-img.cnb-pic {background: url('//content.cpcache.com/global/img/header-sprite-3.jpg') no-repeat -600px 0; width: 158px; height: 163px;}*/
    .nav-design-img.sell-pic {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat 0px 0px; width: 586px; height: 200px; position:relative; float:right;}

#sub-nav-account { right: -1px; left: auto; padding: 15px 20px; min-width: 320px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#sub-nav-account ul { margin: 0 auto; width: 100%; }
#sub-nav-account a:hover { text-decoration: none; }
#sub-nav-account li { text-transform: none; text-align: left; font: 14px 'Roboto Condensed', sans-serif; line-height: 1.4em; width: 45%; float: left; border: 1px solid #ddd; margin: .25em 2.5%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#sub-nav-account li i { margin-right: .25em; }
#sub-nav-account li a { padding: .5em 0 .5em 1em; display: block; font-family: 'Roboto Condensed', sans-serif; }
#sub-nav-account li a.active, #sub-nav-account li a:hover { color: #79a618; }
#sub-nav-account li a.active:after { content: " \00bb"; display: inline; }
#sub-nav-account #signin-menu-signin, #sub-nav-account .signup-link { width: 95%; border: none; padding: 0; text-align: center; }
#sub-nav-account #signin-menu-shops { display: none; }
#sub-nav-account .signup-link a { margin: 0 0 5px; width: 100%; padding-left: 0; }
#sub-nav-account #signin-menu-signin a { display: block; color: #fff; text-align: center; text-transform: uppercase; padding: 5px 0; -moz-box-shadow: 1px 1px 4px #ddd; -webkit-box-shadow: 1px 1px 4px #ddd; -o-box-shadow: 1px 1px 4px #ddd; box-shadow: 1px 1px 4px #ddd;  }

#sub-nav-gifts { width: 600px; padding-bottom: 0;}
#sub-nav-gifts ul { float: left; width: 33%; padding:0 0 10px 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#sub-nav-gifts ul li {line-height: 18px;}
#sub-nav-gifts h4 {color: #882d7d;}
#sub-nav-gifts h4 a {color: #882d7d; font-family: 'Roboto Condensed', sans-serif}
#sub-nav-gifts .gift-center { text-align: center; clear:left; margin:10px -2em 0 -2em; border-top: 1px solid #dddddd; padding:10px 0 15px 0;}
#sub-nav-gifts .gift-center h4 {color: #333;}
#sub-nav-gifts .gift-center h4 a {color:#79a618;}
#sub-nav-gifts .gifts-tab-img {background: url('//content.cpcache.com/global/img/header-sprite-8.jpg') no-repeat -600px 0; width: 158px; height: 163px; display: block;}
/*Help popup*/

#sbinterest-alt .nav-2-alt[data-type="bestsellers"] { display: none; }
.green-button { padding: 2px 10px; margin: 0; font-size:16px; background: #79a618; color: #FFF; cursor: pointer; line-height: 27px; border: none; text-align: center; }
#help-popup .green-button {color:#fff;}
#help-popup i { font-size: 2.25em; }
.triangle-down { background: url('//content.cafepress.com/mobile2.0/img/sprite-3-17-14v2.png') no-repeat -96px 2px; width: 19px; height: 19px; position: absolute; left: 40%; }
#nav-gifts .red { color: #c61b1b; }

#help-popup { position: fixed; color: #999; box-shadow: 0 0 15px #CCC; left: 33%; top: 15%; border: 1px solid #ccc; width: 590px; height: 280px; background: #FFF; padding: 40px 50px; z-index: 26; font-size: 14px; display: none; }
#help-popup div { }
.help-overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #ddd; opacity: .75; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter: alpha(opacity=75); z-index: 10; display: none; }
#help-popup h4 { color: #333; text-align: center; text-transform: uppercase; margin-bottom: 15px; font-size: 1.4em }
#help-popup .help-box { background: #f3f3f3; float: left; width: 150px; height: 113px; border: 1px solid #e6e6e6; padding: 30px 15px 25px; text-align: center; margin-left: 20px; }
#help-popup .help-box.no-margin { margin: 0; }
.help-content { position: static; }
.help-box .tagline { margin: 20px 0 15px 0; font-size: 16px; }
.help-box .help-icon { background: url('//content.cafepress.com/global/img/nav-sprite.png') no-repeat -102px -1px; width: 47px; height: 37px; display: inline-block; }
.help-box .help-icon[data-type="track"] { background-position: -46px 0; }
.help-box .help-icon[data-type="browse"] { background-position: 2px 0; }
#help-popup .help-links { clear: both; text-align: center; padding-top: 33px; }
#help-popup .help-links a { margin: 0 5px; }
#help-popup .help-close { position:absolute; right: -10px; top:-10px; width: 22px; height: 22px; text-align: center; line-height: 20px; cursor:pointer; background: #777; color: #fff; border-radius: 15px}

/*Live Chat Button*/
#lpButDivID-1395155403178 {text-align: center;}
#lpButDivID-1395155403178 table {display: inline-block;}
.lpPoweredByDiv {display: none;}

.hot { color: #cc0000 }
.new { color: #79a618 }
.top-seller {color: #79a618;}
.gift-idea {color: #882d7d;}

.saleGifts {width:100% !important;}
.saleGifts ul {width:19.5% !important; float:left;}
.saleGifts li {text-transform:uppercase !important;}
.saleGifts h4 {float:left; padding-right:4.2%;}
.saleGifts a {font-size:1em !important;}


/* Country Selector */
#countryLogo { padding:0 20px 7px 0; margin-top: -9px; }
#countrySelector { position: relative; top: 12px; padding: 3px 3px 0 3px; width: auto; line-height: 1; height: 20px; display: inline-block; }
#countrySelector.hover {background-color:#f3f3f3;box-shadow: 1px 1px 3px rgba(0,0,0,.4);}
#countrySelector.hover #countrySelectorPopup {display:block;}
#countrySelector .button {cursor:pointer; overflow: hidden; padding: 0; border-radius: 0; margin: 0; width: auto; background: none; height: 15px; }
#countrySelector .button:hover {color:#777777; background: none; border: none; box-shadow: none; top: auto}
#countrySelector .currencytext {float:left; display: none;}
#countrySelectorPopup {position: absolute;display:none;left:0px;top:17px;width:210px;z-index:99;background-color:#f3f3f3;box-shadow: 1px 2px 3px rgba(0,0,0,.4);}
#countrySelector .downarrow { float:left; position: relative; width: 7px; }
#countrySelector .downarrow:after { content: '\f0d7'; font-family: "FontAwesome"; font-size: 12px; line-height: 1; position: absolute; left: 0; color: #333;}
#moreSites {margin:12px;color:#333;}
#moreSites ul {margin:.25em -12px 0; overflow: hidden;}
#moreSites li {font-size: 12px; /*float:left; width: 50%;*/ border:none;color:inherit;margin:0;padding:6px 12px 6px;}
#moreSites li:hover {color:#333;background-color:#fff;}
#moreSites li a {display:block;color:inherit;padding:0 6px;}
div.flag {float:left;height:11px;width:16px;background:url('//content.cafepress.com/mobile2.0/img/sprite-3-17-14v2.png') no-repeat scroll -17px -54px transparent; padding:0px; margin-right: 3px; }
div.flag.au, .footerAUS .flag {background-position: 0 -42px;}
div.flag.ca, .footerCAN .flag {background-position:-17px -42px;}
div.flag.de, .footerDE .flag {background-position:-34px -54px;}
div.flag.es, .footerES .flag {background-position:-52px -42px;}
div.flag.fr, .footerFR .flag {background-position:-52px -54px;}
div.flag.us, .footerUS .flag {background-position:-17px -54px;}
div.flag.gb, .footerUK .flag {background-position:-34px -42px;}
div.flag.ie, .footerIE .flag {background-position:-69px -42px;}
div.flag.it, .footerIT .flag {background-position:-63px -30px;}
div.flag.nz, .footerNZ .flag {background-position:-86px -42px;}
div.flag.at, .footerAT .flag {background-position:-86px -54px;}
div.flag.be, .footerBE .flag {background-position:-69px -54px;}
div.flag.nl, .footerNL .flag {background-position:-63px -18px;}
div.flag.se, .footerSE .flag {background-position:-80px -18px;}
div.flag.ch, .footerCH .flag {background-position:-97px -30px;}
div.flag.pt, .footerPT .flag {background-position:-80px -30px;}
div.flag.no, .footerNO .flag {background-position:-63px -6px;}
div.flag.dk, .footerDK .flag {background-position:-80px -6px;}
#currencySelector { margin:12px;color:#333; }
#currencySelector select { margin-top:0.5em; width:100%; }

/* End Header */

/* Autocomplete */
.ui-helper-hidden{display:none}
.ui-helper-hidden-accessible{ position:absolute!important;clip:rect(1px1px1px1px);clip:rect(1px,1px,1px,1px) }
.ui-autocomplete { z-index: 20; background: #fff; padding-bottom: .25em }
.ui-autocomplete li { line-height: 1; }
.ui-autocomplete li a { padding: .25em 0 .25em .5em; }
.header-wrap ul.ui-autocomplete a { cursor: pointer; display: block; color: #999; font-size: .9em; font-family:'Roboto Condensed', sans-serif; }
.header-wrap ul.ui-autocomplete a:hover { background: #f9f9f9; color: #333; }
.ui-widget-content { border: 1px solid #ddd; border-top: none; }

/* Out of Stock */
.grid-unit .out-of-stock-container {text-align: center;}
.grid-unit .out-of-stock-container .out-of-stock {text-align: center; width: 180px; display: inline-block; padding: 6px; background-color: #E5E5E5;}
.out-of-stock-popup {background-color: #E5E5E5; display: block; text-align:center; padding: 4px; width: 240px; margin-left:50px;}

/* jQuery UI Styles */
.dialogcp img { display: block; }
.ui-widget-header a{color:#222;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: 'Roboto Condensed', sans-serif; }
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:0;background:none;font-weight:400;color:#555;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#555;text-decoration:none;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:0;background: none;font-weight:400;color:#212121;}
.ui-widget:active{outline:none;}
.ui-corner-all{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.ui-widget-overlay{background:#fff;opacity:.75;filter:Alpha(Opacity=75);position:fixed;top:0;left:0;width:100%;height:100%;z-index:25;}
.ui-widget-shadow{background:#aaa url(//content.cpcache.com/js/jquery/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.30;filter:Alpha(Opacity=30);-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;margin:-8px 0 0 -8px;padding:8px;}
.ui-button{outline: none; display:inline-block;position:relative;margin-right:.1em;text-decoration:none!important;cursor:pointer;text-align:center;zoom:1;overflow:visible;padding:0;}
.ui-button-icon-only{width:2.2em;}
button.ui-button-icon-only{width:2.4em;}
.ui-button-icons-only{width:3.4em;}
button.ui-button-icons-only{width:3.7em;}
.ui-button .ui-button-text{display:block;line-height:1.4;}
.ui-dialog-titlebar-close .ui-button-text { display: block; background: #777; color: #fff; width: 22px; height: 22px; font-size: 14px; margin: auto; line-height: 20px; -moz-box-shadow: 0 2px 4px #333; -webkit-box-shadow: 0 2px 4px #333; -o-box-shadow: 0 2px 4px #333; box-shadow: 0 2px 4px #333; -moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px;border-radius:15px; }
.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}
.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}
.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:0;}
.ui-button-icon-only .ui-icon{left:0;}
.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
button.ui-button::-moz-focus-inner{border:0;padding:0;}
.ui-dialog { z-index: 25; outline: none; text-align:left;position:absolute;width:auto;background:#fff; border:1px solid #ddd; overflow: visible; padding:20px; -o-box-shadow:0 0 8px #ccc;-moz-box-shadow:0 0 8px #ccc;-webkit-box-shadow:0 0 8px #ccc;box-shadow:0 0 8px #ccc;}
.ui-dialog .ui-dialog-titlebar{position:relative;z-index:25;padding:0;}
.ui-dialog .ui-dialog-title{float:left;margin:0;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;top:-32px;right:-32px;width:30px;height:30px;border:0;margin:0;padding:0;}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{font-size: 14px; position:relative;border: none; background:#FFF;overflow:hidden;zoom:1;padding:0;-o-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;background-image:none;border-width:1px 0 0;overflow: hidden;padding:0;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog .ui-dialog-buttonpane button{cursor:pointer;margin:0 0 1px .5em;}
.ui-dialog .ui-widget-header{background:#fff;border:0;color:#666;font-size:0;font-family:arial,san-serif;font-weight:400;}
.ui-dialog .ui-icon-closethick {display: none}
.ui-helper-hidden,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-helper-clearfix,.ui-dialog .ui-dialog-titlebar-close span{display:block;}
.ui-widget-header .ui-state-hover,.ui-dialog .ui-widget-header .ui-state-hover{background:none;}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#212121;text-decoration:none;}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#cd0a0a;}
.ui-widget-content .ui-icon,.ui-widget-header .ui-icon{background-image:url(//content.cpcache.com/js/jquery/themes/base/images/ui-icons_222222_256x240.png);}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-active .ui-icon{background-image:url(//content.cpcache.com/js/jquery/themes/base/images/ui-icons_454545_256x240.png);}
.ui-button-text-only .ui-button-text,input.ui-button{padding:.4em 1em; background: #ededed; border: 1px solid #ddd;}
.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em;}

/* Footer Styles */
footer * {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: Roboto Condensed, sans-serif; }
body footer { background: #777; color: #FFF; padding: 4.5em 12%; margin-top: 50px; }
footer .wrapper { max-width: 974px; }
footer div.flag { margin:7px 7px 0 0;}
footer form input[type="text"] { border: 1px solid #ddd; padding: 5px; height: 31px; font-size: 1.2em; width: 200px; }
footer form label { font-size: 2em; margin-right: .5em; }
footer form .button { margin-left: -2px; }
#emailSignupForm { float: left; }
#emailSignupForm input[type='email'] { border: none; padding: 6px; margin: 0; width: 38%; height: 31px; }
#emailSignupForm input[name='age']{ margin: 5px 5px 5px 0 }
.agBoxInfo { font-size: 12px; font-family: Arial, sans-serif; float: none; display: inline-block; top: 0; left: 0; }
#emailSignupForm .info { font-family: Arial, sans-serif; text-align: center; color: #fffdd2; margin: 1em 0; }
.email-checkbox { margin-top: 5px; }
.email-wrap {display: inline; }
.fs-links-wrap { display: inline-block; }
.footer-social { float: right; font-size: 2em; margin: 2px 0 2em 0; }
.footer-social a { background: #fff; display: inline-block; width: 35px; height: 35px; text-align: center; margin: 0 5px; border-radius: 50%; line-height: 35px; }
.footer-social a:hover { background: #79A618; color: #fff;}
.footer-ribbon-wrap { clear: both; padding-top: 3em; border-top: 1px solid #555}
.footer-ribbon-wrap ul { width: 33.33%; float: left; padding: 0 1em 0 0; }
.footer-ribbon-wrap h4 { font-size: 1.8em; margin: .5em 0; font-weight: bold; }
.footer-ribbon-wrap h4 i { margin-right: 5px; }
.footer-ribbon-wrap li { font-size: 1.6em; line-height: 1.5em; }
.footer-ribbon-wrap li a { color: #fff; }
.seolinks { padding: 3em 5em; font-size: 1.6em; line-height: 1.6em; font-family: Arial, sans-serif; }
.seolinks { padding: 3em 0 0; margin-top: 3em; border-top: 1px solid #555; overflow: hidden;}
.seolinks .seolink-box { display: block; float: left; width: 30%; margin-right: 3%; text-align: left; font-family: Roboto Condensed, sans-serif; font-size: .9em; }
.seolink-box li { float: left; margin-right: 15px; }
.seolink-box li a, .seolink-box p { color: #ccc; }
.copyright { text-align: center; margin: 3em 0 0 0; padding: 3em 0 0 0; font-size: 1.2em; font-family: arial, sans-serif; border-top: 1px solid #555; }
.copyright a { text-decoration: underline; color: #FFF; }
.copyright:before, .footer-ribbon-wrap:before, .seolinks:before { content: ''; border-top: 1px solid #999; height: 1px; display: block; top: -3em; position: relative;}


/* mini user profile */
.user-profile { width: 27em; background: #FFF; border: 1px solid #ccc; padding: 1em; position: absolute; display: none; z-index: 5;
  -moz-box-shadow: 1px 1px 4px #ccc;
  -webkit-box-shadow: 1px 1px 4px #ccc;
  -o-box-shadow: 1px 1px 4px #ccc;
  box-shadow: 1px 1px 4px #ccc;
}
.user-profile:before { content: ""; position: absolute; background: #fa1; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); visibility: hidden\9; display: block; width:280px; height: 157px; top: 0; z-index: -1; }
.user-profile h3 { font-size: 1.6em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; line-height: 1.1em; }
.user-profile .triangle-down { bottom: -17px; }
.user-profile .profile-photo-container { overflow: hidden; float: left; border-radius: 75px; width: 90px; height: 90px; border: 1px solid #ddd; margin-right: 15px; margin-bottom: 5px; }
.user-profile .profile-photo-container img { width: 89px; }
.user-profile .profile-photo { border-radius: 50%; }
.user-profile .profile-links .sub-link a { font-size: 1.4em; color: #999; }
.user-profile .profile-links a,
.user-profile .profile-links div,
.user-profile .profile-links button { margin-top: 1em; }
.user-profile #profile-close { position: absolute; right: 0; top: 0; font-size: 1.5em; color: #999; cursor: pointer; padding: 7px 10px; }


/* Help Pages, Community, About */
ul.crumb, ul.crumb li {margin:0;padding:0;list-style:none;}
ul.crumb {margin-bottom:40px;}
ul.crumb li {display:inline-block;color:#999;font-size:1.2em;font-family:arial,sans-serif;}
ul.crumb li a {color:#999;text-decoration:none;}
#generalContent .wrapper {max-width:970px;position:relative;padding:30px 20px 0;}
#generalContent  h1 {font-size:2.2em;color:#79a618;margin:20px 0;line-height:30px;padding-top:0px;font-weight:bold;font-family:'Roboto Condensed',sans-serif;}
#generalContent .content-entry h1 {font-size:22px;} /* override pages where h1 is in the content include */
#generalContent h1 {color: #79A618;font-family: 'Roboto Condensed',sans-serif;font-size: 3.2em;line-height: 1.2em;margin: 20px 0;}
.content-entry {font-size:1.4em;line-height:1.2em;font-family:arial,sans-serif;color:#333;}
.content-entry a, .content-entry a:link, .content-entry a:visited {color:#79a618;text-decoration:underline;}
.content-entry p {margin:1.4em 0;}
.content-entry ol, .content-entry ul {margin:1.4em 0;}
.content-entry ul {list-style:disc;}
.content-entry ol li, .content-entry ul li {margin-left:1.8em;}
.content-entry strong, .content-entry b {font-weight:bold;}
.content-entry em,.content-entry i {font-style:italic;}
.content-entry h2 {line-height:1.2em;color: #333333;font-family:'Roboto Condensed',sans-serif;font-size: 20px;font-weight: normal;margin: 1.2em 0;}
.content-entry h3 {line-height:1.2em;color: #333333;font-family:'Roboto Condensed',sans-serif;font-size: 18px;font-weight: normal;margin: 1.2em 0;}
.content-entry table {width:100%;}
.content-entry table td {padding:5px;}

/* Feedback Form */
.feedback { display: none; }
.feedback-icon { display: block; width: 25px; position: fixed; right: 0; top: 71px; background-color: #777; border: 1px solid #ddd; border-right: none; transition: all .5s; -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; z-index:100;
-moz-box-shadow: 1px 1px 4px #ccc;-webkit-box-shadow: 1px 1px 4px #ccc;-o-box-shadow: 1px 1px 4px #ccc;box-shadow: 1px 1px 4px #ccc; }
.feedback-icon:hover { width: 100px; }
.feedback-icon a:hover:after { content: "Send Feedback"; color: #fff; font-size: 12px; margin-left: 5px; white-space: nowrap;}
.feedback-icon a { display:block; padding: 4px 9px 6px; color: #fff; cursor: pointer; text-decoration: none !important; font-size: 1.6em; }
.feedback-form { margin: 5px 0 30px; width: 372px; padding: 5px 10px 10px; font-size: 14px; font-family: 'Roboto Condensed', Arial, sans-serif }
.feedback-form h3 { margin-bottom: 5px; }
.feedback-form .form-row { margin-bottom: 15px; position: relative; }
#feedback-form label { position: absolute; left: 10px; top: 10px; }
#feedback-form select { border: 1px solid #ddd; padding: 5px; margin: 15px 0 0; outline: none; width: 200px; font-size: 14px }
#feedback-form .email { width: 320px; padding: 5px 0 10px 50px; font-size: 14px }
.feedback-form textarea { padding: 10px; margin: 0 0 10px; display: block; width: 350px; height: 150px; border: 1px solid #ddd; white-space: pre-wrap; word-wrap: break-word;}
.feedback-form .send { float: right; }
.error-msg { display:none; color: #ae1100; }


/* Recently viewed global sticky maximize button styles */
.rvp-global-expand {width:24px; position: fixed; bottom:0; right:0;cursor:pointer;display:none;background-color: #777; border: 1px solid #ddd; border-right: none; transition: all .5s; -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s;-moz-box-shadow: 1px 1px 4px #ccc;-webkit-box-shadow: 1px 1px 4px #ccc;-o-box-shadow: 1px 1px 4px #ccc;box-shadow: 1px 1px 4px #ccc; }
.rvp-global-expand:hover { width: 100px; }
.rvp-global-expand a:hover:after { content: "Recently viewed"; color: #fff; font-size: 12px; margin-left: 5px; white-space: nowrap;}
.rvp-global-expand a { display:block; padding: 4px 8px; color: #fff; cursor: pointer; text-decoration: none !important; font-size: 1.6em; }

@media all and (max-width: 1270px){

  .header-wrap {margin:0 30px;}

}

/* ==========================================================================
   Medium layout styles
   ========================================================================== */

@media all and (max-width: 970px){

  /* ==
  Header Styles
  == */
  #nav-gifts { display: none; }
  .header-wrap { padding-left: 351px; }
  .header-left { margin-left: -351px; }
  .header-left .header-logo { padding: 0 0 0 1em; }
  .header-logo .icon-cp-logo { display: block; }
  .cp-logo { display: none; }
  #global-header-cart { float: right; width: 63px; padding: 5px 12px; margin-right: 10px; cursor: pointer; height: 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  #global-header-carticon { top: 0; }
  .touch-search, .touch-menu, .touch-item .icon-cp-cart { text-shadow: none; font-size: 1.2em }

  .nav-search .nav { text-indent: -9999px; width: 100%; position: absolute; }
  .nav-search .nav-tab { width: 100%; }
  .nav-search .nav .sub-nav { text-indent: 0; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ddd)); display: none; }
  .nav-search { width: 100%; }

  /* Shop menu*/
  #sub-nav-shop { position: absolute; border-top: none; max-width: 970px; min-width: 100%; z-index: 9; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .nav-tab a { border: 0; letter-spacing: 0; }
  .sub-nav-extra { display: none; }
  .hot { text-overflow: clip; overflow: hidden; display: inline-block; vertical-align: top; white-space: nowrap; width: 10px; font-size: .9em; line-height: 1.5em; }
  .hot:before { content: '\f005'; font-family: FontAwesome; }

  /* Create menu */
  .dyo-heading { height: auto; }
  .dyo-heading p { width: 100%; }
  .sub-nav-dyo ul { width: 25%; }
  .nav-design-img { display: none; }

  /* Footer styles */
  .footer-social { float: left; margin-top: 1em; width: 100% }
  .email-wrap { display: block; margin-top: 10px; }
  #emailSignupForm input[type='email'] { width: 68%}
  footer form .button { width: 30%; }

.saleGifts {display:none;}

}

/* ==========================================================================
   Small layout styles
   ========================================================================== */
 @media all and (max-width: 770px){

  /* ==
  Header Styles
  == */
  .header-wrap .logo13-mobile { }
  .header-left .header-logo { padding: 0 1em; }
  .header-wrap { padding-left: 163px; }
  .header-left { margin-left: -163px; }
  .header-nav .icon-reorder { display: inline; }
  .header-nav { border-left: 1px solid #ddd; }
  #wrap-close-inlinecart.in-treatment { display: inline-block; }

  /*shop tab*/
  #nav-shop:hover #sub-nav-shop { display: block; }
  #sub-nav-shop { border-bottom:5px solid #777777; padding:0;}
  #sub-nav-shop ul { width: 100%; margin: 0; }
  #sub-nav-shop .nav-col-wrapper {width: 100%; padding-left:0;}
  #sub-nav-shop .touch-title { display: block; font-weight: normal; padding:0 5%; text-transform: capitalize; letter-spacing: 1px; }
  .list-wrap { display: none; width: 100%; margin: auto; background: #dddddd; }
  #sub-nav-shop.sub-nav li { margin-left: 10%; text-transform: lowercase; }
  .sub-nav li:last-child:after { content: ""; }
  .sub-nav li a { text-transform: capitalize; line-height: 2em; padding:0.9em 0 0.7em 0; display: block; color:black; border-bottom:1px solid white; font-size: 1.1em}
  #sub-nav-shop.sub-nav li a:after { content: "\00bb"; display: inline; font-family: arial;  margin-left: .3em; }
  .sub-nav-view-all {display: block; text-align: center; border:none; margin-top:1em;}
  #sub-nav-shop .sub-nav-view-all a {display: inline-block; background-color: #79a618; color:white; padding:0.8em 2.5em;}
  .sub-nav .hot {line-height: 2em; vertical-align: middle;}
  .sub-nav ul, .sub-nav h4 { display: block; width: 100%; padding: 0; margin: 0; }
  .sub-nav h4 { border-bottom: 1px solid #aaaaaa; letter-spacing: 1px; line-height: 3.2em; position: relative; }
  .sub-nav h4 a { padding-left: 10%; }
  .sub-nav h4:before { border-top: 1px solid #fff; content: ""; width: 100%; display: block; position: relative; }
  .sub-nav h4:after { content: "+"; position: absolute; text-align:center; right: 10%; top: 0.5em; font-family: Arial, sans-serif; cursor: pointer; width:2em; height:2em; line-height: 2em; border:1px solid #aaaaaa; border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
  .sub-nav h4.active:after { content: "-"; position: absolute; right: 10%; top: 0.5em; }
  .sne-signin { display: block; }
  #nav-shop { border: none; }
  .nav-tab#nav-shop { padding: 0; }
  .hot { text-overflow: initial; overflow: visible; display: inline; vertical-align: top; white-space: normal; width: auto; font-size: 1em; line-height: 1.5em; }
  .hot:before { content: ''; }

  .header-item a { color: #999; }
  .shop-top-link { display: block; width: 62px; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
  #countrySelector, .right-wrapper .signin, .right-wrapper .header-help, .header-nav .shop-text, #nav-create, #nav-sell { display: none; }
  .touch-item { padding: 10px 0; }
  #touch-item-search { display: block; }
  #sub-nav-shop {  width: 100%; left: 0; max-width: inherit; }
  #sub-nav-shop:after { content: ""; display: none; }
  div.sub-nav { box-shadow: 0px 5px 6px rgba(0,0,0,.3);}
  #searchBarForm input.global-searchbox { float: left; margin: 0; padding-left: 10px; width: 70%; }
  .header-search:hover #searchBarForm { border-color: #ddd; }
  #global-searchbutton { width: 30%; text-align: right; position: relative; right: auto; float: right; }
  #global-filter-drop { display: none; }

  #countryLogo { padding: 0; display: block; max-width: 75%; height: auto; margin: 5px 0 0 8%; }
  .center-wrapper { height: 50px; position: absolute; }
  .saleGifts {display:none;}

  /* Search menu */
  #global-header-searchform #global-filter-drop { display: none; }
  #global-header-searchform { width: 96%; padding: .5em 2% .6em 2%; z-index: 4; background: #ccc; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; -ms-transition: all .5s; transition: all .5s; }
  #touch-search-close { display: block; float: right; background: #777; color: #fff; width: 28px; height: 28px; text-align: center; line-height: 26px; cursor: pointer; -moz-box-shadow: 0 2px 4px #333; -webkit-box-shadow: 0 2px 4px #333; -o-box-shadow: 0 2px 4px #333; box-shadow: 0 2px 4px #333; border-radius: 15px; }

  /* Footer Styles */
  .footer-ribbon-wrap { font-size: .9em; }
  .footer-ribbon-wrap ul { width: 50%; margin-bottom: 3em; }
  .fs-links-wrap { display: block; margin-top: 10px; }
  .footer-social a { margin:0 10px 0 0; }
  .feedback-icon { display: none; }

  /* login popup */
  .signInPopupDialog #social-logins-container { width: 340px;}
  .signInPopupDialog .amazon-login-button { float: none; }
  .signInPopupDialog #facebook-login-button { margin-bottom: 5px; }
 } /* End small layout */

 @media all and (max-width: 570px){
  #tippyTopContainer {display: none;}
  .header-left .header-logo { padding: 0; height: 50px; }
  .header-wrap { padding: 0; height: 50px; line-height: 50px }
  .header-wrap .logo13-mobile { float: none; display: block; }
  .header-wrap .logo13-mobile i { font-size: 1.6em; }
  .header-search .search-icon { display: block; }
  .header-item, .header-nav { width: 50%; text-align: center; height: 50px; }
  .header-item a { cursor: default; }
  .header-wrap .header-item { line-height: 50px; }
  .header-left, .header-right { width:40%; margin: 0; }
  .header-outer { margin-bottom: 46px;  -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; -ms-transition: all .5s; transition: all .5s;}
  .header-search { width: 20%; }
  #searchBarForm { position: absolute; left: -206%; right: -208%; top: 51px; border: none; z-index: 2; height: auto; margin:0; padding: 6px 12px; box-shadow: 0px 1px 4px rgba(0,0,0,.5); background-color: #ddd;}
  .header-search.active:after { content: ""; display: block; background: #fff; width: 100%;  left: 0; position: absolute; z-index: 26; }
  .header-search.active #searchBarForm { display: block; }
  .header-search.active { background: #fff; }
  #searchBarForm input.global-searchbox { padding-left: 10px; font-size: 16px; width: 100%; box-shadow: inset 0px 1px 3px #bbb; border-radius: 5px;}
  #global-searchbutton {width: auto; margin-left:-80px; background-color: #79a618; color:#fff; border-radius:0px 5px 5px 0px;}
  #global-searchbutton:hover {background-color: #8cbe21;}
  #nav-shop, .shop-top-link { width: 100%; }
  div.sub-nav { top: 51px; }

  #sub-nav-cart, #sub-nav-cart-item { right: -102%; }
  #cartItemCount { top: 10px; left: 54%; }

  /*help popup*/
  #help-popup { width: 89%; padding: 5%; height: auto; left: 0 !important; top: 5%; }
  #help-popup h4 { margin-bottom: 5px; }
  #help-popup .help-box { width: 80%; padding: 10px; height: 100px; }
  .help-box .tagline { margin: 10px 0; }
  #help-popup .help-links { padding-top: 0; }
  #help-popup .help-box,
  #help-popup .help-box.no-margin { float: none; margin: auto; margin-bottom: 10px; }
  #help-popup .help-close { float: none; margin: auto; margin-bottom: 10px; top: 5px; right: 5px; line-height: 22px; }

  /*auto complete overrides*/
  .ui-autocomplete { min-width: 100%; left: 0 !important; top: 38px !important; text-align: left; border-top: 1px solid #ddd; }
  .header-wrap ul.ui-autocomplete a { padding-left: 10px !important; }

  .button.unfollowTopic { border: 1px solid #ddd;}
  .footer-ribbon-wrap ul { width: 100%; margin-bottom: 1em; }
  .footer-ribbon-wrap ul:last-child { margin: 0; }
  .footer-ribbon-wrap h4{ background: #555; padding: .5em; }
  .footer-ribbon-wrap h4:after { content: "+"; float: right; }
  .footer-ribbon-wrap h4.active:after { content: "-"; }
  .footer-list-wrap { display: none; }
  .seolinks, .feedback-icon { display: none; }

  .saleGifts {display:none;}
  .sub-nav-wrapper{position:relative;}

  .header-outer.active{position:relative !important; z-index:10 !important;}
  #sub-nav-cart .cart-x {display:block;}
  #sub-nav-cart-item {right:0; top:0;}
  /* login popup */
  .signInPopupDialog #social-logins-container { width: 300px;}
}
