
#list-spotlight {
  list-style-type:none;
  margin:0;
  padding:0;
  position:relative;
  overflow:hidden;
  width:475px;
  height:260px;
  border: 1px solid #ccc;
}
#list-spotlight li {
  padding:0;
  position:absolute;
  width:475px;
  height:260px;
  background-repeat:no-repeat;
  background-position:0 0;
}
#spotlight-button-anchor { position:relative; width:475px; height:260px; word-wrap:break-word; }
ul#spotlight-buttons { position:absolute; bottom:5px; right:1px; overflow:hidden; z-index:9999; margin:0; padding:0; height:23px;}
ul#spotlight-buttons li { float:left; display:block; margin-right:3px;  width:24px; height:23px; overflow:hidden }
ul#spotlight-buttons a {
  display:block;
  width:24px;
  height:23px;
  background-color: #ddd;
  overflow:hidden;
  outline:none;
  border-radius: 3px;
  position: relative;
}

ul#spotlight-buttons li {
  counter-increment: slotNum;
}

ul#spotlight-buttons a[id*=rs-btn]:before {
  content: counter(slotNum);
  color:#414141;
  font-size: 14px;
  display:block;
  width: 24px;
  height: 23px;
  text-align: center;
  padding-top: 3px;
}

ul#spotlight-buttons a:hover,
ul#spotlight-buttons a[id*=rs-btn]:hover:before,
ul#spotlight-buttons a[id*=rs-btn]:active:before,
ul#spotlight-buttons a[id*=rs-btn]:focus:before,
ul#spotlight-buttons li.selected a[id*=rs-btn]:before {
  background-color: #009cde;
  color: #fff;
  text-decoration: none;
}

ul#spotlight-buttons a#rs-prev,
ul#spotlight-buttons a#rs-next {
  text-indent: -200px;
}

ul#spotlight-buttons a#rs-prev:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 8px 6.5px 0;
  border-color: transparent #414141 transparent transparent;
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
}

ul#spotlight-buttons a#rs-prev:hover:before { 
  border-color: transparent #ffffff transparent transparent;
}

ul#spotlight-buttons a#rs-next:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 8px;
  border-color: transparent transparent transparent #414141;
  position: absolute;
  top: 5px;
  left: 9px;
}

ul#spotlight-buttons a#rs-next:hover:before{
  border-color: transparent transparent transparent #ffffff;
}

.shade-module { position:absolute; bottom:32px; display:block; height:75px; width:475px; overflow:hidden }
.shade-overflow {  display:block; height:75px; width:475px; overflow:hidden  }
.shade-module b { position:absolute; display:block; background-color:#414141; height:75px; opacity:0.75; width:475px; }
.shade-module .shade-text {
  position:absolute;
  top:0;
  left:10px;
  z-index:3;
  width:335px;
  height:auto;
  display:block;
  overflow:hidden;
  line-height:18px;
  color:#fff;
  font-size:12px;
}
.shade-module .shade-text span { display:block;  margin-top: 3px; margin-bottom: 2px; }
.shade-module .shade-text a { color:#fff; font-size:25px; text-decoration:none; line-height: 1.1; margin-top: 5px; }
.shade-module .shade-text a.shade-description { font-size:12px; line-height: 14px;}
.shade-module .shade-text a:hover { text-decoration:none; }
.shade-module a.shade-button {
  background-color: #009cde;
  position:absolute;
  right:10px;
  top:30px;
  display:block;
  height:28px;
  width:116px;
  overflow:hidden;
  color:#fff;
  font-size:12px;
  text-decoration:none;
  font-weight:bold;
  line-height:28px;
  text-align:center;
  border-radius: 3px;
}

.shade-module a.shade-button:hover,
.shade-module a.shade-button:active,
.shade-module a.shade-button :focus {
  background-color: #1085b7;
}

.single-item ul#spotlight-buttons {  display:none; }
.single-item .shade-module { bottom:0; }
.rs_zindex {
	z-index: 5;
}
