
/* --------------------------------------------------------------------------
    Weekly Homepage Refresh Styles for March Week 01, 2016
   -------------------------------------------------------------------------- */

 /**
  * Store Preview URL
  * https://cmc-wcsauth.target.com/webapp/wcs/tools/servlet/CMWSPreviewSetup?redirecturl=https://cmc-wcsauth.target.com:8006/webapp/wcs/preview/servlet/PreviewStore&redirectstoreurl=http://cmc-wcsauth.target.com/webapp/wcs/stores/servlet/StoreView?storeId=10151&newPreviewSession=true&previewRestURI=/wcs/previewresources&previewPath=/webapp/wcs/preview/servlet&start=2015/03/08%2012:00:00&status=true&invstatus=0&timeZoneId=America/New_York&dateFormat=yyyy/MM/dd&timeFormat=12HR&locale=en_US
  */


/* Manual Espot Adjustments
   -------------------------------------------------------------------------- */

/**
 * 1. Sets the height of the Flexible Grid Container.
 * 2. Sets the top positioning of the spotlight.  This can change weekly, hence
 *    why it lives in the weekly CSS file.
 * 3. Sets the top positioning of the Social/Connect box.  This # depends on #2 above.
 */

#Main.flexible_grid_layout { height:1515px!important; } /*[1]*/


#e12 {top:1300px !important; width:1000px; /*height:287px;*/}
#e17 { top: 1370px !important; } /*[3]*/



/* Hero Component
   -------------------------------------------------------------------------- */
#hp-Hero * {
-moz-box-sizing: border-box;
     box-sizing: border-box;
}

#hp-Hero {
  width: 815px;
  height: 455px;
  position: relative;
  float: right;
  overflow: hidden;
  border-radius: 4px;
}


a.hp-Hero-links:focus{
  border:1px dotted #ffffff !important;
}


  #hp-Hero:after {
    content:"";
    display:table;
    clear:both;
  }

.hp-Hero-header{
    position: absolute;
    left: 36px;
    top: 20px;
    width: 400px;
    height: 90px;
    color: #333333;
    text-align: left;
}


.hp-Hero-headline{
  font-size: 40px;
}

.hp-Hero-subHeadline{
    color: #666;
    font-size: 24px;
    padding-top: 8px;
}


.hp-Hero-link {
    position: absolute;
    top: 236px;
    left: 44px;
    z-index: 11;
    width: 300px;
    /* border: 1px solid #ff0; */
  }

  .hp-Hero-link > li {
    display: inline-block;
    padding-right: 20px;
  }

  .hp-Hero-link > li > a {
    font-size: 14px;
    font-weight: bold;
  }

   .hp-Hero-link > li > a:after {
    content:'\203A';
    display: inline-block; /*[5]*/
    padding-left: 3px;
    line-height: 1;
  }

.hp-Hero-links {
    position: absolute;
    top: 170px;
    right: 28px;
    z-index: 11;
    width: 90px;
    /* border: 1px solid #ff0;*/
  }

.hp-Hero-links2 {
    position: absolute;
    top: 350px;
    right: 30px;
    z-index: 11;
    width: 120px;
    text-align: right;
    /* border: 1px solid #f00; */
}  

  .hp-Hero-links2 > li {
    display: block;
    padding-bottom: 40px;
  }


  .hp-Hero-links > li {
    display: inline-block;
    padding-right: 20px;
  }

.li_align_rt{
  text-align: left!important;
}

  .hp-Hero-links > li > span{
    color: #ffffff;
    padding: 0 12px;
  }

.hp-Hero-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 4px;
}

a.hp-Hero-BB{
}

a.hp-Hero-BB:hover{
color:#ffffff!important;
text-decoration: underline;
}

a.hp-Hero-md-lnk{
font-size: 14px;
}

.hp-Hero-lrg-lnk{
font-size: 21px;
}

.hp-Hero-BB p{
font-size: 18px;
color:#ffffff;
padding:10px 0 10px;
}

.hp-Hero-BB span{
font-size: 14px;
color:#ffffff;
}

  .hp-Restrictions{
    position: relative;
    top: 435px;
    left: 728px;
    width: 80px;
    /* border: 1px solid #f00; */
  }

a.hp-Restrictions{
color:#333333!important;
}

a.hp-Restrictions:hover{
color:#333333!important;
text-decoration: underline;
}


  .hp-Restrictions p{
    font-size: 10px;
    color: #ffffff;
    width: 80px;
  }


#hp-Hero a.hp-Button {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    background-color: #2b4d73;
    color: #ffffff!important;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    margin-bottom: 5px;
    /* box-shadow: 0 1px 2px rgba(0,0,0,.15); */
    transition: background-color .05s;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#hp-Hero a.hp-Button:hover,
#hp-Hero a.hp-Button:focus {
  background-color: #ffffff;
  color:#454545!important;
  text-decoration: underline;
}

#hp-Hero a.hp-Button:focus{
 border:1px dotted #454545; 
}



/* Hotspot Modifiers
   -------------------------------------------------------------------------- */

/**
 * --[date]-[name]
 */

.u-linkHotspot--022816-allHome{
    bottom: -203px;
    left: -35px;
    width: 550px!important;
    height: 450px!important;
    z-index: -1;
    /* border: 1px solid #f00; */
   }

   .u-linkHotspot--022816-allHome1{
    top: -115px;
    right: -5px;
    width: 140px!important;
    height: 150px!important;
    z-index: 10;
    /* border: 1px solid #f00; */
}
   

  .u-linkHotspot--022816-allHome2{
    bottom: -20px;
    right: -10px;
    width: 150px!important;
    height: 150px!important;
    z-index: 12;
    /* border: 1px solid #f00; */
   }


   .u-linkHotspot--022816-allHome3{
    top: 310px;
    right: 25px;
    width: 150px!important;
    height: 100px!important;
    z-index: 12;
    /* border: 1px solid #f00; */
   }

.u-linkHotspot--022816-accessories {
  bottom: 0;
  right: 0;
  width: 170px;
  height: 170px;
  /*background-color: rgba(0,0,0,.5); */
}

.hp-Hero-linkGroup {
  position: absolute;
  top: 100px;
  left: 2px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #454545;
  background: url("http://static.targetimg1.com/2012/ol/global/images/trans.gif");
}

.hp-Tile-strip {
  position: absolute;
  bottom: 7px;
  padding: 12px 10px 12px 20px;
  width: 98%;
  font-size: 13px;
  color: white;
  background-color: #cc0000;
  border-radius: 0 0 4px 4px;
}

/**
 * MODIFIER: Hero Tile
 */

.hp-Tile--hero {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-bottom: 0;
  width: initial;
  overflow: hidden;
  z-index: 10;
}
  .hp-Tile--hero .hp-Tile-inner {
    width: 265px;
    min-height: 165px;
    padding-bottom: 10px;
    border-radius: 4px;
  }
  .hp-Tile--hero .hp-Tile-strip {
    position: relative;
    bottom:0!important;
    display: block;
    width: 100%;
    padding: 12px 10px 12px 20px;
    border-radius: 4px 4px 0 0;
  }
  .hp-Tile--hero .hp-Tile-linkGroup { padding: 10px 0 0 0; }
  .hp-Tile--hero .hp-Tile-copyMessage { font-weight: normal; font-size:16px!important; }

.u-block { display: block; }

/* --------------------------------------------------------------------------
    Comment
   -------------------------------------------------------------------------- */

/*  Comment
   -------------------------------------------------------------------------- */

/**
 * Comment
 */

 /* Comment */


/*

.declaration-order {
  - Positioning
  - Box-model
  - Typography
  - Visual
  - Misc
}

*/

.hp-Hero-cta{
    position: relative;
    top: 290px;
    left: 45px;
    width: 200px;
}

.u-colorWhite {
    color: #fff !important;
    font-size: 10px !important;
}

.hp-Tile-copy {
    padding: 16px 15px 0 18px;
}

  .hp-www{
    position: relative;
    top: 100px;
    left: 5px;
  }



a.hp-Restrictions-link{
color:#ffffff!important;
font-size:10px;
}


a.hp-Restrictions-link:focus{
border:1px dotted #010101!important;
}

a.hp-Tile-pretendLink{
color:#ffffff!important;
font-size: 14px;
}
.hp-Hero-links a.hp-Tile-pretendLink {
    width: 95px;
}
.hp-Hero-links2 a.hp-Tile-pretendLink {
    width: 124px;
}

a.hp-Tile-pretendLink:focus{
border:1px dotted #ffffff!important;
}


