@font-face {
  font-family: 'FultonsHand';
  src: url('/common/fonts/FultonsHand_Regular-webfont.eot');
  src: url('/common/fonts/FultonsHand_Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/common/fonts/FultonsHand_Regular-webfont.woff2') format('woff2'),
       url('/common/fonts/FultonsHand_Regular-webfont.woff') format('woff'),
       url('/common/fonts/FultonsHand_Regular-webfont.ttf') format('truetype'),
       url('/common/fonts/FultonsHand_Regular-webfont.svg#fultonshandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Interstate';
  src: url('/common/fonts/interstate.eot');
  src: url('/common/fonts/interstate.eot?#iefix') format('embedded-opentype'),
       url('/common/fonts/interstate.woff') format('woff'),
       url('/common/fonts/interstate.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}