.ui-accordion .ui-state-default,
.ui-accordion .ui-widget-content .ui-state-default, 
.ui-accordion .ui-widget-header .ui-state-default,
.ui-accordion-content-active {
	background: transparent !important;
	border: 0;
	border-radius: 0 !important;
}

.ui-accordion-content + .ui-accordion-header {
	border-top: 1px solid #d9d9d9;
}

.ui-accordion-header {
	padding-left: 0 !important;
}

.ui-accordion-header-icon {
	background: url(../../images/icons/setaBaixo10x6.png) no-repeat center center !important;
	left: auto !important;
	right: .5em !important;
}

.ui-accordion-header-active .ui-accordion-header-icon {
	background: url(../../images/icons/setaTopo10x6.png) no-repeat center center !important;
}

.ui-accordion .ui-state-default {
	color: #00aeef;
	font-size: 15px;
	font-family: "museo-sans", Arial, Helvetica, Sans-serif;
}

.ui-accordion .ui-state-hover {
	text-decoration: underline;
}

.ui-accordion .ui-accordion-content {
	padding: 15px 0 35px 0;
	font-size: 15px;
	font-family: "museo-sans", Arial, Helvetica, Sans-serif;
	font-weight: normal;
	color: #5e5e5e;
}

.ui-accordion .ui-accordion-content a {
	color: #5e5e5e;
}


@media only screen and (max-device-width : 767px) {
/*@media only screen and (min-width: 100px) {*/
	.ui-accordion .ui-state-default {
		font-size: 28px;
	}


	.ui-accordion-header-icon {
		background: url(../../images/icons/setaBaixo26x16.png) no-repeat center center !important;
		width: 26px;
		height: 16px;
	}

	.ui-accordion-header-active .ui-accordion-header-icon {
		background: url(../../images/icons/setaTopo26x16.png) no-repeat center center !important;
	}

	.ui-accordion-content + .ui-accordion-header {
		border-top-width: 3px;
	}
	
	.ui-accordion .ui-accordion-header {
		padding: 30px 50px 30px 0;
	}

}