.clearfix:after, 
main:after,
section .content:after,
footer .social-links ul:after,
.inFieldWrapper:after,
.pagination-content:after,
.reveal-modal:after,
.swiper-wrapper:after,
.simple-list:after
{
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	clear: both;
}
