.roxo {
	background-color: #3e249f;
	color: #fff !important;
}

.txt-roxo, a.txt-roxo:link {
	color: #3e249f;
}

.txt_preto {
	color: #000;
}

.azul {
	background-color: #00aeef;
	color: #fff !important;
}

.txt-azul, a.txt-azul:link {
	color: #00aeef;
}

.cinza input, .cinza_escuro input {
    background: transparent;
    border-color: #4e4f57;
}

.cinza_claro {
	background-color: #f2f2f2;
}

.cinza {
	background-color: #303137;
	color: #fff;
}

.cinza_escuro {
	background-color: #28292d;
	color: #fff;
}

.cinza, .cinza_escuro, .cinza_escuro h2, .cinza h2 {
	color: #fff;
}

.cinza a, .cinza_escuro a {
	color: #cccccc;
	font-weight: normal;
}

.cinza_escuro a:hover, .cinza a:hover {
	color: #5e5e5e;
	text-decoration: none;
}


/******** TEMPLATE PARTES **********/
.semi_black{ background-color: #2a2b30;}
.medium_black{ background-color: #303137;}
.gray{ background-color: #f2f2f2;}
.white{ background-color: #ffffff;}
.blue{ background-color: #00aeef;}


