@media only screen and (min-width : 767px) {

	/*.servicos-cielo h2 {
		padding: 20px 0 0;
	}*/

	.carousel-mobile ul {
		margin-top: 15px;
	}

	.paginacao-carousel-servicos-desk {
		margin-top: 0;
	}

	.bt-conheca-opcoes {
		margin-top: 20px;
		margin-bottom: 30px;
	}

}