

.hard-debug, .hard-debug * {
	border: 1px red solid;
}

.produtos {
	background-color: #f2f2f2;
}

.promocao {
	position: relative;
	width: 940px;
	margin: 0 auto;
	height:0;
}

.flipbox{
	width: 314px;
	height: 90px;
	top: 0;
	right: 0;/**/
	position: absolute;
	z-index: 2;
}

.flipbox div{
	
	position:relative;
	height:90px;
}

.anima-03{
	overflow: hidden;
}

.anima-03 h4{
	position:relative;
	height:90px;
	
	perspective-origin: 50% 0%;
	-webkit-perspective-origin: 50% 0%; /* Safari and Chrome */
	
	transform-origin:center top;
	-ms-transform-origin:center top; /* IE 9 */
	-webkit-transform-origin:center top; /* Safari and Chrome */

	transition: all 1s;
	-webkit-transition: all 1s;
	margin: 0;

}

.comece-por-aqui .help-block{
    position: absolute;
    z-index: 0;
    visibility: hidden;
}

.comece-por-aqui .simple-form select{
    position: absolute;
    z-index: 0;
    visibility: hidden;
    display: block !important;
}

.comece-por-aqui .simple-form .has-error  label,
.comece-por-aqui .simple-form .has-error .radio-box,
.comece-por-aqui .simple-form .has-error .ui-selectmenu-status{
    color: #3e249f;
}

.comece-por-aqui .simple-form .has-error input,
.comece-por-aqui .simple-form .has-error textarea,
.comece-por-aqui .simple-form .has-error  .ui-selectmenu {
    border: 2px solid #3e249f;
}

.prev-depoimento-page, 
.next-depoimento-page{
	width:28px;
	height: 28px;
	display:inline-block;
	position:relative;
	top: 8px;
	margin:0 8px;
}

.prev-depoimento-page{
	background: url(../../images/icons/ico-seta-prev-28x28.png) no-repeat center bottom;
}

.next-depoimento-page{
	background: url(../../images/icons/ico-seta-next-28x28.png) no-repeat center bottom;
}

.promocao a {
	/*display: block;
	width: 314px;
	height: 90px;
	/*background: url(../../images/home/solicite-ganhe.jpg) no-repeat center center;*/
	
}

.banner {
    background: #303137;
}

.banner .content {
	width: 100%;
	min-width: 940px;
}
.banner .swiper-slide, .banner .slider-banner{
	position: relative;
	margin: 0 !important;
    height: 515px;
}

.banner .swiper-slide {
	overflow: hidden;
}

.banner .swiper-slide img.bg {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -800px;
	z-index: 1;
}

.banner .swiper-slide .conteudo {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.banner .swiper-slide .conteudo img {
	position: absolute;
	left: -125px;
	bottom: 0;
}

.banner .swiper-slide .conteudo p {
	width: 475px;
	float: right;
	color: #fff;
}

 .banner .secundaria {display: none;}

.banner .swiper-slide .conteudo .titulo-banner {
	margin-top: 165px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.banner .swiper-slide .conteudo .titulo-banner a{
    color: #fff;
    font-family: "museo300", Arial, Helvetica, Sans-serif;
    font-weight: 100;
      text-decoration: none;
}

.banner .swiper-slide .conteudo .subtitulo-banner {
	font-size: 45px;
	line-height: 50px;
	margin-top: 15px;
}

.banner .swiper-slide .conteudo .subtitulo-banner a{
    color: #fff;
    font-family: "museo300", Arial, Helvetica, Sans-serif;
    font-weight: 100;
    text-decoration: none;
}

.banner .swiper-slide .conteudo .subtitulo-sub {
	margin-top: 15px;
}

.banner .swiper-slide .conteudo .subtitulo-sub a{
    color: #fff;
    font-family: "museo300", Arial, Helvetica, Sans-serif;
    font-weight: 100;
      text-decoration: none;
}


.banner, .banner .swiper-slide, .banner .slider-banner, .swiper-slide .conteudo {
    height: 515px;
}

.slider-banner .swiper-slide .conteudo p{
	position:relative;
}




.banner .pagination-content {
	width: 885px;
	margin: 0 auto;
	margin-top: -51px;
	position: relative;
	z-index: 2;
	padding-left: 55px;
}

.banner .prev-item,  .banner .next-item {
	width: 19px;
	height: 34px;
	position: absolute;
	top: -240px;
}

.banner .prev-item {
	background: url(../../images/icons/seta-banner-prev.png) no-repeat center center !important;
	left: 0;
}

.banner .next-item {
	background: url(../../images/icons/seta-banner-next.png) no-repeat center center !important;
	right: 0;
}

.banner .next-item:hover {
	background: url(../../images/icons/seta-banner-next-hover.png) no-repeat center center !important;
}

.banner .prev-item:hover {
	background: url(../../images/icons/seta-banner-prev-hover.png) no-repeat center center !important;
}

.swiper-slide .conteudo {
	position: relative;
	z-index: 2;
}

.banner .swiper-pagination-switch {
	width: auto;
	background-position: left center;
	color: #fff;
	opacity: 0.6;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 15px;
	font-size: 12px;
}

.banner .swiper-pagination-switch.swiper-active-switch{
	color: #fff;
	opacity: 1;
}

.banner .swiper-pagination-switch + .swiper-pagination-switch {
	margin-left: 15px;
}

.produtos .box .bt {
	position: absolute;
	left: 62px;
	bottom: 62px;
}

.produtos .content {
	background: transparent url(../../images/home/bgMapa.png) no-repeat right 304px;
	height: 993px;
}
.comece-por-aqui {
    width: 316px;
    height: 393px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -90px;
    background-color: #fff;
}

.comece-por-aqui .header {
    padding: 33px 71px 34px;
    width: 174px;
    font-size: 18px;
    z-index: 10;
    position: relative;
    z-index: 2;
}

.comece-por-aqui .header a{
    font-weight:  100;
    color:#fff;
    font-family: "museo300", Arial, Helvetica, Sans-serif;
    text-decoration: none;
}

.comece-por-aqui .inFieldWrapper label {
	cursor: inherit;
}

.comece-por-aqui .box-acesse-sua-conta{
	padding: 28px 25px 0 25px;
}

.comece-por-aqui .box-acesse-sua-conta ul{
	padding: 0 16px 12px 16px;
}

.comece-por-aqui .box-acesse-sua-conta ul li{
	padding: 3px 0 3px 25px;
	background: transparent url(../../images/icons/bullet-checklist.gif) no-repeat 0 4px; 
}

.comece-por-aqui .box-acesse-sua-conta .bt{
	margin-left:69px;
}

.comece-por-aqui .box-acesse-sua-conta .box-acesse-sua-conta-footer{
	text-align:center;
	padding-top: 18px;
}

.form-comece {
	padding: 40px 0 0 30px;
}

.form-comece .bt {
	margin-top: 30px;
}

.receber-pagamentos {
	width: 940px;
	height: 303px;
}

.receber-pagamentos h2 {
	width: 240px;
	height: 133px;
	float: left;
	margin-left: 37px;
	margin-top: 80px;
	white-space: pre-line;
	font-size:30px;
}

.receber-pagamentos h4.font46{
	font-size: 46px;
	line-height: 1.3;
}

.receber-pagamentos h2.font46{
	font-size: 46px;
	line-height: 1.3;
}


.img-iphone {
	background: url(../../images/home/imgIphone.png) no-repeat center center;
	width: 176px;
	height: 351px;
	left: 380px;
	top: 37px;
	position: absolute;
	z-index: 1;
}
.pdv-mobile {
	width: 940px;
	clear: both;
}


.produto-mobile {
	margin: 0 0 1px 1px;
}

.e-commerce {
	margin-left: 313px;
}

.produtos .pdv {
	background: url(../../images/icons/ico-maquina22x47_cinza.png) no-repeat 260px 30px;
}
.produtos .produto-mobile {
	background: url(../../images/icons/ico-mobile28x46_cinza.png) no-repeat 256px 30px;
}
.produtos .e-commerce {
	background: url(../../images/icons/ico-ecommerce45x37_cinza.png) no-repeat 237px 30px;
}

.produtos .ico-estrela {
	background: url(../../images/icons/ico-estrela-30x30.png) no-repeat 260px 30px;
}


.produtos .box {
	background-color: #fff;
	width: 250px;
	height: 215px;
	padding: 86px 0 0  62px;
	float: left;
	z-index: 2;
	position: relative;
}

.produtos .box p {
	font-family: "museo-sans";
	color: #5e5e5e;
	white-space: pre-line;
}
.produtos .box h4,
.produtos .box h3 {
	font-size: 25px;
	color: #000;
}

.img-maquina {
	background: url(../../images/home/imgMaquina.png) no-repeat center center;
	width: 260px;
	height: 380px;
	position: absolute;
	left: 35px;
	bottom: 0;
}

.img-ipad {
	background: url(../../images/home/imgIpad.png) no-repeat bottom center;
	width: 585px;
	height: 370px;
	position: absolute;
	right: -126px;
	bottom: 0;
}

.servicos-cielo h2 {
	padding: 68px 0 0 0;
	width: 520px;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 35px;
}

.carousel-mobile ul {
	margin-top: 43px;
}
.carousel-mobile ul > li {
	width: 220px;
	float: left;
	display: block;
	/*text-align: center;*/
}

.carousel-mobile ul > li img {
	margin: 0 auto;
	display: block;
	margin-bottom: 25px;
}

.carousel-mobile ul > li img.ico-Cybersource{
    margin-top:15px;
	display:none;
}

.itens-servicos > li h5, 
.itens-servicos > li h3{
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
/*	text-align: center;*/
}

.carousel-mobile ul > li p {
	margin-top: 13px;
	padding-left: 20px;
	/*text-align: center;*/
}

.carousel-mobile ul li ul {
	display: inline-block;
	margin-top: 25px;
	padding-left: 20px;
}

.bt-conheca-opcoes {
	display: block;
	width: 170px;
	margin: 40px auto 150px auto;
}

.bt-conheca-position {
	bottom: 50px!important;
}

.banner-meio h2{
	font-size: 40px;
	color: #fff;
}

.img-banner-meio {
	display: block;
	float: left;
	margin-top: -54px;
	margin-right: 76px;
}

#right-content {
	display: table-cell;
	height: 305px;
	vertical-align: middle;
}

#right-content .bt {
	margin-top: 25px;
}

.nada-supera {
	background-color: #f2f2f2;
}
.nada-supera .content {
	padding: 70px 0 95px 0;
}

.nada-supera h3 {
	color: #000;
	display: block;
	width: 540px;
	margin: 0 auto;
	text-align: center;
	font-size: 33px;
}

.nada-supera .carousel-mobile p {
	text-align: center;
}

.depoimentos .content {
	min-width: 940px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden !important;
	display: block;
	height: 570px;
	position: relative;
}
.carousel-depoimentos li  {
	width: 470px;
	height: 570px;
	float: left;
	display: block;
}

.carousel-depoimentos .bg-depoimento {
	width: 390px;
	height: 500px;
	padding: 0 40px 70px 40px;
	background: no-repeat center center;
	display: block;
	vertical-align: bottom;
	color: #fff;
	position: relative;
}

.carousel-depoimentos .bg-depoimento img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.txt-depoimento {
	font-size: 25px;
	font-family: "museo300", Arial, Helvetiva, Sans-Serif;
	bottom: 135px;
}

.txt-autor-depoimento {
	font-weight: bold;
	bottom: 90px;
}

.txt-descricao-depoimento {
	bottom: 70px;
}

.txt-depoimento, .txt-autor-depoimento, .txt-descricao-depoimento {
	position: absolute;
	z-index: 2 !important;
	width: 390px;
}


.depoimentos .pagination-content {
    display: block !important;
    width: 100% ;
    bottom: 30px ;
    text-align: center ;
    position: absolute ;
    z-index: 1;
}
.depoimentos .pagination-content .swiper-pagination-switch {
    display: inline-block ;
    float: none ;
}

.depoimentos .pagination-content .swiper-visible-switch{
	display: none;
}

.depoimentos .pagination-content .swiper-active-switch{
	display: inline-block ;
}


.carousel-servicos ul .swiper-slide + .swiper-slide, .carousel-nada-supera ul .swiper-slide + .swiper-slide {
	margin-left: 20px;
}

.carousel-servicos .swiper-slide {
	width: 240px;
	margin: 0 !important;
	height: auto !important;
}

.carousel-servicos .swiper-slide .content-slider  {
	width: 220px !important;
	margin: 0 auto;
}

.carousel-servicos .swiper-slide .content-slider:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}

footer {
    border-top: 10px solid #1fb2ee;
}


.fundo_transparente{
	background: transparent;
}

.paginacao-carousel-servicos-desk .prev-item,
.paginacao-carousel-servicos-desk .next-item {
	float: left;
	text-indent: -500px;
	overflow: hidden;
	width: 28px;
	height: 28px;
}

.paginacao-carousel-servicos-desk .prev-item {
	background: url(../../images/icons/ico-seta-prev-28x28_azul.png) no-repeat;
}

.paginacao-carousel-servicos-desk .next-item {
	background: url(../../images/icons/ico-seta-next-28x28_azul.png) no-repeat;
}

.paginacao-carousel-servicos-desk ul {
	margin: auto;
	width: 266px;
}

.paginacao-carousel-servicos-desk .pagination {
	margin: 0 10px;
}

.paginacao-carousel-servicos-desk .pagination span {
	float: left;
	width: 10px;
	height: 10px;
	margin: 10px 6px 0 0;
	background: url(../../images/icons/ico-paginacao-off-10x10_cinza.png) no-repeat;
}

.paginacao-carousel-servicos-desk .pagination span.swiper-active-switch {
	background: url(../../images/icons/ico-paginacao-on-10x10_cinza.png) no-repeat;
}

.paginacao-carousel-servicos-desk .pagination span {
	float: left;
	width: 10px;
	height: 10px;
	margin: 10px 6px 0 0;
	background: url(../../images/icons/ico-paginacao-off-10x10_cinza.png) no-repeat;
}

.paginacao-carousel-servicos-desk.fundo_branco {
	background: #fff;
}

.paginacao-carousel-servicos-desk.transparente {
	background: transparent;
}

.paginacao-carousel-servicos-desk .prev-item,
.paginacao-carousel-servicos-desk .next-item {
	float: left;
	text-indent: -500px;
	overflow: hidden;
	width: 28px;
	height: 28px;
}

.paginacao-carousel-servicos-desk ul {
	margin: auto;
	width: 266px;
}

.paginacao-carousel-servicos-desk .pagination {
	margin: 0 10px;
}

.paginacao-carousel-servicos-desk {
	background: #fff;
	position: relative;
	width: 940px;
	display: block;
	height: 28px;
	margin-top: 50px;
}

.paginacao-carousel-servicos-desk .inline-list {
	width: auto !important;
	text-align: center;
	display: table;
}

.paginacao-carousel-servicos-desk .inline-list li {
	display: inline !important;
}


/* tutorial */
.tutorial-minha-conta{
	background: #00a7ec;
	position:absolute;
	right: 0;
	top: 104px;
	z-index:999;
	width:314px;
}

.tutorial-minha-conta .tutorial-content{
	padding: 29px 52px 0 52px;
}

.tutorial-minha-conta .tutorial-content p{
	color: #fff;
	padding-bottom: 32px;
}

.tutorial-minha-conta .tutorial-content p.tc{
	text-align:center;
}

.tutorial-minha-conta .bg-marcacao{
	display:block;
	width: 21px;
	height: 10px;
	position:relative;
	top:-10px;
	left:186px;
	background: url(../../images/icons/bg-marcacao.png) no-repeat;
}

.tutorial-minha-conta .tutorial-content p.tc a{
	text-decoration: none;
	font-weight: 100;
}

.tutorial-minha-conta .tutorial-content p .ico-fechar{
	display: inline-block;
	width:28px;
	height: 28px;
	background: url(../../images/icons/ico-fecharmodal-28x28.png) no-repeat;
	margin-left: 5px;
	position:relative;
	top: 8px;
	
}

.tutorial-minha-conta .tutorial-content p .ico-fechar:hover {
	background-image: url(../../images/icons/hoverFecharModal.png);
}

.tutorial-minha-conta .tutorial-content p a{
	text-decoration:underline;
	color: #fff;
	font-weight:bold;
}

.tutorial-minha-conta .tutorial-content p strong{
	font-weight:bold;
}

.paginacao-carousel-depoimentos a{
	display: inline-block !important;
}

footer .mapa .content div.dropboxBlock{
	display: none;
    float: inherit;
    width: auto;
}

@media only screen and (max-width : 1060px) { 
    .img-ipad{
        right: 0;
    }
    
}
 
    @media only screen and (max-width : 767px) { 
 
   
   	.footer-fix {
   		display: none !important;
   	}
  

  	body, html {
  		width: 640px !important;
  		margin: 0 !important;
  		padding: 0 !important;
  	}

	.infoBannerMobile{
		position: absolute;
		top:0;
		width: 540px;
		height: 628px;
		padding: 0 50px;
	}

	.boxInfoBannerMobile{
		margin-top: 206px;
	}

	.boxInfoBannerMobile p{
		text-transform: uppercase;
		font-family: "museo700";
		font-size: 25px;
		color: #fff;
	}
	
	.boxInfoBannerMobile p a,
	.boxInfoBannerMobile h2 a{
		color:#fff;
		font-family: "museo700";
		font-weight: 100;
		text-decoration: none;
	}
	
	

	.boxInfoBannerMobile h2{
		margin-top: 15px;
		font-size: 55px;
		color: #fff;
	}

    .banner {
       /* background: #303137 url(../../images/static/banner/01_mobile.jpg) no-repeat center center;*/
        height: 628px;
    }

    .promocao {
    	display: none;
    }

    .comece-por-aqui {
    	margin-top: 546px;
    	width: 640px;
    	height: 735px;
    }
	
	.comece-por-aqui .box-acesse-sua-conta ul li{
		font-size:28px;
		background: url(../../images/icons/bullet-checklist.gif) no-repeat 0 18px;
		padding: 10px 0 10px 25px;
	}
	
	.comece-por-aqui .box-acesse-sua-conta .bt{
		margin-left: 0;
		width: 520px;
	}
	
    .comece-por-aqui .header {
    	width: 540px;
		padding: 48px 50px;
		font-size: 34px !important;
		height: 60px;
		font-family: "museo-sans";
    }
	
	.produtos .content {
		background: transparent url(../../images/home/bgMapa_mobile.png) no-repeat right top;
		height: 1286px;
	}

	.receber-pagamentos h2 {
		white-space: normal;
		font-size: 50px;
		margin: 50px 80px;
		width: 480px;
		line-height: 50px;
		height: auto;
	}

	.produtos .box {
		width: 177px;
		height: 176px;
		padding: 0;
		background-color: #fff !important;
	}
	
	.receber-pagamentos h2.font46{
		font-size: 68px;
		padding-top: 45px;
		text-align: center;
	}

	.produtos .box a, .produtos .box p {
		display: none;
	}
	.produtos .pdv-mobile {
		float: left;
		width: 356px;
		margin-left: 50px;
	}
	.produtos .box h4,
	.produtos .box h3{
		width: 177px;
		text-align: center;
		position: absolute;
		bottom: 15px;
		font-size: 20px;
		font-weight: bold;
		line-height: 17px;
	}
	
	.produtos .box h4 span, .produtos .box h3 span{
		font-weight: bold;
	}
	
	

	.produtos .pdv {
		background: url(../../images/icons/ico-maquina22x47_cinza_mobile.png) no-repeat 71px 34px;
	}

	.produtos .produto-mobile {
		background: url(../../images/icons/ico-mobile28x46_cinza_mobile.png) no-repeat 72px 46px;
	}

	.produtos .e-commerce {
		background: url(../../images/icons/ico-ecommerce72x59_cinza_mobile.png) no-repeat 52px 49px;
		float: left;
		margin: 0;
	}

	.ico-seta-baixo {
		display: block;
		background-position: center center;
		position: absolute;
		width: 26px;
		height: 16px;
		right: 50px;
		top: 75px;
	}

	.comece-por-aqui .bt {
		display: block;
		width: 540px;
		margin-top: 70px;
	}

	.servicos-cielo h2 {
		padding: 0;
		margin: 0;
		font-size: 45px;
		display: block;
		margin: 90px auto 0 auto;
	}

	.servicos-cielo .swiper-container,
	.servicos-cielo .swiper-container .swiper-wrapper,
	.servicos-cielo .swiper-container .swiper-wrapper .swiper-slide  {
		height: 1100px !important;
	}

	.servicos-cielo .content {
		height: 1300px;
	}

	.servicos-cielo .paginacao-carousel-servicos{
		/*bottom: 180px !important; */
		bottom: 150px !important;
	}

	.servicos-cielo .bt-conheca-opcoes {
		position: absolute;
		bottom: 170px;
		margin: 0;
		left: 0;
		width: 450px;
		display:  none;
	}
	
	.servicos-cielo .no-position-2 {
		position:inherit;
		margin: 0 0 60px 62px;
	}
	
	.servicos-cielo h5 {
		width: 540px;
		padding: 25px 50px;
		font-size: 40px;
		font-weight: bold;
		font-family: "museo300", Arial, Helvetiva, Sans-Serif;
		display: block !important;
		height: auto !important;
		white-space: pre-line;
	}
	
	.itens-servicos > li h3{
		width: 540px;
		margin:25px 75px;
		padding: 0;
		font-size: 40px;
		font-weight: bold;
		font-family: "museo300", Arial, Helvetiva, Sans-Serif;
		display: block !important;
		height: auto !important;
		white-space: pre-line;
		text-align: left;
	}

	.itens-servicos > li p{
		padding: 0 75px !important;
	}

	.servicos-cielo p {
		font-size: 28px;
		display: block;
		width: 540px;
		margin: 0 !important;
		padding: 0 50px;
		white-space: pre-line;
		line-height: 32px;
		font-family: "museo-sans",  Arial, Helvetiva, Sans-Serif;
		font-weight: normal !important;
		text-align:center;
	}
	.servicos-cielo .simple-link-list {
		width: 540px;
		margin: 50px 25px 0 75px;
		padding: 0;
	}
	.servicos-cielo .simple-link-list li {
		width: 540px;
		display: inline-block;
	}

	.servicos-cielo .simple-link-list li a {
		font-family: "museo-sans",  Arial, Helvetiva, Sans-Serif;
		font-size: 30px;
		font-weight: normal;
	}
	
	.banner-meio {
		background: url(../../images/home/bgBanner_mobile.jpg) no-repeat center center;
		width: 640px;
		height: 854px;
	}
	.banner-meio .content {
		width: 640px;
		height: 854px;
		position: relative;
	}


	.img-banner-meio {
		margin: 0;
		position: absolute; 
		bottom: 0;
		left: 25px;
	}

	.banner-meio h3, 
	.banner-meio h2{
		font-size: 45px;
		width: 540px;
		margin-left: 50px;
		margin-top: 60px;
	}

	.banner-meio p {
		font-size: 28px;
		line-height: 32px;
		width: 540px;
		margin-left: 50px;
	}

	.banner-meio .bt {
		margin-top: 45px !important;
		width: 540px;
	}

	.banner-meio h3, .banner-meio h2, .nada-supera h3 {
		font-size: 45px;
		width: 540px;
		margin-left: 50px;
		margin-top: 32px;
	}

	.nada-supera h3 {
		white-space: normal;
	}

	.banner-meio p {
		width: 540px;
		margin-left: 50px;
	}

	.banner-meio .bt {
		margin: 45px 45px;
		width: 470px !important;
	}

	.nada-supera p {
		white-space: pre-line;
		font-family: "museo-sans";
		padding-top: 20px;
	}

	.nada-supera .swiper-container, 
	.nada-supera .swiper-wrapper, 
	.nada-supera .swiper-slide {
		height: 530px !important;
	}

	.depoimentos .swiper-container, 
	.depoimentos .swiper-wrapper, 
	.depoimentos .swiper-slide {
		height: 780px !important;
	}

	.depoimentos .txt-depoimento, 
	.depoimentos .txt-autor-depoimento, 
	.depoimentos .txt-descricao-depoimento {
		margin: 15px 0;
		padding: 0;
		width: 540px;
	}

	.depoimentos .txt-depoimento {
		width: 540px;
		font-size: 30px;
		bottom: 220px;
	}
	.depoimentos .txt-autor-depoimento {
		bottom: 100px;
	}
	.depoimentos .content {
		width: 640px;
		min-width: 640px;
		max-width: 640px;

	}
	.depoimentos .bg-depoimento {
		width: 560px;
		height: 500px;
	}

	.carousel-depoimentos {
		margin: 0;
	}
	.carousel-servicos ul li + li, .carousel-nada-supera ul li + li {
		margin-left: 0 !important;
	}
	
	.itens-carousel-depoimentos{
	}

	.depoimentos .pagination-content {
		bottom: 10px;
	}

	.banner .content {
		width: 640px;
		min-width: 640px;
	}

    .banner .pagination-content .swiper-pagination-switch, .depoimentos .pagination-content .swiper-pagination-switch {
        background: url(../../images/icons/ico-paginacao-off-30x30.png) no-repeat center center !important;
    }

    .depoimentos .pagination-content .swiper-visible-switch, 
    .depoimentos .pagination-content .swiper-active-switch, 
    .banner .pagination-content .swiper-visible-switch, 
    .banner .pagination-content .swiper-active-switch {
        background: url(../../images/icons/ico-paginacao-on-30x30.png) no-repeat center center !important;
    }

    .banner .content, .banner .swiper-wrapper, .banner .swiper-container, .banner .swiper-slide  {
    	height: 628px !important;
    	position: relative;
    }

    .banner .pagination-content {
    	width: 640px;
    	margin:-30px 0 0 0;
    	padding: 0;
    }

    .banner .pagination-content .swiper-pagination-switch {
    	padding: 0;
    	width: 30px;
    }

    .banner .swiper-slide .conteudo {
    	width: 640px;
    	float: none;
    	position: absolute;
    	z-index: 666;
    	top: 0;
    	left: 0;
    	height:540px;
    }

    .banner .swiper-slide .conteudo > p {
    	width: 550px;
    	padding: 0 50px;
    	margin: 0 !important;
    	position: absolute;
    	bottom: 0;
    }

    .banner .swiper-slide .conteudo .titulo-banner {
		font-size: 25px;
    	bottom: 105px;
    }
    .banner .swiper-slide .conteudo .subtitulo-banner {
    	font-size: 50px;
    	line-height: 50px;
    }

    .banner .swiper-slide .conteudo .subtitulo-sub {
    	display: none;

    }

    .banner .secundaria {display: none;}
	
	
	/* tutorial */
	.tutorial-minha-conta{
		top:144px;
		width:514px;
		right:0;
	}
	
	.tutorial-minha-conta .bg-marcacao{
		left:437px;
	}
	
	.paginacao-carousel-depoimentos a{
		display: none !important;
	}

	.carousel-mobile ul > li p {
		/*padding-left: 75px;*/
		padding: 0 40px;
		text-align: left;
	}

	
	
	.carousel-mobile ul > li img{
		/*
        width: 390px;
		height: 390px;
        */
	}
        
    .servicos-cielo .carousel-mobile ul > li img{
		
        width: 390px;
		height: 390px;
        
	}
       

}

.simple-link-list  li a{
	text-decoration: none;
}

.simple-link-list li a:hover {
    text-decoration: underline;
}

.video-depoimento{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 666;
}



.footer-fix {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #28292d;
	z-index: 3;
	border-top: 0;
	display: none;
}