html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, del, dfn, img, ins, q, strong, em, sub, sup, strike, big, small, font, i, b, u, center, tt, /* <-- try not to use these tags, these are here only to avoid troubles */ cite, code, var, kbd, samp, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, select, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border:0;
	font-weight:normal;
	font-style:normal;
	font-size:100%;
	margin:0;
	padding:0;
	outline:0;
	vertical-align:baseline;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, del, dfn, img, ins, q, strong, em, sub, sup, strike, big, small, font, i, b, u, center, tt, /* <-- try not to use these tags, these are here only to avoid troubles */ cite, code, var, kbd, samp, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  background:transparent;
}
input, textarea, select {
}
/**
 * @note		HTML5 display-role
 * @css-for		older browsers
 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height:1;
}
li {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content:none;
}
a {
	text-decoration:none;
}
a img {
	border:none;
}
/**
 * Remember to define focus styles
 */
:focus {
	outline:0;
}