.tzCube {overflow: hidden; position: relative; bottom: -22px; width: 120px;}
.hdrTopRightLinksWrapper { background: #c5c8cb; }
.zoneMerchTop { background: #3c3c3c; }
.globalNavWrapper {overflow:hidden;}
.globalNavWrapper a, #linksCube {width:900px; height:45px;margin:0 auto;display:block;position:relative;}
#linksCube img { width: 100%; height: 100%; }