fieldset.envieMsgCaptalizacao .line {
    margin:20px 0 0 0;
    float: left;
    width: 80%;
}
fieldset.envieMsgCaptalizacao legend {
    font-weight: bold;
    margin: 10px 0 15px 0;
}
.visibility-hidden{
	visibility:hidden;
	overflow:hidden;
	position:absolute;
	height:0;
}

.prodRelac .txtDest a.underlineNone{
	text-decoration: none;
}
.catDestaque .txtDest a.underlineNone{
	text-decoration: none;
}

.impressao-li{
	padding: 0 0 0 0 !important;
}

.contentAllInt .simuEtapa .simuEtapaCont .etapa form .divSimPrev { width: inherit; margin: 30px 0; }
.contentAllInt .simuEtapa .simuEtapaCont .etapa form .divSimPrev p { float: left; }

.contentAllInt .simuEtapa .simuEtapaCont .etapa .rentform1{ width: inherit; margin: 15px 0; }
.contentAllInt .simuEtapa .simuEtapaCont .etapa .rentform1 p{ float: left; }
.contentAllInt .simuEtapa .simuEtapaCont .etapa .rentform2{ width: inherit; margin-top: 30px; float: left; }
.contentAllInt .simuEtapa .simuEtapaCont .etapa .rentform2 p{ float: left; }
.contentAllInt .simuEtapa .simuEtapaCont .etapa .rentform3{ width: inherit; margin-top: 30px; float: left; }
.contentAllInt .simuEtapa .simuEtapaCont .etapa .rentform3 p{ float: left; }

.contentAllInt .simuEtapa .simuEtapaCont .formSimPerfil .btnOk { float: inherit !important; margin: 45px 0 0 0 !important; }

.contentAllInt .filtros .content .formato1 span {float: left; margin-right: 45px;}
.simulador-formato1-fieldset { float:none !important; left; margin-right: 0 !important; }
.simulador-formato1-checkbox {margin: 19px 5px 0 0 !important; float: left !important;}

.contentAllInt .filtros .content .formato1 fieldset .checkfiltros { float:left !important; margin: 18px 5px 0 0 !important; }
.contentAllInt .simulador .simuTira .seta .setaMiolo .tiratextBottom { margin: 25px 0px 0px 12px; color:#fff;  }
.contentAllInt .prodRelac a.underlineNone { text-decoration: none !important; }

.contentAccordion .spanAccordio {border-bottom: 1px solid #bdbdbd; display: block; padding: 5px 16px; margin: 0px 0px 13px 0px; text-align: center;}
.contentAccordion .liAccordioOne { border-bottom: 1px solid #bdbdbd; display: inline; padding: 5px 20px !important; margin-left:120px !important; }
.contentAccordion .liAccordio {border-right: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd; display: inline; padding: 5px 20px !important; }
.contentAccordion .liAccordioLast {border-bottom: 1px solid #bdbdbd; display: inline; padding: 5px 20px !important; }
.contentAccordion .ulAccordio {margin:0 0 20px 120px !important;}
.contentAccordion .ulAccordioMax {margin:0 0 20px 12px !important;}