@CHARSET "UTF-8";
div.module_btn#blog_module_btn_prev{
    margin:0;
}
div.module_btn#blog_module_btn_next{
    bottom: 0;
    * padding-bottom: 4px;
    float: left;
    margin:0;
}
div.module_btn#blogViewallBtn{
    bottom: 0;
    * padding-top: 4px;
    * padding-bottom: 4px;
    float: left;
}
div.blog_modal_btn{
    padding:0;
    margin:0;
}
#blog_prevArrow { /*IE fix*/
    * position:absolute;
    * top:9px;
    * left:5px;
}
#blog_nextArrow { /*IE fix*/
    * position:absolute;
    * top:8px;
    * left:46px;
}
#blog_viewallArrow { /*IE fix*/
    * position:absolute;
    * top:7px;
    * margin-top:3px;
    * left:60px;
}
.modal_left_btn {
    background: url("../../images/btn_ic_gray_left.jpg") no-repeat;
    width: 12px;
    height: 10px;
    float: left !important;
    right: auto !important;
    left: 2px;
}
.modal_right_btn {
    background: url("../../images/btn_ic_gray_right.jpg") no-repeat;
    width: 12px;
    height: 10px;
}
.blog_modal_btn{
   position: absolute;
   left: 5px;
   bottom: 7px;
}
.blog_modal_btn#blogNext{ /*IE fix*/
   * left: 70px;
}
.blog_btn {
    position: absolute;
    bottom: 7px;
    right: 5px;
}
.blogViewall .module_btn:hover{
   background: #ff6633;
}
.blog #blog_viewallArrow{
    top:3px;
}
.parsys_column .blog .platebg{
    height:358px !important;
}

.blog {
    float: left;
    height:100% !important;
    width:297px !important;
    margin-left:10px;
    top:-3px !important;
    padding-bottom:0px !important;
}

.blogtitle {
    margin-top:2px;
}

.blogtitle p{
    margin-top: 10px !important;
    float:left;
    padding-left:5px !important;
}

.bloglink{
    margin:10px 10px 5px 10px;
    max-height:30px;
    overflow:hidden;
    position:relative;
    float:left;
    width: 283px;
}

.bloglink a{
    font-size:11px !important;
    font-family:Helvetica,Arial,sans-serif !important;
    position:relative;
    max-height:30px;
    overflow:hidden;
    padding:0px;
    margin:0px;
    float:left;
}

.blog .headericon {
    padding-right:10px;
    top:10px;
    float:left;
}
.blog .blogtitle a.viewAll {
    color: #fff;
    font-size: 11px;
    float: right;
    margin: 10px;
}
.blog .blogtitle a.viewAll:hover {
    color: #ffdf9b;
}
.blog p{
    margin-top:4px;
    padding-left:20px;
    float:left;
}

.blogtitle {
    font-weight: bold;
}

.blogpaginationpage {
    float: left;
    width: 100%;
}

.blogdescription {
    padding:0px 10px 0px 10px;
    font-size:10px;
    font-family:Helvetica,Arial,sans-serif;
    color:#333333;
    max-height:15px;
    overflow:hidden;
    position:relative;
    float:left;
    width:100%;
}

.blogdescription div{
    position:relative;
    max-height:15px;
    overflow:hidden;
    float:left;
    width: 283px;
}   

.blogcreatedtime {
    color: #999999;
    margin:2px 10px 8px 10px;
    font-size:9px;
    position:relative;
    float:left;
}

.blogcontent{
    float:left;
    position:relative;
    height:328px;
    width:298px;
    margin-top:-4px;
}

.blog_modal_btn .module_btn .btnlabel {
    color:#AFAFAF;
}

#blogNext{
    margin-left:3px;
    left:87px;
}

#blogViewallBtn{
    margin-left:-12px;
}

.blogpaginationprevnext {
    float: left;
}

.blogpaginationprev {
    border-style: none;
    background-image: url('../../images/prevBtn.png');
    width: 66px;
    height: 26px;
}
.blogpaginationnext {
    border-style: none;
    background-image: url('../../images/nextBtn.png');
    width: 65px;
    height: 26px;
}

.blogViewall{
    float:left; 
}

.blogViewall .btnlabel{
    color:#ff6200;
}

.blogViewall .btnaction {
    background: url(../../images/btn_ic_newwindow_right.jpg) no-repeat;
    width: 13px;
    height: 11px;
}

.blogpaginationfollow {
    float: right;
    
}

.blogpaginationpage .dottedHozLine{
    margin-left:10px;
    width:278px;
    position:relative;
}

.blogpaginationsubscribelink {
    height: 26px;
    border-style: none;
    background-image: url('../../images/button_bg_white_right.png');
    margin-right: 7px;
    padding-top: 4px;
}

.lineitem_blog {
    left: 0px;
    height: 60px;
    overflow: hidden;
}

.blogdescription br{
    display:none;
}

.blogdescription a{
    font-size:10px;
}

.headerbg_orange {
    border: 1px #ffe09c solid;
    background: url("../../images/orange.gif") 0 0 repeat-x;
    border-radius:5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    width:300px;
    color:#ffffff;
    height:35px;
    float: left;
    vertical-align: middle;
    margin-left:-2px;
}

.module_btn:hover #blog_ViewallLabel {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.module_btn:hover #blog_viewallArrow {
    background:url("../../images/new_window_icon.gif") no-repeat;
}

.blognews{
  margin-left:2px;
}
.dottedHozLine{
    margin-left: 10px;
    width: 278px;
    position: relative;
    float: left;
    height: 1px;
    background-color: transparent;
    background-image: url("../../images/dottedHozLine.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 0% 0%;
} 