/* color settings */
.playerBox_gsvb div.alldone_gsvb        { color : #0000cc; }
.playerBox_gsvb a.title_gsvb            { color : #0000cc; }

.playerBox_gsvb div.alldone_gsvb:hover  { color : #0000cc; }
.playerBox_gsvb a.title_gsvb:hover      { color : #0000cc; }
.resultsBox_gsvb div.resultDiv_gsvb     { border-color : #676767; }
.floatingPlayerBox_gsvb,
.floatingPlayerBox_gsvb *               { background-color : #ffffff; }
.floatingPlayerBox_gsvb                 { border : 1px solid #f0f0f0; }
                                        }
.floatingPlayer_gsvb                    { background-color : #ffffff; }

/*
 * The Player Box
 * - visible while playing
 * - collapsed while idle
 */
.playerBox_gsvb {
  display : block;
  margin-top : 4px;
  margin-bottom : 4px;
  margin-left : 10px;
  margin-right : 10px;
  text-align : center;
}

/**
 * Floating Player Box:
 *
 * note: top, left, z-index, height, width
 * are set in code. Limit your styling to color/opacity
 * Note the z-index of floatingPlayer should be one
 * higher than the z-index of the floatingPlayerBox.
 * Adjust as needed on sites with crazy layering.
*/
.floatingPlayerBox_gsvb {
  position : absolute;
  opacity : 0.90;
  -moz-opacity : 0.90;
  filter:alpha(opacity=90);
  z-index : 9998;
}
.floatingPlayer_gsvb {
  position : absolute;
  z-index : 9999;
}
.floatingBranding_gsvb {
  position : absolute;
}

.idle_gsvb {
  display : none;
}

.playing_gsvb {
  display : block;
}

.playerInnerBox_gsvb {
  margin-top : 2px;
}

/* keep a 1.33 ratio
 * (on widths > 300px, add 20px in height for controls)
 * small player:        180x135   4:3
 * medium player:       260x195   4:3
 * large player:        320x260   4:3 + 20px at bottom
 * extra large player:  480x380   4:3 + 20px at bottom
 */
.playerInnerBox_gsvb .player_gsvb {
  width : 260px;
  height : 195px;
}

.playerInnerBox_gsvb div.player_gsvb {
  margin : auto;
}

.floatingPlayer_gsvb .playerInnerBox_gsvb div.player_gsvb {
  margin : 0;
}

.playerBox_gsvb div.alldone_gsvb {
  display : inline;
  font-size : 11px;
  cursor : pointer;
}

.playerBox_gsvb div.alldone_gsvb:hover {
  text-decoration : underline;
}


.playerBox_gsvb div.title_gsvb {
  text-align : center;
  font-size : 11px;
  margin-top : 2px;
}

.playerBox_gsvb a.title_gsvb {
  text-decoration : none;
}

.playerBox_gsvb a.title_gsvb:hover {
  text-decoration : underline;
}

/*
 * resultsTable
 * - vertical mode
 * - horizontal mode
 */
.full_gsvb {
  display : block;
}

.empty_gsvb {
  display : none;
}

table.resultTable_gsvb {
  border-collapse : collapse;
}

table.resultTable_gsvb td {
  border : none;
}

div.resultDiv_gsvb {
  border-width : 1px;
  border-style : solid;
  background-color : #000000;
  height : 79px;
  width : 104px;
  text-align : center;
}

div.smallResultDiv_gsvb {
  height : 41px;
  width : 54px;
  text-align : center;
}

div.resultDiv_gsvb img {
  cursor : pointer;
  display : inline;
}

/* Auto Execute List Status Box */
div.statusBox_gsvb {
  padding : 4px;
}

div.statusItem_gsvb {
  display : inline;
  text-decoration : underline;
  color : #0000cc;
  cursor : pointer;
  margin-right : 6px;
  font-weight : bold;
  white-space: nowrap;
}

div.statusItemSelected_gsvb {
  text-decoration : none;
  color : #000000;
}



