/**
 * Store Finder Widget 
 */
#sf_CS_Widget {
    position: absolute;
    top: 313px;
    right: -12px;
    width: 111px;
    height: 112px;
    overflow: hidden;
    display:none;
    text-align:left;
    z-index: 10;
}
#sf_CS_Widget p{
    margin:0;
    padding:0;
}

/**
 * Button
 */
#sf_CS_Widget .sf_CS_Button {
    position: absolute;
    width: 110px;
    height: 90px;
    left: 2px;
    bottom: 10px;
    cursor: pointer;
    text-align:center;
    padding-top:10px;

    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;

    -moz-box-shadow: -1px -1px 2px #633214;
    -webkit-box-shadow: -1px -1px 2px #633214;
    box-shadow: -1px -1px 2px #633214;

    background: -webkit-gradient(linear, left top, left bottom, from(#fe7204), to(#fc3f03));
    background: -moz-linear-gradient(top, #fe7204, #fc3f03);

    /* For Internet Explorer 
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr = #FFfe7204, endColorstr = #FFfc3f03);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFfe7204, endColorstr=#FFfc3f03)";
    behavior: url("/etc/designs/dunkindonuts/js/PIE.htc");
    */
}
*:first-child+html #sf_CS_Widget .sf_CS_Button
{
    background:none;
    background:url(/etc/designs/dunkindonuts/images/storefinder/widget/closest_sf_bg.png) 0 0 no-repeat;
}

#sf_CS_Widget .sf_CS_Button
{
    background:url(/etc/designs/dunkindonuts/images/storefinder/widget/closest_sf_bg.png) no-repeat 100% 100%;
    /* background /*\**/: url(/etc/designs/dunkindonuts/images/storefinder/widget/closest_sf_bg.png) 0 0 no-repeat\9 */
}

#sf_CS_Widget .sf_CS_Button .text {
    margin-top:5px;
}
#sf_CS_Widget .sf_CS_Button .close {
    display:none;
}
#sf_CS_Widget #sf_graphic {
    position: relative;
    background: url(/etc/designs/dunkindonuts/images/storefinder/widget/closest_store_graphic.png) no-repeat;
    width: 64px;
    height: 60px;
    float: left;
    top: 0px;
    margin: 10px 0px 0px 20px;
}
#sf_CS_Widget .sf_CS_open .open,
#sf_CS_Widget .sf_CS_hidden .open{
    display:none;
}
#sf_CS_Widget .sf_CS_open .close{
    display:inline;
}

/**
 * Panel
 */
#sf_CS_Widget .sf_CS_panelWrap {
    position: absolute;
    /*width: auto;*/
  width: 243px;
    height: auto;
    left: 112px;
    bottom: 10px;

    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;

    -moz-box-shadow: 0px 0px 1px #633214;
    -webkit-box-shadow: 0px 0px 1px #633214;
    box-shadow: 0px 0px 1px #633214;

    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e0e0e0));
    background: -moz-linear-gradient(top, #f3f3f3, #e0e0e0);
    background: -ms-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);

    /* For Internet Explorer 
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr = #FFf3f3f3, endColorstr = #FFe0e0e0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFf3f3f3, endColorstr=#FFe0e0e0)";
    behavior: url("/etc/designs/dunkindonuts/js/PIE.htc");
    */
}

*:first-child+html #sf_CS_Widget .sf_CS_panelWrap
{
    background:#E6E6E6;
    border:1px solid #D8CCC5;
    border-width:1px 0;
}

#sf_CS_Widget .sf_CS_panelWrap
{
    background /*\**/: #E6E6E6\9
}



#sf_CS_Widget .leftside_bottomcorner {
    background: url(/etc/designs/dunkindonuts/images/storefinder/widget/corner5.png) no-repeat;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 12px;
    height: 10px;
}
#sf_CS_Widget .rightside_bottomcorner {
    background: url(/etc/designs/dunkindonuts/images/storefinder/widget/corner4.png) no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 12px;
    height: 10px;
}
#sf_CS_Widget .sf_CS_panel { /*position:relative; clear:both; float:left;*/
    padding:10px;
}
/*#sf_CS_Widget .sf_CS_panel .map_thumb { position:relative; float:left; left:0px; top:0px; width:233px; height:170px; overflow:hidden; }*/
#sf_CS_Widget .sf_CS_panel a {
    color:#ff6200;
}
#sf_CS_Widget .sf_CS_panel a:hover {
    color:#603913;
}
#sf_CS_Widget .sf_CS_panel p {
    color:#603913;
}
#sf_CS_Widget .sf_CS_panel .sf_CS_panel_info { /*position:relative; float:left; clear:left; display:block; font-size:10px; font-weight:normal; overflow:hidden;*/
    margin:20px 0px 10px 10px;
}
#sf_CS_Widget .sf_CS_panel .sf_CS_panel_info .storeaddress { /*position:relative; float:left; clear:left;*/
    margin-bottom:5px;
    font-size:14px;
    font-weight:bold;
}
#sf_CS_Widget .sf_CS_panel .sf_CS_panel_info .storehours { /*position:relative; float:left; clear:left;*/
    font-size: 12px;
    color:#696969;
}
#sf_CS_Widget .sf_CS_panel .sf_CS_panel_info .storeopen { /*position:relative; float:left; clear:left;*/
    margin-top:5px;
    font-size: 11px;
    font-weight:normal;
    color:#965719;
}
#sf_CS_Widget .sf_CS_panel .sf_CS_panel_actions { /*position:relative; float: right;*/
    margin-top:10px;
    text-align:right;
}
#sf_CS_Widget .sf_CS_panel .sf_CS_panel_actions a { /*float:right; clear:right; position:relative;*/
    display:block;
    margin-right:10px;
    font-weight:normal;
}
#sf_CS_Widget .sf_CS_panel .sf_CS_panel_actions a.primary {
    font-size:14px;
    font-weight:bold;
}