/* Common Title */

#rsp-container .rsp-common-title {
    margin: 20px 5px 5px;
    width: 100%;
}  
#rsp-container .rsp-common-title img {
    vertical-align:top;
}
#rsp-container .rsp-common-title span {
	line-height: 23px;
	text-decoration:none;
}
#rsp-container .rsp-common-title-bold-txt {
	color: #333333;
	background: url("http://ast1.r10.io/buy_assets/img/rsp-coin.png") no-repeat scroll 0 0;
	height:33px;
    font-size: 30px;
    font-weight: normal;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
	padding: 2px 0 0 32px;
	letter-spacing:-0.5px;
	font-family:'Open Sans',sans-serif;
}
#rsp-container .rsp-common-title #RSPshowMoreLess {
    float: right;
    margin-right: 60px;
    cursor: pointer;
}
#rsp-container .rsp-common-title #RSPshowMoreLess span {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    vertical-align: middle;
}
#rsp-container #rsp-cnt-shop {
    width:1010px;
    height:100%;
    margin: 0 -5px 25px;
}
#rsp-container #rsp-cnt-shop.rsp-one-row {
    height:280px;
    overflow:hidden;
} 

/* SHOP MORE. EARN MORE. */

#rsp-container .singleSP {
  background-color: #FFFFFF;
  border: 1px solid #a5a5a5;
  color: #000000;
  float: left;
  height: 195px;
  margin: 10px 5px;
  position: relative;
  width: 190px;
}
#rsp-container .singleSP-header {
    background-color: #222;
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    line-height: 20px;
    margin: 0;
    vertical-align: top;
    width: 100%;
    text-align:center;
}
#rsp-container .singleSP-header-earn {
    padding-top:10px;
}
 #rsp-container .singleSP-header-earn-amt {
     display:inline-block;
 }
#rsp-container .singleSP-header-time-left {
    float:left;
    margin: 0 0 0 32px;
}
#rsp-container .singleSP-header-time-left span {
    float:left;
    font-size:10px;
}
#rsp-container .singleSP-header-time-left .fa {
    float:left;
    margin: 0 5px 0 0;
}
#rsp-container .singleSP-header #bonuspoint {
    font-weight:bold;
}
#rsp-container #pointbased #point {
    font-size: 12px; 
    color: #FFFFFF; 
    font-weight: normal
}
#rsp-container .singleSP .skuImage-cnt {
    position: relative; 
    float: left; 
    width: 100%; 
    height: 95px;
}
#rsp-container .singleSP .skuImage-cnt-inner {
    float: none;
    height: 85px;
    overflow: hidden;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
    border: none; 
}
#rsp-container .singleSP .rsp-shop-desc-cnt {
    position: relative; 
    float: left; 
    width: 100%; 
    height: 45px;
    font-weight: bold; 
    color: Black;
}
#rsp-container .singleSP .rsp-shop-desc-cnt-inner {
    background-color: #f2f2f2;
    color: #000;
    font: 14px/17px 'Open Sans',sans-serif;
    height: 35px;
    overflow: hidden;
    padding: 5px 5px 0;
    text-align: center;
    width: 180px;
}
#rsp-container .singleSP .rsp-show-now-cnt {
    float: left;
    height: 20px;
    position: relative;
    text-align: right;
    width: 193px;
}
#rsp-container .singleSP .rsp-show-now-cnt span {
    color: #C0272D;
    font-size: 13px;
    font-weight: bold;
}
#rsp-container .singleSP .rsp-shop-list-img-cnt {
    position: relative;
    float: left;
    width: 100%;
    height: 95px;
}
#rsp-container .singleSP .rsp-shop-list-img-cnt-inner {
    position: absolute;
    float: left;
    width: 190px;
    height: 95px;
    overflow: hidden;
    text-align: center;
    margin:5px 0;   
}
#rsp-container .singleSP .rsp-shop-deal-ends-cnt {
    background-color: #C1272D;
    border: 1px solid #C1272D;
    border-radius: 0 0 10px 10px;
    color: #CCAC00;
    float: left;
    height: 34px;
    position: relative;
    text-align: right;
    width: 193px;
}
#rsp-container .singleSP .rsp-shop-deal-ends-txt {
    color:#000000;
    font-size:9pt;
    font-weight:bold;
    float:left;
    padding:2px 8px 0 2px;
    width:38px;
}
#rsp-container .singleSP .rsp-shop-deal-ends-deal {
    color: #222222;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding-top: 7px;
    position: relative;
    width: 60px;
    text-align:left;
    padding-left:5px;
}
#rsp-container .singleSP .rsp-shop-deal-ends-time {
    color:#FFFFFF;
    font-size:10pt;
    font-weight:bold;
    float:left;
}
#rsp-container .singleSP .rsp-shop-deal-ends-val {
    color: #FFFFFF;
    float: none;
    font-size: 9pt;
    font-weight: normal;
    width:auto;
    margin-left:3px;
}


#rsp-container .singleSP .rsp-shop-deal-ends-time-txt {
	/*padding: 6px 10px 0 0;*/
	color:#fff; 
	font-size:11px; 
	line-height:35px;
	margin-left:65px;
}

#rsp-container .singleSP .rsp-shop-deal-has-ended {
	color: #fff;
	font-size: 10pt;
	font-weight: bold;
	width: 193px;
	text-align: center;
}
