.burst-base.burst-percent-off {
background-image: url("http://ast1.r10.io/buy_assets/v9/carousel/bf_bursts.png"); /*not sure how the default works in img manager - this is only the black friday burst img*/
font: 23px/18px "arial bold", arial, Helvetica, Arial, sans-serif;
}
	.burst-base.burst-percent-off .burst-percent-symbol {
		font-size: 12px;
		font-family: arial;
	}
.burst-base.burst-percent-off .burst-off-text {
font-size: 9px;
line-height: 2px;
font-family: arial;
}

/* hide the ad below the main nav */
.special-event-header .header-ad-frame {
	/*display: none;*/
}

.special-event-container .search-box-container {
	border: 4px solid #d8d8d8;
	margin-top: 9px;
	margin-bottom: 6px;
	width: 992px;
}

/* Search Box */

.special-event-container .search-box-container input[type=text] {
	font-weight:bold; 
	width: 832px;
	font-size: 20px;
	font-style: normal;
	/*border: 4px solid #d8d8d8;*/
	border: 0;
	padding: 12px 10px 7px 10px;
	color: #888;
	line-height: 20px;
	margin:0;
	text-align:center;
	text-transform:uppercase;
}


.special-event-container .search-box-container input[type=button] {
	height: 50px;
	background-color: #d4323d;
	/*border-bottom: 4px solid #d8d8d8;
	border-top: 4px solid #d8d8d8;
	border-right: 4px solid #d8d8d8;*/
	border: 0;
	color: white;
	font-size: 15px;
	font-weight: bold;
	width: 140px;
	background-image: linear-gradient(to bottom, #d9383e 0%, #bf0000 100%);
	background-image: -moz-linear-gradient(top, #D9383E 0%, #C02930 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#D9383E),color-stop(1, #bf0000));
	background-image: -o-linear-gradient(top, #D9383E 0%, #C02930 100%);
	cursor:pointer;
}


/* Category Navigation */

.nav-container  td {
	text-decoration:none;
}

.nav-container .root .last a td {
	color: #bf0000;
}
.nav-container .root .last a:hover {
	text-decoration:none;
}

.icon-sports {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-sports.gif') center center no-repeat;
}

.icon-jewelry {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-jewelry.gif') center center no-repeat;
}

.icon-view-all {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-view-all.gif') center center no-repeat;
}

.icon-camera {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-camera.gif') center center no-repeat;
}

.icon-gamepad {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-gamepad.gif') center center no-repeat;
}

.icon-medkit {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-medkit.gif') center center no-repeat;
}

.icon-uniF4C8 {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-uniF4C8.gif') center center no-repeat;
}

.icon-uniF53C {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-uniF53C.gif') center center no-repeat;
}

.icon-golf {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-golf.gif') center center no-repeat;
}

.icon-tools {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-tools.gif') center center no-repeat;
}

.icon-screen {
	background: url('http://ast1.r10.io/buy_assets/images/supersale/icons/icon-screen.gif') center center no-repeat;
}


.nav-container {
	position: relative;
	width: 672px;
}

	.nav-container * {
		/*box-sizing: border-box;*/
	}

	.nav-container ul,
	.nav-container li {
		padding: 0;
		margin: 0;
		list-style: none;
		font-family: Arial, Helvetica, sans-serif;
	}

	.nav-container a {
		text-decoration: none;
		color: #444;
		display: block;
	}

	.nav-container a:hover {
		text-decoration: none;
	}

	.nav-container .root {
		overflow: hidden;
	}

		.nav-container .root ul {
			border-top: 1px solid #e8e8e8;
			border-left: 1px solid #e8e8e8;
			float: left;
		}

		.nav-container .root > ul {
			width: 33%;
		}

		.nav-container .root ul li {
			padding: 7px 0;
			position: relative;
			display: block;
			width: 100%;
			border-right: 1px solid #e8e8e8;
			border-bottom: 1px solid #e8e8e8;
			cursor: pointer;
		}

			.nav-container .root ul li table {
				border-collapse: collapse;
			}

			.nav-container .root ul li a {
				width: 100%;
			}
			/*
            .nav-container .root ul li span {
                display:inline-block;
                display: table-cell;
                vertical-align: middle;
				overflow:hidden;
            }
			*/
			.nav-container .root ul li table {
				width: 100%;
			}

			.nav-container .root ul li td.icon {
				text-align: center;
				width: 25%;
				height: 100%;
				font-size: 32px;
			}

			.nav-container .root ul li td.title {
				height: 52px;
				width: 75%;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 13px;
				padding-left: 0;
			}

	.nav-container .items {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
	}

		.nav-container .items .column-container {
			position: absolute;
			top: 1px;
		}

		.nav-container .items ul {
			border-top: 5px solid #d8d8d8;
			border-right: 5px solid #d8d8d8;
			border-bottom: 5px solid #d8d8d8;
			border-left: 5px solid #BF0000;
			line-height: 34px;
			width: 166px;
			background: #FFF;
			-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
		}

		.nav-container .items ul a {
			display: block;
			font-size: 14px;
			white-space: nowrap;
			padding: 0 10px;
		}

		.nav-container .items ul a:hover {
			background-color: #d8d8d8;
			text-decoration: none;
		}


	.nav-container .selector {
		position: absolute;
		z-index: 999;
	}

/* Featured Tabbed Rotator */

#FeaturedRotatorWithTabs_Frt > ul > li a img {
border-top: 0;
border-left: 1px solid #d8d8d8;
border-right: 1px solid #d8d8d8;
border-bottom: 1px solid #d8d8d8;
}

.frt-container {
	position: relative;
	overflow: hidden;
	width: 670px;
	height: 300px;
	border:0;
}

	.frt-container > ul {
		width: 9999px;
	}

		.frt-container > ul > li > a {
			display: block;
		}

	.frt-container > .switcher {
		position: relative;
		height: 40px;
	}

	.frt-container .switcher ul > li {
		display: table-cell;
		width: 222px;
		height: 40px;
		zoom: 1;
		*display: inline; /*for ie7 */
	}

		.frt-container .switcher ul > li > a {
			display: block;
			cursor: pointer;
			width: 222px;
			height: 40px;
			margin-right: 4px;
		}

		.frt-container .switcher ul > li.active > a {
			cursor: auto;
		}

/* Featured Spot */

.special-event-container .featured-spot-left-col {
	float: left;
	width: 320px;
}

.special-event-container .featured-spot-middle-col {
	float: left;
	width: 320px;
	margin: 0 20.5px;
}

.special-event-container .featured-spot-right-col {
	float: left;
	width: 320px;
}

.special-event-container .fsl-content {
  height: auto;
  min-height: 298px;
}

/* These featured spot styles are not specific to the special event page */

.fsl-footer {
	position: relative;
	width: 100%;
}

.fsl-button-container {
	position: absolute;
	bottom: 5px;
	margin-left:110px;
}

.fsl-button-container-product {
	position: absolute;
	bottom: 5px;
	margin-left:6px;
}

.fsl-button-container-product .visit-shop-button-container {
	float: left;
	margin-left: 40px;
}

.special-event-container .fsl-container {
	border:1px solid #d8d8d8;
	width: auto;
	height: auto;
	padding: 0;
	text-align: center;
}

.fsl-callout-container,
.fsl-callout-product-container {
	position: absolute;
	text-align: center;
	top: 90px;
	left: 90px;
	height: 120px;
	width: 120px;
	background-image: url('http://ast1.r10.io/buy_assets/images/supersale/burst_blackcircle.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.fsl-callout-product-container .callout-custom-text {
	padding: 5px 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.visit-shop-button-container {
	white-space: nowrap;
	margin: 0 auto;
	/*width: 100px;*/
}

.visit-shop-button-container .visit-shop-button {
	background-color: #B8B8B8;
	color: #FFF;
	font: bold 12px Arial,Helvetica,sans-serif;
	font-size:14px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.buy-now-button-container .fsl-button-border,
.buy-now-button-container-centered .fsl-button-border,
.visit-shop-button-container .fsl-button-border {
	border: 1px solid #fff;
	cursor: pointer;
	padding:1px;
	margin-bottom: 35px;
}

.buy-now-button-container,
.buy-now-button-container-centered {
	white-space: nowrap;
	margin-left: 30px;
	/*width: 90px;*/
	float: left;
}

.buy-now-button-container-centered {
	margin-left: 110px;
}

	.buy-now-button-container .buy-now-button,
	.buy-now-button-container-centered .buy-now-button {
		background-color: #CC0000;
		color: #FFFFFF;
		font: bold 12px Arial,Helvetica,sans-serif;
		font-size:14px;
		padding: 5px 10px;
		text-transform: uppercase;
	}

/* Special Product Lister */

.special-event-container .super-lister .special-product-lister-item {
	position: relative;
	height: 165px;
	width: 315px;
}

	.special-event-container .super-lister .special-product-lister-item.left {
		margin: 0 12px 20px 0px;
	}

	.special-event-container .super-lister .special-product-lister-item.middle {
		margin: 0 12px 20px 12px;
	}

	.special-event-container .super-lister .special-product-lister-item.right {
		margin: 0 0px 20px 12px;
	}

	.special-event-container .super-lister .special-product-lister-item .special-product-lister-inner-box {
		border-bottom: 4px solid #bf0000;
		height: 164px;
	}

	.special-event-container .super-lister .special-product-lister-item .soldout {
		left: 15px;
	}

	.special-event-container .super-lister .special-product-lister-item .lister-item-title {
		display: block;
		font: 12px/15px Arial, Helvetica, sans-serif;
		color: #666;
		margin: 5px 0;
		height: 60px;
		/*text-overflow:ellipsis;
			white-space:nowrap;*/
		overflow: hidden;
	}

	.special-event-container .super-lister .special-product-lister-item .lister-price-container {
	}

	.special-event-container .super-lister .special-product-lister-item .lister-item-price {
		font: 15px/16px Arial, Helvetica, sans-serif;
		color: #b01b1e;
		font-weight: bold;
	}

	.special-event-container .super-lister .special-product-lister-item .retail-discount-container {
	}

	.special-event-container .super-lister .special-product-lister-item .lister-item-list-price {
		text-decoration: line-through;
		color: #999;
	}

	.special-event-container .super-lister .special-product-lister-item .lister-item-discountPct {
	}

.special-event-container .super-lister .special-product-lister-item {
	text-align: center;
}

.special-event-container .super-lister .special-product-lister-item {
	position: relative;
}

	.special-event-container .super-lister .special-product-lister-item .soldout {
		background: url("http://ast1.r10.io/buy_assets/2010/soldout/soldOut_125.png") no-repeat scroll 0 0 transparent;
		display: block;
		height: 125px;
		left: 15px;
		position: absolute;
		top: 20px;
		width: 125px;
		z-index: 20;
	}

.special-event-container .super-lister .special-product-lister-item {
	position: relative;
}

	.special-event-container .super-lister .special-product-lister-item .percent-off-burst {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(http://ast1.r10.io/buy_assets/v9/carousel/starburst_green1.png);
		height: 37px;
		width: 49px;
		color: white;
		font: 23px/15px Arial, Helvetica, sans-serif;
		margin-left: 3px;
		padding-left: 2px;
		padding-top: 13px;
		text-align: center;
	}

		.special-event-container .super-lister .special-product-lister-item .percent-off-burst .burst-percent-symbol {
			font-size: 16px;
		}

		.special-event-container .super-lister .special-product-lister-item .percent-off-burst .burst-off-text {
			font-size: 14px;
			line-height: 13px;
			* line-height: 15px; /*for IE 7*/
		}

	.special-event-container .super-lister .special-product-lister-item .spl-image-box {
		height: 150px;
		width: 150px;
		float: left;
	}

	.special-event-container .super-lister .special-product-lister-item .spl-content-box {
		height: 110px;
		width: 140px;
		float: right;
		text-align: right;
		margin: 10px 10px 0 0;
		position: relative;
	}

	.special-event-container .super-lister .special-product-lister-item .lister-item-price {
		color: #bf0000;
		font: bold 15px/16px Arial,Helvetica,sans-serif;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.special-event-container .super-lister .special-product-lister-item .cart-add-butt {
		background-color: #BF0000; /*#C1272D;*/
		color: #FFFFFF;
		cursor: pointer;
		float: right;
		font: bold 12px Arial,Helvetica,sans-serif;
		margin: 1px;
		padding: 5px 15px;
		line-height: 1.5em;
	}

		.special-event-container .super-lister .special-product-lister-item .cart-add-butt a {
			color: #FFFFFF;
		}

.special-event-container .super-lister .btn-container {
	min-height: 40px;
	position: absolute;
	bottom: -10px;
	right: -1px;
}

.special-event-container .super-lister .special-product-lister-item .lister-item-list-price {
	bottom: 20px;
	color: #999999;
	position: absolute;
	right: 0;
	text-decoration: line-through;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.special-event-container .super-lister .special-product-lister-item .percent-off-burst .burst-off-text {
		line-height: 11px;
	}
}
/*for chrome*/

/* Special Product Slider */

.special-event-container .special-event-featured-slider.slider {
	width: 315px;
	float: right;
	margin:10px 0 0;
}

	.special-event-container .special-event-featured-slider.slider .super-slider-title-container {
		/*display: none;*/
		height:25px;
		line-height:25px;
		text-align:center;
	}
	.special-event-container .special-event-featured-slider.slider .super-slider-title-container .super-slider-title {
		width:100%;
		text-align:center;
	}
	.special-event-container .special-event-featured-slider.slider .super-slider-seller-container {
		height: 25px;
		background-color: #000000;
	}

	.special-event-container .special-event-featured-slider.slider .slider-item-seller-container {
		background-color: #000000;
		color: #FFFFFF;
		width: 100%;
		text-align: center;		
		height: 20px;/*38px;*/
		line-height: 20px;
	}

		.special-event-container .special-event-featured-slider.slider .slider-item-seller-container a {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
		}

	.special-event-container .special-event-featured-slider.slider .slider-item-seller {
		color: #FFFFFF;
	}

	.special-event-container .special-event-featured-slider.slider .super-slider > ul > li {
		display: block;
		float: left;
		height: 260px; /* 298px; */
		margin: 0;
		padding: 0;
		text-align: center;
		width: 315px;
	}

	.special-event-container .special-event-featured-slider.slider .super-slider .product-slider-item {
		height: 260px; /* 300px; */
		margin: 0;
		width: 315px;
	}

	.special-event-container .special-event-featured-slider.slider .super-slider .slider-price-container {
		float: right;
	}

	.special-event-container .special-event-featured-slider.slider .super-slider {
		margin: 0;
		overflow: hidden;
		width: 941px; /*9999px;*/
	}

		.special-event-container .special-event-featured-slider.slider .super-slider .burst-base.burst-percent-off,
		.special-event-container .special-event-featured-slider.slider .super-slider .burst-base.burst-image {
			margin-top: -5px;  /* 45px; */
			margin-left: 0;    /* 10px; */
		}

		.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-price-container {
			width: 65px;
			height: 20px;
			float: right;
			padding: 0 20px 0 0;
			text-align: right;
		}

.special-event-container .slider-item-price {
	color: #B01B1E;
	font: bold 15px/20px Arial,Helvetica,sans-serif;
}

.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-image-container {
	margin: 5px 0 0; /* 5px 0 15px; */
}

.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-title-container {
	width: 200px;
	height: 20px;
	float: left;
	padding: 0 0 0 20px;
	text-align: left;
}

	.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-title-container a {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: bold;
	}

.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-title {
	color: #000;
	margin: 0;
	line-height: 1.7em;
}

.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-description-container {
	height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 20px;
	text-align: left;
	width: 270px;
}

.special-event-container .super-slider .product-slider-item .soldout {
	left: 95px;
	top: 80px;
}

/* Add Block */

.special-event-container .ad-block-container {
	margin-bottom: 10px;
	width: 315px;
	float: right;
	border: solid 1px #B8B8B8;
	text-align: center;
	padding-bottom: 5px;
}

.special-event-container .category-nav-container {
	width: 680px;
	float: left;
}

.special-event-container .featured-rotator-container {
	float: left;
	width: 680px;
	margin: 10px 0 0;
}

/* Banner Images */

.special-event-container .top-banner-container {
}

.special-event-container .upper-top-banner-container {
	width:502px;
	margin-bottom:17px;
	float: left;
}
.special-event-container .upper-top-banner-container .banner-ad-container {
	width:502px;
}

.special-event-container .upper-banner-container {
	margin-bottom: 10px;
}

.special-event-container .lower-banner-container {
	margin-bottom: 20px;
}

.special-event-container .bottom-banner-container {
	margin-bottom: 20px;
}

.main-product-lister {
	margin-bottom: 20px;
}

.special-event-container .super-lister .simple-category-lister {
	height: auto;
	width: auto;
	margin: 0 12px 20px 0;
}

.burst-base.burst-supersale {
	width: 100px;
	height: 100px;
	margin-left: 0;
	padding: 7px 5px;
	text-align: left;
	background-repeat: no-repeat;
}
.burst-base.burst-percent-off.burst-supersale .burst-off-text {
	line-height:14px;
	font-size:12px;
	font-weight:bold;
	padding-left:2px;
}

/*
.super-lister-container .super-lister .burst-base,
.super-slider-container .super-slider .burst-base {

	height:105px;
	width:105px;
	text-align:left;
	margin:0;
	padding-top:5px;
	padding-left:5px;
}
*/

.fsl-callout-container,
.fsl-callout-product-container {
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	height: 125px;
	width: 125px;
	background-image: url('http://ast1.r10.io/buy_assets/images/supersale/bursts/SS_burst_125x125_new_3.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.special-event-container .fsl-callout-container .callout-text,
.special-event-container .fsl-callout-product-container .callout-text {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 10px;
}

.special-event-container .fsl-callout-product-container .callout-price-no-disount {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
}

.special-event-container .fsl-callout-product-container .callout-price-special {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	margin: 5px 10px;
}

.special-event-container .fsl-slider {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 6px solid #bf0000;
  color: #fff;
  padding: 6px 10px;
  position: absolute;
  top: -38px;
  width: 300px;
}

.special-event-container .fsl-title-product-container .selling-price-container {
	position:relative;
	float: right;
	line-height: 30px;
	width:82px;
	text-align:right;
	color: #BF0000;
	font-size:18px;
	font-weight:bold;
	padding-right:5px;
	/*border:1px solid black;*/
}
.special-event-container .fsl-title-product-container .selling-price-no-show {
	display:none;
}

.special-event-container .fsl-title-product-container,
.fsl-dont-slideout-container {
	position:absolute;
	bottom:0;
	left:0;
	height:32px;
	width:100%;
	line-height: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	line-height: 10px;
	padding-bottom: 3px 0;

}

.special-event-container .fsl-title-product-container .product-title-container,
.special-event-container .fsl-title-product-container .product-title-container-full-width,
.fsl-dont-slideout-container .dont-slideout-title-container,
.fsl-dont-slideout-container .dont-slideout-text-container {
	position:relative;
	float:left;
	line-height: 13px;
	width:218px;
	text-align:left;
	z-index:1;
	padding: 4px 5px 6px;
	font-size: 11px;
	font-weight:bold;
}

.special-event-container .fsl-title-product-container .product-title-container-full-width,
.fsl-dont-slideout-container .dont-slideout-title-container,
.fsl-dont-slideout-container .dont-slideout-text-container {
	width:100%;
}

.callout-up-tof-text {
	display:block;
	font-size:18px;
}

.callout-percent-text {
	font-size:28px;
}

.callout-off-text {
	display:block;
	font-size:18px;
}

.special-event-container .super-lister .simple-category-lister {
  margin: 7px 12px 20px 0;
}

.fsl-dont-slideout-container {
}
.fsl-dont-slideout-container .dont-slideout-title-container {
	padding: 1px 0 2px;
	color: #BF0000;
	text-align:center;
	font-size: 12px;
}
.fsl-dont-slideout-container .dont-slideout-text-container {
	padding: 0;
	color: #000;
	text-align:center;
}

.fsl-dont-slideout-container .dont-slideout-title-only-container {
  color: #bf0000;
  font-size: 24px;
  padding: 8px 0 2px;
  text-align: center;
}

    /* overload background color of ad block */
    .homepage-container .ad-block-container {
      background-color: #C8C8C8 !important;
    }
    .homepage-container .fps-container {
        height: 300px;
        overflow: hidden;
        position: relative;
        width: 660px;
    }
    .homepage-container .featured-rotator-container li div a, .featured-rotator-container li div a img{
      overflow: hidden;
      float: left; 
    }
    .homepage-container .featured-rotator-container li div a {
      border: 1px solid #d8d8d8;
    }
    .homepage-container .featured-rotator-container li div a img {
      margin: -1px;
    }
    /* http://stackoverflow.com/questions/6750729/css-inner-border-broken-layout 

    You can use box-sizing: border-box to make the border's width part of the width of the element.

    .example {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    */

    .homepage-container .ss_bursttext{
    text-transform:uppercase;font-size:16px
    }
    .homepage-container .fsl-callout-container, .fsl-callout-product-container {
      height: 100px;
      width: 100px;
    }
    .homepage-container .callout-text, .callout-custom-text, .callout-price-special {
      margin: 7px 5px !important;
      padding: 0!important;
    }
    .homepage-container .callout-up-tof-text {
      display: block;
      font-size: 12px;
      line-height: 12px;
      font-weight: normal;
    }
    .homepage-container .callout-percent-text {
      font-size: 26px;
      line-height: 26px;
      margin-right: 2px;
    }
    .homepage-container .callout-off-text {
      font-weight: normal;
      font-size: 14px;
    }
    .homepage-container .callout-price-special {
      font-size: 14px!important;
      text-transform: uppercase;
    }

    /* fix spotlight deals slider */
    .homepage-container.special-event-container .special-event-featured-slider.slider .super-slider {
            width: initial;
    }

    .homepage-container .ad-block-container {
      position: relative;
      border: 1px solid #888888;
      background-color:#C8C8C8;
      margin-bottom: 21px;
      text-align: center;
      width: 320px;
      height: 300px;
      padding: 25px 0 0;
      text-transform: uppercase;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .homepage-container .fsl-container {
      border: 1px solid #888888;
      height: 300px;
      padding: 0;
      text-align: center;
      width: 320px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .homepage-container .bottom-Ad-title {
      position:absolute;
      bottom: 5px;
      width:320px;
    }
    .homepage-container .special-event-featured-slider.slider {
      height: 300px;
      width: 320px;
    }
    .homepage-container .featured-rotator-container {
      border: 1px solid #d8d8d8;
      height: 300px;
      width: 660px;
    }
    .homepage-container .special-event-featured-slider .super-slider-container {
      border: 5px solid #000 !important;
      margin: 0 0 15px;
      overflow: hidden;
      padding: 0;
      position: relative;
      z-index: 1;
      height: 292px;
    }
    .homepage-container div.super-slider-title-container {
      text-transform: uppercase;
    }
    .homepage-container .upper-banner-container {
      margin: 10px 0;
    }
    .homepage-container .special-event-featured-slider.slider .super-slider-title-container {
      height: 20px;
      line-height: 16px;
      text-align: center;
    }
    .homepage-container .special-event-featured-slider.slider .super-slider .slider-item-image-container {
      margin: 3px 0 0;
    }
    .homepage-container .special-event-featured-slider.slider .super-slider .burst-base.burst-percent-off, 
    .homepage-container .special-event-featured-slider.slider .super-slider .burst-base.burst-image {
      margin-left: 5px;
      margin-top: 0;
    }
    .homepage-container .special-event-featured-slider.slider .premium-tags div {
      margin-right: 10px;
    }
    .homepage-container .main-product-lister .premium-tags div {
      margin-right: -50px;
    }

    /* overload background color of ad block */
    .homepage-container .ad-block-container {
      background-color: #C8C8C8;
    }
    .homepage-container .fps-container > a.next, 
    .homepage-container .fps-container > a.prev {
      margin-top: -35px;
    }
    .homepage-container .super-lister .special-product-lister-item.left {
      margin: 0 0 20px 0;
    }
    .homepage-container .super-lister .special-product-lister-item.middle {
      margin: 0 28px 20px;
    }
    .homepage-container .super-lister .special-product-lister-item.right {
      margin: 0 0 20px 0;
    }
    .homepage-container .super-lister .simple-category-lister {
      margin: 10px 0 20px 0;
    }
    .homepage-container .super-lister .simple-category-lister img {
      width:314px;
    }
    .homepage-container .super-lister .special-product-lister-item .cart-add-butt {
      padding: 8px 15px 5px;
    }
    .homepage-container .super-lister .special-product-lister-item .spl-content-box {
      height: 120px;
    }
    .homepage-container .featured-top-rotator-container {
      border: 1px solid #d8d8d8;
      height: 30px;
      width: 1000px;
      float: left;
      margin: 0;
      width: 1000px;
      overflow: hidden;
    }
    .homepage-container.special-event-container .super-lister .special-product-lister-item .lister-item-discountPct {
      margin-right: 10px;
      width: 100%;
      text-align: right;
      overflow: auto;
    }
    .homepage-container.special-event-container .super-lister .special-product-lister-item .lister-item-list-price {
      float: right;
      position: relative;
      bottom: 0;
    }
    .homepage-container.special-event-container.homepage-container .super-lister .special-product-lister-item .lister-item-title {
      height: 76px; /* allow 5 lines */
    }
    .homepage-container .special-product-lister-inner-box .burst-base {
      margin-left: 0;
      left: -10px;
      top: -10px;
    }
    .homepage-container.special-event-container .super-lister .retail-discount-container {
      height: 20px;
    }

    /**** tps-container *****/

    .homepage-container .tps-container {
        height: 30px;
        overflow: hidden;
        position: relative;
        width: 1000px;
    }
    .homepage-container .tps-container > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 9999px;
    }
    .homepage-container .tps-container > ul > li > div {
        position: relative;
    }
    .homepage-container .tps-container > a.next, 
    .homepage-container .tps-container > a.prev {
        color: #fff;
        display: block;
        font-size: 39px;
        height: 30px;
        /*margin-top: -40px;*/
        position: absolute;
        top: 0;
        width: 26px;
        z-index: 3;
    }
    .homepage-container .tps-container > a.next > div, 
    .homepage-container .tps-container > a.prev > div {
        background-image: url("http://ast1.r10.io/buy_assets/v10/homepage/hp_sprite.png");
        height: 30px;
        width: 26px;
    }
    .homepage-container .tps-container > a.prev {
        left: 0;
        padding: 5px 5px 5px 0;
    }
    .homepage-container .tps-container > a.prev > div {
      background-image: url("http://ast1.r10.io/buy_assets/v10/homepage/hp_sprite.png");
      background-position: -115px -10px;
      border-radius: 0 2px 2px 0;
      display: block;
      height: 30px;
      left: 0;
      margin-top: 0;
      position: absolute;
      text-indent: -9999px;
      top: 0;
      width: 26px;
      z-index: 3;
    }
    .homepage-container .tps-container > a.prev:hover > div {
        background-position: -171px -10px;
    }
    .homepage-container .tps-container > a.next {
        padding: 5px 0 5px 5px;
        right: 0;
    }
    .homepage-container .tps-container > a.next > div {
      background-image: url("http://ast1.r10.io/buy_assets/v10/homepage/hp_sprite.png");
      background-position: -143px -10px;
      border-radius: 2px 0 0 2px;
      display: block;
      height: 30px;
      position: absolute;
      right: 0;
      text-indent: -9999px;
      top: 0;
      width: 26px;
      z-index: 3;
    }
    .homepage-container .tps-container > a.next:hover > div {
        background-position: -199px -10px;
    }
    .homepage-container .custom-button-container {
      white-space: nowrap;
      position: absolute;
      top: 225px;
      width: 100%;
    }
    .homepage-container .custom-button-container .custom-button, .custom-button-container-centered .custom-button {
      background-color: #cc0000;
      color: #ffffff;
      font: bold 14px Arial,Helvetica,sans-serif;
      padding: 5px 10px;
      text-transform: uppercase;
    }
    .homepage-container .custom-button-container .fsl-custom-button-border {
      border: 1px solid #fff;
      cursor: pointer;
      margin-bottom: 35px;
      padding: 1px;
      margin: auto;
      display: inline-block;
    }   
    .homepage-container .slider-item-description-price-container {
      background-color: rgba(255, 255, 255, 0.9);
      bottom: 0;
      height: 50px;
      left: 0;
      line-height: 10px;
      position: absolute;
      width: 100%;
      padding-top:2px;
    }  
    .homepage-container .slider-item-spotlight-button-container {
      background-color: #666666;
      display: inline-block;
      text-transform: uppercase;
      padding: 2px 5px;
      float:left;
    }
    .homepage-container .slider-item-spotlight-button {
      color: #FFFFFF;
      font-size: 10px;
      padding: 2px;
    }
    .homepage-container.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-price-container {
      padding-top: 5px;
      float: right;
      height: 30px;
      text-align: right;
      width: 65px;
    }
    .homepage-container.special-event-container .special-event-featured-slider.slider .super-slider .slider-item-title {
      min-height: 20px;
      max-height: 20px;
    }
    .homepage-container .slider-item-price-container .slider-item-retail-price {
      color: #999999;
      text-decoration: line-through;
    }
    .homepage-container.special-event-container .slider-item-price-container .slider-item-price {
      color: #b01b1e;
      font: bold 15px/22px Arial,Helvetica,sans-serif;
      position: absolute;
      bottom: 10px;
      right: 20px;
    }
    .homepage-container .slider-item-spotlight-button.clickable-button {
      cursor: pointer;
    }
    
/* Main Sliding Banner */

.homepage-container .fps-container > a.next > div, 
.homepage-container .fps-container > a.next:hover > div, 
.homepage-container .fps-container > a.prev > div,
.homepage-container .fps-container > a.prev:hover > div {
  background-image: url("http://ast1.r10.io/buy_assets/homepage/243x72_sprite.png");
  height: 71px;
  width: 26px;
  margin-top: 0;
}
.homepage-container .fps-container > a.next > div {
  background-position: 149px 0;
  border-radius: 2px 0 0 2px;
}
.homepage-container .fps-container > a.next:hover > div {
  background-position: 210px 0;
  border-radius: 2px 0 0 2px;
}
.homepage-container .fps-container > a.prev > div {
  background-position: -63px 0;
  border-radius: 2px 0 0 2px;
}
.homepage-container .fps-container > a.prev:hover > div {
  background-position: -2px 0;
  border-radius: 2px 0 0 2px;
}

/* Spotlight Slider */

.homepage-container .special-event-featured-slider .super-slider a.link-prev > div,
.homepage-container .special-event-featured-slider .super-slider a.link-prev:hover > div,
.homepage-container .special-event-featured-slider .super-slider a.link-next > div,
.homepage-container .special-event-featured-slider .super-slider a.link-next:hover > div {
  background-image: url("http://ast1.r10.io/buy_assets/homepage/243x72_sprite.png");
  display: block;
  height: 71px;
  margin-top: -35px;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 26px;
  z-index: 3;
}
.homepage-container .special-event-featured-slider .super-slider a.link-prev > div  {
  background-position: 58px 0;
  border-radius: 2px 0 0 2px;
}
.homepage-container .special-event-featured-slider .super-slider a.link-prev:hover > div  {
  background-position: 119px 0;
  border-radius: 2px 0 0 2px;
}
.homepage-container .special-event-featured-slider .super-slider a.link-next > div {
  background-position: 27px 0;
  border-radius: 2px 0 0 2px;
}
.homepage-container .special-event-featured-slider .super-slider a.link-next:hover > div {
  background-position: 88px 0;
  border-radius: 2px 0 0 2px;
}

.homepage-container .special-event-featured-slider .super-slider a.link-prev,
.homepage-container .special-event-featured-slider .super-slider a.link-next {
  background: none;
}


/* Shopping Marathon */

/* Countdown Banner */
#campaign-countdown-container {
    position: relative;
    margin: 0;
    padding: 0;
}
#campaign-countdown-container #campaign-countdown-timer,
#campaign-countdown-container #campaign-countdown-time,
#campaign-countdown-container #campaign-countdown-text {
    position:absolute;
    top: 85px;
    right: 20px;
    font-family: Arial, Verdana;
    font-size: 18px;
    font-weight: bold;
}

#campaign-countdown-container #campaign-countdown-timer .campaign-countdown-time {
    color: #fb0000;
}
#campaign-countdown-container #campaign-countdown-timer .campaign-countdown-text {
    color: #181818;
    margin-left:5px;
}

/* Item Counter */
#campaign-counter-container {
    position: relative;
    background-image: url('http://ast1.r10.io/buy_assets/images/shopping_marathon/1000x122_top_banner.jpg');
    border:0px solid black;
    height: 122px;
    width: 1000px;
    background-color: #d8d8d8;
}

#campaign-counter-container #campaign-counter-amount-1,
#campaign-counter-container #campaign-counter-amount-2 {
    position:absolute;
    top: 42px;
    /*border:1px solid black;*/
    font-family: Arial, Verdana;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
#campaign-counter-container #campaign-counter-amount-1 {
    left: 880px;
}
#campaign-counter-container #campaign-counter-amount-2 {
    left: 918px;
}
#campaign-counter-container #campaign-counter-level-1,
#campaign-counter-container #campaign-counter-level-2,
#campaign-counter-container #campaign-counter-level-3 {
    position:absolute;
    top: 72px;
    height:33px;
    width:61px;
    /*border:1px solid black;*/
    display: none;
}
#campaign-counter-container #campaign-counter-level-1 {
    background-image: url('http://ast1.r10.io/buy_assets/images/shopping_marathon/5_percent.png');
    left: 628px;
}
#campaign-counter-container #campaign-counter-level-2 {
    background-image: url('http://ast1.r10.io/buy_assets/images/shopping_marathon/10_percent.png');
    left: 690px;
}
#campaign-counter-container #campaign-counter-level-3 {
    background-image: url('http://ast1.r10.io/buy_assets/images/shopping_marathon/20_percent.png');
    left: 750px;
}
#campaign-counter-container #campaign-counter-countdown-timer,
#campaign-counter-container #campaign-counter-countdown-time,
#campaign-counter-container #campaign-counter-countdown-text {
    position:absolute;
    top: 85px;
    right: 20px;
    /*border:1px solid black;*/
    font-family: Arial, Verdana;
    font-size: 18px;
    font-weight: bold;
}
#campaign-counter-container #campaign-counter-countdown-timer .campaign-counter-countdown-time {
    color: #fb0000;

}
#campaign-counter-container #campaign-counter-countdown-timer .campaign-counter-countdown-text {
    color: #181818;
    margin-left:5px;
}













