@charset "utf-8";
#search {
	width: 380px;
}
#suggest {
	z-index: 1000; /*DEV CHANGE - 12/14/2015 ph*/
	background:#ffffff none repeat scroll 0 0;
	border:1px solid #000000;
	cursor:default;
	line-height:18px;
	margin:0;
	position:absolute;
	width:290px;
	overflow: hidden;
    padding: 10px 0 10px 0;
}
#suggest .swgRow .addBorder {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#suggest .sggstKeyword {
	background:#ffffff none repeat scroll 0 0;
	overflow:hidden;
	font-size:15px;
	padding: 3px 10px 3px 10px;
	text-align:left;
	white-space:nowrap;
	float:left;
	width:284px;
    font-weight: bold;
	color: #000000;
	font-style: normal;
}
#suggest .sggstSelect .sggstKeyword {
	background:#eaeaea none repeat scroll 0 0;
	color:#000;
	cursor:pointer;
}
#suggest .sggstSelect .sggstKeyword span {
	font-style: italic;
}
#suggest .sggstComment{
	padding: 0 5px;
}
#suggest .sggstComment .sggstCommentbox{
	border-top: 1px dotted #aeaeae;
	background-color:#ffffff;
	color:#808080;
	font-size:12px;
	padding-top: 2px;
	clear:both;
}
#suggest .sggstBetabtn01{
	float: left;
	display: inline;
}
#suggest .sggstBetabtn02{
	float: right;
	display: inline;
	width: 101px;
}
#suggest .sggstHidetext{
	float: left;
	display: inline;
}
#suggest .sggstHideimg {
    display : block ;
	width: 102px;
	height: 0;
	overflow: hidden;
	padding-top:17px;
	background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/suggest/new_on_4.gif) no-repeat left top;
	cursor : pointer;
}
#suggest .sggstHideimg:hover {
	background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/suggest/new_hover_4.gif) no-repeat left top;
}
#suggest .sggstHideimg{
	float: right;
	display: inline;
}
.sggstInputWrap .openSuggest {
	display: block;
    background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/suggest/new_off_23.gif) no-repeat center center;
    cursor: pointer;
    height: 27px;
    right: 3px;
    position: absolute;
    top: 2px;
    width: 112px;
}
.sggstInputWrap .openSuggest:hover {
    background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/suggest/new_hover_23.gif) no-repeat center center;
}
.sggstInputWrap {
	position:relative;
	width:100%;
}
#suggest .sggstNoselect strong {
	font-weight: bold;
	color: #000000;
	font-style: normal;
}
#suggest .sggstNoselect weak {
    font-weight: normal;
	color: #000000;
	font-style: normal;
}
#suggest .sggstKeyword span { 
	margin-left:12px;
	font-size:13px;
	font-weight: normal;
}
#suggest .sggstNoselect .sggstKeyword span {
	color: #bf0000;
	font-style: italic;
}
#suggest .cnaviRow .cnaviLink {
	color: black;
	line-height: 2em;
	display: block;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
	float: left;
	clear: both;
	cursor: pointer;
	text-decoration: none;
}
#suggest .cnaviRow .sggstKeyword {
	font-weight: bold;
}
#suggest .sggstNoselect .sggstKeyword .cnaviEm {
	color: #BF0000;
}
#suggest .sggstSelect .sggstKeyword .cnaviEm {
	color: #FFFFFF;
}
#suggest .cnaviRow .cnaviImg {
	width: 30px;
	height: 30px;
	float: left;
	padding-left: 3px;
	margin-right: 8px;
}
#suggest .sggstKeyword .cnaviEm {
	font-weight: bold;
	margin: 0;
	font-size: 15px;
}
#suggest .cnaviRow.sggstNoselect .cnaviLink {
	background-color: white;
}
#suggest .cnaviRow.sggstSelect .cnaviLink {
	background-color: #3366CC;
}
#suggest .cnaviRow .cnaviBorder {
	border: none;
	border-top: 1px dotted #AEAEAE;
	height: 1px;
	color: #FFFFFF;
	margin: 0 5px;
}
