/* line 6, ../scss/style.scss */
body {
  margin: 0px;
  font-family: Open Sans, arial, sans-serif;
}

/* line 12, ../scss/style.scss */
.content {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Open Sans', arial, sans-serif;
}
@media screen and (min-width: 1500px) {
  /* line 12, ../scss/style.scss */
  .content {
    max-width: 1500px;
  }
}

/* line 24, ../scss/style.scss */
a.cta-button {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  background-color: #2866BB;
  border:1px solid #2866BB;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  margin-top: .5em;
}
/* line 34, ../scss/style.scss */
a.cta-button:hover {
  background-color: #407fd6;
  border: 1px solid #407fd6;
  color:#fff !important;
}

/* line 40, ../scss/style.scss */
.notice {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
}
/* line 46, ../scss/style.scss */
.notice .message {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  padding: 1em 2.5em 1em 1em;
}
/* line 52, ../scss/style.scss */
.notice .message a {
  color: #fff;
  text-decoration: underline;
}
/* line 58, ../scss/style.scss */
.notice .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
}

/* line 67, ../scss/style.scss */
#hero-wrapper {
  position: relative;
  z-index: 1;
}
/* line 71, ../scss/style.scss */
#hero-wrapper .content {
  position: relative;
}
/* line 75, ../scss/style.scss */
#hero-wrapper .hero-video-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
/* line 84, ../scss/style.scss */
#hero-wrapper .hero-video-wrapper .hero-video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background: #000;
}
/* line 96, ../scss/style.scss */
#hero-wrapper .hero-video-wrapper .video-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
/* line 108, ../scss/style.scss */
#hero-wrapper .subtitle-2,
#hero-wrapper .subtitle-3 {
  display: none;
}
/* line 113, ../scss/style.scss */
#hero-wrapper .hero-title {
  text-align: center;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 113, ../scss/style.scss */
  #hero-wrapper .hero-title {
    font-size: 54px;
  }
}
/* line 125, ../scss/style.scss */
#hero-wrapper .hero-subtitle {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
/* line 133, ../scss/style.scss */
#hero-wrapper .content-item {
  padding: 260px 0 30px 0;
}
/* line 138, ../scss/style.scss */
#hero-wrapper .pillars-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* line 143, ../scss/style.scss */
#hero-wrapper .pillar {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 143, ../scss/style.scss */
  #hero-wrapper .pillar {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 143, ../scss/style.scss */
  #hero-wrapper .pillar {
    width: 25%;
  }
}
/* line 155, ../scss/style.scss */
#hero-wrapper .pillar .pillar-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  margin: 1em;
}
/* line 166, ../scss/style.scss */
#hero-wrapper .pillar .pillar-panel:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #94b7e8;
}
@media (min-width: 768px) {
  /* line 155, ../scss/style.scss */
  #hero-wrapper .pillar .pillar-panel {
    margin: 2em;
  }
}
/* line 176, ../scss/style.scss */
#hero-wrapper .pillar a.pillar-link {
  display: block;
  padding: 2em 1em;
  text-decoration: none;
  border: none;
}
/* line 182, ../scss/style.scss */
#hero-wrapper .pillar a.pillar-link img {
  border: none;
}
/* line 186, ../scss/style.scss */
#hero-wrapper .pillar a.pillar-link b {
  font-size: 22px;
  font-weight: bold;
  color: #a9c5ed !important;
  margin: 0 auto;
  text-transform: uppercase;
}
/* line 194, ../scss/style.scss */
#hero-wrapper .pillar a.pillar-link i {
  font-size: 20px;
  color: #fff;
  font-style: normal;
}

/* line 203, ../scss/style.scss */
#quote-wrapper {
  background-color: #fff;
  background-position: bottom left;
  background-repeat: no-repeat;
  color: #3E3D3D;
}
@media (min-width: 1024px) {
  /* line 203, ../scss/style.scss */
  #quote-wrapper {
    background-image: url("../images/quote-graph.jpg");
    min-height: 440px;
  }
}
@media (min-width: 1500px) {
  /* line 203, ../scss/style.scss */
  #quote-wrapper {
    background-position: bottom center;
  }
}
/* line 218, ../scss/style.scss */
#quote-wrapper .cta-button {
  margin-top: 1em;
}
/* line 222, ../scss/style.scss */
#quote-wrapper .content-item {
  padding: 1.5em 0 1.5em 0;
}
@media (min-width: 1024px) {
  /* line 222, ../scss/style.scss */
  #quote-wrapper .content-item {
    padding: 50px 0 1em 2em;
  }
}
/* line 230, ../scss/style.scss */
#quote-wrapper .quote-author {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}
/* line 236, ../scss/style.scss */
#quote-wrapper .quote {
  font-size: 36px;
}
@media (min-width: 1024px) {
  /* line 236, ../scss/style.scss */
  #quote-wrapper .quote {
    width: 80%;
  }
}
@media (min-width: 1500px) {
  /* line 236, ../scss/style.scss */
  #quote-wrapper .quote {
    width: 65%;
  }
}

/* line 250, ../scss/style.scss */
#carousel {
  background: #000 url("../images/carousel.jpg") center center/cover no-repeat;
}
/* line 253, ../scss/style.scss */
#carousel .content {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding-top: 150px;
  height: 290px;
}

/* line 266, ../scss/style.scss */
.product-panel .title {
  font-size: 36px;
}
@media (min-width: 1024px) {
  /* line 266, ../scss/style.scss */
  .product-panel .title {
    font-size: 44px;
  }
}
@media (min-width: 1500px) {
  /* line 266, ../scss/style.scss */
  .product-panel .title {
    padding-top: 1em;
  }
}
/* line 278, ../scss/style.scss */
.product-panel ul.description {
  font-size: 19px;
  margin-left: 1.75em;
}
/* line 282, ../scss/style.scss */
.product-panel ul.description li {
  margin: .75em 0;
}
/* line 285, ../scss/style.scss */
.product-panel ul.description li i {
  color: #AFAFAF;
}

/* line 293, ../scss/style.scss */
#threat-protection-wrapper {
  background: #F5F5F5;
  padding: 50px 0 0 0;
  overflow: hidden;
}
/* line 298, ../scss/style.scss */
#threat-protection-wrapper .content-item {
  padding-bottom: 1.5em;
}
/* line 302, ../scss/style.scss */
#threat-protection-wrapper .col-1 {
  text-align: center;
}
@media (min-width: 1024px) {
  /* line 302, ../scss/style.scss */
  #threat-protection-wrapper .col-1 {
    text-align: left;
    float: left;
    width: 50%;
  }
}
/* line 311, ../scss/style.scss */
#threat-protection-wrapper .col-1 img {
  max-width: 100%;
  margin-bottom: 1em;
}
@media (min-width: 1024px) {
  /* line 311, ../scss/style.scss */
  #threat-protection-wrapper .col-1 img {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  /* line 320, ../scss/style.scss */
  #threat-protection-wrapper .col-2 {
    width: 48%;
    margin-left: 52%;
  }
}

/* line 330, ../scss/style.scss */
#information-protection-wrapper {
  background-color: #010212;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em 0;
  overflow: hidden;
}
@media (min-width: 1024px) {
  /* line 330, ../scss/style.scss */
  #information-protection-wrapper {
    background-image: url("../images/information-protection-background.jpg");
  }
}
/* line 342, ../scss/style.scss */
#information-protection-wrapper .col-1 {
  text-align: center;
}
@media (min-width: 1024px) {
  /* line 342, ../scss/style.scss */
  #information-protection-wrapper .col-1 {
    float: right;
    width: 50%;
  }
}
/* line 350, ../scss/style.scss */
#information-protection-wrapper .col-1 img {
  max-width: 100%;
  margin-bottom: 1em;
}
@media (min-width: 1024px) {
  /* line 350, ../scss/style.scss */
  #information-protection-wrapper .col-1 img {
    margin-bottom: 0;
  }
}
/* line 359, ../scss/style.scss */
#information-protection-wrapper .col-2 {
  color: #fff;
}
@media (min-width: 1024px) {
  /* line 359, ../scss/style.scss */
  #information-protection-wrapper .col-2 {
    width: 45%;
  }
}

/* line 369, ../scss/style.scss */
#cyber-security-wrapper {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  /* line 369, ../scss/style.scss */
  #cyber-security-wrapper {
    background-image: url("../images/cyber-security-background.jpg");
  }
}
/* line 379, ../scss/style.scss */
#cyber-security-wrapper .content-item {
  padding: 1.5em 0;
}
@media (min-width: 768px) {
  /* line 379, ../scss/style.scss */
  #cyber-security-wrapper .content-item {
    padding: 0;
    width: 70%;
    margin-left: 30%;
    background: transparent url("../images/cyber-security-overlay.png") left top no-repeat;
  }
}
@media (min-width: 1500px) {
  /* line 379, ../scss/style.scss */
  #cyber-security-wrapper .content-item {
    width: 50%;
    margin-left: 50%;
    min-height: 620px;
  }
}
@media (min-width: 768px) {
  /* line 396, ../scss/style.scss */
  #cyber-security-wrapper .content-item .overlay {
    padding: 60px 0 60px 120px;
  }
}

/* line 404, ../scss/style.scss */
#web-security-wrapper {
  background-color: #091126;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 38px 0 0 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  /* line 404, ../scss/style.scss */
  #web-security-wrapper {
    background-image: url("../images/website-security-background.jpg");
  }
}
/* line 416, ../scss/style.scss */
#web-security-wrapper .col-1 {
  color: #fff;
}
@media (min-width: 1024px) {
  /* line 416, ../scss/style.scss */
  #web-security-wrapper .col-1 {
    float: left;
    width: 47%;
    margin-right: 3%;
  }
}
/* line 428, ../scss/style.scss */
#web-security-wrapper .col-2 img {
  max-width: 100%;
  display: block;
  margin-top: 1em;
  margin: 1em auto 0 auto;
}
@media (min-width: 1024px) {
  /* line 426, ../scss/style.scss */
  #web-security-wrapper .col-2 {
    width: 50%;
    float: left;
  }
}

/* line 443, ../scss/style.scss */
#quilt-wrapper {
  background: #fff;
  padding: 15px 0px;
  overflow: hidden;
}

/* line 449, ../scss/style.scss */
.quilt {
  display: flex;
  min-height: 680px;
  margin: -10px;
  flex-wrap: wrap;
}
/* line 455, ../scss/style.scss */
.quilt .item {
  display: flex;
}
/* line 458, ../scss/style.scss */
.quilt .item .zoomable-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .5s;
  transform: scale(1, 1);
  background-position: center center;
  background-size: cover;
  z-index: 0;
}
/* line 471, ../scss/style.scss */
.quilt .item:hover .zoomable-image {
  transform: scale(1.1, 1.1);
}
/* line 476, ../scss/style.scss */
.quilt a.item-panel {
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  text-decoration: none;
  min-height: 300px;
}
@media all and (min-width: 1024px) {
  /* line 476, ../scss/style.scss */
  .quilt a.item-panel {
    min-height: inherit;
  }
}
/* line 492, ../scss/style.scss */
.quilt a .item-content {
  padding: 1em;
  background: rgba(0, 0, 0, 0.77);
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  position: relative;
}
/* line 504, ../scss/style.scss */
.quilt a .item-content .title {
  font-size: 19px;
}
/* line 508, ../scss/style.scss */
.quilt a .item-content .category {
  font-weight: bold;
  color: #8E8E8F;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 516, ../scss/style.scss */
.quilt .item-1 {
  flex: 100%;
}
@media all and (min-width: 40em) {
  /* line 516, ../scss/style.scss */
  .quilt .item-1 {
    flex: 50%;
  }
}
/* line 524, ../scss/style.scss */
.quilt .item-1 .item-content {
  width: 40%;
  margin-bottom: 30px;
}
/* line 529, ../scss/style.scss */
.quilt .item-1 .item-content .title {
  font-size: 28px;
}
/* line 535, ../scss/style.scss */
.quilt .quilt-column {
  display: flex;
  flex: 100%;
  flex-direction: column;
  min-height: 100%;
}
@media all and (min-width: 60em) {
  /* line 535, ../scss/style.scss */
  .quilt .quilt-column {
    flex: 25%;
  }
}
/* line 545, ../scss/style.scss */
.quilt .quilt-column .item {
  min-height: 200px;
}
/* line 549, ../scss/style.scss */
.quilt .quilt-column .item-2,
.quilt .quilt-column .item-3 {
  flex: 1;
}
/* line 554, ../scss/style.scss */
.quilt .quilt-column .item-4 {
  flex: 1;
}
/* line 558, ../scss/style.scss */
.quilt .quilt-column .item-5 {
  flex: 1;
}
@media all and (min-width: 80em) {
  /* line 558, ../scss/style.scss */
  .quilt .quilt-column .item-5 {
    flex: 2;
  }
}

/* line 569, ../scss/style.scss */
#resources-wrapper {
  padding: 38px 0 0 0;
  overflow: hidden;
}
/* line 577, ../scss/style.scss */
#resources-wrapper .resources-title {
  font-size: 44px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
/* line 585, ../scss/style.scss */
#resources-wrapper .resource-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* line 590, ../scss/style.scss */
#resources-wrapper .resource {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 590, ../scss/style.scss */
  #resources-wrapper .resource {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  /* line 590, ../scss/style.scss */
  #resources-wrapper .resource {
    width: 25%;
  }
}
/* line 603, ../scss/style.scss */
#resources-wrapper .resource .resource-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  margin: 1em;
}
/* line 614, ../scss/style.scss */
#resources-wrapper .resource .resource-panel:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #94b7e8;
}
@media (min-width: 768px) {
  /* line 603, ../scss/style.scss */
  #resources-wrapper .resource .resource-panel {
    margin: 2em;
  }
}
/* line 624, ../scss/style.scss */
#resources-wrapper .resource a.resource-link {
  display: block;
  padding: 2em 1em;
  text-decoration: none;
  border: none;
}
/* line 630, ../scss/style.scss */
#resources-wrapper .resource a.resource-link img {
  border: none;
}
/* line 634, ../scss/style.scss */
#resources-wrapper .resource a.resource-link b {
  font-size: 20px;
  font-weight: 600;
  color: #fff !important;
  margin: 0 auto;
}

/*main css overrides*/
h1, h2, h3, h4 {
  font-family: Open Sans, arial, sans-serif;
  font-weight: normal;
}
section h2 {
  font-weight:normal;
}
.content-band h2 {font-size:44px}
.pillar-links.jump-links{
 	padding: 0 0 10px;
}
.content-band .content ul li::before {
    content:none;
}
.fa-chevron-circle-right::before {
    color: #afafaf;
}
.content-band .content ul {
    padding:0 0 0 0;
}
ul.description li {
  font-size:19px
}