/******************************
*
*  RoyalSlider Video Skin
*
******************************/



/***************
*
*  1. Arrows
*
****************/

.rsArrow {
	height: auto;
	width: 40px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsArrowLeft { top: 87%; left: 38%; }
.rsArrowRight { top: 87%; left: 54%;  }

.rsArrowIcn {
width: 32px;
	height: 52px;
	top: 3%;
	left: 50%;
	margin-top:0;
	margin-left: -16px;
	position: absolute;
	cursor: pointer;
	background: url(arrows.png) transparent;
}


.rsHor .rsArrowLeft .rsArrowIcn { background-position: 0 52px; opacity: .6; }
.rsHor .rsArrowLeft .rsArrowIcn:hover { background-position: 32px 52px; opacity: 1; }

.rsHor .rsArrowRight .rsArrowIcn { background-position:  0 -1px; opacity: .6;}
.rsHor .rsArrowRight .rsArrowIcn:hover { background-position:  32px -1px; opacity: 1;}

.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsVer .rsArrowRight .rsArrowIcn { background-position: 32px -1px }

.rsArrowDisabled .rsArrowIcn { filter: alpha(opacity=50); opacity: .5; *display: none; }
