/*--- Icon Set ---*/
@font-face {
  font-family: 'icons';
  src: url('../fonts/egenciaicons-regular-webfont.eot');
  src: url('../fonts/egenciaicons-regular-webfont.eot?#iefix') format('embedded-opentype'), /*url('../fonts/egenciaicons-regular-webfont.woff') format('woff'),*/
   url('../fonts/egenciaicons-regular-webfont.ttf') format('truetype'), url('../fonts/egenciaicons-regular-webfont.svg#egencia_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*--- Urbano Font ---*/
@font-face {
  font-family: 'urbanobold';
  src: url('../fonts/Urbano-Bold-webfont.eot');
  src: url('../fonts/Urbano-Bold-webfont.eot?#iefix') format('embedded-opentype'), /*url('../fonts/Urbano-Bold-webfont.woff') format('woff'),*/
   url('../fonts/Urbano-Bold-webfont.ttf') format('truetype'), url('../fonts/Urbano-Bold-webfont.svg#urbanobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'urbanoregular';
  src: url('../fonts/Urbano-Regular-webfont.eot');
  src: url('../fonts/Urbano-Regular-webfont.eot?#iefix') format('embedded-opentype'), /*url('../fonts/Urbano-Regular-webfont.woff') format('woff'),*/
   url('../fonts/Urbano-Regular-webfont.ttf') format('truetype'), url('../fonts/Urbano-Regular-webfont.svg#urbanoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
