a img {
    border: none;
}
#feedtabs-column {
    width: 320px;
}
#feedTabs {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: none;
    overflow: auto;
    width: 315px;
    font-family: Arial;
    background: #E9E9E9;
    /* Old browsers */
    overflow: hidden;
}
.ui-helper-highcontrast #feedTabs {
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
#feedTabs > ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: none;
    border: none;
    /* padding: 0; */
    /* width: 100%; */
}
#feedTabs > ul > li {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 104px;
    /* border-top: none; */
    background: #E9E9E9;
    /* Old browsers */
    border-radius: 0px;
    border-bottom: 2px solid #095099 !important;
}
#feedTabs > ul > li#tab0 {
    border-top-left-radius: 4px;
}
#feedTabs > ul > li#tab1 {
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    /* border-top: none; */
}
#feedTabs > ul > li#tab2 {
    border-top-right-radius: 4px;
}
.ui-helper-highcontrast #feedTabs > ul > li {
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
#feedTabs > ul > li:hover {
    background: #0A4F9A;
}
.ui-helper-highcontrast #feedTabs > ul > li:hover {
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
#feedTabs > ul > li:hover a {
    color: #fff;
}
#feedTabs > ul > li > a {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}
#feedTabs > ul > li:first-child {
    margin: 0px;
}
#feedTabs > div {
    margin: 0px 10px 10px 10px;
    padding: 6px;
    /* background: #FFFFFF; */
    /* border: 2px solid #D8DAD7; */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
#feedTabs > div > p {
    padding: 18px 5px;
}
#feedTabs > ul > li.ui-state-active {
    height: 40px;
    background: #095099;
    border-bottom: 2px solid #095099 !important;
}
.ui-helper-highcontrast #feedTabs > ul > li.ui-state-active {
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-color: #fff;
}
#feedTabs > ul > li.ui-state-active:hover a {
    color: #fff;
}
#feedTabs > ul > li.ui-state-active a {
    color: #fff;
}
#feedTabs > ul > li.ui-state-focus {
    outline: none !important;
}
#feedTabs > ul > li.ui-state-default {
    border: none;
}
#feedTabs > ul > li.ui-state-active {
    border: none;
}
#feedTabs #contentTab1 ul, #feedTabs #contentTab2 ul, #feedTabs #contentTab3 ul {
    list-style: none;
    margin: 0px;
    padding: 0;
}
.feedItem {
    margin: 10px 6px 5px 6px;
    padding: 15px 20px;
    /* border: 1px solid #808080; */
    background: #fff;
    box-shadow: 1px 1px 4px #808080;
    border-radius: 4px;
}
.feedItem:hover {
    background: #FDEC84;
    /* Old browsers */
    background: -moz-linear-gradient(top, #FDF5B6 0%, #FEE55A 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDF5B6), color-stop(100%, #FEE55A));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FDF5B6 0%, #FEE55A 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FDF5B6 0%, #FEE55A 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FDF5B6 0%, #FEE55A 100%);
    /* IE10+ */
    background: linear-gradient(top, #FDF5B6 0%, #FEE55A 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FDF5B6', endColorstr='#FEE55A', GradientType=0);
    /* IE6-9 */
}
.ui-helper-highcontrast .feedItem:hover {
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
.feedItem:hover a, .feedItem a:hover {
    color: #033A13;
    text-decoration: underline;
}
.feedItem a {
    color: #273279;
    font-weight: normal;
}
.feedItem p {
    margin: 0;
}
#feedTabs #contentTab1 ul li:first-child {
    margin-top: 20px;
}
#feedTabs #contentTab2 ul li:first-child {
    margin-top: 20px;
}
#feedTabs #contentTab3 ul li:first-child {
    margin-top: 20px;
}
.vfeedItem {
    padding: 10px;
}
.ytThumbnail {
    float: left;
}
.feedItem .videoP {
    min-height: 90px;
    margin: 0 0 0 130px;
    color: #273279;
}
.feedItem:hover .videoP {
    color: #033A13;
}
.videoP a {
    font-weight: bold;
}
#feedTabs .feedtab-button {
    color: #fff;
    display: block;
    margin: 18px 10px 5px 10px;
    padding: 10px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.IE7 #feedTabs .feedtab-button {
    background: #063E73;
}
#feedTabs .feedtab-button:hover {
    text-decoration: none;
}
