.no-cssanimations .btn-progress-spinner-icon,
.gicon-btn-spinner-empty { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-2cbf/k2-_c922d9a8-96f1-4b27-b484-81dbbe13a5a1.v11.png); background-repeat: no-repeat; }

.no-cssanimations .btn-inverse .btn-progress-spinner-icon,
.no-cssanimations .spinner-small.spinner-small,
.gicon-btn-spinner-inverse-empty { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-ffa9/k2-_b2b66f56-01bc-471d-bed2-0f8b2c98aaac.v11.png); background-repeat: no-repeat; }

.no-cssanimations .btn-mini.btn-inverse .btn-progress-spinner-icon,
.no-cssanimations .spinner-mini.spinner-mini,
.gicon-btn-spinner-inverse-mini-empty { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-420f/k2-_3d65173e-764d-4f1a-8bb7-0d962f8ebb7d.v11.png); background-repeat: no-repeat; }

.btn-mini.btn-inverse .btn-progress-spinner-icon,
.spinner-mini.spinner-mini,
.gicon-btn-spinner-inverse-mini { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-d569/k2-_22ebff16-f3d3-462a-b3f8-818b67c03b4f.v1.png); background-repeat: no-repeat; }

.btn-inverse .btn-progress-spinner-icon,
.spinner-small.spinner-small,
.gicon-btn-spinner-inverse { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-a109/k2-_96bd6264-4af6-4fde-b027-bfb4231c4457.v1.png); background-repeat: no-repeat; }

.no-cssanimations .btn-mini .btn-progress-spinner-icon,
.gicon-btn-spinner-mini-empty { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-b4f0/k2-_04ad269d-8fa1-45f2-815a-4539ee500720.v11.png); background-repeat: no-repeat; }

.btn-mini .btn-progress-spinner-icon,
.gicon-btn-spinner-mini { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-5d0b/k2-_919626d1-c28b-4a74-8f44-f1da57a705c7.v1.png); background-repeat: no-repeat; }

.btn-progress-spinner-icon,
.gicon-btn-spinner { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-81ac/k2-_b02bdabf-b7c0-4ef6-a25a-1616761a3dc3.v1.png); background-repeat: no-repeat; }

.gicon-logo-checkout { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-300f/k2-_852abe15-a7de-4c21-b12c-a7e9aadc0f50.v11.png); background-repeat: no-repeat; }

.header .logo-george-small,
.gicon-logo-header-george-small { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-4685/k2-_22c1a4b0-cf35-46e8-b4d2-392d431eef61.v11.png); background-repeat: no-repeat; }

.header .logo-george,
.gicon-logo-header-george { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3eea/k2-_24e27624-3795-443f-81b4-d123ecd9f840.v11.png); background-repeat: no-repeat; }

.logo-header-shipping-pass.logo-header-shipping-pass,
.gicon-logo-header-shipping-pass { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-1695/k2-_24d42597-fcb3-423d-8f1c-9a0e16b8d596.v1.png); background-repeat: no-repeat; }

.header.fixed .logo,
.header .logo-small,
.gicon-logo-header-small { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3233/k2-_584c5909-da94-4822-ac42-992f06cd4810.v1.png); background-repeat: no-repeat; }

.logo,
.gicon-logo-header { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-69c0/k2-_a681d16e-71de-495f-9f92-7b5e959b9d12.v1.png); background-repeat: no-repeat; }

.gicon-logo-shipping-pass { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-97c0/k2-_9d240161-b315-4103-9cfd-b4552d6c3ada.v1.png); background-repeat: no-repeat; }

.gicon-logo-signin-flyout { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-5cce/k2-_6889bbae-74ce-4188-98f9-3c2a81eb8379.v1.png); background-repeat: no-repeat; }

.gicon-logo { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-f6f4/k2-_7f5fba6e-a541-4937-afdf-6ff9aec45cd6.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-down.paginator-hairline-btn-dark,
.paginator-hairline-btn-down.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-down-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-8d27/k2-_3179c2c7-9759-4be4-bd5a-7755b9ea9b95.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-down:hover,
.paginator-hairline-btn-down:focus,
.gicon-paginator-hairline-btn-down-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-413c/k2-_fa74008c-5701-4931-89f8-e3aba8a8e75f.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-down.paginator-hairline-btn-light,
.paginator-hairline-btn-down.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-down-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-a3de/k2-_4cc1925c-b98b-4549-89db-3fa54976563b.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-down,
.gicon-paginator-hairline-btn-down { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-2110/k2-_65cecbed-8c53-456f-9533-c9a14f75f37d.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-down-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-e856/k2-_ded750a9-5711-4732-a70a-cdf8acaa3e9c.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down:focus,
.gicon-paginator-hairline-btn-large-down-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3bff/k2-_1b49c919-850b-4ca3-865a-9eaecd17e951.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-down.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-down-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-1571/k2-_fb0d4493-ca0c-417e-a01f-68fac1168272.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-down,
.gicon-paginator-hairline-btn-large-down { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-5860/k2-_52ea76e3-8e66-4fe1-b245-3f422ca6d63c.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-left-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-42a1/k2-_c6e4adad-0e07-440d-9896-216c588bd74f.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev:focus,
.gicon-paginator-hairline-btn-large-left-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-97b7/k2-_927153f8-8acb-4bea-8037-e61b584271ce.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-left-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-171f/k2-_664e7074-920b-48e2-96b6-5b9e92fa080d.v1.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-prev,
.gicon-paginator-hairline-btn-large-left { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-511c/k2-_75bd1ceb-f1e6-4bb4-aab2-5d2f35ec244c.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-right-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-d541/k2-_57c0c74e-d9d7-46d8-8ed0-24a0d80bfd17.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next:focus,
.gicon-paginator-hairline-btn-large-right-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-f536/k2-_9c851e3e-79e6-43de-b182-9a6b5c3a3b45.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-right-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-f3ea/k2-_d6513c20-a186-4145-b25b-1f21f4d16a16.v1.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-next,
.gicon-paginator-hairline-btn-large-right { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-73b3/k2-_f1508248-cc65-42e4-8fef-3db4d995aae1.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-large-up-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-1cac/k2-_065f27a5-0e12-48b2-a690-62cabba746ba.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up:focus,
.gicon-paginator-hairline-btn-large-up-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-1752/k2-_84d41314-c7cc-4917-9c9e-215145a2e2ca.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-large.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-large-up-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-5c0e/k2-_3b3c0706-8ae1-43fc-afa6-0a2d188629a6.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-large.paginator-hairline-btn-up,
.gicon-paginator-hairline-btn-large-up { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-2fd9/k2-_3b5a8dce-1306-4867-bc54-8b16e59d98f8.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-prev.paginator-hairline-btn-dark,
.paginator-hairline-btn-prev.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-left-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-d668/k2-_7d3af1e8-b35a-4674-97de-212e8fbf416b.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-prev:hover,
.paginator-hairline-btn-prev:focus,
.gicon-paginator-hairline-btn-left-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-19ec/k2-_cbcc6e01-2546-4d92-bdc6-de29f5ff333e.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-prev.paginator-hairline-btn-light,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-prev.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-left-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-acdf/k2-_0690c94b-4dab-40d4-9fb1-a146b12e78f6.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-prev,
.gicon-paginator-hairline-btn-left { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-c202/k2-_e614733d-edb9-4966-adde-9ef7088a08ed.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-next.paginator-hairline-btn-dark,
.paginator-hairline-btn-next.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-right-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-374e/k2-_421d1c2c-b68d-4193-b60f-eecc1ab46357.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-next:hover,
.paginator-hairline-btn-next:focus,
.gicon-paginator-hairline-btn-right-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-eccb/k2-_28142c6a-9fee-46c8-a1a3-18584bded156.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-next.paginator-hairline-btn-light,
.paginator-hairline-btn-next.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-next.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-right-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-9d98/k2-_e17eadfc-2ec3-4d01-80c2-3c77711c16ac.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-next,
.gicon-paginator-hairline-btn-right { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-792a/k2-_b369a9b7-a4f4-4705-aebc-86135e70b7f3.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-up.paginator-hairline-btn-dark,
.paginator-hairline-btn-up.paginator-hairline-btn-light:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-light:focus,
.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover,
.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-dark-no-hover:focus,
.gicon-paginator-hairline-btn-up-dark { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3ce0/k2-_5ea617dd-98ec-49a5-a421-af92f7d46fdc.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-up:hover,
.paginator-hairline-btn-up:focus,
.gicon-paginator-hairline-btn-up-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-377a/k2-_013e49bd-83ac-461d-b1b3-c521f81f1f64.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-up.paginator-hairline-btn-light,
.paginator-hairline-btn-up.paginator-hairline-btn-dark:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-dark:focus,
.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover,
.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:hover,
.paginator-hairline-btn-up.paginator-hairline-btn-light-no-hover:focus,
.gicon-paginator-hairline-btn-up-light { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-ad5d/k2-_70b99181-d0fa-4f13-b3d0-470c287601ae.v11.png); background-repeat: no-repeat; }

.paginator-hairline-btn-up,
.gicon-paginator-hairline-btn-up { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-602b/k2-_b206f99f-3c64-41db-856b-679d7b59dfbb.v11.png); background-repeat: no-repeat; }

.gicon-shipping-pass-flyout-background-image { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-ffde/k2-_c14a8a31-d74d-47b9-87f3-25da52357b35.v11.png); background-repeat: no-repeat; }

.gicon-shipping-pass-logo-blue { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-bc10/k2-_0429acbd-0b06-4380-84ab-bed429662b25.v1.png); background-repeat: no-repeat; }

.gicon-shipping-pass-logo-green { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-468b/k2-_6089723a-43ec-4d89-8917-266fc880bf0d.v11.png); background-repeat: no-repeat; }

.gicon-shipping-pass-price-flag { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-8da7/k2-_61ff94d6-11af-438a-93b9-773db2f0cbd3.v11.png); background-repeat: no-repeat; }

.gicon-shipping-pilot-arrow-logo { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-9268/k2-_ca4ee422-f67c-4907-8817-8164b7317bc1.v11.png); background-repeat: no-repeat; }

.gicon-shipping-pilot-logo { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-9762/k2-_dca4cc53-c654-4d12-9fb8-ce4a8ed6a001.v11.png); background-repeat: no-repeat; }

.no-cssanimations .spinner,
.gicon-spinner-empty { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-1e7c/k2-_f47fde5f-5f3b-4952-967c-e4ff134b93ba.v11.png); background-repeat: no-repeat; }

.spinner,
.gicon-spinner { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3051/k2-_e222aff4-1f19-4032-82ff-eb38a8971fdc.v1.png); background-repeat: no-repeat; }

.stars-large .star-empty,
.gicon-star-empty-large { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-c984/k2-_9dd0d8f3-7637-46b8-9b12-b5a8b0d66052.v11.png); background-repeat: no-repeat; }

.stars-medium .star-empty,
.gicon-star-empty-medium { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-845b/k2-_21c69796-d3ee-490e-9512-0897c47209d1.v11.png); background-repeat: no-repeat; }

.stars-small .star-empty,
.gicon-star-empty-small { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-7c80/k2-_5257653e-17d0-4e26-a78a-8afba2ef7539.v11.png); background-repeat: no-repeat; }

.star-empty,
.gicon-star-empty { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-d58a/k2-_1c1ea757-78ee-48be-a167-3cecab09a7a0.v11.png); background-repeat: no-repeat; }

.stars-large .star-partial,
.gicon-star-partial-large { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-a7ee/k2-_38a8915a-c53d-43b1-b4fb-e60577940a35.v11.png); background-repeat: no-repeat; }

.stars-medium .star-partial,
.gicon-star-partial-medium { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3044/k2-_23a1fc07-7dcb-49df-be81-2af28037cc29.v11.png); background-repeat: no-repeat; }

.stars-small .star-partial,
.gicon-star-partial-small { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-9471/k2-_14e5d02b-d80b-4e7a-981d-95df7a8faec6.v11.png); background-repeat: no-repeat; }

.star-partial,
.gicon-star-partial { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3529/k2-_5b8560fc-c165-473f-b35c-37e41ca199d4.v11.png); background-repeat: no-repeat; }

.stars-large .star-rated,
.gicon-star-rated-large { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-15d0/k2-_ae0d75a0-41db-4306-b37a-5740967140ec.v11.png); background-repeat: no-repeat; }

.stars-medium .star-rated,
.gicon-star-rated-medium { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-a024/k2-_46d09181-133e-4ae6-9aba-5803c79c1757.v11.png); background-repeat: no-repeat; }

.stars-small .star-rated,
.gicon-star-rated-small { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-71f5/k2-_ec3c3b8a-40fe-43e4-8d32-d9b3c1a8303c.v11.png); background-repeat: no-repeat; }

.star-rated,
.gicon-star-rated { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-6d08/k2-_e133a6b8-42bb-46c9-b799-c3371ce566ff.v11.png); background-repeat: no-repeat; }

.gicon-thumbdown:hover,
.gicon-thumbdown:focus,
.gicon-thumbdown-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-57b9/k2-_4bf30e1f-dc14-4217-a965-de03d6b49c92.v1.png); background-repeat: no-repeat; }

.gicon-thumbdown-selected { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-fbd2/k2-_02aefbac-024f-4f36-9690-b54b660bc219.v1.png); background-repeat: no-repeat; }

.gicon-thumbdown { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-b21d/k2-_cfea8ba7-f0a1-46a2-914b-e5ba6d360483.v1.png); background-repeat: no-repeat; }

.gicon-thumbup:hover,
.gicon-thumbup:focus,
.gicon-thumbup-hover { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3889/k2-_4c44026b-a0e9-45b1-9aeb-d962053fef4d.v1.png); background-repeat: no-repeat; }

.gicon-thumbup-selected { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-92dd/k2-_421f215d-9bec-45d8-a0bd-416db6202cd9.v1.png); background-repeat: no-repeat; }

.gicon-thumbup { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-584c/k2-_190ce655-f29d-4920-865d-07cdc3e2fa9c.v1.png); background-repeat: no-repeat; }

.gicon-tire-by-car { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3e39/k2-_495036d4-f881-4f90-bf25-acb43912e830.v11.png); background-repeat: no-repeat; }

.gicon-tire-by-size { background-image: url(//i5.walmartimages.com/dfw/63fd9f59-3c0f/k2-_d9884e0a-9d1f-47f5-be5e-c31cbe3710d8.v11.png); background-repeat: no-repeat; }

